<!--
  Generated template for the ArticuloPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div id="banner-primary">
    <p id="text-banner">
      {{contenido.titulo}}
    </p>
  </div>
  <div id="text-simple">
    <p [innerHTML]="contenido.texto">
    </p>
  </div>

  <p>¡Dios te bendiga!</p>
  <p>Rev. Suliasi Kurulo</p>


</ion-content>
