<!--
  Generated template for the Cuestionario48Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b>
        El corazón de un pastor
      </b>
      <p>
        “El sabio no confía en la auto percepción que las personas tienen de sí en relación a quienes son y lo que
        pueden hacer. Más bien evitan la personalidad pública, y ven quienes son en su expresión más alta. Cuando
        ves que las acciones se hacen en integridad, no solamente son palabras, entonces sabrás el valor de un alma”
        Shannon L. Alder
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Características de un buen pastor</b>
      <p>• Un buen pastor tiene los mejores <label class="respuesta corta" [style.color]="respuestas[0].color"
                                                   (click)="openActionSheet('0')">{{respuestas[0].text}}</label> para su
        rebaño.</p>
      <p>• Él vino para que tengamos vida y la tengamos en <label class="respuesta corta"
                                                                  [style.color]="respuestas[1].color"
                                                                  (click)="openActionSheet('1')">{{respuestas[1].text}}</label>.
      </p>
      <p>• Da su <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        por las ovejas.</p>
      <p>• ¿Tiene un sentido de responsabilidad hacia el <label class="respuesta corta"
                                                                [style.color]="respuestas[3].color"
                                                                (click)="openActionSheet('3')">{{respuestas[3].text}}</label>?
        Se dice que el asalariado “… no es dueño del rebaño…”</p>
      <p>• Continua con el rebaño. Él no es como la mano contratada que <label class="respuesta corta"
                                                                               [style.color]="respuestas[4].color"
                                                                               (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        cuando ve que el lobo se aproxima.</p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        a las ovejas.</p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        a sus ovejas.</p>
      <p>• Es <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        por sus ovejas.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">El gran pastor </b>
      <p>
        En el salmo 23 David alaba y reconoce al Gran Pastor.</p>

      <p>“Jehová es mi pastor, nada me faltará. 2 En lugares de delicados pastos me hará descansar; junto a aguas de
        reposo
        me pastoreará. 3 Confortará mi alma. Me guiará por sendas de justicia por amor de su nombre. 4 Aunque ande en
        valle
        de sombra de muerte, no temeré mal alguno, porque tú estarás conmigo; tu vara y tu cayado me infundirán aliento.
        5 Aderezas mesa delante de mí en presencia de mis angustiadores;
        unges mi cabeza con aceite; mi copa está rebosando.6 Ciertamente, el bien y la misericordia me seguirán todos
        los días de mi vida, y en la casa de Jehová moraré por largos día”.

      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Los atributos del pastor </b>
      <p>De acuerdo al salmo 23 el Señor es mi pastor:</p>
      <p>• Vs 1: Provisión – nada nos falta</p>
      <p>• Vs 2: Descanso, nos hace descansar en verdes pastos</p>
      <p>• Vs 3: Paz, nos lleva junto a aguas</p>
      <p>• Vs 4: Restauración, restaura mi alma</p>
      <p>• Vs 5: Guía, me guía en sendas de justicia.</p>
      <p>• Vs 6: Protección, no temeré del mal porque él está conmigo.</p>
      <p>• Vs 7: Confort, su vara y callado me confortarán.</p>
      <p>• Vs 8: Satisfacción, Él prepara una mesa para nosotros en presencia de nuestros enemigos.</p>
      <p>• Vs 9: Unción, unge mi cabeza con aceite.</p>
      <p>• Vs 10: Abundancia, mi copa está llena.</p>
      <p>• Vs 11: Confianza: de seguro el bien y la misericordia me seguirán todos los días de mi vida.</p>
      <p>• Vs 12: Unión: moraré en la casa de Dios para siempre.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Un pastor responsable</b>
      <p>
        2 Corintios 12:14-15. Pablo les comenta su rol hacia la iglesia en Corintios y su relación con el rebaño
        “14 Ahora, por tercera vez estoy preparado para ir a vosotros; y no os seré una carga, porque no busco lo
        vuestro, sino a vosotros, pues no deben atesorar los hijos para los padres, sino los padres para los hijos.
        15 Y yo, con el mayor placer, gastaré lo mío, y aun yo mismo me gastaré del todo por amor de vuestras almas,
        aunque amándoos más, sea amado menos”.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        En 1 de Pedro 5:1-3, Pedro le recuerda a los ancianos de la iglesia sus responsabilidades.
        “Ruego a los ancianos que están entre vosotros, yo, anciano también con ellos y testigo de los padecimientos
        de Cristo, que soy también participante de la gloria que será revelada: 2 apacentad la grey de Dios que está
        entre vosotros, cuidando de ella, no por fuerza, sino voluntariamente; no por ganancia deshonesta, sino con
        ánimo pronto; 3 no como teniendo señorío sobre los que están a vuestro cuidado, sino siendo ejemplos de la
        grey”.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• Ser un <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        y un <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>.
      </p>
      <p>• No perseguir la ganancia <label class="respuesta corta" [style.color]="respuestas[10].color"
                                           (click)="openActionSheet('10')">{{respuestas[10].text}}</label>, sino
        deseosos de servir.</p>
      <p>• No pongas tareas <label class="respuesta corta" [style.color]="respuestas[11].color"
                                   (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        con quienes has sido confiados, se un buen <label class="respuesta corta" [style.color]="respuestas[12].color"
                                                          (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        para el rebaño.</p>
      <p>• Hay un <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        esperándonos, ya sea para un buen o un mal pastor.</p>
      <br>
      <p> El corazón de los pastores es para servir a las personas</p>

    </ion-slide>

    <ion-slide>
      <p>
        • Vs: 5: Se <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        con los ancianos y <label class="respuesta corta" [style.color]="respuestas[15].color"
                                  (click)="openActionSheet('15')">{{respuestas[15].text}}</label> los unos con los otros
        “…Dios se opone al orgulloso, pero da gracia al humilde”
      </p>
      <p>
        • Vs: 6: La humildad es la <label class="respuesta corta" [style.color]="respuestas[16].color"
                                          (click)="openActionSheet('16')">{{respuestas[16].text}}</label> para que un
        pastor alcance lugares altos.
      </p>
      <p>
        • Vs: 7: Dios <label class="respuesta corta" [style.color]="respuestas[17].color"
                             (click)="openActionSheet('17')">{{respuestas[17].text}}</label> de ti
      </p>
      <p>
        • Vs: 8: Siempre debes estar atento y <label class="respuesta corta" [style.color]="respuestas[18].color"
                                                     (click)="openActionSheet('18')">{{respuestas[18].text}}</label>.
      </p>
      <p>
        • Vs: 9: Tienes la fortaleza para <label class="respuesta corta" [style.color]="respuestas[19].color"
                                                 (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        las tentaciones y el coraje para <label class="respuesta corta" [style.color]="respuestas[20].color"
                                                (click)="openActionSheet('20')">{{respuestas[20].text}}</label> contra
        el diablo
      </p>
      <p>
        • Vs: 10: La plataforma traerá <label class="respuesta corta" [style.color]="respuestas[21].color"
                                              (click)="openActionSheet('21')">{{respuestas[21].text}}</label> y serás
        fortalecido para Su gloria.
      </p>
    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
