<!--
  Generated template for the Cuestionario10Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">El proceso del discipulado</b>


      <p>
        “La iglesia solo existe para atraer a los hombres a Cristo, para hacerlos pequeños Cristus. Si no están haciendo
        eso, entonces todas las catedrales, misiones, clérigos, sermones e incluso la Biblia son una pérdida de tiempo.
        Dios se hizo hombre por este único propósito”. CS Lewis. Como iglesia debemos entrenar y animar a los creyentes.
        El discipulado es un proceso de toda la vida de desarrollo espiritual hasta que todos hayamos alcanzado la
        plenitud de Jesucristo.
      </p>
      <p>
        Definición: Se define un discípulo como
        <br>
        • Una persona que es un
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        o adherente a las doctrinas de otro.
        <br>
        • Alguien que abraza y asiste en compartir las enseñanzas de otro.
        <br>
        • Cualquier seguidor de otra persona.
      </p>


    </ion-slide>


    <ion-slide>
      <p>
        • El discipulado es la
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        entre un profesor (discipulador) y estudiante (discípulo).
      </p>
      <p>
        • Un discípulo cristiano, por la gracia de Dios, se convierte cada vez más como Cristo a través de una vida de
        fe
        y obediencia. Al mirar el ministerio de Jesús y la iglesia primitiva, vemos que el discipulado holístico de
        alguien involucra un
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        , es decir un discipulado, en la Palabra, Relación y Ministerio
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        1. Palabra:
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        a los discípulos a obedecer todo lo que Cristo comandó y modeló a través de las
        Escrituras. Jesús claramente le mostró a sus discípulos la importancia y uso de las Escrituras, tanto en su
        devocional personal como en ganar a otros para El.
      </p>
      <p>
        2. Relaciones:
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        las relaciones que demuestran amor, compromiso, autenticidad,
        vulnerabilidad,
        responsabilidad, intencionalidad. Al haberlos llamado Sus hombres, Jesús practicó
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        tiempo
        de calidad con ellos.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        3. Ministerio:
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        discípulos en servicio y evangelismo. Servicio es cualquier trabajo hecho con
        la motivación de honrar a Jesús. Jesús nunca le pidió a nadie hacer o ser algo que primeramente El no hubiese
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        en su propia vida.
      </p>
      <p>
        El modelo ha sido puesto para nosotros. La misión de equiparnos como creyentes para comunicar nuestra fe al
        mundo
        fue un gran componente del enfoque del discipulado de Jesús. La Palabra, las relaciones y el ministerio trabajan
        juntos para modelar holísticamente los principios del discipulado enseñado por Jesús.
      </p>

      <p>
        <b>
          El discipulado como un llamado al compromiso personal con Jesús
        </b>

        <br>

        <b>El llamado:</b>
        estar
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        (Marcos 3:14)
        (14 Y estableció a doce, para que estuviesen con él, y para enviarlos a predicar)
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        <b>La meta:</b>
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        (Lucas 6:40)
      </p>
      <p>
        La meta del discipulado es desarrollar creyentes saludables que caminen por fe, que comuniquen su fe y que
        multipliquen su fe.
      </p>
      <p>
        <b>El discipulado como un llamado para seguir a Jesús</b>
        <br>
        1. El discipulado es un
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        para estar, conocer y disfrutar al Maestro. El discipulado es una
        convocatoria para
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        a Jesús, y esto en ocasiones no es un asunto fácil. El
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        obediencia exclusiva, completa e inquebrantable. Jesús señaló personas para el y los
        llamó a un
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        con El.
      </p>
      <p>
        El requisito Lucas 9:23,24
        <br>
        <b>El discipulado como un llamado a hacer discípulos</b>
        El llamó a sus discípulos diciéndoles “Síganme y les haré pescadores de hombres”. (Mateo 4:19, Marcos 1:17).
        Mateo 28: 18-20
      </p>

    </ion-slide>

    <ion-slide>


      <b> Características de un discípulo</b>

      <p>
        1.Un aprendiz, más que un estudiante, que
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        o aprende bajo una autoridad específica. Recibe
        un aprendizaje especial e individualizado para alguna tarea o transacción.
      </p>
      <p>
        2. Un seguidor: uno que camina en los pasos de otro, que imita y aprende al seguir y hacer los ejemplos.
      </p>
      <p>
        3. Primero sigue los
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        de Cristo (Lucas 14:26,27)

      </p>

    </ion-slide>
    <ion-slide>
      <p>
        4. Segundo sigue a alguien que
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        Cristo (1 Cor. 4:14,17, 2 Tesalonicenses 3:9, 1 Tes 1:6; 1 Cor
        11:1)
      </p>
      <p>
        5. Una persona disciplinada (discípulo y disciplina vienen de la misma raíz latina), una persona que se está
        volviendo disciplinada a través del autocontrol, de ser instruida, reprobada y corregida (por un mentor);
        desarrollando carácter, cumplimiento, autocontrol y eficiencia.
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        ¿Algún modelo bíblico para escoger un discípulo?
      </b>
      <p>
        1. Cristo modeló que el principio de la selección de discípulos es clave para el discipulado. En 2 Timoteo 2:2
        encontramos tres características principales en un discípulo
      </p>
      <p>
        2.
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        . Confianza de que lo que estás confiando a la persona estará en buenas manos.
        <br>
        3.
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        . Es difícil entrenar a una persona que no está cerca. Por tanto, un discípulo
        potencial debe mostrar disposición de estar cerca de ti. El o ella deben modelar compromiso.
        <br>
        4.
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        . Es imposible enseñarle a alguien que piensa que sabe todo y que no está receptivo a la
        instrucción o a la corrección. Así como Jesús fue
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        , no estamos para perder la mayordomía de
        nuestras vidas con personas que creen que lo saben todo.
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        ¿Cómo escoges a un discípulo?
      </b>
      <p>
        1.
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        para el mandato del discipulado. Esto se hace enseñando lo que significa ser discipulado
        y ayudándoles a entender las expectativas.
      </p>
      <p>
        2.
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        claro que eres el líder del grupo al que lo estás llamando. Eres su sirviente y líder.
      </p>
      <p>
        3.
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        con la persona los requisitos de ser fiel, de estar disponible y de dejarse enseñar.
      </p>
      <p>
        4. La persona debe tener
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        para eventualmente discipular a otros, para seguir la visión.
      </p>
      <p>
        5. La persona debe estar dispuesta a
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        a tus requisitos. Por ejemplo, reuniones uno a uno,
        tiempo de estudio bíblico, etc.
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        El proceso del discipulado.
      </b>
      <p>
        1. Transmisión (2 Tim 2:2). El discipulado no es la impartición de conocimiento, es la
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        de la
        vida.
      </p>
      <p>
        2. Reproduce tu yo espiritual y ministerial en otra persona (2 Tim 2:2)
      </p>
      <p>
        3. Guía a una persona en un caminar maduro, estable y permanente con Dios. (Juan 8:31,32)
      </p>
      <p>
        4.
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        a dar fruto en él y en otros, por tanto, ser efectivo y exitoso en el ministerio al
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        a otros. (Juan 15:8)
      </p>

      <b>
        ¿Qué hace un discípulo?
      </b>
      <p>
        1. Va y
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        la Gran Comisión.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        2. Nuevos creyentes van a través de un seguimiento.
      </p>
      <p>
        3. Bajas a las
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        del bautismo…establecidos en la fe.
      </p>
      <p>
        4. Se
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        en una comunidad de Creyentes grupos celulares/iglesias.
      </p>
      <p>
        5.
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        impartición a través de la práctica de la vida de Cristo…Discipulado.
      </p>
      <p>
        6.
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        compromiso y madurez.
      </p>
      <p>
        7. Se
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        en el avance del progreso…. Entrenándose y equipándose para el Ministerio.
      </p>
      <p>
        8. Se
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        para ir al Ministerio…ir y predicar (Gran comisión)
      </p>
      <p>
        9. Ir y
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        a si mismo… Plantador de iglesia (empezar un grupo celular).
      </p>

    </ion-slide>


    <ion-slide>

      <b>
        El modelo de Jesús de entrenamiento del discipulado
      </b>
      <p>
        1. Jesús
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        y los discípulos lo
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        (Juan 1:35-43). Les dijo “vengan y vean”.
        (Juan 1:39)
      </p>
      <p>
        2.
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        ministró, y los discípulos
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        (Lucas 8:49-56).
      </p>
      <p>
        3. El
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        ministró y
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        observaron. (Marcos 6:35-44).
      </p>
      <p>
        4. Los discípulos fueron enviados a
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        y le trajeron los reportes a Jesús. (Lucas 10: 1-21).
      </p>

    </ion-slide>
    <ion-slide>

      <b>
        ¿Cómo hacer discípulos? Completando la Gran Comisión
      </b>
      <p>
        (Mateo 28:19) Conviértete en un discípulo <br>
        1. Se un aprendiz
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        (Lucas 6:40)
      </p>
      <p>
        2.
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        en la Palabra (Juan 8:31-32)
      </p>

      <p>
        3. Se disciplinado a
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        a ti mismo y a hacer sacrificios (Lucas 14:27, 9:24)
      </p>
      <p>
        4. Debes estar bajo autoridad;
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        a ella (Mateo 8:9; Hebreos 13:17)
      </p>
      <p>
        5. Se un
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        (Lucas 9:23-24)
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Empieza a discipular a otros
      </b>
      <p>
        1. Encuentra a alguien que sea
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        y fiel, a quien puedas entrenar (2 Tim 2:2)
      </p>
      <p>
        2. Construye una
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        con esa persona. (Marcos 3:14).
      </p>
      <p>
        3.
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        con tu discípulo. Conozcánse.
      </p>
      <p>
        4. Averigua donde esa persona está
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        ; evalúa necesidades, construye fortalezas y trabaja en
        las áreas débiles.
      </p>

      <p>
        5. Asigna
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        y escrituras para leer, y comparte de experiencias personales para trabajar en las
        áreas débiles.
      </p>
      <p>
        6. Toma tu discípulo a través de
        <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        que tu pasaste a medida que aprendiste a ministrar.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        7.
        <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        a encontrar a
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        para discipular y entrenar.
      </p>
      <p>
        8. Encuentra a otros que puedas entrenar.
      </p>
      <b>
        Característica de un discípulo cristiano:
      </b>
      <p>
        1. Un verdadero discípulo de Jesús
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        Dios. Si eres una nueva creación en Cristo, eres alguien
        que le da gloria a Dios y reconoces Su honor.
      </p>
      <p>
        2. Un discípulo debe estar
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        en la eficacia de la muerte de Cristo y resurrección por su
        salvación. Debe saber que es un hijo de Dios y que Cristo mora en él.
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        3. Un discípulo camina en
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        y poder del Espíritu Santo. El Espíritu Santo es responsable por
        todo lo que sucede en la vida de un creyente: su nuevo nacimiento, su caminar diario, el entendimiento de la
        Escritura, la oración, etc. El produce el fruto del Espíritu en nosotros, que nos habilita para vivir vidas
        santas y ser testigos de Cristo.
      </p>
      <p>
        4. Un discípulo demuestra
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        para Dios, el vecino, discípulos compañeros y enemigos. Jesús nos
        ordena amar a Dios con cada fibra de nuestro ser y amar a nuestros vecinos como a nosotros mismos.
      </p>
      <p>
        5. Un discípulo es uno que
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        como leer, estudiar, memorizar y meditar en la Palabra de Dios,
        a guardar sus verdades en su corazón. Es imposible caminar en la plenitud del Espíritu de Dios sin entender la
        Palabra de Dios. Lo contrario también es verdadero: no puedes entender la palabra de Dios sin el Espíritu Santo.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        6. Un verdadero discípulo de Jesús es un hombre o una mujer de
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet('64')">{{respuestas[64].text}}</label>
        . Jesús modeló a través de la
        Escritura que comunicarse con Dios es una de los aspectos más importantes de la vida cristiana. El modeló que
        los que son hijos de Dios buscan al Padre.
      </p>

      <p>
        7. Un discípulo es uno que
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        los mandamientos de Dios en un estilo de vida que honra a
        Cristo.
      </p>
      <p>
        8. Un discípulo es uno que
        <label class="respuesta corta" [style.color]="respuestas[66].color" (click)="openActionSheet('66')">{{respuestas[66].text}}</label>
        en Dios y que vive una vida de fe. La Escritura nos recuerda que
        sin fe es imposible agradar a Dios.
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        9. Un discípulo entiende la
        <label class="respuesta corta" [style.color]="respuestas[67].color" (click)="openActionSheet('67')">{{respuestas[67].text}}</label>
        de Dios. Dios nos ama incondicionalmente, ya sea que le obedezcamos
        o no. Esto es lo opuesto del legalismo, una manera hereje de pensamiento que nos urge a intentar tratar de
        obedecer a Dios en nuestra propia inteligencia, fuerza y poder.
      </p>
      <p>
        10. Un discípulo es uno que
        <label class="respuesta corta" [style.color]="respuestas[68].color" (click)="openActionSheet('68')">{{respuestas[68].text}}</label>
        por Cristo con su modo de vida. Si amas a Jesús eres alentado a
        contarle a las personas acerca de El, testificando lo que El ha hecho en tu vida.
      </p>


    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
