<ion-header>
  <ion-navbar color="primary">
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
    <ion-buttons end>
      <button ion-button icon-only (click)="startAudio()" style="padding-right: 15px;">
        <img src="../../assets/imgs/radio.png" class="navbar-logo"/>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="contenido">


  <div id="banner-secondary" block>
    <p id="text-banner">
      Transformese en un líder de la fe discipulado entrenado y empoderado para desarrollar su llamado con efectividad a
      100%
    </p>
  </div>


  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div id="centrar">
          <button ion-button round class="btn-leccion" (click)="goVisionPage()"
                  style="border-radius: 60px;">

            <img src="{{visionIcon}}" class="leccion-icons">
          </button>

        </div>
      </ion-col>


      <ion-col col-6>
        <div id="centrar">
          <button ion-button round class="btn-leccion" (click)="goAdoracionPage()"
                  style="border-radius: 60px;">

            <img src="{{adoracionIcon}}" class="leccion-icons">


          </button>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="row-texto">
      <ion-col col-6>
        <div id="centrar">
          <p class="btn-text">Visión</p>
        </div>
      </ion-col>


      <ion-col col-6>
        <div id="centrar">
          <p class="btn-text">Adoración</p>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-6>
        <div id="centrar">
          <button ion-button round class="btn-leccion" (click)="goDiscipuladoPage()"
                  style="border-radius: 60px;">
            <img src="{{discupuladoIcon}}" class="leccion-icons">


          </button>

        </div>
      </ion-col>


      <ion-col col-6>
        <div id="centrar">
          <button ion-button round class="btn-leccion" (click)="goRelacionesPage()"
                  style="border-radius: 60px;">
            <img src="{{relacionesIcon}}" class="leccion-icons">
          </button>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="row-texto">
      <ion-col col-6>
        <div id="centrar">
          <p class="btn-text">Discipulado</p>
        </div>
      </ion-col>


      <ion-col col-6>
        <div id="centrar">
          <p class="btn-text">Relaciones</p>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-6>
        <div id="centrar">
          <button ion-button round class="btn-leccion" (click)="goEyMPage()"
                  style="border-radius: 60px;">
            <img src="{{eymIcon}}" class="leccion-icons">
          </button>

        </div>
      </ion-col>


      <ion-col col-6>
        <div id="centrar">
          <button ion-button round class="btn-leccion" (click)="goMisionPage()"
                  style="border-radius: 60px;">

            <img src="{{misionIcon}}" class="leccion-icons">
          </button>
        </div>
      </ion-col>
    </ion-row>


    <ion-row class="row-texto">
      <ion-col col-6>
        <div id="centrar">
          <p class="btn-text">Evangelismo & Ministero</p>
        </div>
      </ion-col>


      <ion-col col-6>
        <div id="centrar">
          <p class="btn-text">Misión</p>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6 style="padding: 0">

          <p style="margin: 0;" class="texto">
            Libro Digital <br>
            Hasta lo Último de la Tierra -Suliasi Kurulo</p>

        </ion-col>

        <ion-col col-6>

          <button
            class="button icon-left ion-home disable-hover button-default button-default-md button-block button-block-md button-md-secondary"
            style="height: 3.6rem; bottom: 0;position: absolute;"
            block color="secondary" id="" (click)="verLibro()">
            <ion-icon name="md-download"></ion-icon>
              Descargar
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
