page-about {
  .navbar-logo {
    height: 30px;
    float: left;
    padding-left: 15px;
  }
  .navbar-logo2 {
    height: 30px;
    float: right;
    padding-right: 15px;
  }
  #contenido {
    background: color($colors, background);
    color: color($colors, primary);
  }
  #banner-secondary {
    background: color($colors, secondary);
    color: color($colors, light);
    margin-top: -24px;
    margin-left: -20px;
    margin-right: -20px;
  }
  #text-banner {
    padding: 20px;
  }
  #text-simple {
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
  }
  #hr-primary {
    display: block;
    height: 2px;
    border: 0;
    background-color: color($colors, secondary);
    margin: 1em 0;
    padding: 0;
  }
  #btn-home {
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
  }
  .btn-leccion {
    margin: 0 auto;
  }
  .leccion-icons {
    height: 55px;
    width: auto;
  }
  .button-md {
    height: 8.6rem;
  }
  #centrar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row-texto p {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .btn-text {
    font-weight: 300;
    font-size: 14px;
  }
  .scroll-content {
    margin-bottom: 2px;
  }
  .button-round-md {
    padding: 1.6rem;
  }
  .texto {
    color: color($colors, primary);
  }
}
