<!--
  Generated template for the Cuestionario42Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b>
        Cómo ministrar liberación
      </b>
      <p>Mientras Jesús estuvo en la Tierra sacó demonios y espíritus malos con poder y autoridad. Su poder y autoridad
        está ahora dada en Su nombre, y esta es la razón por la cual usamos Su poderoso nombre para echar fuera
        demonios.</p>
      <b class="titulo">¿Qué es la liberación?</b>
      <p>Marcos 16:17 “…en mi nombre echarán fuera demonios…”La liberación es una ministerio para poner a las personas
        en libertad de la opresión de los espíritus malos en el Nombre de Jesús </p>
      <p>Mateo 10:1 “Entonces, llamando a sus doce discípulos, les dio autoridad sobre los espíritus impuros, para que
        los echaran fuera y para sanar toda enfermedad y toda dolencia”.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">¿Cómo identificar al enemigo satanás?</b>
      <b class="titulo">Jesús nuestro modelo de liberación </b>
      <p>a. Encuentros iniciales del ministerio de Jesús (Marcos 1:23-28, 32-34, 39)</p>
      <p>• Jesús lidió con el espíritu <label class="respuesta corta" [style.color]="respuestas[0].color"
                                              (click)="openActionSheet('0')">{{respuestas[0].text}}</label> el hombre.
      </p>
      <p>• “Daimonizomal” es la palabra griega que significa estar endemoniado.</p>
      <p>• Ministerio continuo: a pesar de que somos salvos aún vivimos en mundo real <label class="respuesta corta"
                                                                                             [style.color]="respuestas[1].color"
                                                                                             (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        por el pecado. </p>
    </ion-slide>

    <ion-slide>
      <p>b. Asociado con sanidad</p>
      <p>• El ministerio de sanidad y liberación están <label class="respuesta corta"
                                                              [style.color]="respuestas[2].color"
                                                              (click)="openActionSheet('2')">{{respuestas[2].text}}</label>.
        (Lucas 4:40-41, 13:11-16)</p>
      <p>• Un tercio del ministerio de Jesús fue en <label class="respuesta corta" [style.color]="respuestas[3].color"
                                                           (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        y <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>.
        (Lucas 13:31-32)</p>
      <p>c. Equipamiento de los discípulos: Nadie fue enviado a evangelizar sin: </p>
      <p>• Ser <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        para enfrentarse a los espíritus malos. Los ejemplos son: <br>
        o Los 12 discípulos. (Mateo 10:1-8) <br>
        o Los 70. (Lucas 10:1) <br>
        o La gran comisión. (Marcos 16:15-17; Mateo 28:19-20) <br>
        o Felipe el evangelista. (Hechos 8:5-7)
      </p>
    </ion-slide>

    <ion-slide>
      <b>Actividades características de los demonios</b>
      <p>Estas son algunas <label class="respuesta corta" [style.color]="respuestas[6].color"
                                  (click)="openActionSheet('6')">{{respuestas[6].text}}</label> de los demonios:</p>
      <p>• Seducen, acosan y <label class="respuesta corta" [style.color]="respuestas[7].color"
                                    (click)="openActionSheet('7')">{{respuestas[7].text}}</label>.</p>
      <p>• Causan <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        que abre las puertas del <label class="respuesta corta" [style.color]="respuestas[9].color"
                                        (click)="openActionSheet('9')">{{respuestas[9].text}}</label>.</p>
      <p>o Tormento físico, por ejemplo, artritis. </p>
      <p>o Tormento mental, por ejemplo, miedo a volverse loco. </p>
      <p>o Tormento espiritual: Miedo de haber cometido el pecado imperdonable. </p>
    </ion-slide>

    <ion-slide>
      <p>o Los demonios también impulsan, esclavizan, causan adicción y contaminan. </p>
      <p>o Engañan. </p>
      <p>o El orgullo le abre la puerta al <label class="respuesta corta" [style.color]="respuestas[10].color"
                                                  (click)="openActionSheet('10')">{{respuestas[10].text}}</label>. </p>
      <p>o Debilitan, enferman, cansan o matan. Las personas endemoniadas no <label class="respuesta corta"
                                                                                    [style.color]="respuestas[11].color"
                                                                                    (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        en algunas áreas.</p>
      <p>o Los demonios son espíritus malos sin <label class="respuesta corta" [style.color]="respuestas[12].color"
                                                       (click)="openActionSheet('12')">{{respuestas[12].text}}</label>.
        Necesitan un <label class="respuesta corta" [style.color]="respuestas[13].color"
                            (click)="openActionSheet('13')">{{respuestas[13].text}}</label> para habitarlo. Están
        infelices fuera de un cuerpo.
        El cuerpo es el cadáver, ellos los buitres. </p>
    </ion-slide>

    <ion-slide>
      <b>¿Por qué necesitamos liberación?</b>
      <p>• Los <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        son oprimidos y acosados por demonios, así que lo necesitan. </p>
      <p>• Un <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        del ministerio de Jesús fue invertido en sanidad y liberación. </p>
      <p>• ¡Los demonios son reales! Todos son espíritus malos,
        y los espíritus siempre necesitan un <label class="respuesta corta" [style.color]="respuestas[16].color"
                                                    (click)="openActionSheet('16')">{{respuestas[16].text}}</label> para
        habitar. </p>
      <p>• A pesar de que somos salvos, aun vivimos en un mundo real <label class="respuesta corta"
                                                                            [style.color]="respuestas[17].color"
                                                                            (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        por el pecado.</p>
    </ion-slide>

    <ion-slide>
      <b>¿Dónde residen los demonios?</b>
      <p>• Emociones y actitudes. (Proverbios 25:28) </p>
      <p>• Mente </p>
      <p>• La lengua </p>
      <p>• Inmoralidad sexual (sexo fuera del matrimonio, adulterio o cualquier otro acto sexual compulsivo). </p>
      <p>• Lujuria </p>
      <p>• Religiones falsas y en el ocultismo. </p>
      <p>• Herejías </p>
      <p>• Cuerpos físicos.</p>
    </ion-slide>

    <ion-slide>
      <b>¿Cómo entran los demonios a nuestros cuerpos?</b>
      <p>• Orígenes ocultos. (Exodo 20:3-6; Deuteronomio 18:10-12) </p>
      <p>• Influencias prenatales (rechazo y miedo) </p>
      <p>• Manipulación de otra persona. </p>
      <p>• Presiones en la niñez temprana. (Santiago 3:16) </p>
      <p>• Pecados sexuales: fornicación, lesbianismo, pornografía, etc. </p>
      <p>• Actos o hábitos pecaminosos.</p>
    </ion-slide>

    <ion-slide>
      <b>¿Cómo somos liberados?</b>
      <p>• Siendo humildes. </p>
      <p>• Siendo honestos con nuestra necesidad. </p>
      <p>• Confesando la fe en Cristo Jesús (Hebreos 3:1) </p>
      <p>• Confesando cualquier pecado consciente. </p>
      <p>• Arrepintiéndonos. </p>
      <p>• Rompiendo con cualquier sociedad secreta o involucramiento con lo oculto. </p>
      <p>• Renunciando a ello. </p>
      <p>• Expulsando a los demonios. </p>
    </ion-slide>

    <ion-slide>
      <b>¿Por qué algunos no son liberados?</b>
      <p>• Falta de <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
      </p>
      <p>• Falta de <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
      </p>
      <p>• Sin desesperación o <label class="respuesta corta" [style.color]="respuestas[20].color"
                                      (click)="openActionSheet('20')">{{respuestas[20].text}}</label> por el asunto.
      </p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        equivocados. (Santiago 4:3) </p>
      <p>• Egocentrismo, deseo por la <label class="respuesta corta" [style.color]="respuestas[22].color"
                                             (click)="openActionSheet('22')">{{respuestas[22].text}}</label></p>
      <p>• Falla para <label class="respuesta corta" [style.color]="respuestas[23].color"
                             (click)="openActionSheet('23')">{{respuestas[23].text}}</label> con lo oculto: deshacerse
        de objetos ocultos o bajo una maldición. </p>
      <p>• No <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        pecados específicos. </p>
    </ion-slide>

    <ion-slide>
      <b>¿Cómo mantener tu liberación?</b>
      <p>• Haz a <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        el Señor de cada área de tu vida (Mateo 12:43-45)</p>
      <p>• Ponte la <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        de alabanza (Isaías 61:3)</p>
      <p>• Ponte la <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        completa de Dios. (Efesios 6:13-17)</p>
      <p>• Vive por <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        de Dios. (Mateo 4:4)</p>
      <p>• Sométete a Dios y <label class="respuesta corta" [style.color]="respuestas[29].color"
                                    (click)="openActionSheet('29')">{{respuestas[29].text}}</label> al diablo (Santiago
        4:7)</p>
      <p>• Cultiva la <label class="respuesta corta" [style.color]="respuestas[30].color"
                             (click)="openActionSheet('30')">{{respuestas[30].text}}</label> correcto. (1 Juan 1:7)</p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        a ti mismo. (1 Samuel 15:23)</p>
      <p>• Haz a Jesús el <label class="respuesta corta" [style.color]="respuestas[32].color"
                                 (click)="openActionSheet('32')">{{respuestas[32].text}}</label>. (Juan 12:31-32)</p>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
