<!--
  Generated template for the Cuestionario14Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Manejándote en el uso del tiempo</b>

      <p>
        Nadie puede dirigir el tiempo porque nadie controla el tiempo. Solamente podemos manejar aquello sobre lo que
        tenemos control. El tiempo nunca se detiene, ni retrocede. No lo podemos detener o retrasar. El tiempo siempre
        avanza. Solamente nos podemos conducir en como utilizamos el tiempo que Dios nos ha dado a cada uno.
      </p>

    </ion-slide>
    <ion-slide>

      <b>
        Introducción
      </b>
      <p>
        A todas las personas se les da 24 horas en un día. Lo que difiere es lo que hacemos con el tiempo que se nos da.
        Dios es justo. No les da más tiempo a unos y menos a otros, a todos nos entrega la misma cantidad.
        Imagina que un banco deposita $86 400.00 por día en tu cuenta. A las 12 media noche cualquier cantidad que no
        hayas utilizado la pierdes, no hay saldo para el siguiente día. ¿Qué harías si esta fuera una política del
        banco? Utilizarías todo el dinero antes de media noche. Sí, lo haríamos con el dinero, pero no con el tiempo.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        Esto es exactamente lo que Dios hace en relación al tiempo. El nos da 86 400 segundos cada día, y a la media
        noche Él escribe como perdida la cantidad sobrante que no hayas invertido para un buen propósito. Alguien dijo
        “Ayer es historia, mañana es un misterio, hoy es un regalo, es por eso que lo llamamos presente”. El autor de
        esa frase lo que quería decir es que tenemos que hacer el mejor uso del tiempo que tenemos ahora.
      </p>

    </ion-slide>
    <ion-slide>

      <b>
        Redimir el tiempo
      </b>
      <p>
        Efesios 5:15-16 <br>
        La palabra griega para
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        es “exagorazo” que proviene de dos palabras griegas, ek (que significa
        de) y agorazo (que significa comprar)
      </p>
      <p>
        Así que la palabra redimir significa <br>
        • “compra de”. Redimir también es usada en Gálatas 3:13 (Cristo nos redimió de la maldición de la Ley) y Gálatas
        4:5 (para redimir a los que estaban bajo la Ley).
      </p>

      <p>
        • Exagorazo era un término del mercado utilizado para redimir a un esclavo. Cuando un esclavo era redimido
        significaba que el esclavo había sido
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        del mercado de esclavos. El comprador estaba pagando el
        precio para sacarlo de una situación mala.
      </p>

    </ion-slide>


    <ion-slide>


      <b>
        El concepto de cronos y kairós
      </b>
      <p>
        Hay dos palabras para tiempo en griego: cronos y kairós. <br>
        1. Cronos es el tiempo
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        . Por ejemplo, si nuestra jornada laboral inicia a las 8 am, ese es el
        tiempo cronos. Es el tiempo que todos conocemos. La palabra cronos es de donde sacamos la palabra cronología.
      </p>
      <p>
        2. Kairós, por otro lado, es el tiempo señalado, un momento oportuno, una temporada prevista. Es el tiempo que
        no conocemos y que por tanto no podemos agendar. Este es el tiempo
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        en los propósitos de Dios.
        El tiempo kairós se refiere a una ventana de oportunidad, pero esta ventana también es una oferta de tiempo
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        . ¡Es un
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        de Dios!
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        Este es el tiempo que solamente Dios conoce. Jesús dijo en Mateo 24:36 “Pero del día y la hora nadie sabe, ni
        aun los ángeles de los cielos, sino sólo mi Padre” . Este es el momento kairós.
      </p>
      <b>
        Un ejemplo de un momento kairós en la Biblia
      </b>
      <p>
        Lucas 19: 41-44
        “41 Cuando llegó cerca de la ciudad, al verla, lloró por ella, 42 diciendo:
        —¡Si también tú conocieras, a lo menos en este tu día, lo que es para tu paz! Pero ahora está encubierto a tus
        ojos. 43 vendrán días sobre ti cuando tus enemigos te rodearán con cerca, te sitiarán y por todas partes te
        estrecharán; 44 te derribarán a tierra y a tus hijos dentro de ti, y no dejarán en ti piedra sobre piedra, por
        cuanto no conociste el tiempo de tu visitación”.
      </p>
      <p>
        ¿Por qué Jesús lloró por Jerusalén? <br>
        • Ellos no
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        la hora de su visitación. <br>
        • Ellos perdieron su momento
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        . <br>
        • Su hora de paz pasó a la par de ellos.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Jesús vio la destrucción venidera de Jerusalén por su error en reconocerlo a él y en reconocer su
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de visitación.
      </p>
      <p>
        ¿Por qué es importante redimir el tiempo? <br>
        • Dios es un Dios de
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        . ¡Deshonramos a Dios cuando no estamos a tiempo! <br>
        • Muestra que somos
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        sabios del tiempo, que es uno de los recursos más importantes en la
        vida. <br>
        • ¡Podemos hacer tanto si utilizamos el tiempo sabiamente! <br>
        • ¡Perder el tiempo es perder
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        ! <br>
        • Si no respetamos el tiempo cronos, que es el conocido, ¿cómo podremos reconocer el momento kairós de Dios?
        <br>
        • Muestra que se puede confiar en nosotros. <br>
        • Los días son malos y muchos se perderán el momento kairós de Dios al ser muy
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        con el tiempo
        cronos. <br>
        • Muestra respeto con Dios y su pueblo.
      </p>
    </ion-slide>


    <ion-slide>
      <p>
        • El tiempo siempre avanza. Nadie lo puede detener o atrasar. Cuando lo perdemos, no podemos
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        .
        <br>
        • No lo podemos dirigir porque no lo podemos controlar. Entonces, lo tenemos que utilizar sabiamente porque el
        tiempo perdido es tiempo perdido para
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        .
      </p>

      <b>
        La parábola de las 10 vírgenes
      </b>
      <p>
        Esta parábola es un buen recordatorio de la importancia de
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        el tiempo. La podemos leer con atención
        en Mateo 25. Un estudio detallado de la parábola revela lo siguiente:
      </p>
      <p>
        • Todas son
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        . Esto no significa que son sexualmente puras únicamente, son moralmente sólidas, y
        también significa que adoran al verdadero Dios, cristianos que en el contexto actual de la parábola van a la
        iglesia fielmente y son buenos.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Todas tenían su
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        . La lámpara significa la Palabra de Dios. Todas tienen una biblia. Estudian
        la palabra de Dios y conocen las verdades bíblicas.
        <br>
        • 5 tenían aceites para sus lámparas y 5 fallaron en prepararse. El aceite representa el poder del Espíritu
        Santo y la dependencia diaria en Él. No fueron sensibles a la guía del Espíritu Santo.
        <br>
        • Las 5 vírgenes insensatas llegaron
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        al banquete de bodas.
        <br>
        • La puerta estaba cerrada para ellas y tuvieron que quedarse por fuera.
        <br>
        • No fueron parte de la
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        de la boda.
      </p>
      <p>
        ¿Por qué las 5 vírgenes insensatas quedaron por fuera? <br>
        • Fallaron en prepararse <br>
        • No respetaron el
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        . <br>
        • No reconocieron el momento kairós de la llegada del novio. <br>
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • Tenían una actitud
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        en relación al tiempo.
        <br>
        ¿Qué podemos aprender de esta parábola? <br>
        • Puedes ser un buen cristiano, ir a la iglesia regularmente, y hasta tener una Biblia, pero si no
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        el cronos (el tiempo que podemos agendar), vas a quedar por fuera cuando el momento kairós de
        Dios venga.
        <br>
        • Dios es un Dios de
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        . Estar tarde es mostrar irrespeto a Dios.
        <br>
        • Tenemos que
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        para el momento kairós y la única manera en que podemos conocer el kairós es
        honrando el cronos. ¡La preparación cuidadosa es el secreto para estar a tiempo!
      </p>


    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
