<!--
  Generated template for the Cuestionario17Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Escuchando la voz de Dios</b>
      <p>
        Para conocer la voz de Dios tienes que saber quien es Él. Solo lo puedes conocer si pasas tiempo en Su
        presencia.
      </p>
      <b>
        Dios le habla a su pueblo
      </b>
      <p>
        • El
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        con el que Dios habla se encuentra en toda la Biblia.
        <br>
        • El
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        que Él utilizó para hablar fue diferente de persona a persona.
        <br>
        • Lo importante es que Dios le habló de manera única a Su gente. Ellos
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        que era Dios. Ellos
        sabían lo que Él decía.
        <br>
        • Cuando Dios habló, eso fue un
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        con Dios.
        <br>
        • Cuando Dios te habla mediante el Espíritu Santo a través de la
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        , la oración, las
        circunstancias, y la iglesia, vendrás a saber quien Dios es, y sabrás lo que Él está diciendo.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Cómo se revela Dios?
      </b>
      <p>
        • A través de las
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        . Cuando Dios habla es para revelar algo acerca de sí mismo, sus propósitos,
        o sus caminos. Las revelaciones de Dios están diseñadas para traerte a una relación de amor con Él.
        <br>
        • Cuando Dios habla por el Espíritu Santo a tu vida por lo general te revela algo acerca
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        . El
        revela su nombre, su naturaleza y su carácter.
      </p>

    </ion-slide>


    <ion-slide>

      <p>

        <br>
        • Dios se reveló a Abraham por su nombre – Todopoderoso; a Moisés, Su naturaleza
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        . Dios habló a
        través de Malaquías a Israel y les reveló que Él no cambia y que perdona. Jesús se reveló como pan de vida y
        como la fuente de Vida Eterna.
        <br>
        • Dios habla cuando quiere involucrar a una persona en Sus obras. Él se revela para ayudar a la persona a
        responder en
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        .
        <br>
        • Cuando Abraham tenía 90 años, él necesitaba saber que Dios es
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        (capaz de hacer cualquier cosa)
        para poder creerle que le podía dar un hijo a una edad tardía.
        <br>
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • A través de Moisés Dios dijo que Él es santo. Su pueblo tenía que
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        que Él es un Dios santo,
        para que ellos le respondieran siendo santos.
        <br>
        • A través de Malaquías Dios reveló Su naturaleza
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        , así las personas podrían creer que podían
        ser perdonados si regresaban a Dios.
        <br>
        • Jesús reveló que Él era la
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        de vida eterna para que los judíos creyeran y le respondieran
        recibiendo La Vida.
      </p>
      <b>
        ¿Por qué se revela Dios?
      </b>
      <p>
        • Dios se revela
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        (Su nombre, naturaleza, carácter) para incrementar la fe que guía la acción.
        Vas a necesitar escuchar atentamente lo que Él te quiere revelar.
        <br>
        • Vas a tener que creerle a Dios quien Él dice ser. Tienes que creerle que puede hacer lo que dice que puede
        hacer. Tienes que
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        tu pensamiento a la luz de esta creencia.
      </p>


    </ion-slide>


    <ion-slide>
      <p>
        • Confiar que Dios
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        ser quien dice que Él es, entonces le obedecerás. Cuando obedeces Dios hace
        su trabajo a través de ti y demuestra quien Él dice ser. Entonces conocerás a Dios por
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        .
      </p>
      <b>
        Dios revela sus propósitos
      </b>
      <p>
        • Dios revela Sus propósitos para que sepas lo que Él
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        hacer. Si te le unes debes saber lo que
        Él está por hacer. Dios habla con un propósito en mente.
        <br>
        • Cuando Dios le habló a Noé no le preguntó “¿Qué es lo que quieres hacer por mi?” El vino a
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        lo que estaba a punto de hacer.
        <br>
        • De manera similar Dios le habló a Abraham, y le habló porque Él tenía un propósito en mente. Estaba
        preparándose para construirse una
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        . Dios estaba a punto de cumplir Sus propósitos a través de
        Abraham.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Este
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        se ve a lo largo de toda la Biblia, en Jueces, con David, los profetas, los
        discípulos y Pablo. Cuando Dios estaba por hacer algo Él tomó la iniciativa de acercarse a sus siervos. Amos 3:7
        “Porque no hará nada Jehová, el Señor,
        sin revelar su secreto a sus siervos los profetas”. Él habló para revelar Sus propósitos y planes. Entonces los
        podría involucrar y
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        Sus propósitos a través de ellos.
      </p>

    </ion-slide>


    <ion-slide>

      <b>
        ¿Cómo podemos reconocer la voz de Dios?
      </b>
      <p>
        • Para reconocer la
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        de Dios le debemos pertenecer a Dios. Jesús dijo “mis ovejas escuchan mi voz;
        yo las conozco y ellas me siguen” (Juan 10:27).
        <br>
        • Escuchamos Su voz cuando pasamos tiempo en el estudio bíblico y
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        en oración en Su Palabra.
        <br>
        • Todos los verdaderos creyentes pueden escuchar la voz de Dios, ellos simplemente no
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        lo que
        están escuchando como la voz de Dios.
        <br>
        • Dios está
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        transmitiendo Su voz a Sus ovejas, así como las estaciones de radio y televisión
        transmiten 24 horas al día, 7 días a la semana, pero pocas se encienden o se sintonizan.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • El estilo de vida cristiano promedio es tan ocupado que no es
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        para escuchar la voz de Dios.
        En el Salmo 46:10 dice “Estad quietos, y sabed que yo soy Dios”. Es en la quietud y no en lo concurrido que
        sintonizamos nuestros oídos espirituales para escuchar la voz de Dios.
        <br>
        • En Juan 4:24 aprendemos que Dios es
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        , y que quienes lo adoran lo deben adorar en espíritu y
        verdad. El Señor habla a nuestro espíritu, en pensamientos, impresiones, intuición, convicciones y en cargas.
      </p>
      <b>
        Barreras para escuchar la voz de Dios
      </b>
      <p>
        1. La barrera de la
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        o de la incredulidad.
        <br>
        • Mis ovejas
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        mi voz. Yo las conozco y ellas me siguen. (Juan 10:27).
        <br>
        • Dios quiere tener una relación con nosotros. Fue por esto que Jesús pagó el precio de Su vida en la cruz.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        con nuestro Padre es el derecho básico de los hijos e hijas y el gozo de nuestro Dios. Para
        esto nos creó.
        <br>
        • Algunas personas creen que no pueden escuchar a Dios hablar a menos de que tengan un don profético o algún
        otro don espiritual o ministerio especial. Esto es
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        . Romanos 8:14 dice “Quienes son guiados por
        el Espíritu son hijos e hijas de Dios”.
        <br>
        • Nunca te dejes intimidar por los dones espirituales de una persona o por la forma en que una persona escucha a
        Dios. Dios tiene un cableado
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        y te creo para que lo escuches.
        <br>
        2. La barrera del
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        : si piensas que no necesitas a Dios en tu vida vas a querer manejar las
        cosas tu mismo. El orgullo endurecerá tu corazón para escuchar la voz de Dios.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        3. La barrera del
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        : muchas personas no pueden escuchar hablar a Dios porque tienen miedo de
        escucharlo hablar. Algunos piensan que si lo escuchan se convertirán en fanáticos religiosos.
        <br>
        4. La barrera de la
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        : cuando te aferras al dolor, al resentimiento o al rencor no podrás
        escuchar a Dios porque tu corazón está endurecido. El resentimiento es una herida auto infligida que permite que
        personas de tu pasado te sigan lastimando en tu presente.
        <br>
        5. La barrera del
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        : Salmo 66:18, si guardo maldad en mi corazón el Señor no me escuchará.
        <br>
        6. La barrera del
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        sobre cómo habla el Espíritu Santo.
        <br>
        Juan 16:13 “Pero cuando venga el Espíritu de verdad, él os guiará a toda la verdad, porque no hablará por su
        propia cuenta, sino que hablará todo lo que oiga y os hará saber las cosas que habrán de venir”.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        • Cuando hablamos sobre
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        la voz de Dios, estamos utilizando una expresión terrenal para describir un concepto espiritual. Tu y yo
        utilizamos palabras, discursos y lenguaje corporal para comunicarnos. Sin embargo, el Espíritu Santo tiene
        muchas maneras creativas para comunicarse con nosotros.
        <br>
        • Escuchamos la voz de Dios no con nuestros oídos físicos sino con nuestro corazón y espíritu. Por ejemplo, aquí
        hay algunas maneras por las cuales el Espíritu Santo puede hablarte en oración o en tu tiempo
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        : te recuerda algún versículo bíblico o de una historia, o resalta alguno cuando estás
        leyendo la Biblia.
        <br>
        • En tu mente logras ver una imagen, una idea o una
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        .
        <br>
        • Sientes algo emocional o físicamente.
        <br>
        • Una palabra te viene a la mente o ves una palabra escrita en tu
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        .
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        Otras maneras en las que Dios habla
      </b>

      <p>
        • A través de líderes, por ejemplo
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        , enseñando o dando indicaciones personales.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        .
        <br>
        • Caminando en
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        (como una película en tu imaginación).
        <br>
        • A través de la
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        de otra persona.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        .
        <br>
        En el libro de los Hecho vemos a Dios hablando a través de
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        , sueños, visiones, ángeles,
        líderes, señales y mediante la
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        del Espíritu Santo. El Espíritu Santo a menudo habla en luz,
        en impresiones espontáneas y tenemos que ser intencionales al escucharlo. Ríndete a la persona y ministerio del
        Espíritu Santo con una actitud expectante y de escucha y abriéndote a las múltiples formas en las que nos puede
        hablar.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        ¿Cómo escuchar la voz de Dios?
      </b>
      <p>
        1. Ten un corazón en
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        .
        <br>
        • Cree que Dios quiere hablarte. La clave para escuchar la voz de Dios es que tienes que estar
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        a que te hable. David dijo “Jehová, de mañana oirás mi voz; de mañana me presentaré delante
        de ti y esperaré” (Salmo 5:3)
        <br>
        • El Espíritu Santo vive dentro de ti y puede estar hablándote más de lo que te das cuenta.
        <br>
        • Si quieres escuchar Su voz necesitas ser como David. Se
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        con Él. Háblale de tus
        frustraciones, miedos, dudas en relación a estar escuchándolo.
        <br>
        2.
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        tu Biblia. Cuando estudias tu Biblia abres el corazón y personalidad de Dios. Pídele a
        Dios que te ayude a entender y a aplicar lo que estás leyendo correctamente.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        3. Se un buen
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        . Escuchar la voz de Dios requiere una cuestión mayor: escuchar. Escuchar a
        Dios es más que apagar el celular y estar con la puerta cerrada. Requiere de un corazón quieto. Significa entrar
        en quietud en el interior a pesar de la locura externa.
        4. Practica la
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        . Todo esto toma tiempo, esfuerzo y paciencia. Aprender a escuchar, a
        reconocer y a entender las formas en la que Dios habla no suceden de la noche a la mañana. Puede tomar varios
        años ante de que estés completamente escuchando y reconociendo la voz de Dios.
        5. ¡
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        a Dios! Escuchar a Dios no significa mucho si no le obedecemos. Recuerda que Dios ve el
        corazón. Cuando Él ve que caminas en fe, aun si estás en la dirección incorrecta, Él puede corregirte
        amorosamente, señalándote la dirección correcta.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
