<!--
  Generated template for the Cuestionario38Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Cómo ser guiado por el Espíritu Santo
      </b>

      <p>El Espíritu Santo es el espíritu de verdad. Él siempre nos guía a la verdad. Él es una persona y nos desea lo
        mejor. Entonces no importa a donde nos dirija, lo que importa más es nuestra receptividad a su dirección.
        Incluso
        si nos dirige a lugares en los cuales no imaginamos estar, Él tiene un propósito al hacerlo y es bueno para
        nosotros.</p>
    </ion-slide>

    <ion-slide>
      <b>Entendiendo quienes somos en realidad </b>
      <p>Una de las verdades más importantes que tienes por descubrir como cristiano es que eres un
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>,
        vives en un
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        y tienes un
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>.
        1 Tesalonicenses 5:23 “Y el Dios de paz os santifique en todo; para que vuestro espíritu
        y alma y cuerpo sea guardado entero sin reprensión para la venida de nuestro Señor Jesucristo”.</p>
      <p>Dios es un ser <label class="respuesta corta" [style.color]="respuestas[3].color"
                               (click)="openActionSheet('3')">{{respuestas[3].text}}</label>, significa que Dios es
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        en
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        y tres en
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>.
        No adoramos a tres dioses, solamente adoramos a
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        Dios que existe en tres
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>distintas:
        Dios el Padre, Dios el Hijo y Dios el Espíritu Santo. Las tres personas de la divinidad trabajan
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        en armonía
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>.
        A esto es lo que llamamos la doctrina de la
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>.
      </p>

    </ion-slide>

    <ion-slide>
      <p>Como Dios es un Dios trino y nos hizo a su imagen y semejanza (Génesis 1:26), nosotros también somos
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        trinos porque la misma imagen de Dios está en nosotros. Es por eso que tenemos un espíritu,
        un alma y vivimos dentro de un cuerpo.</p>
      <p>El libro de Proverbios 20:27 dice “Candela de Jehová es el alma del hombre, Que escudriña lo secreto del
        vientre”.
        Este es un versículo muy importante en la escritura. Primero establece la verdad de que Dios tiene una
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        (luz) y Su lámpara
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        el espíritu del ser humano, el ser humano es un ser
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>.
        La parte más profunda del ser humano es su
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>,
        que es el espíritu, llamado algunas veces el corazón. Esto significa que cuando Dios se comunica
        con nosotros, el
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        de comunicación con el ser humano es el
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        del hombre;
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        el alma o el cuerpo. </p>
    </ion-slide>

    <ion-slide>
      <p>Juan 4:24 “Dios es Espíritu; y los que le adoran, en espíritu y en verdad es necesario que adoren”. Como Dios
        es espíritu, solamente se comunicará con el ser humano de espíritu a espíritu. El ser humano, por lo tanto, es
        un ser
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>.
        Así que el ser humano debe ser un espíritu. Cuando el cuerpo físico está muerto y decae en la
        tumba, el espíritu del ser humano sigue viviendo. Esa parte del ser humano es
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>.
        Los espíritus nunca pueden morir, y el ser humano es espíritu. </p>
    </ion-slide>

    <ion-slide>
      <b>¿Hay alguna diferencia entre espíritu y alma?</b>
      <p>Es importante saber que el espíritu y el alma del ser humano son dos cosas diferentes. No son lo
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>.
        La Escritura prueba esto, pero algunas veces utilizamos estas palabras intercambiándolas,
        sin conocer sus significados. </p>
      <p>Veamos en Hebreos 4:12 “ Porque la palabra de Dios es viva y eficaz, y más penetrante que toda espada de dos
        filos: y que alcanza hasta partir el alma, y aun el espíritu, y las coyunturas y tuétanos, y discierne los
        pensamientos y las intenciones del corazón”.</p>
    </ion-slide>

    <ion-slide>
      <p>La palabra de Dios es el único <label class="respuesta corta" [style.color]="respuestas[23].color"
                                               (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        disponible que puede dividir el alma y el espíritu del ser humano,
        y si pueden ser divididas, no <label class="respuesta corta" [style.color]="respuestas[24].color"
                                             (click)="openActionSheet('24')">{{respuestas[24].text}}</label> ser lo
        mismo. Pablo muestra nuevamente en la escritura en
        1 Corintios 14:14 “Porque si yo orare en lengua desconocida, mi espíritu ora; mas mi entendimiento es sin
        fruto”.</p>
      <p>Nuestra mente es parte de la <label class="respuesta corta" [style.color]="respuestas[25].color"
                                             (click)="openActionSheet('25')">{{respuestas[25].text}}</label> del alma de
        nuestro ser. Lo que Pablo está diciendo es que
        cuando él ora en lenguas , es su <label class="respuesta corta" [style.color]="respuestas[26].color"
                                                (click)="openActionSheet('26')">{{respuestas[26].text}}</label> el que
        está orando. Su mente no puede entender lo que está
        orando porque es su espíritu el que se está comunicando con Dios (que es Espíritu). El alma no
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        orar en lenguas, pero el espíritu sí. </p>
    </ion-slide>

    <ion-slide>
      <p>Así que con nuestro cuerpo contactamos la <label class="respuesta corta" [style.color]="respuestas[28].color"
                                                          (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        físico/natural; con nuestra alma contactamos el ámbito
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>;
        con nuestro espíritu contactamos el área
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <p>Habiendo entendido lo básico, nos hacemos la pregunta: </p>
      <b>¿Cómo podemos ser guiados por el Espíritu Santo?</b>
      <p>1. Entendiendo que Dios es <label class="respuesta corta" [style.color]="respuestas[31].color"
                                           (click)="openActionSheet('31')">{{respuestas[31].text}}</label></p>
      <p>• Juan 4:24 “Dios es Espíritu; y los que le adoran, en espíritu y en verdad es necesario que adoren”.</p>
      <p>• Como Espíritu, Dios es una <label class="respuesta corta" [style.color]="respuestas[32].color"
                                             (click)="openActionSheet('32')">{{respuestas[32].text}}</label>, ¡no una
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>!
        Y como somos seres espirituales, Él tiene el
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        interés para nosotros en su corazón. Es por esto que podemos confiar completamente en Él para que
        nos guie a toda verdad. </p>
    </ion-slide>

    <ion-slide>
      <p>2. Cultiva un sentido espiritual de <label class="respuesta corta" [style.color]="respuestas[35].color"
                                                    (click)="openActionSheet('35')">{{respuestas[35].text}}</label>.</p>
      <p>• Apocalipsis 2:7 “El que tiene oído, oiga lo que el Espíritu dice a las iglesias”. ¡Tener orejas que
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>!
        Escuchar significa esperar
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        con
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        ante el Señor. </p>
      <p>• Hay muchas voces en el mundo que <label class="respuesta corta" [style.color]="respuestas[39].color"
                                                   (click)="openActionSheet('39')">{{respuestas[39].text}}</label> por
        el alma del ser humano.
        Necesitas conocer la voz del Espíritu Santo para poder ser guiado por él. </p>
      <p>• La voz que más escuches será la voz que te <label class="respuesta corta"
                                                             [style.color]="respuestas[40].color"
                                                             (click)="openActionSheet('40')">{{respuestas[40].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <p>3. Ser consciente del espíritu</p>
      <p>• 1 Tesalonicenses 5:23 “Que el mismo Dios de paz os santifique por completo; y todo vuestro ser —espíritu,
        alma y cuerpo— sea guardado irreprochable para la venida de nuestro Señor Jesucristo”.</p>
      <p>• Pablo pone primeramente el <label class="respuesta corta" [style.color]="respuestas[41].color"
                                             (click)="openActionSheet('41')">{{respuestas[41].text}}</label> en este
        versículo del espíritu. Las cosas espirituales se
        volverán más evidentes para nosotros si nos volvemos más conscientes del espíritu. </p>
      <p>• Cuando te das cuenta que eres un espíritu y que Dios se comunica contigo a través de tu espíritu,
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        tu espíritu más que cualquier otra cosa. Lo que alimentas
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>,
        lo que dejas de
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        muere.</p>
    </ion-slide>

    <ion-slide>
      <p>• Cuando eres consciente de tu cuerpo, el deseo de la carne se vuelve más importante para ti. Cuando eres
        consciente de tu mente, los deseos de la mente se apoderan. Pero, cuando eres consciente del espíritu, Dios se
        vuelve tu enfoque
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>.
      </p>
      <p>• A medida que tu espíritu madura escuchando la voz de Dios, empiezas a silenciar las otras voces que compiten,
        que provienen de tu carne (cuerpo) y de tu mente (alma). Entones el Espíritu Santo de Dios te
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        y toma
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        el control de tu vida.</p>
    </ion-slide>

    <ion-slide>
      <p>4. Renueva la mente</p>
      <p>• Romanos 12:2 “No os conforméis a este mundo, sino transformaos por medio de la renovación de vuestro
        entendimiento, para que comprobéis cuál es la buena voluntad de Dios, agradable y perfecta”.</p>
      <p>• El Espíritu Santo siempre nos revelará la voluntad del Padre. Un ingrediente necesario para conocer la
        voluntad
        de Dio es una mente <label class="respuesta corta" [style.color]="respuestas[48].color"
                                   (click)="openActionSheet('48')">{{respuestas[48].text}}</label>.</p>
    </ion-slide>

    <ion-slide>
      <p>• Es la Palabra de Dios la que penetra en la división del alma y del espíritu. También es la Palabra de Dios la
        que renueva la mente para que la mente pueda ser <label class="respuesta corta"
                                                                [style.color]="respuestas[49].color"
                                                                (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        para alinearnos con el deseo del Espíritu
        Santo para nuestras vidas. </p>
      <p>• Ya que la mente es la que tiene la facultad de tomar decisiones en nuestro ser, cuando es renovada por la
        Palabra
        de Dios (que es espíritu), la mente empezará a hacer decisiones de acuerdo con el
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        del Espíritu Santo. Así es como nuestro espíritu humano
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>la
        voz del Espíritu Santo. La palabra de Dios, que ha renovado la mente, es espíritu y siempre será la
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        de que el Espíritu Santo está en control. </p>
    </ion-slide>

    <ion-slide>
      <p>5. Sumérgete cada día en la Palabra de Dios</p>
      <p>• Juan 6:63 “El espíritu es el que da vida; la carne para nada aprovecha. Las palabras que yo os he hablado son
        espíritu y son vida”</p>
      <p>• La palabra de Dios, de acuerdo con Jesús, es espíritu. No puedes separar la Palabra de Dios del Espíritu de
        Dios. Son <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>.
      </p>
      <p>• El Espíritu Santo no puede hacer nada por
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        de la Palabra de Dios. Cualquier cosa que Él haga será
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        con la Palabra. </p>
      <p>• Entonces, cuando conoces la Palabra de Dios, también conoces Su
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        para tu vida. Y cuando conoces Su voluntad, puedes
        <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        a ello y Él te guiará en la
        <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        correcta.</p>
    </ion-slide>

    <ion-slide>
      <p>6. Crucifica los deseos de la carne</p>
      <p>• Romanos 12:1 “Por lo tanto, hermanos, os ruego por las misericordias de Dios que presentéis vuestros cuerpos
        como sacrificio vivo, santo, agradable a Dios, que es vuestro verdadero culto”.</p>
      <p>• Lo que es colocado en el <label class="respuesta corta" [style.color]="respuestas[58].color"
                                           (click)="openActionSheet('58')">{{respuestas[58].text}}</label> no puede
        calificar como sacrificio aceptable a menos de que esté completamente
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>.
      </p>
      <p>• Lo que Pablo quiso decir en este versículo es que debemos poner a morir los
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        de la carne para poder vivir de acuerdo a los deseos del Espíritu. </p>
      <p>• Gálatas 5:24-25 “ Pero los que son de Cristo han crucificado la carne con sus pasiones y deseos. 25 Si
        vivimos
        por el Espíritu, andemos también por el Espíritu”.</p>
    </ion-slide>

    <ion-slide>
      <p>• No puedes ser guiado por el Espíritu Santo si los deseos de la carne continúan tomando control de tu vida.
        Estos deben morir y debes tomar <label class="respuesta corta" [style.color]="respuestas[61].color"
                                               (click)="openActionSheet('61')">{{respuestas[61].text}}</label> completa
        poniéndolos a morir. </p>
      <p>• Cuando los deseos de la carne mueren, tu espíritu humano se
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        y empiezas a
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        con la voluntad del Espíritu Santo, te guía a donde sea que te lleve. </p>
    </ion-slide>

    <ion-slide>
      <p>7. Sé un amante de la verdad</p>
      <p>• Juan 16:13 “Pero cuando venga el Espíritu de verdad, él os guiará a toda la verdad, porque no hablará por su
        propia cuenta, sino que hablará todo lo que oiga y os hará saber las cosas que habrán de venir”.</p>
      <p>• Debes amar la verdad si quieres ser guiado por el Espíritu Santo, porque es Él el Espíritu de verdad y quien
        nos guía a toda verdad. </p>
      <p>• Jesús se refiere así mismo como la verdad (Juan 14:6); el Espíritu Santo es el Espíritu de verdad (Juan
        16:13);
        la palabra de Dios es verdad (Juan 17:17). Los
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet('64')">{{respuestas[64].text}}</label>:
        Jesucristo, el Espíritu Santo y la Palabra son
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>.
        Amar a Jesús es amar la verdad, someterse al Espíritu Santo es someterse a la verdad y cuando
        estás meditando en la Palabra, estás meditando en la verdad. </p>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
