page-register {
    #contenido {
        background: color($colors, primary);
    }
    #imgLogo {
        padding-top: 15px;
        padding-bottom: 25px;
        height: auto;
        width: 50%;
        margin: auto;
        display: block;
    }
    #imgBot {
        padding-top: 25px;
        padding-bottom: 15px;
        height: auto;
        width: 50%;
        margin: auto;
        display: block;
    }
    #rounded {
        width: 65%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: auto;
        height: 44px;
    }
    #btn {
        width: 65%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px
    }
    #transparente {
        background-color: transparent;
    }
    #registrarse {
        bottom: 10%;
    }
    #espacio {
        font-size: 5px;
    }
}