<ion-content padding id="contenido">

    <img id="imgLogo" style="align-items: center" src="../../assets/imgs/registro-top.png" alt="">

    <ion-list>

        <ion-item id="rounded">
            <ion-input type="text" placeholder="Usuario" [(ngModel)]="userData.username"></ion-input>
        </ion-item>
        <p id="espacio"></p>

        <ion-item id="rounded">
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="userData.password"></ion-input>
        </ion-item>
        <p id="espacio"></p>
        <ion-item id="rounded">
            <ion-input type="text" placeholder="Correo" [(ngModel)]="userData.email"></ion-input>
        </ion-item>
        <p id="espacio"></p>
        <ion-item id="rounded">
            <ion-input type="tel" placeholder="Celular" [(ngModel)]="userData.celular"></ion-input>
        </ion-item>
        <p id="espacio"></p>
        <ion-item id="rounded">
            <ion-input type="text" placeholder="País" [(ngModel)]="userData.pais"></ion-input>
        </ion-item>


        <button id="btn" block ion-button color="secondary" (click)="signup()" >ingresar</button>


    </ion-list>

    <img id="imgBot" style="align-items: center" src="../../assets/imgs/registro-bot.png" alt="">

</ion-content>