<ion-tabs color="primary">
    <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Cursos" tabIcon="ios-book-outline" (ionSelect)="actualizarProgreso()"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Equipo" tabIcon="contacts" ></ion-tab>
</ion-tabs>
