<!--
  Generated template for the Cuestionario2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/adoracion.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b class="titulo-pregunta">¿Qué es la verdadera adoración?</b>
      <p>
        <b>1. </b> La verdadera adoración se
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        solamente en Dios.
      </p>


      <p>
        <b>2. </b>La verdadera adoración le entrega a Dios mi atención
        <label class="respuesta mediana" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
      </p>


      <p>
        <b>3. </b> La verdadera adoración pone a Dios en mi vida antes de
        <label class="respuesta mediana" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        cosa.
      </p>

      <p>
        <b>4. </b> La verdadera adoración
        <label class="respuesta mediana" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        a Dios por quien Él es
      </p>


      <p>
        <b>5. </b> La verdadera adoración
        <label class="respuesta mediana" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        quien es Dios y vive de acuerdo a su voluntad.
      </p>


      <p>
        <b>6. </b> La verdadera adoración es adorar a Dos
        <label class="respuesta mediana" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        querer nada a cambio.
      </p>

      <p>
        <b>6. </b> La verdadera adoración es poner mi vida
        <label class="respuesta mediana" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>con
        Dios y con otros.
      </p>


    </ion-slide>


    <ion-slide>

      <b class="titulo-pregunta"> Jesús con la mujer samaritana </b>
      <p>
        La conversación de Jesús con la mujer en el pozo estuvo centrada en la adoración
      </p>

      <p>
        <b>1. </b> La adoración crea pasión por
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>almas
      </p>

      <p>
        • Los discípulos regresaron con comida
      </p>

      <p>
        • La mujer regresó como almas perdidas
      </p>

      <p>
        <b>2. </b> La adoración trae
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>física
      </p>

      <p>
        <b>a) </b> Vr. 31-32, vs 34
      </p>

      <p>
        <sup>31</sup>Mientras tanto, sus discípulos le insistían:―Rabí, come algo <sup>32</sup> ―Yo tengo un
        alimento que ustedes no conocen —replicó él.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        <b>b)</b> Jesús les dijo “<sup>34</sup>Mi comida es hacer la voluntad del que me envió, y terminar Su
        trabajo”
      </p>

      <p>
        <b>a. </b> Fortaleza
      </p>

      <p>
        <b>b. </b> Alimento
      </p>

      <p>
        <b>c. </b> Cumplimiento
      </p>

      <p>
        <b>3. </b> La adoración cambia tu
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        almas
      </p>

      <p>
        Vs 35: No dicen ustedes: “Todavía faltan cuatro meses para la cosecha”? Yo les digo: ¡Abran los ojos y
        miren los campos sembrados! Ya la cosecha está madura;
      </p>

      <p>
        <b>4. </b> La adoración
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        liberación
        y libertad
      </p>

      <p>
        Marcos 5:6: <sup>6</sup> Cuando vio a Jesús desde lejos, corrió y se postró delante de él.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        <b>5. </b> La adoración
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        transformación y restauración
      </p>

      <p>
        Vs 15: <sup>15</sup>Llegaron adonde estaba Jesús y, cuando vieron al que había estado poseído por la
        legión de demonios, sentado, vestido y en su sano juicio, tuvieron miedo.
      </p>


      <p>
        <b>6. </b> La adoración
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        pasión para seguir a Jesús en su misión
      </p>

      <p>
        Vs 18-19: <sup>18</sup>Mientras subía Jesús a la barca, el que había estado endemoniado le rogaba que le
        permitiera acompañarlo. <sup>19</sup>Jesús no se lo permitió, sino que le dijo: Vete a tu casa, a los de tu
        familia, y diles todo lo que el Señor ha hecho por ti y cómo te ha tenido compasión
      </p>

    </ion-slide>


  </ion-slides>

</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
