<!--
  Generated template for the Cuestionario35Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Unción del Espíritu Santo
      </b>

      <p>“La unción es lo que nos hablita para trabajar sin aplicar ningún esfuerzo especial. La unción es lo que vence
        cada dificultad que nos agobia, que en nuestra propia fuerza y que con nuestras propias habilidades normalmente
        no
        podríamos hacerle frente” Sunday Adelaja </p>
    </ion-slide>

    <ion-slide>
      <b>La unción </b>
      <p>• La unción es la fuerza más potente en la vida de cada creyente. Con ella tendrás el poder y la fe de hacer
        grandes proezas.</p>
      <p>• La verdad acerca de la unción <label class="respuesta corta" [style.color]="respuestas[0].color"
                                                (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        tu vida y te llevará a una dimensión <label class="respuesta corta" [style.color]="respuestas[1].color"
                                                    (click)="openActionSheet('1')">{{respuestas[1].text}}</label>. </p>
      <p>• El nombre del juego es <label class="respuesta corta" [style.color]="respuestas[2].color"
                                         (click)="openActionSheet('2')">{{respuestas[2].text}}</label>, y cuando sabes
        como aprovechar con propósito la unción y el tesoro de Dios, entonces podrás:</p>
      <p>o Ser <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        una persona diferente. <br>
        o Ser <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        a un nuevo lugar en Dios. <br>
        o Ser el <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        del cambio positivo en la <label class="respuesta corta" [style.color]="respuestas[6].color"
                                         (click)="openActionSheet('6')">{{respuestas[6].text}}</label> de las personas
        en sufrimiento. <br>
        o Ver tu <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        convertirse en tu <label class="respuesta corta" [style.color]="respuestas[8].color"
                                 (click)="openActionSheet('8')">{{respuestas[8].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <p>Dios trino (en esencia son uno, pero son tres personas diferentes)</p>
      <p>1. El Padre es el <label class="respuesta corta" [style.color]="respuestas[9].color"
                                  (click)="openActionSheet('9')">{{respuestas[9].text}}</label> <br>
        2. El Hijo es la <label class="respuesta corta" [style.color]="respuestas[10].color"
                                (click)="openActionSheet('10')">{{respuestas[10].text}}</label> <br>
        3. Es Espíritu Santo es el <label class="respuesta corta" [style.color]="respuestas[11].color"
                                          (click)="openActionSheet('11')">{{respuestas[11].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <b>¿Qué es la unción?</b>
      <p>• La unción es la <label class="respuesta corta" [style.color]="respuestas[12].color"
                                  (click)="openActionSheet('12')">{{respuestas[12].text}}</label> de Dios, Su esencia.
      </p>
      <p>• Es la cosa que hace que Dios sea Dios.</p>
      <p>• La unción es Dios habilitando tu carne (para ti y para mi) para hacer cosas que son imposibles hacer para la
        carne. </p>
      <p>• Su unción está <label class="respuesta corta" [style.color]="respuestas[13].color"
                                 (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        ti, <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        ti,
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        ti y sobre
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        tu ser. </p>
      <p>• Puedes ser y hacer <label class="respuesta corta" [style.color]="respuestas[17].color"
                                     (click)="openActionSheet('17')">{{respuestas[17].text}}</label> lo que Dios creo en
        Su unción. ¡Eres ungido!. Hechos 8:5-8. </p>
    </ion-slide>

    <ion-slide>
      <p>• La unción es el <label class="respuesta corta" [style.color]="respuestas[18].color"
                                  (click)="openActionSheet('18')">{{respuestas[18].text}}</label> de Dios para cumplir
        Sus propósitos, sin importar el campo de tu ministerio.</p>
      <p>• La unción simplemente es el <label class="respuesta corta" [style.color]="respuestas[19].color"
                                              (click)="openActionSheet('19')">{{respuestas[19].text}}</label> de la
        presencia de Dios en nosotros con el propósito de establecer el Reino de Dios.</p>
      <p>• La unción es la <label class="respuesta corta" [style.color]="respuestas[20].color"
                                  (click)="openActionSheet('20')">{{respuestas[20].text}}</label> de Dios para hacer el
        trabajo. </p>
      <p>• La unción es el <label class="respuesta corta" [style.color]="respuestas[21].color"
                                  (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        de <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        para servirle.</p>
    </ion-slide>

    <ion-slide>
      <p>Es lo que algunos llaman <label class="respuesta corta" [style.color]="respuestas[23].color"
                                         (click)="openActionSheet('23')">{{respuestas[23].text}}</label>, y precede la
        manifestación supernatural y la demostración de Dios a través de Su pueblo. </p>
      <p>• Es gozo, pasión, poder, gloria, confianza, coraje y autoridad. <br>
        • Te hace llorar.<br>
        • Te hace reír.<br>
        • Te da una indignación de justicia.<br>
        • Es el poder para predicar, cantar, ser testigo, testificar y hacer guerra espiritual.<br>
        • Es paz.<br>
        • Viene de repente, y toma su tiempo.<br>
        • Es dócil y fuerte
      </p>
    </ion-slide>

    <ion-slide>
      <p>La unción te reconfortará en <label class="respuesta corta" [style.color]="respuestas[24].color"
                                             (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        la muerte de un ser querido, la <label class="respuesta corta" [style.color]="respuestas[25].color"
                                               (click)="openActionSheet('25')">{{respuestas[25].text}}</label> de un
        niño,
        en el <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        a medianoche, en los desafío de las necesidades especiales de un niño, o el dolor de
        un padre en sufrimiento o de una persona amada. </p>
      <p>Cuando la unción viene, <label class="respuesta corta" [style.color]="respuestas[27].color"
                                        (click)="openActionSheet('27')">{{respuestas[27].text}}</label> una paradoja
        divina, así como lo hizo al inicio de la creación. </p>
      <p>• La <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        expone la oscuridad. <br>
        • La <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        confronta la mentira.<br>
        • La <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        confronta la muerte.
      </p>
      <p>Todo lo que puede ser movido es removido para que las cosas que no se pueden mover permanezcan. </p>
    </ion-slide>

    <ion-slide>
      <b>La esencia original de la unción </b>
      <p>La palabra hebrea para “<label class="respuesta corta" [style.color]="respuestas[31].color"
                                        (click)="openActionSheet('31')">{{respuestas[31].text}}</label>” es mish a, que
        viene de la raíz ungir, y significa “unción (del acto); por implicación un don de consagración”.</p>
      <p>Éxodo 30:23-30,34 “23 «Tomarás especias finas: de <label class="respuesta corta"
                                                                  [style.color]="respuestas[32].color"
                                                                  (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        excelente, quinientos siclos, y de
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        aromática, la mitad, esto es, doscientos cincuenta; de
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        aromático, doscientos cincuenta; 24 de
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>,
        quinientos, según el siclo del santuario, y de aceite de
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        un hin. 25 Prepararás con ello el aceite de la santa unción, un ungüento superior, preparado
        según el arte del perfumista”.</p>
    </ion-slide>

    <ion-slide>
      <b>1. Mirra Pura</b>
      <p>La mirra es utilizada para el perfume como preservante, como refrescante, como purificador, como aceite
        sanador,
        como emblema de amor, como confortador para los moretones.</p>
      <p>Lo que está en el aceite es un flujo de libertad que ministra sanidad </p>
      <p>1. Jesús sufrió por nosotros y de su sufrimiento vino <label class="respuesta corta"
                                                                      [style.color]="respuestas[37].color"
                                                                      (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        que vence las ataduras.</p>
      <p>2. No hay <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        en la unción.</p>
      <p>3. Cuando somos <label class="respuesta corta" [style.color]="respuestas[39].color"
                                (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        tenemos “<label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>”
        sirviendo las necesidades de la humanidad. </p>
      <p>4. Esa “<label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>”
        ministra, conforta, y
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        la vida.</p>
    </ion-slide>

    <ion-slide>
      <b>2. Canela dulce</b>
      <p>El árbol de la canela pertenece a la familia de las Lauráceas, se extrae de las ramas. Lo que está en la unción
        guarda y cuida el rebaño.</p>
      <p>1. No hay <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        en la unción.</p>
      <p>2. Hay un celo por hacer buenas obras y para servir las necesidades del <label class="respuesta corta"
                                                                                        [style.color]="respuestas[44].color"
                                                                                        (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        bajo la dirección del Espíritu Santo.</p>
    </ion-slide>

    <ion-slide>
      <b>3. Cálamo dulce</b>
      <p>Es una planta estilo “caña” que crece en el fango y fácilmente se puede golpear. Cuando la especie se hace en
        polvo se produce un aceite de dulce aroma que ayuda a sanar y mata la raíz de la enfermedad. El cálamo también
        es
        emblemático por sentimientos como el cuido, la calma, la compasión y la misericordia. Todas estas son emociones
        de sanidad.</p>
    </ion-slide>

    <ion-slide>
      <p>¿Qué es la unción? La compasión y el amor que ministra sanidad</p>
      <p>1. En la unción está el poder de la <label class="respuesta corta" [style.color]="respuestas[45].color"
                                                    (click)="openActionSheet('45')">{{respuestas[45].text}}</label></p>
      <p>2. La sanidad se libera por el <label class="respuesta corta" [style.color]="respuestas[46].color"
                                               (click)="openActionSheet('46')">{{respuestas[46].text}}</label> del
        Espíritu, por ejemplo la dulzura.</p>
      <p>Este ingrediente estaba en Cristo</p>
      <p>1. Él fue movido por <label class="respuesta corta" [style.color]="respuestas[47].color"
                                     (click)="openActionSheet('47')">{{respuestas[47].text}}</label>. Por ejemplo, el
        amor divino se movía en Él cuando veía una necesidad.</p>
      <p>2. La compasión estaba en la <label class="respuesta corta" [style.color]="respuestas[48].color"
                                             (click)="openActionSheet('48')">{{respuestas[48].text}}</label>. </p>
    </ion-slide>

    <ion-slide>
      <b>4. Casia</b>
      <p>La palabra “casia” viene de una palabra que significa postrarse, doblar el cuerpo. La casia también se toma de
        las ramas de un árbol llamado Casia Lignea, de la familia de la canela. (Al este de Asia). </p>
      <p>Aquí vemos sumisión al Señor. </p>
      <p>¿Qué hay en la unción? Sumisión y humildad.</p>
      <p>La sumisión verdadera dice “no mi voluntad, sino la tuya sea hecha”. Esta fue la actitud de Jesús vista en Juan
        5:30. </p>
      <p>1. Yo mismo no puedo hacer <label class="respuesta corta" [style.color]="respuestas[49].color"
                                           (click)="openActionSheet('49')">{{respuestas[49].text}}</label></p>
      <p>2. No busco mi propia <label class="respuesta corta" [style.color]="respuestas[50].color"
                                      (click)="openActionSheet('50')">{{respuestas[50].text}}</label>,
        sino la <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        de mi Padre que me envió. </p>
    </ion-slide>

    <ion-slide>
      <p>En Juan 15:5 Jesús dice “Sin <label class="respuesta corta" [style.color]="respuestas[52].color"
                                             (click)="openActionSheet('52')">{{respuestas[52].text}}</label> nada puedes
        hacer”.</p>
      <p>Hay <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        en la sumisión.</p>
      <p>La sumisión es gentil y de <label class="respuesta corta" [style.color]="respuestas[54].color"
                                           (click)="openActionSheet('54')">{{respuestas[54].text}}</label> conducta.
      </p>
      <p>Sumisión significa que estamos <label class="respuesta corta" [style.color]="respuestas[55].color"
                                               (click)="openActionSheet('55')">{{respuestas[55].text}}</label> la
        autoridad del Señor.</p>
      <p>No hay <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        en la verdadera sumisión. </p>
    </ion-slide>

    <ion-slide>
      <b>5. Aceite de Oliva </b>
      <p>La palabra “<label class="respuesta corta" [style.color]="respuestas[57].color"
                            (click)="openActionSheet('57')">{{respuestas[57].text}}</label>” utilizada en este contexto
        significa “el nombre que sabe”, es tomada de una palabra
        que significa “autoridad de uno en autoridad” (Espíritu Santo). También “uno que sabe al ver y observar”.
        En proverbios 8:22-31 el Espíritu Santo habla diciendo “yo estuve ahí”… “yo fui por Él”… “yo fui traído”…</p>
      <p>¿Qué hay en la unción?</p>
      <p>1. <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        dada por el Espíritu</p>
      <p>2. <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        dado por el Espíritu</p>
      <p>3. <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        dada por el Espíritu</p>
    </ion-slide>

    <ion-slide>
      <b>6. Incienso puro</b>
      <p>• Esta es la esencia aromática más importante y se le tiene como un perfume precioso. </p>
      <p>• La cuestión más importante mientras <label class="respuesta corta" [style.color]="respuestas[61].color"
                                                      (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        esta unción en tu vida está en que entiendas que esta
        presencia especial de Dios es de gran valor y lo más precioso. Guárdala y protégela.</p>
      <p>Proverbios 4:23 “Sobre toda cosa que guardes, guarda tu corazón, porque de él mana la vida”</p>
    </ion-slide>

    <ion-slide>
      <b>¿Entonces qué significa esto, que eres ungido por el Espíritu Santo?</b>
      <p>• Significa que eres <label class="respuesta corta" [style.color]="respuestas[62].color"
                                     (click)="openActionSheet('62')">{{respuestas[62].text}}</label> para el ministerio
        cristiano mientras vives en este mundo. </p>
      <p>• Significa que has sido <label class="respuesta corta" [style.color]="respuestas[63].color"
                                         (click)="openActionSheet('63')">{{respuestas[63].text}}</label>, encomendado y
        empoderado para cumplir la voluntad de Dios. </p>
      <p>1. Ser capaz de <label class="respuesta corta" [style.color]="respuestas[64].color"
                                (click)="openActionSheet('64')">{{respuestas[64].text}}</label> la verdad 1 Juan 2:27
      </p>
      <p>2. <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        de la verdad. 1 Juan 5:6 </p>
      <p>3. Ser capaz de <label class="respuesta corta" [style.color]="respuestas[66].color"
                                (click)="openActionSheet('66')">{{respuestas[66].text}}</label>. Romanos 8:39 y Efesios
        6:18.</p>
      <p>4. <label class="respuesta corta" [style.color]="respuestas[67].color" (click)="openActionSheet('67')">{{respuestas[67].text}}</label>
        una vida justa. Romanos 8:4 </p>
    </ion-slide>

    <ion-slide>
      <p>5. Ser <label class="respuesta corta" [style.color]="respuestas[68].color" (click)="openActionSheet('68')">{{respuestas[68].text}}</label>
        con poder en tu ser interior. Efesios 3:16</p>
      <p>6. Ser <label class="respuesta corta" [style.color]="respuestas[69].color" (click)="openActionSheet('69')">{{respuestas[69].text}}</label>
        por Dios. Romanos 8:9 </p>
      <p>7. <label class="respuesta corta" [style.color]="respuestas[70].color" (click)="openActionSheet('70')">{{respuestas[70].text}}</label>
        en gozo. Romanos 14:17 </p>
      <p>8. Vivir con <label class="respuesta corta" [style.color]="respuestas[71].color"
                             (click)="openActionSheet('71')">{{respuestas[71].text}}</label>. Romanos 15:13 </p>
      <p>9. <label class="respuesta corta" [style.color]="respuestas[72].color" (click)="openActionSheet('72')">{{respuestas[72].text}}</label>
        y <label class="respuesta corta" [style.color]="respuestas[73].color" (click)="openActionSheet('73')">{{respuestas[73].text}}</label>
        en los dones espirituales. 1 Corintios 12:4, 12:7 </p>
      <p>10. <label class="respuesta corta" [style.color]="respuestas[74].color" (click)="openActionSheet('74')">{{respuestas[74].text}}</label>
        fruto espiritual. Gálatas 5:22-23</p>
    </ion-slide>

    <ion-slide>
      <p>La unción del Espíritu Santo se les da a las personas para <label class="respuesta corta"
                                                                           [style.color]="respuestas[75].color"
                                                                           (click)="openActionSheet('75')">{{respuestas[75].text}}</label>
        el amor y poder de Dios. Cristo significa “el ungido”. Como Cristo está en nosotros la misma
        <label class="respuesta corta" [style.color]="respuestas[76].color" (click)="openActionSheet('76')">{{respuestas[76].text}}</label>
        que Él tuvo en la Tierra nosotros también la tenemos. (Lucas 4:18-19)</p>
      <p>1. La unción se da para <label class="respuesta corta" [style.color]="respuestas[77].color"
                                        (click)="openActionSheet('77')">{{respuestas[77].text}}</label> el Evangelio a
        los pobres. <br>
        2. La unción se da para <label class="respuesta corta" [style.color]="respuestas[78].color"
                                       (click)="openActionSheet('78')">{{respuestas[78].text}}</label> y restaurar
        personas.<br>
        3. La unción se da para <label class="respuesta corta" [style.color]="respuestas[79].color"
                                       (click)="openActionSheet('79')">{{respuestas[79].text}}</label> libertad a los
        cautivos.<br>
        4. La unción se da para <label class="respuesta corta" [style.color]="respuestas[80].color"
                                       (click)="openActionSheet('80')">{{respuestas[80].text}}</label> los ojos de los
        ciegos.<br>
        5. La unción se da para <label class="respuesta corta" [style.color]="respuestas[81].color"
                                       (click)="openActionSheet('81')">{{respuestas[81].text}}</label> personas en
        libertad<br>
        6. La unción fluye en el <label class="respuesta corta" [style.color]="respuestas[82].color"
                                        (click)="openActionSheet('82')">{{respuestas[82].text}}</label>(u) de Dios y
        proclama el tiempo de Dios.
      </p>
    </ion-slide>

    <ion-slide>
      <b>¿Cómo se recibe entonces la unción? La Cruz</b>
      <p>• El Espíritu Santo es <label class="respuesta corta" [style.color]="respuestas[83].color"
                                       (click)="openActionSheet('83')">{{respuestas[83].text}}</label> por fe en el
        sacrificio que Jesús hizo en la cruz.</p>
      <p>• Jesús dijo que Él <label class="respuesta corta" [style.color]="respuestas[84].color"
                                    (click)="openActionSheet('84')">{{respuestas[84].text}}</label>
        al Espíritu Santo y que el Espíritu Santo <label class="respuesta corta" [style.color]="respuestas[85].color"
                                                         (click)="openActionSheet('85')">{{respuestas[85].text}}</label>
        con Su pueblo. </p>
      <p>• Es solamente por la ______________(y) que has recibido <label class="respuesta corta"
                                                                         [style.color]="respuestas[86].color"
                                                                         (click)="openActionSheet('86')">{{respuestas[86].text}}</label>
        de tus pecados y el privilegio del Espíritu que mora no solo en ti, sino sobre ti. </p>
      <p>• Recibimos la unción mediante el nuevo nacimiento. Juan 3:5-7; 2 Corintios 5:17; Hechos 1:8 </p>
    </ion-slide>

    <ion-slide>
      <b>Como mantener e incrementar la unción en tu vida</b>
      <p>1. Ríndete a la <label class="respuesta corta" [style.color]="respuestas[87].color"
                                (click)="openActionSheet('87')">{{respuestas[87].text}}</label>
        y al <label class="respuesta corta" [style.color]="respuestas[88].color" (click)="openActionSheet('88')">{{respuestas[88].text}}</label>.
        Lucas 6:12-18</p>
      <p>- Jesús siendo bautizado y orando se abrieron los cielos. Lucas 3:21</p>
      <p>- Jesús continúo orando toda la noche. Lucas 6:12 </p>
      <p>- Jesús oró en los tiempos más grandes de prueba. Lucas 22:44</p>
      <p>- Orar en lenguas es la entrada a lo sobrenatural. 1 Corintios 14:2 </p>
    </ion-slide>

    <ion-slide>
      <p>2. Viviendo una vida de <label class="respuesta corta" [style.color]="respuestas[89].color"
                                        (click)="openActionSheet('89')">{{respuestas[89].text}}</label> y
        <label class="respuesta corta" [style.color]="respuestas[90].color" (click)="openActionSheet('90')">{{respuestas[90].text}}</label>.
        2 Corintios 6:17</p>
      <p>- Sepárate del mundo y vive una vida santa.</p>
      <p>- Ayunar es parte de la consagración.</p>
      <p>- <label class="respuesta corta" [style.color]="respuestas[91].color" (click)="openActionSheet('91')">{{respuestas[91].text}}</label>.
        Júntate con los sabios. Proverbios 21:20.</p>
      <p>- Sigue el consejo de Dios. Salmo 1:1-2</p>
      <p>- Deja conversaciones que no honran a Dios. 1 Timoteo 6:3-5. </p>
    </ion-slide>

    <ion-slide>
      <p>3. <label class="respuesta corta" [style.color]="respuestas[92].color" (click)="openActionSheet('92')">{{respuestas[92].text}}</label>.
        Deuteronomio 34:9 </p>
      <p>- Moisés le impartió a Josué un liderazgo divino. </p>
      <p>- Eliseo recibió doble porción de Elías. 2 Reyes 2:9 -14 </p>
      <p>4. Adoración. Vive una vida de <label class="respuesta corta" [style.color]="respuestas[93].color"
                                               (click)="openActionSheet('93')">{{respuestas[93].text}}</label>.
        Apocalipsis 4:11; Proverbios 16:4; Isaías 43:21; Romanos 11:36 </p>
      <p>- El Señor está complacido solamente con aquellos que lo adoran y confían en Su amor. Salmos 147:11 </p>
      <p>5. <label class="respuesta corta" [style.color]="respuestas[94].color" (click)="openActionSheet('94')">{{respuestas[94].text}}</label>.
        1 Corintios 3:16, 6:19-20; 1 Tesalonicenses 5:23.</p>
      <p>- En la salvación Jesús se convierte en nuestro salvador.</p>
      <p>- En dedicación Jesús se convierte en tu señor. </p>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
