<!--
  Generated template for the Cuestionario51Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/mision.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>

      <b>
        Cómo ministrar en las misiones transculturales y transdenominacionales.
      </b>

      <p>
        El regalo de la vida eterna debe ser compartido con todas las personas, porque Dios nos ama a todos (Juan 3:16).
        La iglesia es el medio de Dios para compartir ese regalo con el mundo.
      </p>
      <b class="titulo">Introducción </b>
      <p>
        Tu y yo hemos recibido una tarea muy especial, y esta asignación se sustenta en un regalo de gracia que Cristo
        nos ha dado, y ese regalo es el perdón de los pecados que viene de la vida y muerte de Jesucristo. El regalo es
        fantástico para que sea solo para nosotros, otras personas necesitan escucharlo y disfrutar las bendiciones
        tremendas que disfrutamos.
      </p>
      <p>
        El regalo se les ofrece a personas como nosotros, y a personas que son diferentes en idioma, estilo de vida y
        cultura. La pregunta que nos hacemos es ¿Cómo compartiré mi regalo de Jesús con todas las personas?
      </p>
    </ion-slide>

    <ion-slide>

      <b class="titulo">principios básicos para la misión mundial</b>
      <p>
        1. ¡ <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        ! Necesitamos ir a todas las personas que todavía no conocen al Salvador. (Hechos 1:8)
        <br>
        • El llamado no es solo para un grupo de personas, sino para el mundo
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        ,para escuchar las
        buenas noticias. Los apóstoles tenían un trabajo y uno como Pablo en el libro de los Hechos alcanza grupos de
        otras culturas y estudios han mostrado que alcanzó ir tan lejos como a
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        .
        <br>
        • En la actualidad Cristo aun nos urge a ir porque aun hay personas que deben ser alcanzadas con este regalo.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        2. Ponte en la cultura en la que estás sirviendo:
        <br>
        • Para poder compartir el mensaje necesitas <label class="respuesta corta" [style.color]="respuestas[3].color"
                                                           (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        la cultura de las personas con las que te
        quieres comunicar.
        <br>
        • Dos puntos importantes a considerar: el primero es <label class="respuesta corta"
                                                                    [style.color]="respuestas[4].color"
                                                                    (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        el idioma de las personas a las
        que estás sirviendo; el segundo <label class="respuesta corta" [style.color]="respuestas[5].color"
                                               (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        l tiempo en esa cultura para que conozcan un camino
        para una mejor vida.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Un día de <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        en Hechos 2 la Biblia habla sobre la llegada del Espíritu Santo y lo que
        había pasado. El verso 11 dice con gran exaltación por lo sucedido “los oímos hablar en nuestras lenguas las
        maravillas de Dios”.
        <br>
        • Jesús les dice que esperen por el <label class="respuesta corta" [style.color]="respuestas[7].color"
                                                   (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        porque este los habilita para hablar en lenguas para
        que las personas no conocieran a <label class="respuesta corta" [style.color]="respuestas[8].color"
                                                (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        creyeran el mensaje cuando las maravillas de Dios
        fueran manifestadas. El resultado fue 3000 hombres añadidos al Reino de Dios.
        <br>
        • La segunda parte es <label class="respuesta corta" [style.color]="respuestas[9].color"
                                     (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        tiempo con el grupo cultural (Hechos 17:16-17). En Hechos 16:13
        Pablo ministra a algunas mujeres y Lydia es una de esas que se salva y ayuda apoyando la expansión del <label
        class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        .
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        3. Estar listo para dejar tu <label class="respuesta grande" [style.color]="respuestas[11].color"
                                            (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        .
        <br>
        • Una experiencia nueva es que si el Señor dirige nosotros seguimos. En el capítulo 8 de
        Hechos leemos de Felipe que fue un judío que ministró samaritanos y Dios lo bendijo con muchas obras poderosas.
        <br>
        • En Hechos capítulo 11:19-21 leemos de parte de los creyentes que dejaban su zona de confort para
        alcanzar a otros. “Y la mano del Señor estaba con ellos, y gran número creyó y se convirtió al Señor”
        <br>
        • La aprobación de Dios era evidente con la bendición del trabajo.

      </p>
    </ion-slide>


    <ion-slide>
      <p>
        4. Ver a las personas como <label class="respuesta corta" [style.color]="respuestas[12].color"
                                          (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        los ve:
        <br>
        • Cuando vemos a personas de otras culturas solemos resaltar las diferencias entre su cultura y la nuestra.
        <br>
        • Hechos 10 es la historia de cuando Dios llama a Pedro para que vaya a ministrar a los gentiles. Él fue
        confrontado con una visión y Dios le habló diciendo que cualquier cosa que Él limpiara era limpia para poder
        comer. Fue así que fue y ministró en la casa de Cornelio.
        <br>
        • A través de la visión Dios le aclaró a Pedro que todas las personas son la <label class="respuesta corta"
                                                                                            [style.color]="respuestas[13].color"
                                                                                            (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        .
        <br>
        • No podemos discriminar a las personas si las vamos alcanzar con el <label class="respuesta corta"
                                                                                    [style.color]="respuestas[14].color"
                                                                                    (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        .
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        5. No fuerces a que ellos <label class="respuesta corta" [style.color]="respuestas[15].color"
                                         (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        tu cultura como propia:
        <br>
        • En la iglesia del Nuevo Testamento surgió una disputa entre los judíos a ver si debían intentar forzar a los
        creyentes gentiles a circuncidarse. El resultado fue que la salvación era condicional y el verdadero evangelio
        estaba en riesgo.
        <br>
        • El asunto llegó hasta el concilio en Jerusalén, Hechos 15:9 nos da la conclusión final hecha por Santiago “Por
        lo cual yo juzgo que no se inquiete a los gentiles que se convierten a Dios”
        <br>
        • Los gentiles no debían ser sometidos a la circuncisión y no eran forzados a ser como los judíos. Cada cambio
        debe ser a través de la guía del Espíritu Santo y de la palabra de Dios.
      </p>
    </ion-slide>


    <ion-slide>
      <p>
        6. Entendiendo a tu audiencia
        <br>
        • Este principio es similar al principio 2, pero este específico para el mensaje que se proclama. Para poder
        comunicar el mensaje de Dios efectivamente necesitas entender donde están las personas y diseñar la forma en la
        que les presentas al Salvador.
        <br>
        • Tu mensaje debe ser <label class="respuesta corta" [style.color]="respuestas[16].color"
                                     (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        para ellos en su contexto. El mensaje no cambia pero
        el <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        de entrega debe ser relevante y <label class="respuesta corta" [style.color]="respuestas[18].color"
                                               (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        para la fácil comprensión.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        <br>
        • Pablo tuvo dos ejemplos de mensajes contrastantes entendiendo a su audiencia y diseñando su mensaje.
        Uno en sus primeros viajes misioneros a la ciudad de Antioquía. Este está en hechos 13:13-41 donde Pablo trae
        al entendimiento la escritura del Antiguo Testamento y su cumplimiento en Cristo.
        <br>
        • El segundo es en la ciudad de Atenas y la audiencia son gentiles (Hechos 17:22). No solamente le habló Pablo a
        las personas en el mercado, sino que les hizo entrevistas sobre la ciudad, después el presentó el mensaje usando
        su propia idea de un <label class="respuesta corta" [style.color]="respuestas[19].color"
                                    (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        (hechos 17:16-33) para traer a Cristo a su entendimiento del Dios
        real y viviente.
      </p>
    </ion-slide>


    <ion-slide>
      <p>
        7. Recuerda lo que es importante, <label class="respuesta corta" [style.color]="respuestas[20].color"
                                                 (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        la Palabra
        <br>
        • Es muy importante que no nos desenfoquemos, podemos estar preocupados por el como y dejar el resto fuera
        del <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        . La <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        es la cosa más importante. Las personas necesitan escuchar la
        Palabra. A los apóstoles se les escucha una y otra vez en el libro de los Hechos proclamando las buenas nuevas
        de Jesús.
        <br>
        • Pedro y Juan. Hechos 8:25 “proclamar la palabra del Señor”
        <br>
        • Felipe. Hechos 8:35 “las buenas nuevas de Jesús”.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Pablo en Corintios. Hechos 18:11 “Enseñándoles la Palabra de Dios”
        <br>
        • Nos necesitamos enfocar en la <label class="respuesta corta" [style.color]="respuestas[23].color"
                                               (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        de la Palabra de Dios. Nos podemos quedar atrapados en las
        preocupaciones del trabajo misionero. ¿Qué pasa con la barrera del idioma? ¿Qué pasa con la sensibilidad
        cultural? ¿Qué hay con los estilos de adoración? Cualquiera que sea, las preocupaciones <label
        class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>

        pueden meterse en el camino de la misión: las personas necesitan <label class="respuesta corta"
                                                                                [style.color]="respuestas[25].color"
                                                                                (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        acerca de su Salvador.
        Proclamar las buenas nuevas de Jesús y reflexionar en el amor de Cristo. Todo lo demás caerá en su lugar.
      </p>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
