<!--
  Generated template for the Cuestionario21Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b class="titulo">¿Qué es la oración y el ayuno?</b>

      <p>
        La oración y el ayuno en el contexto del cristianismo son normas practicadas generacionalmente. La humildad y la
        reverencia se vuelven los elementos para buscar a Dios y su presencia, y estas activan las dos bases primarias:
        el ayuno y la oración. Como en un vehículo en movimiento la oración es el motor, así que cuando entras en un
        terreno duro y abrupto se necesita aplicar la doble tracción que es el ayuno, para añadir poder al esfuerzo
        inicial.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Ayuno y oración
      </b>
      <p>
        Bíblicamente el ayuno es estar
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        comer. El sustantivo de ayuno traducido es “tsom” en el hebreo,
        y en el griego “nesteia”. Significa la
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        voluntaria de comida. La traducción literal del hebreo
        sería “no comer”. El griego literal significa “sin comida”.
        <br>
        • El ayuno y la oración es una tarea de humillación que busca la dirección y revelación de Dios.
        <br>
        • El ayuno y la oración son las
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        más poderosas que Dios nos ha dado.
        <br>
        • Jesús
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        que sus seguidores ayunen y oren, él dijo que Dios recompensa el ayuno.
        <br>
        • No son una obligación, son una
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        .
        <br>
        • Son definidas por enfocarse en la oración y comunión con Dios sin comida con
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • No son para
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        a Dios sino para forzarte a enfocarte y
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        en Dios.
        <br>
        • El ayuno bíblico está conectado con una temporada de
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        seria y enfocada. Mateo 6:5-6 “5 »Cuando
        ores, no seas como los hipócritas, porque ellos aman el orar de pie en las sinagogas y en las esquinas de las
        calles para ser vistos por los hombres; de cierto os digo que ya tienen su recompensa. 6 Pero tú, cuando ores,
        entra en tu cuarto, cierra la puerta y ora a tu Padre que está en secreto; y tu Padre, que ve en lo secreto, te
        recompensará en público”.
        <br>
        • Jeremías 10:23 “¡Conozco, Jehová, que el hombre no es señor de su camino,
        ni del hombre que camina es el ordenar sus pasos!”
        <br>
        • Proverbios 20:24 “De Jehová son los pasos del hombre, ¿cómo, pues, entenderá el hombre su camino?”
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Deben los cristianos ayunar?
      </b>
      <p>
        Hechos 13:2-3 “2 Ministrando estos al Señor y ayunando, dijo el Espíritu Santo: «Apartadme a Bernabé y a Saulo
        para la obra a que los he llamado.» 3 Entonces, habiendo ayunado y orado, les impusieron las manos y los
        despidieron”.
        <br>
        • La palabra de Dios no
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        específicamente a los creyentes a orar y ayunar.
        <br>
        • La Biblia lo considera como una parte normal de la vida cristiana y la historia de la iglesia indica que la
        iglesia
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        el ayuno regularmente.
        <br>
        • Moisés, Elías, Samuel, Esdras, y Daniel ayunaron y oraron. Jesús ayunó por 40 días y Pablo y los primeros
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        ayunaron. En la iglesia primitiva ayunaban los miércoles y viernes.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Martin Luther fue
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        porque ayunaba mucho. John Calvin ayunó y oró hasta que casi todo Geneva
        se volvió a Dios. John Knox oró y ayunó, y la reina María dijo que no le temía a ningún
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        como a
        las oraciones de John Knox. Jonathan Edwards quien fue un instrumento de Dios en el
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        en Nueva
        Inglaterra oró y ayunó. John Wesley ayunaba dos veces a la semana.
        <br>
        • Al hacer del ayuno un estilo de vida, puedes estar más
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        de Dios y crecer en tu caminar
        espiritual como nunca antes.
        <br>
        • A través del ayuno y la oración puedes experimentar liberación
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        . La liberación puede ser en la
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        espiritual. Puede ser en el área de tus
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        o hábitos personales. Puede ser en un
        área muy
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        de tu vida, tal como las relaciones o las
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        (l).
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        2 Razones claves para orar y ayunar
      </b>
      <p>
        1. Las Escrituras nos enseñan a ayunar y orar
        <br>
        a. La Biblia nos da ejemplos de personas que ayunaron y oraron usando diferentes tipos de ayuno, y que lo
        hicieron por alguna razón específica obteniendo resultados positivos.
        <br>
        b. Jesús ayunó y oró así como los discípulos después de la resurrección.
        <br>
        c. Los seguidores de Juan el Bautista oraron y ayunaron.
        <br>
        d. En el Viejo Testamento los reyes, profetas e israelitas ayunaron y oraron por victoria en batalla o por la
        provisión de las necesidades diarias.
        <br>
        2. Nos alinean para plataformas de libertad. Cada persona quiere libertad en un área específica de sus vidas
        <br>
        a. En sabiduría, entendimiento, trabajo, estudio, relaciones, finanzas, negocios, etc.
        <br>
        b. El ayuno puede ser la respuesta a una situación o solución a un problema.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Orar y Ayunar con fe en Dios
      </b>
      <p>
        • Hebreos 11:6 expone un principio básico al acercarnos a Dios y buscar algo de Él. “Pero sin fe es imposible
        agradar a Dios, porque es necesario que el que se acerca a Dios crea que él existe y que recompensa a los que lo
        buscan”
        <br>
        • Si buscas a Dios
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        , Él te
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        . ¡Garantizado!
        <br>
        • Isaías 58:8, 9,11, 12 resalta 10
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        específicas para aquellos que ayunan de acuerdo a la voluntad
        de Dios
        <br>
        o Luz
        <br>
        o Salud
        <br>
        o Justicia
        <br>
        o Gloria
        <br>
        o Oraciones respondidas
        <br>
        o Guía continua
        <br>
        o Satisfacción
        <br>
        o Fortaleza
        <br>
        o Trabajo que permanece
        <br>
        o Restauración.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Cualquier cristiano que no desee esos beneficios es muy
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        . Estas son promesas de Dios para
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        que ayunan y oran en acuerdo a Su voluntad. Dios
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        nos recompensará como en
        Isaías 58.
        <br>
        • También necesitamos tener la
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        adecuada hacia nuestro cuerpo.
        <br>
        • 1 Corintios 6:19-20 “19 ¿O ignoráis que vuestro cuerpo es templo del Espíritu Santo, el cual está en vosotros,
        el cual habéis recibido de Dios, y que no sois vuestros?, 20 pues habéis sido comprados por precio; glorificad,
        pues, a Dios en vuestro cuerpo y en vuestro espíritu, los cuales son de Dios”.
        <br>
        • Los creyentes creen que es
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        para Dios que mantengamos la residencia del Espíritu Santo en las
        mejores condiciones posibles. Debe ser sano y fuerte y capaz de hacer las cosas que Dios nos pide hacer.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Más allá, Pablo nos habla de nuestro

        físico en Romano 6:13 “ ni tampoco presentéis vuestros
        miembros al pecado como instrumentos de iniquidad, sino presentaos vosotros mismos a Dios como vivos de entre
        los muertos, y vuestros miembros a Dios como instrumentos de justicia”.
        <br>
        • Así que los múltiples miembros de mi cuerpo
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        tienen la intención de ser
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        o armas
        que Dios puede usar. Dios quiere sus armas en buenas
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        . No los quiere
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        . Él quiere que nuestro cuerpo sea
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        .
        <br>
        • Estoy convencido que el ayuno es una forma muy
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        para mantener nuestro cuerpo en buenas
        condiciones.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Cuál es el propósito del ayuno?
      </b>

      <p>
        Antes de ayunar, escoge tus
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        para el ayuno. Aquí hay algunos objetivos bíblicos:
        o
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        ante Dios. David dijo en el Salmo 69:10 “Lloré, afligiendo con ayuno mi alma…”
        o El ayuno promueve la humildad y nos posiciona para las
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        del Padre. Cuando te humillas, Dios te
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        .
        o Otro motivo es
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        a Dios. Santiago 4:8 dice “Acercaos a Dios, y él se acercará a vosotros…”
        o Para entender la palabra de Dios. Cuando ayunas y oras Dios te dará un
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        mayor y más profundo de
        Su palabra.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        o Para encontrar la voluntad de Dios y recibir su
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        en tu vida.
        <br>
        o Para buscar sanidad o libertad de algún espíritu perverso. Jesús dijo al respecto de un tipo de espíritu
        perverso: este
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        solo puede salir con oración y
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        (Marcos 9:29). Antes de que
        Jesús entrara en Su ministerio de sanidad y liberación, Él ayunó y oró por
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        días.
        <br>
        o Cuando buscamos la
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        de Dios en alguna crisis particular, cuando un problema tremendo se ha
        levantado y no podemos solucionarlo por medios ordinarios.
        <br>
        o Para interceder y orar en nombre de otros. Por ejemplo, un familiar
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        , la comunidad no alcanzada,
        por
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        de la nación. ¿Estás dispuesto a hacer algo que te costará en nombre de alguien a quien
        amas?
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        ¿Cómo me debo preparar para el ayuno?
      </b>
      <p>
        Mateo 6:16-18 “16 Cuando ayunéis, no pongáis cara triste, como los hipócritas que desfiguran sus rostros para
        mostrar a los hombres que ayunan; de cierto os digo que ya tienen su recompensa.17 Pero tú, cuando ayunes, unge
        tu cabeza y lava tu rostro, 18 para no mostrar a los hombres que ayunas, sino a tu Padre que está en secreto; y
        tu Padre, que ve en lo secreto, te recompensará en público”.
        <br><br>

      </p>

    </ion-slide>

    <ion-slide>

      <p>


        o En Mateo 6:17-18 ayunamos con una actitud de fe
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        , creyendo que es la voluntad de Dios para mi
        ayunar y que Dios me bendecirá de acuerdo a Su voluntad.
        <br>
        o Si ayunas en la dirección correcta y con los motivos correctos, Dios te
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        abiertamente. También
        recuerda que si fallas en orar, estás
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        a ti mismo porque Dios no puede recompensarte si no
        cumples Sus
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        .
        <br>
        o La oración y el ayuno necesitan ser tu actividad
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        con Dios.
      </p>

    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
