<!--
  Generated template for the Cuestionario27Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/relaciones.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>


      <b class="titulo">La Familia: la base de la sociedad</b>

      <p>
        El matrimonio es la base de la familia, y la familia es la base de la sociedad. La institución de la familia fue
        la primera institución social ordenada y establecida por Dios incluso antes de establecer el estado y la
        iglesia. Esto muestra como Dios valora la familia como la unidad social
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        de cualquier
        sociedad. Cuando la familia falla y se desorganiza los cimientos de la sociedad se destruyen completamente.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        ¿Cuál es el plan de Dios para el matrimonio?
      </b>
      <p>
        1. El plan de Dios para el matrimonio es
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        Su imagen
        • Génesis 1:26 -27 “26 Entonces dijo Dios: «Hagamos al hombre a nuestra imagen, conforme a nuestra semejanza; y
        tenga potestad sobre los peces del mar, las aves de los cielos y las bestias, sobre toda la tierra y sobre todo
        animal que se arrastra sobre la tierra.» 27 Y creó Dios al hombre a su imagen, a imagen de Dios lo creó; varón y
        hembra los creó”.
        • El matrimonió fue diseñado para modelar y exhibir la
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        de Dios a toda la creación.
      </p>

    </ion-slide>

    <ion-slide>

      <p>

        • Vemos su imagen en la pluralidad y unidad del matrimonio. Dios dijo “Hagamos al hombre a nuestra imagen,
        conforme a nuestra semejanza”, y después el texto continúa diciendo “varón y hembra los creó” (vs 26,27). Cuando
        Dios hizo al hombre, Él hizo una
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        . Él hizo al hombre y a la mujer, y después en la narrativa
        Él dice que se convertirán en una sola carne (Génesis 2:24). La Trinidad es Dios Padre, Dios Hijo y Dios
        Espíritu Santo, son uno y al mismo tiempo personas individuales.
        <br>
        • El matrimonio demuestra dos personas
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        convirtiéndose en
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        para el resto de
        sus vidas. Mantienen siempre su individualidad, así como la Divinidad es plural y al mismo tiempo individual.
        <br>
        • Hay una perfecta sumisión en la Divinidad. De la misma forma cuando Dios hizo al hombre y a la mujer a Su
        imagen, ese
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        está destinado a ser en la relación. 1 Corintios 11:3 dice “Pero quiero que sepáis
        que Cristo es la cabeza de todo varón, y el varón es la cabeza de la mujer, y Dios es la cabeza de Cristo”.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        Esta
        es la orden que debe ser seguida y respetada en la familia, así como la Divinidad respeta también ese orden y
        protocolo.
      </p>
      <p>
        2. El plan de Dios para el matrimonio es criar hijos e hijas
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        .
        <br>
        • Génesis 1:28 “os bendijo Dios y les dijo: «Fructificad y multiplicaos; llenad la tierra y sometedla”
        <br>
        • Dios hizo al hombre y a la mujer para
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        , para crear nuevos seres como Él lo hizo.
        <br>
        • Malaquías 2:15 “¿No hizo él un solo ser, en el cual hay abundancia de espíritu? ¿Y por qué uno? Porque buscaba
        una descendencia para Dios. Guardaos, pues, en vuestro espíritu y no seáis desleales para con la mujer de
        vuestra juventud”.
        <br>
        • Es la voluntad de Dios para su pueblo que sea
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        y que se
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        no solamente
        quiere hijos e hijas, Él quiere hijos e hijas piadosos. Una niñez que sea santa y motivada a ver el avance del
        reino de Dios.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        3. El plan de Dios para el matrimonio es que una pareja haga una nueva unidad
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        .
        <br>
        • Génesis 2:24 “Por tanto dejará el hombre a su padre y a su madre, se unirá a su mujer y serán una sola carne”.
        <br>
        • Después de que Dios hizo una mujer para Adam, Él dijo que un hombre
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        a su padre y madre para
        unirse con su esposa. Esto significa que en el matrimonio una pareja está iniciando una nueva unidad familiar.
        <br>
        • Esto significa que la
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        del hombre y de la mujer han cambiado. Su prioridad ahora es su
        matrimonio. Esto es muy importante porque una de las principales razones de divorcio son los suegros.
        <br>
        • Las parejas casadas deben ser muy cuidadosas de esto. El llamado a honrar a sus padres incluso en su vejez
        permanece (1 Timoteo 5: 4-8), pero primeramente deben de honrar a su cónyuge.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • La persona más importante en el mundo para la pareja casada es su
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        , ni más ni menos.
      </p>
      <p>
        4. El plan de Dios para el matrimonio es la
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        .
        <br>
        • Génesis 2:18 “Después dijo Jehová Dios: «No es bueno que el hombre esté solo: le haré ayuda idónea para él”.
        <br>
        • Dios ha puesto un deseo interno en la humanidad para tener compañía
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        .
        <br>
        • Piensa en esto: tenemos aquí a un hombre sin pecado, en comunión perfecta con Dios, en un ambiente perfecto,
        ¿qué más se puede necesitar? ¿no es acaso eso suficiente? De acuerdo con Dios ¡No! La evaluación de Dios fue que
        el hombre necesitaba una compañía humana que le correspondiera.
        <br>
        • Dios hizo al hombre para que se casara con una mujer y la mujer con el hombre. Este es el
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        divino de Dios, y nadie tiene el derecho a cambiarlo.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Descubrimientos de la compañía en el matrimonio
      </b>
      <p>
        A. La compañía requiere que el matrimonio sea
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        una relación.
        <br>
        • Dios no creo un padre y una madre para Adán, ni un hijo, sino una
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        . Un hombre debe aprender
        a dejar a padre y madre para adherirse a su esposa para establecer una relación de una sola carne.
        <br>
        • Esto significa que la relación en el matrimonio es fundamental, no la relación padre-hijo o la relación con
        los suegros.
        <br>
        • Cuando una persona está casada, su relación con su esposa es la
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        importante.
        <br>
        • Muchos matrimonios fallan porque el enfoque está en los niños, padre o suegros a la expensa del otro.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        B. La compañía requiere que el matrimonio sea una
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        .
        <br>
        • Esto viene de ser la relación principal. Tus hijos están contigo en casa unos cuantos años, tu esposa está
        contigo toda la vida. “Adherirse” significa colgarse, sostenerse, como el hueso con la piel. Significa estar
        pegado a algo, así que cuando te casas estás atascado. Después de que Jesús citó este versículo, él añadió “Que
        lo que Dios ha unido, no lo separa el hombre” (Mateo 19:6)
        <br>
        • Esto significa que la relación de matrimonio debe ser construida principalmente sobre el
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        ,
        no en sentimientos de amor romántico. El amor romántico es importante, pero la base del amor es un compromiso de
        voluntad.
        <br>
        • El matrimonio es un
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        ; no es un
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Es un pacto ante Dios (Malaquías 2:14; Proverbios 2:17). El compromiso es lo que sostiene junta a una pareja a
        través de las dificultades que definitivamente vendrán.
        <br>
        C. La compañía requiere que el matrimonio sea una relación
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        .
        <br>
        • El texto dice “a su esposa”, no “esposas”. La monogamia es el diseño de Dios: un hombre y una mujer de por
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        .
        <br>
        • A pesar de que Dios toleró la poligamia en los tiempos del Antiguo Testamento no fue su diseño original. Dios
        fácilmente pudo haber creado muchas esposas para Adán, pero no lo hizo. Un hombre con una mujer para la vida,
        ese es el diseño de Dios.
        <br>
        • Esto significa que cuando una persona se casa se ceden amistades cercanas con otras personas que no sean su
        cónyuge. Tienen una nueva relación con su cónyuge, el cónyuge ahora es la prioridad primaria en términos de
        relaciones humanas.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        D. La compañía requiere que el matrimonio sea una relación
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        .
        <br>
        • “Y serán una sola carne”. Una sola carne enfatiza la unión sexual (1 Corintios 6:16). Pero la unión sexual
        siempre es más que solo física, también hay una unión relacional y emocional.
        <br>
        • La mayoría de los problemas sexuales en el matrimonio brotan de una falla total de intimidad personal. La
        armonía sexual debe construirse en la base de una relación única, permanente y exclusiva que crece en confianza,
        apertura y unidad. Dios nos hizo de esa manera.
        <br>
        E. La compañía requiere que el matrimonio sea una
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        , no un destino.
        <br>
        • La Biblia dice en Génesis 2:24 “Por tanto dejará el hombre a su padre y a su madre, se unirá a su mujer y
        serán una sola carne”.

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • No importa cuan enamorados y apasionados estén el uno por el otro, la verdad es que cuando están casados aún
        no han llegado, simplemente han iniciado un recorrido.
        <br>
        • No es que automáticamente se unen bien juntos, el texto dice “se convertirán en una sola carne”.
        <br>
        • El matrimonio no es una aventura de 90 días, sino un proceso de la vida. ¡Es convertirse en algo!
        <br>
        • Cuando un chico conoce a una chica la primera vez y se disparan sus hormonas de amor, él piensa que es
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        . Unos meses después de haberse casado él se sorprende de que están en un
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        y
        después alguien quiere un
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        .
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Cada persona en la relación de matrimonio

        asegurarse de que, si fuera ideal desde el inicio,
        tendría que ser ideal desde entonces. Desde la perspectiva de Dios cuando se hace un compromiso en el
        matrimonio, no hay tratos nuevos.
        <br>
        • Una cosa es estar casado, otra cosa es
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        . Esta es la responsabilidad y
        prioridad de cada pareja cristiana.
      </p>
      <b>
        El pacto del matrimonio
      </b>
      <p>
        Dios estableció el matrimonio como un
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        , ¡no como un contrato!. Es una
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        basada en
        el compromiso entre un hombre y una mujer (Malaquías 2:14; Proverbios 2:16-17). Es importante entender la
        diferencia entre estos dos. Hay 4 diferencias importantes:
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        1. Un pacto está basado en la
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        entre las partes. Un contrato está basado en la
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        .
        <br>
        2. Un pacto está basado en la responsabilidad
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        . Un contrato está basado en la obligación
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        .
        <br>
        3. Un pacto no puede ser quebrado si ocurren nuevas circunstancias. Un contrato puede ser anulado por
        consentimiento mutuo.
        <br>
        4. Un pacto es
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        . Un contrato tiene una fecha de
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        .
      </p>
      <b>
        El matrimonio y el ministerio
      </b>
      <p>
        Una de las cosas más importantes en el matrimonio es como un obrero cristiano hace un balance entre sus
        responsabilidades ministeriales y sus compromisos familiares. Aquí hay descubrimientos importantes para
        reflexionar para reconciliar ambas:
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        1. No estás casado con tu ministerio. Estás
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        con tu esposo, esposa.
        <br>
        2. No hay cantidad suficiente de éxito en el ministerio que compense tu falta en la familia. Cuando un
        trabajador cristiano comete una falla moral, las personas se olvidan de las victorias ministeriales y los éxitos
        y siempre recordarán tu falla.
        <br>
        3. Si tienes que hacer una elección entre el ministerio o tu cónyuge cuando este está enfermo y necesita tu
        atención, delega tu compromiso ministerial a alguien más y atiende a tu cónyuge.
        <br>
        4. Nunca le digas a una persona que haga algo que tu no has hecho en casa.
        <br>
        5. Como un pastor trate a su esposa es como tratará a la
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        6. La medida en que valores a tu esposa esta mediado por la voluntad de tiempo que estás dispuesto a pasar con
        ella.
        <br>
        7. Ser esposo no es una posición que mantener sino una
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        por desarrollar.
        <br>
        8. El poder en el matrimonio es la
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        de la relación que desarrollen juntos.
        <br>
        9. ¡Nunca hagas una promesa que no puedas cumplir! Es una
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        de confianza en ti.
        <br>
        10. El cambio es inevitable en el ser humano. Si no estás entendiendo que tu pareja está cambiando, entonces el
        matrimonio nunca funcionará. No trates de ganar el mundo para Cristo Jesús y perder tu matrimonio y familia.

      </p>
    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
