<!--
  Generated template for the InformacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="banner-primary">
    <p class="text-banner">
      {{contenido.titulo}}
    </p>
  </div>

  <ion-list>

    <ion-item>
      <ion-label fixed>Usuario</ion-label>
      <ion-input type="text" disabled="true" value="{{contenido.usuario.username}}"></ion-input>
    </ion-item>

    <ion-item>
    <ion-label fixed>Correo</ion-label>
    <ion-input type="text" disabled="true" value="{{contenido.usuario.email}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Celular</ion-label>
      <ion-input type="text" disabled="true" value="{{contenido.usuario.celular}}"></ion-input>
      <button clear item-right icon-only class="imput-buton" (click)="cambiarCelular()"><ion-icon name="md-create"></ion-icon></button>
    </ion-item>

    <ion-item>
      <ion-label fixed>Pais</ion-label>
      <ion-input type="text" disabled="true" value="{{contenido.usuario.pais}}"></ion-input>
    </ion-item>

  </ion-list>
  <ion-grid>
    <ion-row>

      <ion-col col-6>
        <button block ion-button color="secondary" id="btn-home" (click)="cambiarPassword()"><span>Cambiar Contraseña</span> </button>
      </ion-col>

      <ion-col col-6>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <p>
        Version 1.0
    </p>
  </ion-toolbar>
</ion-footer>
