<!--
  Generated template for the Cuestionario5Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/adoracion.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b class="titulo-pregunta"> La importancia de la Oración.</b>
      <p>
        Debemos entender que nuestras oraciones son escuchadas y respondidas no por nosotros, sino por Jesús. Es por eso
        que oramos en Su nombre. Debemos creer que Dios existe y que nuestro Padre Celestial nos quiere recompensar con
        respuestas a las oraciones.
      </p>

      <b class="titulo-pregunta">¿Cómo empezaba Jesús su día?</b>
      <p>
        En Marcos 1:35 Muy de madrugada, cuando todavía estaba oscuro, Jesús se levantó, salió de la casa y se fue a un
        lugar solitario, donde se puso a orar.
      </p>
      <p>
        • Jesús siempre empezaba su día con oración. Jesús es nuestro ejemplo de oración. Él buscaba ese lugar tranquilo
        y
        callado donde podía hablar con su Padre Celestial en el Cielo.

        <br>
        • La comunión diaria con nuestro Padre Celestial es esencial y la oración es la forma en la que hacemos eso.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • El apóstol Pablo nos dice que debemos orar sin cesar en 1 Tesalonicenses 5:17.
      </p>
      <p>
        • La oración fue una prioridad y un tiempo invaluable en la vida diaria de Jesús, y Él mantuvo una actitud de
        constante oración durante el día.
      </p>

      <b class="titulo-pregunta">¿Qué es la oración?</b>
      <p>
        • La oración es un diálogo, una
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        con tu Padre Celestial. A través de la oración compartes con Él todo lo que está en tu corazón. Mateo 6:5-6:
        Cuando oren, no sean como los hipócritas, porque a ellos les encanta orar de pie en las sinagogas y en las
        esquinas de las plazas para que la gente los vea. Les aseguro que ya han obtenido toda su recompensa. 6 Pero tú,
        cuando te pongas a orar, entra en tu cuarto, cierra la puerta y ora a tu Padre, que está en lo secreto. Así tu
        Padre, que ve lo que se hace en secreto, te recompensará.

      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • La oración es hablar y tener una conversación con Dios como un padre la tendría con su hijo. Cuando le hablas
        a Dios, no hay necesidad de repetir frases sin entendimiento muchas veces. Le puedes hablar de la misma forma en
        que le hablas a tu padre.
      </p>

      <b class="titulo-pregunta">¿Por qué debes de orar en el nombre de Jesús?</b>

      <p>
        • Jesús es la única persona sin pecado, y aunque Él es Dios en forma humana, Él murió por tus pecados y resucitó
        de la muerte.
      </p>
      <p>
        • Su nombre es el único que es reconocido por Dios en el cielo. Cualquier cosa que pidas en nombre de cualquier
        otra persona Dios no responderá tus oraciones. Hechos 4:12 De hecho, en ningún otro hay salvación, porque no hay
        bajo el cielo otro nombre dado a los hombres mediante el cual podamos ser salvos»
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • El nombre de Jesús tiene poder y autoridad en el Cielo, en la Tierra
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        de la tierra.
      </p>

      <p>
        • Tiene el poder de
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
      </p>
      <p>
        • Tiene el poder de
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
      </p>
      <p>
        • Tiene el poder de
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        a los cautivos en libertad.
      </p>
      <p>
        • Tiene el poder de
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
      </p>

      <p>
        • Te empodera para hacer cualquier cosa que Él te pida hacer.
      </p>

      <b class="titulo-pregunta">¿Cómo orar efectivamente?</b>
      <p>
        • Ora al Padre en el nombre de Jesús. Juan 16:23 En aquel día ya no me preguntarán nada. Ciertamente les aseguro
        que mi Padre les dará todo lo que le pidan en mi nombre.
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        • Ora en línea con la
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        de Dios. 1 Juan5:14-15 Esta es la confianza que tenemos al acercarnos a Dios: que, si pedimos conforme a su
        voluntad, él nos oye. <sup>15</sup>Y, si sabemos que Dios oye todas nuestras oraciones, podemos estar seguros de
        que ya
        tenemos lo que le hemos pedido.
      </p>
      <p>
        Por ejemplo, sabes que la voluntad de Dios para ti es que seas sano, libre y próspero. Por lo tanto, si le pides
        a Dios que te sane, Él te sanará. Puedes tener la seguridad total de que cuando le pides a Dios cualquier cosa
        que esté en línea con Su palabra, tu oración será contestada.
      </p>

      <p>
        • Ora con
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        y fe. Hebreos 4:16 y Hebreos 11:6. Dios es tu Padre Celestial. Cuando oras no te estás acercando con miedo de
        ser rechazo o castigado. Acércate con confianza y fe porque Él te va a escuchar y te dará los deseos de tu
        corazón. Él es tu padre y te dará lo que necesites.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Se
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        cuando ores. Filipenses 4:6 <sup>6</sup>No se inquieten por nada; más bien, en toda ocasión, con oración y
        ruego,
        presenten sus peticiones a Dios y denle gracias. Cuando termines de pedirle a Dios las cosas que necesitas debes
        terminar tu oración con acción de gracias porque sabe que Él te ha escuchado y ha respondido tus oraciones.
      </p>

      <b class="titulo-pregunta">¿Por qué debes de orar?</b>
      <p>
        • Para desarrollar una
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        cercana con Dios.
      </p>

      <p>
        • Para pedir y recibir cualquier cosa que el
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        necesite de Dios.
      </p>

      <p>
        • Para evitar caer en
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • Para luchar
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        el enemigo. Mateo 26:39-41. Yendo un poco más allá, se postró sobre su rostro y oró: «Padre mío, si es posible,
        no me hagas beber este trago amargo. <sup>[c]</sup>Pero no sea lo que yo quiero, sino lo que quieres tú». <sup>40</sup>Luego
        volvió
        adonde estaban sus discípulos y los encontró dormidos. «¿No pudieron mantenerse despiertos conmigo ni una hora?
        —le dijo a Pedro—. <sup>41</sup>Estén alerta y oren para que no caigan en tentación. El espíritu está dispuesto,
        pero el
        cuerpo<sup>[d]</sup> es débil».
      </p>

    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">¿Qué obstáculos interfieren con las respuestas a tus oraciones?</b>
      <p>
        • La duda: Santiago 1:6-7 Pero que pida con fe, sin dudar, porque quien duda es como las olas del mar, agitadas
        y llevadas de un lado a otro por el viento. 7 Quien es así no piense que va a recibir cosa alguna del Señor.
        Cuando dudas, tu corazón y mente se
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        entre dos pensamientos. No hay espacio en tu corazón o mente para pensar si Dios está escuchándote o no, o si es
        verdad que Dios responde las oraciones de Su pueblo. No puedes estar diciendo “Creo que Dios me escucha”. Cuando
        te acercas a Dios, aunque no lo puedas ver físicamente, Él te escucha y está atento a tus oraciones. Jesús animó
        a sus seguidores a creer que mientras oraban recibían sus respuestas.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        maritales (incluyendo abusos verbales, emocionales y físicos). I Pedro 3:7. Los
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        maritales son lo mismo que el abuso personal porque en el matrimonio son
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        carne. Como hijo de Dios también estarías maltratando a Jesús si maltratas a tu pareja.
      </p>


      <p>
        • Falta de
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        Otro obstáculo en tus oraciones es la falta de compromiso. A las personas les cuesta comprometerse a la oración
        diaria porque no es una prioridad en sus vidas. Por esta razón no pueden
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        en Dios. Estar comprometido en oración significa tomar la decisión de orar con todo el corazón y por un largo
        tiempo.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        • La falta de
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        Los creyentes necesitan aprender a auto disciplinarse en su tiempo de oración. Para alcanzar un tiempo de
        oración largo y constante con Dios debes disciplinar tu cuerpo. La falta de disciplina es un gran enemigo de
        nuestro tiempo de oración. Toma la decisión de orar al menos 15 – 20 minutos diarios. Una vez que estés cómodo
        con esta cantidad de tiempo incrementa tu tiempo de oración hasta que alcances la disciplina en tu vida de
        oración con Dios.
      </p>

      <p>
        • El perdón
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        es un problema que siempre se interpone entre tu y tu comunicación completa con el Señor. Marcos 11:25. Y cuando
        estén orando, si tienen algo contra alguien, perdónenlo, para que también su Padre que está en el cielo les
        perdone a ustedes sus pecados.[h]Esta escritura claramente indica que...
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        necesitamos el
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        de Dios para ser efectivos en la oración. Este perdón solo viene a medida que perdonamos a otros. El perdón
        también libera a la otra persona o cambia las circunstancias que causaron el conflicto. Le permite al Espíritu
        Santo trabajar, convencer de pecado y de juicio. Debes perdonar a la persona que te hizo mal.
      </p>
      <p>
        • <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        Muchas veces vas a encontrar que es más fácil perdonar a aquellos te maltrataron que perdonarte a ti mismo.
        Continuas con la autocrítica y la auto condenación en tu corazón en relación a tu participación, en haberte
        producido dolor o dolor a otras personas...
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        El perdón total incluye pedirle a Dios perdón, perdonar a otros y
        perdonarte a ti mismo Decide perdonar a otros, así como Dios te ha perdonado, y hazlo inmediatamente al tiempo
        de
        la ofensa, como Jesús lo hizo. (Lucas 23:34).
      </p>
      <p>
        • Darte por vencido muy pronto. Muchas oraciones
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        se responden porque nos rendimos muy fácilmente. El señor desea que esperemos en Él fielmente. Él dice: pide,
        busca, toca la puerta (Mateo7:7) que es una progresión de la profundidad de nuestra oración. ¿Recuerdas la
        historia de la persona persistente que le pidió a su amigo pan en medio de la noche? Eventualmente su
        persistencia determinada trajo éxito. (Lucas 11:5-8). Y así es como Jesús nos instruye a orar, no dándonos por
        rendidos hasta que la respuesta venga. Cuando aprendemos de la vida de oración de Jesús, concluimos que Él oraba
        todo el tiempo, en cualquier lugar por muchas horas. Él oraba solo.
      </p>
    </ion-slide>



  </ion-slides>

</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
