<!--
  Generated template for the Cuestionario22Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Venciendo la tentación</b>
      <p>
        Alguien dijo “Tengo una buena razón para que camines lejos de la tentación ahora mismo. Una razón: Dios es
        mejor” anónimo.
      </p>

    </ion-slide>


    <ion-slide>

      <b>
        1. El origen de la tentación
      </b>
      <p>
        • Génesis 3:1 “La serpiente era más astuta que todos los animales del campo que Jehová Dios había hecho, y dijo
        a la mujer: —¿Conque Dios os ha dicho: “No comáis de ningún árbol del huerto?”
        <br>
        • Génesis 3:3-5 “3 pero del fruto del árbol que está en medio del huerto dijo Dios: “No comeréis de él, ni lo
        tocaréis, para que no muráis.”4 Entonces la serpiente dijo a la mujer: —No moriréis. 5 pero Dios sabe que el día
        que comáis de él serán abiertos vuestros ojos y seréis como Dios, conocedores del bien y el mal”.
        <br>
        La tentación inicia con una
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        : “Dios ha dicho ¿no comerás de todos los árboles del jardín?
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        El diablo siempre sigue con una
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        . Génesis 3:4 “No morirás” Le respondió la serpiente a la mujer. Tan
        pronto estás convencido a pecar, caes en la
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        . Génesis 3:6 “ Al ver la mujer que el árbol era bueno
        para comer, agradable a los ojos y deseable para alcanzar la sabiduría, tomó de su fruto y comió; y dio también
        a
        su marido, el cual comió al igual que ella”.
        <br>
        Rendirse ante la tentación
        <br>
        • El lindo paisaje, el panorama agradable, la mirada deliciosa es permitida que
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        a tu corazón y la
        confieses con la boca.
        <br>
        • La mujer vio el árbol y vio que era agradable a sus
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        .
        <br>
        • La tentación entra a nuestra vida
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        de nuestros ojos y oídos.
        <br>
        • Lo que vemos y escuchamos puede ser un
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        para la tentación.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        2. ¿Quién pasa por la tentación?
      </b>
      <p>
        • Todos están
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        al pecado.
        <br>
        • Dios nunca está tentado a hacer lo malo. Dios nunca tienta a nadie.
        <br>
        • La tentación viene de nuestros propios deseos. Nuestros propios deseos nos arrastran a los deseos
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        .
        <br>
        • Santiago 1:14 “sino que cada uno es tentado, cuando de su propia pasión es atraído y seducido”.
        <br>
        • Estos deseos pecaminosos dan
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        al pecado. Cuando se permite que el pecado crezca, da a luz a la

        .
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        3. Dios siempre da un plan de escape
      </b>
      <p>
        • 1 Corintios 10:13 “No os ha
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        ninguna prueba que no sea humana; pero fiel es Dios, que no os
        dejará ser probados más de lo que podéis resistir, sino que dará también juntamente con la prueba la salida,
        para que podáis soportarla”.
        <br>
        • Las tentaciones son
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        al hombre: el rey David habló de la lujuria de los ojos y la lujuria de
        la carne.
        <br>
        • Dios nunca permitirá de que seas tentado más allá de tu
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        para hacerle frente.
        <br>
        • Cuando eres tentado Dios creará una ruta de
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        . José escapó de la esposa de Potifar.
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        4. Cómo vencer la tentación
      </b>
      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        y ora. Mateo 26:41 “41 Velad y orad para que no entréis en tentación; el espíritu a la verdad
        está dispuesto, pero la carne es débil”. Lucas 22:40 “Cuando llegó a aquel lugar, les dijo: —Orad para que no
        entréis en tentación”.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        quien eres en Cristo. Has sido hecho justo. 2 Corintios 5:21 “Al que no conoció pecado, por
        nosotros lo hizo pecado, para que nosotros seamos justicia de Dios en él”.
        <br>
        • Conoce tu
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        como hijo de Dios. La autoridad es tu derecho a usar el poder de Dios al hacer cumplir
        Su palabra sobre nuestra situación. 1 Juan 4:4 “Hijitos, vosotros sois de Dios y los habéis vencido, porque
        mayor
        es el que está en vosotros que el que está en el mundo”
        <br>
        <br>
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        de ella. A menudo la mejor forma de vencer la tentación es simplemente huyendo. Hay algunas
        tentaciones tales como la de la carne en la que somos demasiado débiles en algunos momentos para
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        .
        La mejor manera para ser victoriosos en esos momentos es simplemente yéndose, corriendo, huyendo, tomando un
        taxi.
        •
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        la palabra de Dios. Como creyente tener la Biblia no es suficiente, necesitas estudiarla
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        , con determinación y sinceridad del propósito. Cristo, nuestro ejemplo perfecto, venció la
        tentación con la palabra de Dios. En cada instancia Él le recordó al diablo “escrito está”. Como creyente,
        necesitas hacer de la Biblia tu mejor compañera y referirte a ella cuando estés tentado por el diablo.
        <br>


      </p>


    </ion-slide>

    <ion-slide>

      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        con otros creyentes. La Biblia dejó bien claro que estamos en el mundo pero que no somos del
        mundo, no podemos huir del mundo físico pero debemos vivir con gracia para poder vencer cualquier tentación que
        venga en nuestro camino. Sin renunciar a la reunión conjunta (Hebreos 10:25) esta es la parte de la escritura a
        la que te tienes que referirte cuando los pensamientos de aislarte de otros creyentes vengan a tu mente.
        Necesitamos la compañía de otros creyentes para crecer en la fe, conquistar los miedos y expandir el reino de
        Dios.

      </p>

    </ion-slide>


    <ion-slide>

      <p>
        • Cantar canciones de
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        . Cantar canciones cristianas que mantienen tu
        espíritu vivo deben formar parte de tu diario vivir como creyente.
        <br>
        • Debes estar al tanto de pecados que
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        . La Biblia nos amonesta de evitar malas compañías,
        apariencias perversas y los pecados que continuamente nos acosan (Hebreos 12:1). Mantenernos alejados de agentes
        de tentación puede ayudarnos a vencer las tentaciones como creyentes. 1 Tesalonicenses 5:22 “abstenerse de
        cualquier forma de maldad”.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        al diablo: Cristo nuestro Señor resistió al diablo durante su tiempo en la tierra. Él nos ha
        asegurado en el libro de Santiago 4:7 que, si resistimos al diablo, él huirá de nosotros. Además de las
        oraciones, la meditación y los cantos, hay situaciones que necesitan tu rechazo inmediatamente de la seducción
        de Satanás.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
