<!--
  Generated template for the Cuestionario13Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">El arte de delegar</b>

      <p>

        “Desde temprana edad aprendí a enfocarme en las cosas en las que yo era bueno, y a delegar a otros aquello en lo
        que no era bueno. Así es como funciona Virgin. Personas fantásticas en el grupo Virgin mueven nuestro negocio,
        permitiéndome a mi pensar creativa y estratégicamente”. Richard Branson.


      </p>
      <p>
        Hemos discutido brevemente la importancia de la toma de
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        y cuan importante esto es para el
        liderazgo efectivo. El siguiente asunto que es crucial para un liderazgo efectivo es reconocer y practicar el
        principio de
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        . Ahora veremos algunos de los aspectos básicos que esto implica.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        El liderazgo es la responsabilidad dada por Dios
        Sabemos que un líder efectivo es un
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        sabio, pero algunas cosas nunca deben ser delegadas y la
        responsabilidad final del
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        es una de esas. Moisés se convirtió en un expositor efectivo
        delegando, pero él se mantuvo como líder
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        de Dios para el pueblo de Israel.
      </p>
      <p>
        La mayoría de iglesias que están experimentando un
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        dramático tienen un equipo pastoral o
        ministerial, y desarrollan
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        para un buen equipo ministerial. Sin embargo, alguien tiene que ser
        el líder de ese equipo. En un escenario de iglesia el pastor principal es esa persona. El puede funcionar con
        cualquiera de una variedad de
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        de equipos de liderazgo, pero él debe estar al final de ese
        proceso de liderazgo.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        Él es responsable delante de Dios de proveer inspiración y
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        para la iglesia. Él puede trabajar
        con una junta de diáconos o ancianos, pero su
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        final es para Dios.
      </p>
      <p>
        Un líder no puede ni debe trabajar solo. Sus habilidades personales son extremadamente limitadas si intenta
        trabajar
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        . Una de las habilidades más importantes que debe aprender y practicar es la de
        delegar, y como construir un equipo
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        .
      </p>
      <p>
        Definición de delegar: <br>
        • Confiar el desempeño de la
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        hecha por el otro.
        • Autorizar a otro para actuar de tu
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        El éxito de delegar depende de
      </p>
      <p>
        • Reconocer la
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        para delegar.
        • Reconocer aquellas
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        que deben ser delegadas.
        • Reconocer aquellas tareas que no pueden ser delegadas.
      </p>
      <p>
        Hay tres actitudes comunes en relación a delegar
      </p>
      <p>
        • Aquellos que no delegan
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        • Aquellos que delegan
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        • Aquellos que
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        lo que sí se puede delegar y lo que no se puede delegar.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Delegar es un concepto bíblico
      </b>
      <p>
        1. Dios delegó a su hijo para redimir a la humanidad
        En el gran propósito de
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        , Dios envió a Su Hijo al mundo de parte suya para comprar
        nuestra salvación. Jesús dijo “He venido para hacer tu Voluntad oh Dios” (Hebreos 10:7). Dios delegó a su hijo
        para ser nuestro redentor.
      </p>
      <p>
        2. Moisés delegó a ancianos de Israel para que gobernaran con él.
        En Éxodo 18:13-27 tenemos una de las explicaciones y ejemplos más exquisitos de delegar. Jetro, el suegro de
        Moisés,
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        a su yerno en la necesidad y arte de este estilo de liderazgo. Los principios
        que Jetro compartió son actuales y usados ampliamente en todas las áreas de liderazgo incluyendo grandes
        compañías corporativas del mundo.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        3. Jesús delegó a sus discípulos
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        el mundo.
      </p>
      <p>
        Es un ejercicio interesante observar que Jesús escogió su estilo de liderazgo para establecer Su Iglesia y el
        Reino de Dios. De hecho, Él adoptó los mismos principios que el Padre había utilizado con él cuando lo
        comisionó. “Así como el Padre me envió, yo los envío a ustedes”. El Padre señaló a Jesús para ser el redentor de
        la humanidad. Él le delegó la tarea de lograr la redención.
        <br>
        4. Dios nos ha delegado a nosotros
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        la Tarea.
        <br>
        De manera similar Jesús delegó a Sus discípulos lograr la tarea de proclamar las Buenas Nuevas del Reino por
        todo el mundo. En el proceso para lograr esto también debemos utilizar el proceso de delegación.
        <br>
        Delegar sabiamente involucra:
        a. Señalar a la
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        correcta.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        Esto puede parecer tan obvio que difícilmente requiere énfasis. Sin embargo, es tan obvio que las personas
        usualmente están designadas para completar tareas para las cuales no están diseñadas. Hay varias razones para
        esto, una de ellas es la conveniencia. La persona correcta no parece estar disponible así que se señala a
        alguien más. Esto sucede con frecuencia porque el tiempo de Dios no se discierne apropiadamente.
      </p>
      <p>
        b. En el
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        correcto. <br>
        El tiempo de Dios en estos asuntos es crucial. En el tiempo correcto Dios usualmente tiene a las personas
        correctas. Necesitamos aprender a discernir, y a movernos en el tiempo de Dios para el cumplimiento de Sus
        propósitos. Esto requiere “esperar en el Señor” consistentemente. Sensibilidad a Dios y obediencia en el caminar
        a Dios paso por paso en el desarrollo de Sus propósitos.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        c. Las
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        correctas. <br>
        Una persona comisionada a la tarea equivocada es como David tratando de utilizar la armadura de Saúl,
        simplemente no les queda. Pero una vez que alguien es asignado en el rol en el que realmente le queda su
        temperamento y don, empiezan a trabajar con entusiasmo y dedicación, alcanzando excelentes resultados.
      </p>

    </ion-slide>
    <ion-slide>

      <b>
        El proceso de delegación
      </b>
      <p>
        Aquí hay una breve descripción del proceso de delegación
        a. Seleccionar y
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        la Tarea. <br>
        La tarea general debe ser dividida en sus diferentes partes. En un escenario de iglesia esto puede incluir al
        pastor general, el pastor asociado, ministro de música, ministro de evangelismo, ministro de ministerios de
        niñez, cuidado pastoral, etc. También puede haber un administrador, secretario, tesorero y más. Estos roles
        deben definirse con claridad, el designado debe saber que tareas le corresponden y sobre que aspectos debe dar
        cuentas.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        b.
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        las personas correctas. <br>
        Las personas escogidas y señaladas para las diferentes tareas deben ser: <br>
        • Capaces de realizar la tarea o aprender a como desarrollarla. <br>
        • Deseosas de trabajar duro para el desarrollo de su tarea. <br>
        • Capaces de trabajar en armonía con otros miembros del equipo.
      </p>
      <p>
        c.
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        claramente. <br>
        Las tareas y responsabilidades se deben de comunicar con claridad. La mejor manera de hacer esto es ponerlas por
        escrito en una descripción del trabajo. Esto incluirá el rol de la persona, el título del puesto, a quién deben
        de
        dar respuesta por su trabajo y sus responsabilidades específicas.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        d.
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        responsabilidades. <br>
        La descripción del trabajo describirá cada tarea en la que la persona designada será responsable. Deben ser
        informados con claridad acerca del desempeño que su tarea requiere y lo que en general se espera de ellos.
        Obviamente todo esto será comunicado en conversación y el pastor general debe asegurarse que las personas
        designadas entiendan todo lo que se requiere de ellos.
      </p>
      <p>
        e.
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        la autoridad adecuada. <br>
        Una vez que la persona ha sido asignada, su autoridad debe ser reconocida. Debe ser la suficiente para que ellos
        puedan cumplir adecuadamente cada aspecto de su rol.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        f. Requiere
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        <br>
        A pesar de que el asignado tiene suficiente autoridad para proceder con sus tareas, también debe ser un
        requisito estar reportando su trabajo regularmente. Esto se puede realizar con alguna metodología para que sea
        posible proveer un reporte total del progreso y de los problemas de manera regular. Esto se puede hacer en algún
        grado en las reuniones de personal, pero también se deben dar oportunidades regulares para que puedan ser
        personalmente detalladas por la persona supervisora.
      </p>
    </ion-slide>
    <ion-slide>


      <p>
        g.
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        y evaluar. <br>
        La eficiencia y la efectividad del trabajador debe ser supervisado y evaluado consistentemente. Usualmente se
        requerirán cambios y ajustes de tiempo en tiempo para hacer el rol más productivo.
      </p>


      <p>
        h. Elogiar y
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        los logros. <br>
        Cada miembro del equipo debe ser capaz de compartir el botín del triunfo, y disfrutar del fruto de su trabajo.
        El líder del equipo siempre debe reconocer el trabajo bien hecho. Siempre debe dar ánimo y exhortaciones
        positivas.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Delegar sabia y efectivamente
      </b>
      <p>
        a.
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        la efectividad. <br>
        Puedes multiplicar tu efectividad muchas veces mediante la delegación sabia. Al delegar a otras tareas que te
        consumen, te puedes concentrar en las cosas que específicamente requieren de tu experticia.
      </p>
      <p>
        b.
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        un equipo efectivo. <br>
        La mayoría de iglesias que están viviendo un crecimiento exponencial están utilizando equipos ministeriales. Una
        vez que una congregación crece superando a unos cuantos cientos de miembros es casi imposible para una persona
        cuidar adecuadamente de ellos. Un equipo trabajando en armonía puede lograr mucho más que un líder solo. Hay
        muchas más habilidades disponibles para cubrir una gran variedad de necesidades.
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        c.
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        nuevas habilidades en otras personas. <br>
        Las situaciones de equipos ministeriales son los mejores ambientes para animar en el desarrollo de habilidades
        ministeriales en otras personas. La estructura de equipos permite buenas oportunidades para discipular y que
        otros se desarrollen.
      </p>
      <p>
        d.
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        tareas mayores. <br>
        Un equipo fuerte puede realizar y lograr tareas mucho más amplias que lo que puede un líder solo. Si tienes una
        visión de realizar una gran tarea debes empezar a construir un equipo fuerte de trabajadores alrededor tuyo
        desde las etapas iniciales. Nunca es demasiado temprano para empezar a formar las bases de tu equipo. Incluso la
        iglesia más pequeña puede empezar a poner las bases para un equipo fuerte.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        e.
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        más creyentes. <br>
        Un aspecto integral del mundo del evangelismo es “hacer discípulos” (Mateo 28:19). El proceso de discipulado
        puede ser más efectivo aplicado dentro de una iglesia donde la estructura emplea la delegación de tareas y
        ministerios. La filosofía de delegar y el equipo ministerial anima el uso de más personas en el trabajo de la
        iglesia. Esto anima a las personas a involucrarse en el discipulado porque hay más oportunidades para que ellos
        utilicen sus habilidades y las desarrollen.
      </p>
    </ion-slide>
    <ion-slide>

      <p>
        f.
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        el ejército de Dios. <br>
        El ejército de Dios requiere rangos y estructuras de autoridad que pueden desarrollarse con mayor rapidez en una
        situación donde haya estructuras de autoridad.
      </p>
      <p>
        g.
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        el reino de Dios. <br>
        La regla del Reino de Dios está basada en dos principios <br>
        a. La autoridad de Dios. <br>
        b. Nuestra sumisión a esa autoridad.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
