<!--
  Generated template for the Cuestionario30Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/relaciones.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>


      <b class="titulo">El Valor del trabajo en equipo</b>

      <p>

        “La habilidad del esfuerzo individual es limitado y por tanto alcanza menos, el esfuerzo de equipo rompe límites
        y es capaz de alcanzar más. Solos podemos hacer muy poco, juntos podemos hacer tanto”. Hellen Keller
        <br> <br>
        “El trabajo en equipo divide la tarea y multiplica el éxito” Desconocido
        <br> <br>
        Colosenses 3:17 “ Y todo lo que hacéis, sea de palabra o de hecho, hacedlo todo en el nombre del Señor Jesús,
        dando gracias a Dios Padre por medio de él”


      </p>

    </ion-slide>


    <ion-slide>
      <b>
        A. Introducción
      </b>
      <p>
        Génesis 1:26 “Entonces dijo Dios: «Hagamos al hombre a nuestra imagen, conforme a nuestra semejanza; y tenga
        potestad sobre los peces del mar, las aves de los cielos y las bestias, sobre toda la tierra y sobre todo animal
        que se arrastra sobre la tierra”.
        <br>
        • El concepto de
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        fue formado inicialmente en la mente de Dios cuando creo al ser humano. Así
        que el espíritu de equipo ya está
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        en el ser humano. Fuimos
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        en esta unión de
        Dios Padre, Dios Hijo y Dios Espíritu Santo. Así que, en el mismo concepto la humanidad nació mediante la
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        del hombre y la mujer (es la semilla del hombre y la semilla de la mujer lo que forman un
        cuerpo físico y después el Espíritu de Dios da el aliento de vida).
        Génesis 2:18 “Después dijo Jehová Dios: «No es bueno que el hombre esté solo: le haré ayuda idónea para él”

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • El trabajo en equipo es un
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        del Reino; el diablo es quien rompe y divide el equipo, ama
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        un equipo.
        <br>
        Efesios 2:2 “en los cuales anduvisteis en otro tiempo, siguiendo la corriente de este mundo, conforme al
        príncipe de la potestad del aire, el espíritu que ahora opera en los hijos de desobediencia”.
        <br>
        • El diablo es el ladrón, quien roba, mata y
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        ; Juan 10:10
        • Si el equipo
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        en desunión y desorganización, la misión será
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        y poco o nada
        será completado.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        B. Lo que la Biblia dice del trabajo en equipo
      </b>
      <p>
        Salmo 133:1 “¡Mirad cuán bueno y cuán delicioso esque habiten los hermanos juntos en armonía!”
        <br><br>
        • Se ve bien y es agradable ante los
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        de Dios.
        <br>
        • También es la
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        de Dios, la unidad.
        <rb></rb>
        • Es una acción que
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        el corazón de Dios.
        <br>
        Eclesiastés 4 :9-12 “9 Mejor son dos que uno, pues reciben mejor paga por su trabajo. 10 Porque si caen, el uno
        levantará a su compañero; pero ¡ay del que está solo! Cuando caiga no habrá otro que lo levante. 11 También, si
        dos duermen juntos se calientan mutuamente, pero ¿cómo se calentará uno solo? 12 A uno que prevalece contra
        otro, dos lo resisten, pues cordón de tres dobleces no se rompe pronto”.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Es más
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        .
        <br>
        • No hay falta de
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        .
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        ofensiva y defensiva.
        <br>
        Proverbios 27:17 “El hierro con hierro se afila, y el hombre con el rostro de su amigo”.
        <br><br>
        • La
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        en opinión hace el trabajo interesante.
        <br>
        • La
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        positivo es saludable.
        <br>
        • La
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        de personalidades y actitudes distintas producen un equipo fuerte.
        <br>
        1 Corintios 3:9 “ porque nosotros somos colaboradores de Dios, y vosotros sois labranza de Dios, edificio de
        Dios”.
        <br><br>
        • Somos llamados a ser
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        El para la gran cosecha.
        <br>
        • Somos llamados a
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        el cuerpo de Cristo.
        <br>
        • Somos llamados para la
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        de Su Reino.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        C. El trabajo en equipo
      </b>
      <p>
        • Un grupo de personas que se
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        para trabajar una tarea específica.
        <br>
        • Un grupo de personas que trabajan
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        para alcanzar una meta.
        <br>
        • Un grupo de personas que intentará
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        usando sus habilidades individuales para proveer una
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        constructiva a pesar de cualquier conflicto que pueda surgir durante el proceso entre los
        individuos.
        <br><br>
        El trabajo en equipo juega una parte vital para cumplir un objetivo o alcanzar una meta.
      </p>
      <p>

        <b>Las 4 etapas de la formación de equipo</b>
        <br><br>
        <b>
          1. Formación:
        </b>
        proceso de
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        (ejercicio de entrenar y equipar).
        • Jeremías 1:5 «Antes que te formara en el vientre, te conocí, y antes que nacieras, te santifiqué, te di por
        profeta a las naciones.»
      </p>

    </ion-slide>

    <ion-slide>

    </ion-slide>
    •	Dios nos conoce <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>.
    •	Dios sabe en quienes nos  <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>.
    •	Dios nos destinó para Su <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>.
    •	El propósito de Dios en nuestras vidas individuales siempre <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>.

    <ion-slide>

      <p>
        <b>
          2. Lluvia de ideas:
        </b>
        <br><br>
        relaciones que hacen
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        (ejercicio de mezcla)
        <br>
        • 1 Corintios 12: 27-28 “27 Vosotros, pues, sois el cuerpo de Cristo y miembros cada uno en particular. 28 Y a
        unos puso Dios en la iglesia, primeramente apóstoles, luego profetas, lo tercero maestros, luego los que hacen
        milagros, después los que sanan, los que ayudan, los que administran, los que tienen don de lenguas”.
        <br>
        • Dios nos ha dado a cada uno
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        .
        <br>
        • Somos
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        del cuerpo de Cristo.
        <br>
        • Entonces somos
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        del equipo.
        <br>
        • Diferentes talentos y llamados pero todas partes del
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        de Cristo.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Nuestra parte es
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        el uno con el otro para la vida del Cuerpo.
        <br>
        • Mateo 22:37-39 “37 Jesús le dijo: —“Amarás al Señor tu Dios con todo tu corazón, con toda tu alma y con toda
        tu mente.”38 Éste es el primero y grande mandamiento. 39 Y el segundo es semejante: “Amarás a tu prójimo como a
        ti mismo.”
        <br>
        • Este
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        es orientado al equipo, Dios, tu y tus vecinos.
        <br>
        • Es importante desarrollar un ambiente de trabajo
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        para el equipo.
        <br>
        • También es importante mantener nuestra
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        con otros.
        <br>
        • Como creyentes el amor es la
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        de nuestra formación de equipo. (Efesios 4:2).
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        <b> 3. Normativa:</b>
        <br><br>
        el
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        (incluye el ejercicio de construcción de equipo)
        <br>
        • Salmo 33:11 “El plan de Jehová permanecerá para siempre; los pensamientos de su corazón, por todas las
        generaciones”.
        <br>
        • Es vitalmente
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        buscar la voluntad y el propósito de Dios primero. Proverbios 19:21 “Muchos
        pensamientos hay en el corazón del hombre, pero el consejo de Jehová es el que permanece”
        <br>
        • Presenta el
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        ante Dios. Proverbios 16:3 “Encomienda a Jehová tus obras y tus pensamientos
        serán afirmados”.
        <br>
        • Trabaja como equipo para
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        el plan. Proverbios 20:18 “Los pensamientos se ordenan con el
        consejo, y con dirección sabia se hace la guerra”.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        Proverbios 15:22 “Los pensamientos se frustran donde falta el consejo, pero se afirman con los muchos
        consejeros”.
        <br>
        • Los miembros de equipo deben
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        la tarea apropiándose de ella, con sentido de pertenencia.
        Isaías 32:8 “Pero el noble piensa con nobleza, y por su nobleza será enaltecido”. Salmo 20:4 “Te dé conforme al
        deseo de tu corazón y cumpla todos tus planes”.
        <br><br>
        <b>
          4. Desempeño:
        </b>
        <br>
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        (Misión, incluye la activación de dones y talentos)
        <br>
        • El trabajo en equipo hace que el sueño funcione.
        <br>
        • Efesios 2:10 “pues somos hechura suya, creados en Cristo Jesús para buenas obras, las cuales Dios preparó de
        antemano para que anduviéramos en ellas”.
        <br>
        • El trabajo debe ir con la
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        .
        <br>
        • El trabajo en equipo es una
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        poderosa para cumplir la meta.
        <br>

      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • El trabajo en equipo también es una
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        poderosa para enfrentar obstáculos.
        <br>
        • Trabajar como un equipo para
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        los resultados deseados.
        <br>
        • Recuerda esto: un equipo puede cumplir o romper el sueño (los 12 espías en Números 13 y 14)
        <br>
        • 3 Juan 1:8 “Nosotros, pues, debemos acoger a tales personas, para que cooperemos con la verdad”.
        <br>
        • Los miembros deben sentirse
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        el uno con el otro.
        <br>
        • Tiene que haber una actitud de
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        en el equipo.
        <br>
        • Trabajar juntos es
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        para el éxito.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        puede ser cumplido.
        <br>
        • Efesios 4:12 “12 a fin de perfeccionar a los santos para la obra del ministerio, para la edificación del
        cuerpo de Cristo
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        <b>
        D. El trabajo en equipo y CMFI
        </b>
        <br><br>
        La Visión: La Comunidad Internacional de la Misión Cristiana existe para exaltar al Señor Jesucristo y para
        proclamar Su evangelio, para entrenar y animar a los creyentes, para desarrollar una relación de amor y cuido
        entre ellos y para poner la misión mundial como prioridad.
        <br>
        • En todo lo que el equipo está
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        en esta visionaria declaración y los miembros del equipo deben
        <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        saberla, entenderla y abrazarla.
        <br>
        • Solamente entonces un
        <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        en el equipo.
        <br>
        • Como miembro de CMFI , el trabajo en equipo no es opcional, es
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        . CMFI no es solamente es una
        iglesia o un movimiento, es un equipo, somos
        <br>
        o Cristianos
        <br>
        o Misioneros
        <br>
        o Comunidad
        <br>
        o Internacionales
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        Este estudio da cuenta de que la visión de CMFI es nacionalmente abrazada, regionalmente abrazada,
        internacionalmente enfocada , y centrada en el Reino.
        <br><br>
        • El movimiento inició, se preparó y floreció del
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        un joven.
        <br>
        • En los humildes
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        , a través de persecuciones, dolor, sufrimientos y necesidades y todos los
        demás obstáculos, el equipo
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        gestionar su meta.
        <br>
        • El creciente número de seguidores se convirtió en la base para el movimiento que Dios
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        a
        través de su siervo el reverendo Suliasi Kurulo.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • El
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        probó ser muy efectivo social, relacional y económicamente
        durante todos estos años.
        <br> <br>
        • A través del trabajo en equipo
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet('64')">{{respuestas[64].text}}</label>
        ahora está conduciendo a fondo trabajos comunitarios, trabajos
        misioneros, plantación de iglesias y estableciendo iglesias localmente y en las naciones alrededor del mundo.
        <br> <br>
        Si CMFI es
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        bíblicamente y si es un movimiento
        <label class="respuesta corta" [style.color]="respuestas[66].color" (click)="openActionSheet('66')">{{respuestas[66].text}}</label>
        bíblico, entonces los miembros
        tienen la
        <label class="respuesta corta" [style.color]="respuestas[67].color" (click)="openActionSheet('67')">{{respuestas[67].text}}</label>
        de alimentar, fortalecer y ejercitar el trabajo en equipo. La Biblia es toda
        <label class="respuesta corta" [style.color]="respuestas[68].color" (click)="openActionSheet('68')">{{respuestas[68].text}}</label>
        de la divinidad, Dios el Padre, Dios el Hijo y Dios el Espíritu Santo
        <label class="respuesta corta" [style.color]="respuestas[69].color" (click)="openActionSheet('69')">{{respuestas[69].text}}</label>
        trabajo en equipo.
      </p>


    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
