<!--
  Generated template for the Cuestionario4Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/adoracion.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>

      <b class="titulo-pregunta"> El propósito y poder de la adoración </b>
      <p>
        Así como la adoración inicia con una expectativa santa termina en una obediencia santa. Si la adoración no nos
        impulsa a una mayor obediencia no ha sido adoración.
      </p>

      <b class="titulo-pregunta"> ¿Qué es la adoración? </b>

      <p>
        • <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        es la palabra Proskuneo, que significa caer ante, arrodillarse ante algo.


      <br>
        • La adoración implica comunión y es una respuesta a la relación
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        con Dios.


      <br>
        • La adoración se relaciona con la
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        de Dios.
        <br>


        • La adoración es una actitud del espíritu. Es una acción de actitud interna de reverencia.


      <br>
        • La adoración en Espíritu requiere una mente concentrada en Dios y renovada por la verdad de la
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        de Dios.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Adoración es presentar nuestros cuerpos como un
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        vivo, santo, agradable a Dios, que es nuestro verdadero acto espiritual de adoración.
      </p>

      <p>
        • Adorar en Espíritu es tener un corazón puro,
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
      </p>

      <p>
        • La adoración a Dios no puede provenir de corazones llenos de pecados
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
      </p>

      <b class="titulo-pregunta">¿Por qué adoramos a Dios? </b>
      <p>
        • Cuando oramos y ayunamos nosotros le buscamos a Él, pero cunado adoramos en Espíritu y Verdad Él nos busca a
        nosotros.
      </p>

      <p>
        • Juan 4:23 <sup>3</sup> Pero se acerca la hora, y ha llegado ya, en que los verdaderos adoradores rendirán
        culto al Padre
        en espíritu y en verdad,<sup>[d]</sup> porque así quiere el Padre que sean los que le adoren
      </p>
      <p>
        • Le adoramos por quien Él es.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Cuando lo adoramos y nos acercamos a Él, Él se acerca a nosotros. Santiago 4:8 cérquense a Dios, y él se
        acercará a ustedes
      </p>

      <p>
        • Es su
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        para nosotros cantar sus alabanzas y declarar Su Gloria entre las naciones. 1 Crónicas 16:23-25 <sup>23</sup>»¡Que
        toda la
        tierra cante al Señor!
        ¡Proclamen su salvación cada día! <sup>24</sup>Anuncien su gloria entre las naciones, y sus maravillas a todos
        los pueblos
        <sup>25</sup>Porque el Señor es grande, y digno de toda alabanza; ¡más temible que todos los dioses!

      </p>

      <p>
        • Somos ordenados a no volvernos a otros dioses para traer
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        que nos destruya, sino adorar al único verdadero Dios. Deuteronomio 29:18 Asegúrense de que ningún hombre ni
        mujer, ni clan ni tribu entre ustedes, aparte hoy su corazón del Señor nuestro Dios para ir a adorar a los
        dioses de esas naciones. Tengan cuidado de que ninguno de ustedes sea como una raíz venenosa y amarga.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        • Lo adoramos para entrar en Su
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        y disfrutar su bondad. Salmos 29:2 Tributen al Señor la gloria que merece su nombre; póstrense ante el Señor en
        su santuario majestuoso
      </p>
      <b class="titulo-pregunta">¿Cómo adoramos a Dios? </b>
      <p>
        • Esto involucra
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        acción de gracias,
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        y adoración. Es importante llegar a Su presencia reconociendo nuestros pecados con verdadero arrepentimiento
        para recibir su perdón. Salmo 66:18 Si en mi corazón hubiera yo abrigado maldad, el Señor no me habría
        escuchado.
      </p>
      <p>
        • Necesitamos entrar en Su presencia con
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        por lo que Él ha hecho. Salmo 100:4 Entren por sus puertas con acción de gracias; vengan a sus atrios con himnos
        de alabanza; denle gracias, alaben su nombre
      </p>
    </ion-slide>

    <ion-slide>
      <p>

        • Debemos ofrecer
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        con gritos de júbilo y palmas.
      </p>

      <p>Salmo 47:1-2</p>
      <p>Manos alzadas: Salmo 63:4</p>
      <p>Danzando: Salmo 149:3</p>
      <p>Arrodillados: Salmos 95:6</p>
      <p>De pie: Éxodo 33:10</p>
      <p>Postrados:1 Reyes 18:39</p>


    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">¿Cuáles son los beneficios de la adoración?</b>

      <p>
        • La adoración
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        nuestro enfoque de nosotros mismos y lo redirige a Dios.
        <br>
        • La adoración nos lleva a un lugar de
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        <br>
        • La adoración hace que el
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        <br>
        • La adoración no le da espacio a la
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        y a la negatividad.
        <br>
        • La adoración deja entrar las
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        de Dios en nuestras vidas.
        <br>
        • La adoración invita Su
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        <br>


        • En la adoración nuestros espíritus son refrescados y
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        en Su presencia.


      <br>
        • La adoración prepara el camino para que se manifieste el Poder de Dios,
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        suceden
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        • La adoración te trae a un lugar en el que conoces el corazón y la voluntad de Dios.
      </p>

      <p>
        • La adoración te permite responder a Dios en obediencia al propósito que Él tiene para tu vida.
      </p>

    </ion-slide>



  </ion-slides>

</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
