page-vision {
    .navbar-logo {
        height: 30px;
        float: left;
        padding-left: 15px;
    }
    .navbar-logo2 {
        height: 30px;
        float: right;
        padding-right: 15px;
    }
    #contenido {
        background-color: color($colors, light);
        color: color($colors, primary);
    }
    #banner-secondary {
        background: color($colors, secondary);
        color: color($colors, light);
        margin-top: -12px;
        margin-left: -20px;
        margin-right: -20px;
        height: 50px;
    }
    #text-banner {
        padding-top: 20px;
        color: color($colors, light) !important;
    }
    #text-simple {
        padding-left: 8px;
        padding-right: 8px;
        text-align: justify;
    }
    #hr-primary {
        display: block;
        height: 2px;
        border: 0;
        background-color: color($colors, secondary);
        margin: 1em 0;
        padding: 0;
    }
    #btn-home {
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
    }
    .btn-leccion {
        margin: 0 auto;
    }
    .leccion-icons {
        height: 55px;
        width: auto;
    }
    .button-md {
        height: 8.6rem;
    }
    #centrar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .row-texto p {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .btn-text {
        font-weight: 300;
        font-size: 14px;
    }
    .scroll-content {
        margin-bottom: 2px;
    }
    .button-round-md {
        padding: 1.6rem;
    }
    .pregunta {
        width: 60%;
        text-align-last: center;
    }
    ion-slides {
        height: 85%;
    }
    .respuesta {
        border-style: solid;
        border-width: thin;
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        width: 135px;
        height: 23px;
        margin: 0;
        padding: 0;
    }
    .button-item {
        background-color: color($colors, secundaryLight);
        color: color($colors, light);
    }
    .row {
        padding-top: 5px;
    }
    .intro {
        color: color($colors, dark);
        text-align: justify;
    }
    .navbarLogo {
        height: 37px;
        float: left;
        margin-left: 10px;
        margin-top: 5px;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 400;
        color: color($colors, light);
        margin-top: -4px;
    }
}