<!--
  Generated template for the VisionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
    </ion-navbar>
</ion-header>

<ion-content padding id="contenido">

    <div id="banner-secondary" block>

        <img src="../../assets/imgs/vision.png" class="navbarLogo" item-end>
        <ion-title id="text-banner">
            VISIÓN
        </ion-title>
    </div>

    <ion-row no-lines class="">
        <p class="intro">
            CMF existe para exaltar al Señor Jesucristo y proclamar Su evangelio, para entrenar y animar a los creyentes a desarrollar una relación de cuidado y de amor entre ellos y a poner la misión mundial como su prioridad.
        </p>
    </ion-row>

  <ion-list >
    <ion-row class="row">
      <button ion-item no-lines (click)="openNavDetailsPage(vision)" class="button-item" [style.background-color]="vision.color">
        {{vision.nombre}}
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
    </ion-row>
  </ion-list>

</ion-content>
