page-escritura-clave {
  .navbar-logo {
    height: 30px;
    float: left;
    padding-left: 45px;
    margin-top: -30px;
  }
  #contenido {
    background-color: color($colors, light);
    color: color($colors, primary);
  }
  #banner-secondary {
    background: color($colors, secondary);
    color: color($colors, light);
    margin-top: -12px;
    margin-left: -20px;
    margin-right: -20px;
    height: 50px;
  }
  #text-banner {
    padding-top: 20px;
    color: color($colors, light) !important;
  }
  .navbarLogo {
    height: 37px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 300;
    color: color($colors, light);
    margin-top: -4px;
  }
  .justify {
    text-align: justify;
    color: color($colors, dark);
  }
}
