<!--
  Generated template for the EscrituraClavePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
  </ion-navbar>
</ion-header>


<ion-content padding id="contenido">

  <div id="banner-secondary" block>

    <img src="../../assets/imgs/{{captura.modulo[0].icono}}" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Escritura Clave
    </ion-title>
  </div>

  <ion-row>
    <br>
    <br>
    <br>
    <ol>
      <li *ngFor="let item of contenido.citas">
        {{item.versiculo}}
        <p class="justify">
          {{item.contenido}}
        </p>
      </li>
    </ol>
  </ion-row>

</ion-content>
