<!--
  Generated template for the Cuestionario45Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Entendiendo la guerra espiritual
      </b>

      <p>En la guerra espiritual es importante que sepas quien eres, que sepas al Dios al que sirves y la autoridad que
        en Él tienes.</p>
      <b class="titulo">Introducción</b>
      <p>La batalla espiritual es tan real como la batalla física, pero la diferencia es que nuestros enemigos son
        invisibles,
        no tienen carne ni sangre. Así nuestras armas no son carnales sino poderosas en Dios para atacar fortalezas.
        Nos atacan casi cada día. Por lo tanto, la guerra espiritual no solamente es para las reuniones ocasionales de
        oración, sino para la vida personal cotidiana. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">A. La preparación espiritual</b>
      <p>es de vital <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        en la guerra espiritual porque Satanás
        y sus demonios <label class="respuesta corta" [style.color]="respuestas[1].color"
                              (click)="openActionSheet('1')">{{respuestas[1].text}}</label> (venganza) como pasó con los
        7 hijos de Esceva en Hechos 19:14-17
      </p>
      <b class="titulo">1. Confesión del pecado </b>
      <p>• Ejemplo Bíblico de Josué 7, el pecado Acán.
      <p>
      <p>• Los pecados sin confesar traerán <label class="respuesta corta" [style.color]="respuestas[2].color"
                                                   (click)="openActionSheet('2')">{{respuestas[2].text}}</label> en la
        batalla y nos puede costar la vida. Por lo tanto <label class="respuesta corta"
                                                                [style.color]="respuestas[3].color"
                                                                (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        tus pecados. 1 Juan 1:9 </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">2. El perdón</b>
      <p>• 2 Corintios 2:10-11 “Al que vosotros perdonáis, yo también, porque también yo, lo que he perdonado,
        si algo he perdonado, por vosotros lo he hecho en presencia de Cristo, 11 para que Satanás no saque ventaja
        alguna sobre nosotros, pues no ignoramos sus maquinaciones”. No perdonar es uno de los sistemas de Satanás,
        Efesios 4:27 dice “no le den lugar al diablo”.</p>
      <p>• La falta de perdón es una <label class="respuesta corta" [style.color]="respuestas[4].color"
                                            (click)="openActionSheet('4')">{{respuestas[4].text}}</label> de Satanás en
        nuestras vidas. Por lo tanto, perdona a quien no
        puedas perdonar (Yo prefiero perdonar que morir en la batalla). </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">3. ¡El Bautismo del Espíritu Santo! </b>
      <p>La Biblia dice en Hechos 1:8 “recibirán poder cuando haya venido sobre ustedes el Espíritu Santo”.</p>
      <p>. Ponte toda la <label class="respuesta corta" [style.color]="respuestas[5].color"
                                (click)="openActionSheet('5')">{{respuestas[5].text}}</label> de Dios. Efesios 6:13-17
      </p>
      <b class="titulo">B. El campo de batalla de la mente</b>
      <p>1. La mente es una parte <label class="respuesta corta" [style.color]="respuestas[6].color"
                                         (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        de nuestra vida. Es la <label class="respuesta corta" [style.color]="respuestas[7].color"
                                      (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        que guarda cada información adquirida recogida por nuestros sentidos. </p>
    </ion-slide>

    <ion-slide>
      <p>2. El mundo, la carne y satanás son 3 <label class="respuesta corta" [style.color]="respuestas[8].color"
                                                      (click)="openActionSheet('8')">{{respuestas[8].text}}</label> a
        parte de Dios que alimentan la mente. Santiago 3:15</p>
      <p>• El pastor Beniri una vez dijo “casi 10 000 pensamientos bombardean nuestra mente cada día”.</p>
      <p>• Nuestras mentes lo guarda todo, lo <label class="respuesta corta" [style.color]="respuestas[9].color"
                                                     (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        y lo <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>.
      </p>
      <p>• Cada información tiene una actitud o conducta <label class="respuesta corta"
                                                                [style.color]="respuestas[11].color"
                                                                (click)="openActionSheet('11')">{{respuestas[11].text}}</label>.
      </p>
      <p>• Esto es lo que el diablo sabe, así que juega alrededor de nuestra mente con incentivos y decepciones. </p>
      <p>• El examen de tus pensamientos es la revisión de tu <label class="respuesta corta"
                                                                     [style.color]="respuestas[12].color"
                                                                     (click)="openActionSheet('12')">{{respuestas[12].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• (Lee Santiago 3:13-14). Este es uno de los dispositivos más efectivos de Satanás. Él está invadiendo nuestra
        mente con información a través de los medios que no son controlados y sin censura. Vivimos en la era de la
        información. Quien tiene la información tiene el poder, el poder de la información.</p>
      <p>• La mente sin renovar no significa una mente <label class="respuesta corta"
                                                              [style.color]="respuestas[13].color"
                                                              (click)="openActionSheet('13')">{{respuestas[13].text}}</label>,
        sino una mente que está llena con información
        de poder acera del diablo, de la carne y el mundo.</p>
      <p>• El poder de la información controla.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Ejemplos bíblicos</b>
      <p>I) Hechos 5:3 “Pedro le dijo: Ananías, ¿por qué llenó Satanás tu corazón para que mintieras al Espíritu Santo y
        sustrajeras del producto de la venta de la heredad?”</p>
      <p>II) Lucas 22:3 “ Entró Satanás en Judas, por sobrenombre Iscariote, el cual era uno de los doce”</p>
      <p>III) Mateo 16:23 “Pero él, volviéndose, dijo a Pedro: —¡Quítate de delante de mí, Satanás! Me eres tropiezo,
        porque no pones la mira en las cosas de Dios, sino en las de los hombres”</p>
    </ion-slide>

    <ion-slide>
      <p>3. La mente es un campo de batalla</p>
      <p>• Es donde toma lugar una guerra entre Dios y Satanás por el corazón del ser humano. Proverbios 4:23 “Sobre
        toda
        cosa que guardes, guarda tu corazón, porque de él mana la vida”.</p>
      <p>• Lucas 22:31 “Dijo también el Señor: —Simón, Simón, Satanás os ha pedido para zarandearos como a trigo”.
        En la mente de los discípulos había una batalla entre satanás y Dios en relación a su futuro.</p>
      <p>4. La mente es una fortaleza, ya sea de Dios o de Satanás</p>
      <p>• Cada fortaleza tiene un <label class="respuesta corta" [style.color]="respuestas[14].color"
                                          (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        . El hombre fuerte de la fortaleza de Dios es
        el <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        y el hombre fuerte de la fortaleza de Satanás en la mente son espíritus malos. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">C. El hombre fuerte y los espíritus malos que atacan y pelean en un nivel personal de la guerra
        espiritual </b>
      <p>• Espíritu de dolencias: enfermedades</p>
      <p>• En la sanidad estamos lidiando con dos cosas <br>
        o El <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        de enfermedad <br>
        o Enfermedades <br>
         Mateo 8:17 “para que se cumpliera lo dicho por el profeta Isaías: Él mismo tomó nuestras enfermedades y llevó
        nuestras dolencias”
        <br>
         1 Pedro 2:24 “ Él mismo llevó nuestros pecados en su cuerpo sobre el madero, para que nosotros, estando
        muertos
        a los pecados, vivamos a la justicia. ¡Por su herida habéis sido sanados!”
        <br>
      </p>
      <p>• Una persona orando por sanidad está <label class="respuesta corta" [style.color]="respuestas[17].color"
                                                      (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        una guerra espiritual,
        apropiándose por la fe de lo que Jesús logró en la cruz.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">1. Espíritus familiares</b>
      <p>Definición:</p>
      <p>• Un espíritu demoniaco que sirve o que le da instrucciones a una persona.</p>
      <p>• El espíritu de una persona muerta es invocado por medio de un vidente para que profetice o aconseje.</p>
      <p>• Sirve y sigue a miembros familiares por un <label class="respuesta corta"
                                                             [style.color]="respuestas[18].color"
                                                             (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        hecho en nombre de ellos por un
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        a través de la brujería. A menos de que se renuncie a ese pacto y se corte en el Nombre
        de Jesús, el poder del demonio no se detendrá.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">2. Espíritus ancestrales</b>
      <p>• Los espíritus ancestrales son entidades que están vinculadas con los vivientes a través de la memoria
        genética.
        En otras palabras, ellos siguen <label class="respuesta corta" [style.color]="respuestas[20].color"
                                               (click)="openActionSheet('20')">{{respuestas[20].text}}</label> y pueden
        ser contactados a través de la brujería con
        medio como la comunicación o la confesión de la creencia. </p>
      <p>• La Biblia dice en éxodo 20:1-6 que los pecados de los padres pasan a los hijos a la 3 y 4 generación. </p>
      <p>• La naturaleza pecaminosa y los espíritus malos se pasan generacionalmente. </p>
    </ion-slide>

    <ion-slide>
      <p>• Ejemplos Bíblicos:</p>
      <p>o 2 Samuel capítulos 11-15. David <label class="respuesta corta" [style.color]="respuestas[21].color"
                                                  (click)="openActionSheet('21')">{{respuestas[21].text}}</label> 2
        pecados.</p>
      <p>o El pecado de <label class="respuesta corta" [style.color]="respuestas[22].color"
                               (click)="openActionSheet('22')">{{respuestas[22].text}}</label> pasó a su hijo Amnón que
        violó a su hermana Tamar.</p>
      <p>o El pecado del asesinato pasó a su hijo Absalón que planeó el asesinato de su hermano Amnón.</p>

    </ion-slide>

    <ion-slide>
      <b class="titulo">D. El espíritu desencarnado</b>
      <p>• El espíritu que <label class="respuesta corta" [style.color]="respuestas[23].color"
                                  (click)="openActionSheet('23')">{{respuestas[23].text}}</label> a una persona en vida
        se mantiene en la tumba cuando esta muere.
        En algún momento se encarnó, pero ahora se desencarnó, y puede regresar a la vida.</p>
      <p>• Medios de contactos:</p>
      <p>o A través de ataduras <label class="respuesta corta" [style.color]="respuestas[24].color"
                                       (click)="openActionSheet('24')">{{respuestas[24].text}}</label> fuertes el alma
        se ata en amor, en matrimonio, favoritismo de hijos e hijas y amistades.</p>
      <p>o Manteniendo los objetos como <label class="respuesta corta" [style.color]="respuestas[25].color"
                                               (click)="openActionSheet('25')">{{respuestas[25].text}}</label> tales
        como ropa, fotos y cualquier objeto de amor de la persona fallecida. </p>
      <p>o <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        a los muertos durante la visita a la tumba.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">1. Consecuencias si no se rompen y liberan los lazos </b>
      <p>• Muerte prematura <br>
        • Fuertes temores <br>
        • Enfermedad <br>
        • Noches de sueño disturbadas por las pesadillas nocturnas e incluso visión sobre los muertos. <br>
        • Problemas espirituales que guían a una muerte espiritual. <br>
      </p>
      <b class="titulo">2. Como liberar a la persona y atar al hombre fuerte</b>
      <p>• Un amor que renuncia <br>
        • Liberar a los muertos <br>
        • Perdón <br>
        • Fe en Cristo Jesús. <br>
      </p>
      <p>Es un espíritu fuerte y le necesitamos pedir a Dios que envíe a sus ángeles guerreros para que nos ayuden a
        atarlo y echarlo durante la guerra espiritual.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">E. Espíritu de maldición </b>
      <p>• Estos son espíritus que empoderan y ejecutan <label class="respuesta corta"
                                                               [style.color]="respuestas[28].color"
                                                               (click)="openActionSheet('28')">{{respuestas[28].text}}</label>.
      </p>
      <p>• Las maldiciones dichas a través de brujería son <label class="respuesta corta"
                                                                  [style.color]="respuestas[29].color"
                                                                  (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        por sus demonios.</p>
      <p>• Las maldiciones se pueden transferir en objetos como comida, ropa, etc, ya sea que la persona sepa o no.</p>
      <p>• La falta de perdón y deshonra a los padres son una puerta abierta para la maldición. (Efesios 4:7)</p>

    </ion-slide>

    <ion-slide>
      <b class="titulo">F. Espíritu de lujuria</b>
      <p>• La lujuria es atraída a la <label class="respuesta corta" [style.color]="respuestas[30].color"
                                             (click)="openActionSheet('30')">{{respuestas[30].text}}</label> autoestima.
        Cuando una persona no se siente bien consigo misma
        el espíritu de lujuria puede buscar su camino de entrada y empezar a manifestarse. Se manifiesta en otras
        formas.
        Se esconde como un deseo <label class="respuesta corta" [style.color]="respuestas[31].color"
                                        (click)="openActionSheet('31')">{{respuestas[31].text}}</label> de cualquier
        tipo, comida excesiva, dinero, sexo, poder y fama. </p>
      <p>• Puede haber una herencia en su raíz y pudo haber sido transferido de una persona a otra.</p>
      <p>• Este espíritu ha hecho mucho <label class="respuesta corta" [style.color]="respuestas[32].color"
                                               (click)="openActionSheet('32')">{{respuestas[32].text}}</label> a la
        humanidad, más que cualquier otro.</p>
      <p>• Causa <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        del abuso de sustancias y comportamiento lujurioso. Algunas personas
        nunca se satisfacen por este espíritu malo, sus ojos siempre desean más. </p>
    </ion-slide>

    <ion-slide>
      <p>• Hay quejas y no hay paz. <br>
        • Causa malestar y dolor de cabeza.</p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        las relaciones entre las personas.</p>
      <p>• La lujuria es la <label class="respuesta corta" [style.color]="respuestas[35].color"
                                   (click)="openActionSheet('35')">{{respuestas[35].text}}</label> del pecado. (Santiago
        1:14-15)</p>

      <b class="titulo">¿Cómo atar el espíritu de lujuria?</b>
      <p>• <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        que es un espíritu malo y que tiene poder. </p>
      <p>• Encuentra su <label class="respuesta corta" [style.color]="respuestas[37].color"
                               (click)="openActionSheet('37')">{{respuestas[37].text}}</label>, puede ser heredado. </p>
      <p>• Confesarse, arrepentirse y renunciar a todas las conexiones. <br>
        • Perdón <br>
        • Fe en Cristo Jesús. <br>
        • Con la autoridad y en el nombre de Cristo Jesús ata el espíritu y échalo. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">G. Espíritu de muerte e infierno. Apocalipsis 6:8; 20:13; 20:14</b>
      <p>
        • Es un <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>.
        <br>
        • Es un poder que patrocina las enfermedades terminales e incurables. <br>
        • Trabaja con el espíritu desencarnado. <br>
        • Causa muertes prematuras, suicidio, abortos naturales, accidentes, enfermedades terminales y muerte
        espiritual.
      </p>
      <p>Como atarlo</p>
      <p>
        • Con la <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        y <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        ata al espíritu de muerte en el nombre de Cristo Jesús y échalo fuera.
      </p>
      <p>• Por fe <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        y <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        lo que la palabra de Dios dice.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">H. Otros espíritus</b>
      <p>• Espíritu de materialismo</p>
      <p>• Espíritu de pesadez y letargo </p>
      <p>• Estos son dos espíritus en el mundo de hoy que <label class="respuesta corta"
                                                                 [style.color]="respuestas[43].color"
                                                                 (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        y <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        a los creyentes comprometidos con el fin de arruinar su <label class="respuesta corta"
                                                                       [style.color]="respuestas[45].color"
                                                                       (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        con Jesucristo.
        Nos ocupan con cosas que no son esenciales y se vuelven pesadas y nos cansan con el propósito de que no oremos.
        El espíritu de materialismo nos quita la mirada de Jesús y la fija en cosas materiales. Estamos viviendo en los
        últimos días, Jesús dijo <label class="respuesta corta" [style.color]="respuestas[46].color"
                                        (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        y <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>.
        (Mateo 25:13)</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">E. La guerra espiritual del ocultismo</b>
      <p>• Definición: son confrontaciones con demonios operando a través de la brujería, por ejemplo, el satanismo,
        la masonería, religiones del este, la nueva era y tales.</p>
      <p>• Sus trabajos son enseñanzas que están infiltrándose en las naciones del mundo, la Biblia hace referencia en 2
        Tesalonicenses 2:7 “ Ya está en acción el misterio de la iniquidad”</p>
      <p>• Los demonios por la brujería son asignados a varias actividades como la lectura del futuro, dando medicina
        herbal para sanar. Haciendo hechizos y maldiciones, algunos para matar y mucho más.</p>
    </ion-slide>

    <ion-slide>
      <p>• Su fuerza es <label class="respuesta corta" [style.color]="respuestas[48].color"
                               (click)="openActionSheet('48')">{{respuestas[48].text}}</label> como las sociedades
        secretas donde los miembros juran guardar el secreto.
        Dios nos da el espíritu de discernimiento para identificar y contraatacar sus secretos y planes.</p>
      <p>• Por lo tanto, los creyentes son <label class="respuesta corta" [style.color]="respuestas[49].color"
                                                  (click)="openActionSheet('49')">{{respuestas[49].text}}</label>. Nos
        debemos levantar y vincular con la guerra espiritual.
        Romper y aclarar lo celestial y hacer un camino para la presencia de Dios y el avivamiento. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">F. La guerra espiritual territorial </b>
      <p>• Definición: Es el nivel más alto de enfrentamiento con los principados territoriales que controlan
        comunidades
        enteras, grupos étnicos, religiones y naciones. </p>
      <p>• Los espíritus territoriales están pensadas para responder directamente a
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        y son
        responsables por la coordinación de todas las <label class="respuesta corta"
                                                             [style.color]="respuestas[51].color"
                                                             (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        dentro de su ámbito.
        Estos espíritus territoriales de alto nivel son <label class="respuesta corta"
                                                               [style.color]="respuestas[52].color"
                                                               (click)="openActionSheet('52')">{{respuestas[52].text}}</label>.
      </p>
      <p>• Hay evidencia bíblica para los espíritus territoriales. Jesús llamó a Satanás el Príncipe de este Mundo.
        (Juan 12:13), mientras que Pablo lo llamó el príncipe de los aires (Efesios 2:2) y el dios de este mundo
        (2 corintios 4:4). Apocalipsis 12:9 “que engaña al mundo entero”. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">G. Cosas importantes antes de involucrarse en la guerra espiritual contra el ocultismo y
        espíritus territoriales</b>
      <p>• Espera siempre el liderazgo del Espíritu Santo porque solamente Su estrategia de guerra espiritual es la
        que se debe seguir (esto es muy importante, porque Satanás siempre buscará la venganza). </p>
      <p>• No te involucres en la guerra espiritual si no estás bien en tu relación con el Señor por el pecado y la
        falta de perdón. </p>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
