<!--
  Generated template for the Cuestionario43Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b>
        Viviendo un estilo de vida de perdón
      </b>
      <p>No perdonar a otros nos atrapa, e imposibilita que Dios nos perdone.</p>
      <b class="titulo">Introducción </b>
      <p>Hay dos grandes enemigos del alma que aprisionan a las personas:
        la <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        y la
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>.
        Pero Jesús nos ha enseñado como vencer ambas.</p>
      <p>A través de la <label class="respuesta corta" [style.color]="respuestas[2].color"
                               (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        le pedimos a Dios que perdone nuestras deudas (pecado). Cuando Dios nos
        perdona la <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        es removido. Y cuando perdonamos a otros la
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        también se va.</p>
      <p>El perdón es una de los grandes <label class="respuesta corta" [style.color]="respuestas[5].color"
                                                (click)="openActionSheet('5')">{{respuestas[5].text}}</label> de Dios
        para nosotros.
        Cuando perdonamos, somos liberados de la prisión y de la amargura.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Verdades del perdón </b>
      <p>• El perdón es <label class="respuesta corta" [style.color]="respuestas[6].color"
                               (click)="openActionSheet('6')">{{respuestas[6].text}}</label> para quien lo recibe
        pero <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        para quien lo entrega. En griego la palabra
        perdón significa “cancelar una deuda o penalidad por completo”.</p>
      <p>• Perdonar significa aceptar dentro de ti las consecuencias de los pecados de otros. En otras palaras, estás
        dispuesto a absorber el dolor para que la persona que te hirió sea libre y para tu también seas libre.</p>
      <p>• El perdón es una <label class="respuesta corta" [style.color]="respuestas[8].color"
                                   (click)="openActionSheet('8')">{{respuestas[8].text}}</label>.</p>
      <p>• Si no perdonamos a otros, Dios <label class="respuesta corta" [style.color]="respuestas[9].color"
                                                 (click)="openActionSheet('9')">{{respuestas[9].text}}</label> nos
        perdona. (Mateo 6:15)</p>
      <p>• El perdón es un acto de <label class="respuesta corta" [style.color]="respuestas[10].color"
                                          (click)="openActionSheet('10')">{{respuestas[10].text}}</label>. Efesios 1:7
        “En él tenemos redención por su sangre,
        el perdón de pecados según las riquezas de su gracia”</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">4 Razones por las que debemos perdonar</b>
      <p>1. El factor <label class="respuesta corta" [style.color]="respuestas[11].color"
                             (click)="openActionSheet('11')">{{respuestas[11].text}}</label></p>
      <p>• La gracia es la expresión más alta del amor de Dios. El amor se convierte en gracia cuando es dirigida a
        quien menos lo merece.</p>
      <p>• El perdón es la demostración de la gracia de Dios, por la que somos salvos. (Efesios 2:8)</p>
      <p>• Efesios 4:32 “Antes sed bondadosos unos con otros, misericordiosos, perdonándoos unos a otros, como Dios
        también os perdonó a vosotros en Cristo”.</p>
      <p>• Si Dios nos ha mostrado gracia, también necesitamos mostrarle gracia a los demás. </p>
      <p>• Perdonar es ser como Jesús. No perdonar es como ser el enemigo de Dios, satanás. </p>
    </ion-slide>

    <ion-slide>
      <p>2. El factor <label class="respuesta corta" [style.color]="respuestas[12].color"
                             (click)="openActionSheet('12')">{{respuestas[12].text}}</label></p>
      <p>• Un espíritu que no perdona nos mantiene en <label class="respuesta corta"
                                                             [style.color]="respuestas[13].color"
                                                             (click)="openActionSheet('13')">{{respuestas[13].text}}</label>.
      </p>
      <p>• Cuando tratamos de mantener la venganza llegamos hasta donde está el ofensor, pero cuando perdonamos
        levantamos
        al ofensor a donde nosotros estamos.</p>
      <p>• Cuando nos rehusamos a perdonar, permitimos que la amargura en nosotros se vuelva odio,
        y el odio nos lleva a pecar.</p>
      <p>• No perdonar es como un <label class="respuesta corta" [style.color]="respuestas[14].color"
                                         (click)="openActionSheet('14')">{{respuestas[14].text}}</label>. Se come la paz
        y el descanso del cuerpo, alma y
        espíritu de una persona. </p>
      <p>• “El que no puede perdonar a otros destruye el puente por el que él mismo debe caminar si quiere algún día
        llegar al cielo” Autor desconocido. <br>
        • La verdad es que si no perdonas no puedes ir al cielo.</p>
    </ion-slide>

    <ion-slide>
      <p>3. El factor <label class="respuesta corta" [style.color]="respuestas[15].color"
                             (click)="openActionSheet('15')">{{respuestas[15].text}}</label></p>
      <p>• Perdonamos para ser liberados de la culpa, cargamos con culpa cuando no perdonamos.</p>
      <p>• Nuestra falta de perdón hacia otros cierra el perdón de Dios para nosotros.
        Un espíritu que no perdona es <label class="respuesta corta" [style.color]="respuestas[16].color"
                                             (click)="openActionSheet('16')">{{respuestas[16].text}}</label> a los ojos
        de Dios.</p>
      <p>• Dios nos hace responsables por nuestras acciones a pesar de lo que otros hayan hecho para herirnos.</p>
      <p>• Romanos 12:19 “No os venguéis vosotros mismos, amados míos, sino dejad lugar a la ira de Dios, porque escrito
        está: «Mía es la venganza, yo pagaré, dice el Señor»”</p>
    </ion-slide>

    <ion-slide>
      <p>4. El factor <label class="respuesta corta" [style.color]="respuestas[17].color"
                             (click)="openActionSheet('17')">{{respuestas[17].text}}</label></p>
      <p>• Cuando perdonas ganas amigos, cuando no perdonas los pierdes.</p>
      <p>• Mateo 18:15 “Por tanto, si tu hermano peca contra ti, ve y repréndelo estando tú y él solos; si te oye,
        has ganado a tu hermano”</p>
      <p>• Mateo 5:23-24 “23Por tanto, si traes tu ofrenda al altar y allí te acuerdas de que tu hermano tiene algo
        contra ti, 24 deja allí tu ofrenda delante del altar y ve, reconcíliate primero con tu hermano, y entonces
        vuelve y presenta tu ofrenda”</p>
      <p>• Cuando fallamos en perdonar eso <label class="respuesta corta" [style.color]="respuestas[18].color"
                                                  (click)="openActionSheet('18')">{{respuestas[18].text}}</label> al
        Padre y desanima a los santos.
        Fallar en perdonar <label class="respuesta corta" [style.color]="respuestas[19].color"
                                  (click)="openActionSheet('19')">{{respuestas[19].text}}</label> al diablo.</p>
    </ion-slide>

    <ion-slide>
      <b>Conclusión</b>
      <p>• El mayor obstáculo para perdonar es el <label class="respuesta corta" [style.color]="respuestas[20].color"
                                                         (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
      </p>
      <p>• El perdón es la mayor expresión de <label class="respuesta corta" [style.color]="respuestas[21].color"
                                                     (click)="openActionSheet('21')">{{respuestas[21].text}}</label></p>
      <p>• El perdón es un signo de <label class="respuesta corta" [style.color]="respuestas[22].color"
                                           (click)="openActionSheet('22')">{{respuestas[22].text}}</label>; no de
        debilidad.</p>
      <p>• El perdón es un asunto de <label class="respuesta corta" [style.color]="respuestas[23].color"
                                            (click)="openActionSheet('23')">{{respuestas[23].text}}</label>;
        la falta de perdón es un asunto de <label class="respuesta corta" [style.color]="respuestas[24].color"
                                                  (click)="openActionSheet('24')">{{respuestas[24].text}}</label>.</p>
      <p>• Fallar en perdonar es una receta para una muerte lenta: emocional, física, mental, relacional y
        espiritualmente.</p>
      <p>• La verdad llana es esta: si no perdonamos a otros Dios no nos perdonará. (Mateo 6:14-15)</p>
      <p>Cuando Dios nos perdona Él olvida. Hebreos 10:17 “ Y añade: Y nunca más me acordaré de sus pecados y
        transgresiones” </p>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
