<!--
  Generated template for the Tema2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
  </ion-navbar>

</ion-header>




<ion-content padding id="contenido">

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/vision.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <p>
        <b>1.</b> Creemos que, aunque hay muchos pasajes que describen a la iglesia, quien es y lo que hace, Jesucristo lo resumió en dos declaraciones. Estas son el
        <label class="respuesta mediana" [style.color]="respuestas[0].color"  (click)="openActionSheet('0')">{{respuestas[0].text}}</label> (Mateo 22:37-40) y la
        <label class="respuesta mediana" [style.color]="respuestas[1].color" (click)="openActionSheet(1)">{{respuestas[1].text}}</label> (Mateo 28:19-20).
      </p>

      <p>
        <b>2. </b> Estos dos pasajes resumen todo lo que hacemos como iglesia CMF. Somos guiados por el Gran Mandamiento y por la Gran Comisión. Juntos nos dan las tareas primarias en las que la Iglesia se debe enfocar hasta el regreso de Cristo.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo-pregunta">A.	La visión CMF</b>
      <p>• La visión CMF no está basada en la personalidad de una persona,
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet(2)">{{respuestas[2].text}}</label> eventos o
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet(3)">{{respuestas[3].text}}</label>
      </p>
      <p>
        • Creemos que no decidimos el
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet(4)">{{respuestas[4].text}}</label> de la iglesia, de hecho, lo descubrimos. Cristo es la cabeza de la iglesia. Él estableció los propósitos hace mucho tiempo. Ahora le toca a cada generación
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet(5)">{{respuestas[5].text}}</label>
      </p>
      <p>
        • CMF nació con una visión por la <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet(6)">{{respuestas[6].text}}</label> de Dios. Esta visión dada por Dios está expuesta con claridad en nuestra Declaración de Visión: CMF existe para exaltar
        al Señor Jesucristo y proclamar Su evangelio, para entrenar y animar a los creyentes a desarrollar una relación de cuido y amor entre ellos y a poner la misión mundial como su prioridad:
      </p>
    </ion-slide>

    <ion-slide>

      <p>
        • La Declaración de Visión de CMF es la
        <label class="respuesta grande" [style.color]="respuestas[7].color" (click)="openActionSheet(7)">{{respuestas[7].text}}</label> en donde sus fundamentos son edificados, sus objetivos
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet(8)">{{respuestas[8].text}}</label> su administración
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet(9)">{{respuestas[9].text}}</label> y sus responsabilidades
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet(10)">{{respuestas[10].text}}</label>
      </p>

    </ion-slide>

    <ion-slide>
      <b class="titulo-pregunta">B.	Declaración de propósitos de CMF</b>
      <p>
        <b>1.</b> Existimos para exaltar la Señor Jesucristo. Esto describe la
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet(11)">{{respuestas[11].text}}</label>
      </p>
      <p>
        • ¿Cómo amamos al Señor con todo nuestro corazón? ¡Adorándolo! No importa si estamos solos, con un grupo pequeño o con 10 mil personas. Cuando expresamos nuestro amor a Dios, estamos
        <label class="respuesta mediana" [style.color]="respuestas[12].color" (click)="openActionSheet(12)">{{respuestas[12].text}}</label>
      </p>
      <p>
        • La Biblia dice “Adora al Señor tu Dios, y sírvele solamente a Él” (Mateo 4:10). Nota que la adoración viene antes del
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet(13)">{{respuestas[13].text}}</label> Adorar a Dios es el primer propósito de la Iglesia. A veces nos
        <label class="respuesta mediana" [style.color]="respuestas[14].color" (click)="openActionSheet(14)">{{respuestas[14].text}}</label> trabajando para Dios; sin tener el tiempo para expresar nuestro amor a Él por medio de la
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet(15)">{{respuestas[15].text}}</label>
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • A través de la Escritura, estamos
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet(16)">{{respuestas[16].text}}</label> para celebrar la presencia de Dios magnificando al Señor y exaltando Su nombre. Salmo 34:3 dice “Engrandezcan al Señor conmigo; exaltemos a una su
        nombre”
      </p>

      <p>
        • No debemos adorar por
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet(17)">{{respuestas[17].text}}</label> debemos adorar porque queremos. La adoración es una elección que hacemos porque queremos, no porque estemos obligados a ello. Debemos disfrutar expresar
        nuestro
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet(18)">{{respuestas[18].text}}</label> a Dios.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        <b>2.</b> Existimos para proclamar su Evangelio. Esto describe el
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet(19)">{{respuestas[19].text}}</label> o ganar almas. La iglesia existe para comunicar la palabra de Dios.
      </p>

      <p>
        • El evangelismo es más que nuestra responsabilidad, es nuestro gran
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet(20)">{{respuestas[20].text}}</label> Somos invitados a ser parte de traer a las personas a la
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet(21)">{{respuestas[21].text}}</label> eterna de Dios

      </p>

      <p>
        • La palabra “Id” en la Gran Comisión está en el verbo presente en el texto griego. Se debe leer como “estar yendo”. Es responsabilidad de cada cristiano compartir las Buenas Noticias
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet(22)">{{respuestas[22].text}}</label> que vayamos. Estamos para decirle a todas las personas
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet(23)">{{respuestas[23].text}}</label> que Jesús salva; Él murió en la cruz para que hoy podamos vivir, resucitó y está
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet(24)">{{respuestas[24].text}}</label> y prometió regresar. Algún día cada uno de nosotros le dará cuentas a Dios en relación a la seriedad con la que asumió esta responsabilidad.
      </p>
    </ion-slide>

    <ion-slide>

      <p>
        • Dios quiere personas salvas y esa debe ser la pasión de nuestros corazones.
      </p>

      <p>
        <b>3.</b> Existimos para entrenar y animar a los creyentes. Esto describe el
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet(25)">{{respuestas[25].text}}</label>
      </p>

      <p>
        • En el texto griego de la Gran Comisión hay tres verbos en tiempo presente: id
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet(26)">{{respuestas[26].text}}</label> y enseñad. Cada uno de estos forma parte del mandato “haced discípulos”. Id, bautizad y enseñad, son los
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet(27)">{{respuestas[27].text}}</label> esenciales del proceso de discipulado. ¿Por qué el bautismo es tan importante al punto que está incluido en la Gran Comisión de Cristo? Es porque simboliza
        uno de los propósitos de la iglesia, es el símbolo de una nueva
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet(28)">{{respuestas[28].text}}</label> Pertenecemos a la familia de Cristo y los miembros de Su cuerpo.

      </p>

    </ion-slide>


    <ion-slide>
      <p>
        • El bautismo simboliza nuestra nueva vida en Cristo, visualiza la incorporación de una persona en el Cuerpo de Cristo. En Efesios 2:19 dice “<sup>19</sup> Por lo tanto, ustedes ya no son extraños ni extranjeros, sino conciudadanos de
        los santos y
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet(29)">{{respuestas[29].text}}</label>de la familia de Dios”

      </p>
      <p>
        • La iglesia existe para
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet(30)">{{respuestas[30].text}}</label> y para educar al pueblo de Dios. El discipulado es el proceso en el cual se ayuda a las personas a ser más como
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet(31)">{{respuestas[31].text}}</label> en sus pensamientos, emociones y acciones.
      </p>

      <p>
        • Como iglesia no solamente estamos llamados a alcanzar personas, sino también a
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet(32)">{{respuestas[32].text}}</label> Es responsabilidad de la iglesia desarrollar personas
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet(33)">{{respuestas[33].text}}</label> espiritualmente.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • En nuestra pasión por traer personas a Cristo, también debemos estar apasionados en el
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet(34)">{{respuestas[34].text}}</label> de las personas verles crecer y desarrollarse en la llenura de Cristo.
      </p>

      <p>
        <b>4.</b> Existimos para desarrollar una relación de amor y cuido entre nosotros. Esto describe una
        <label class="respuesta grande" [style.color]="respuestas[35].color" (click)="openActionSheet(35)">{{respuestas[35].text}}</label> Jesús dijo en el Gran Mandamiento “ama a tu prójimo como a ti mismo¨.
      </p>

      <p>
        • Debemos aprender a amarnos y a vivir los unos con los otros en
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet(36)">{{respuestas[36].text}}</label> La iglesia existe para ministrar a las personas. El ministerio
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet(37)">{{respuestas[37].text}}</label> el amor de Dios a otros al encontrarnos con sus necesidades y sanar sus heridas en el Nombre de Jesús. Cada vez que te acercas en amor a otras personas
        les estás ministrando y estás construyendo una relación
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet(38)">{{respuestas[38].text}}</label> La iglesia debe ministrar todo tipo de necesidad: espiritual, emocional, relacional y física.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Jesús dijo que incluso un vaso de agua frío dado en Su nombre era considerada como
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet(39)">{{respuestas[39].text}}</label> y no quedaría sin recompensa.
      </p>

      <p>
        • Tu habilidad para construir y mantener relaciones de calidad en todas las áreas de tu vida es la
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet(40)">{{respuestas[40].text}}</label> para tu éxito.
      </p>

      <p>
        • Una relación con Dios es la
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet(41)">{{respuestas[41].text}}</label> para cualquier historia de éxito. Recuerda, Dios es el Dios del éxito. Este mundo sobresaliente es prueba de eso.

      </p>

      <p>
        • Debemos
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet(42)">{{respuestas[42].text}}</label> cada relación al punto más alto, y esto es la base de todo lo que hacemos.
      </p>

      <p>
        • Una relación de calidad es construida a medida que aprendemos a
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet(43)">{{respuestas[43].text}}</label> los unos a los otros.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        <b>5.</b> Existimos para poner la Misión Mundial como nuestra prioridad.
      </p>
      <p>
        • Creemos que la
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet(44)">{{respuestas[44].text}}</label> es el latir del corazón de Dios.
      </p>
      <p>
        • Las últimas palabras de Jesús para sus discípulos antes de que dejara este mundo fueron “Vayan a todo el
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet(45)">{{respuestas[45].text}}</label>y prediquen el Evangelio a toda persona”, y estas palabras deben ser nuestra prioridad.
      </p>
      <p>
        • Nosotros como Iglesia creemos firmemente que somos
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet(46)">{{respuestas[46].text}}</label>y comisionados a ir a todo el mundo y predicar el evangelio a toda persona sin dejar a nadie por fuera.
      </p>

      <p>
        • Creemos que debemos
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet(47)">{{respuestas[47].text}}</label>por el mundo perdido y por la realización de la Gran Comisión.

      </p>

      <p>
        • Creemos que debemos
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet(48)">{{respuestas[48].text}}</label>nuestro tiempo, tesoro y talentos en la Misión Mundial
      </p>
    </ion-slide>


    <ion-slide>

      <p>
        • Creemos que debemos
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet(49)">{{respuestas[49].text}}</label> misioneros a todas las naciones alrededor del mundo.
      </p>


      <b class="titulo-pregunta">C.	Afirmaciones de CMF a la Gran Comisión</b>

      <p>
        • Afirmamos nuestro
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet(50)">{{respuestas[50].text}}</label> a la Gran Comisión de nuestro Señor, y declaramos nuestra
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet(51)">{{respuestas[51].text}}</label> de ir a cualquier lugar, y hacer cualquier cosas y sacrificar lo que sea que Dios requiera de nosotros para el
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet(52)">{{respuestas[52].text}}</label> de esa Comisión.
      </p>

    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">D.	Proceso de Discipulado CMF</b>
      <p>
        • Nuestro proceso para implementar los propósitos de Dios involucra 4 pasos: Nosotros
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet(53)">{{respuestas[53].text}}</label> a las personas, les
        <label class="respuesta mediana" [style.color]="respuestas[54].color" (click)="openActionSheet(54)">{{respuestas[54].text}}</label> les
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet(55)">{{respuestas[55].text}}</label> y les
        <label class="respuesta grande" [style.color]="respuestas[56].color" (click)="openActionSheet(56)">{{respuestas[56].text}}</label> fuera
      </p>

      <p>
        • Les traemos como
        <label class="respuesta grande" [style.color]="respuestas[57].color" (click)="openActionSheet(57)">{{respuestas[57].text}}</label> , les edificamos para la
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet(58)">{{respuestas[58].text}}</label> , les entrenamos para el
        <label class="respuesta mediana" [style.color]="respuestas[59].color" (click)="openActionSheet(59)">{{respuestas[59].text}}</label> y les enviamos a la
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet(60)">{{respuestas[60].text}}</label> , magnificando al Señor en el proceso.
      </p>

      <p>
        • Este es nuestro desarrollo de discipulado y nuestro producto ha cambiado vida.
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet(61)">{{respuestas[61].text}}</label> como Cristo.
      </p>
    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">E.	Quienes somos realmente</b>

      <p>
        • Como miembro de la familia de CMF, creyendo y
        <label class="respuesta mediana" [style.color]="respuestas[62].color" (click)="openActionSheet(62)">{{respuestas[62].text}}</label> de la visión, es quienes somos.

      </p>

      <p>
        • Somos
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet(63)">{{respuestas[63].text}}</label> de Cristo que aman adorar a Dios de todo corazón, que aman fervientemente a las personas, apasionados en ganar a los
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet(64)">{{respuestas[64].text}}</label> a cualquier costo, comprometidos en discipular creyentes hacia la
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet(65)">{{respuestas[65].text}}</label> y hacer de la Gran Comisión nuestra gran
        <label class="respuesta corta" [style.color]="respuestas[66].color" (click)="openActionSheet(66)">{{respuestas[66].text}}</label> de vida.
      </p>

    </ion-slide>


  </ion-slides>

</ion-content>

<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
    <button ion-button icon-start (click)="atras()">
      <ion-icon name="md-arrow-back"></ion-icon>
      Regresar
    </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
    <button ion-button icon-end (click)="siguiente()">
      Siguiente
      <ion-icon name="md-arrow-forward"></ion-icon>
    </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
    <button ion-button icon-end (click)=" calificar()">
      Calificar
      <ion-icon name="md-checkbox-outline"></ion-icon>
    </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
