<!--
  Generated template for the Cuestionario50Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/mision.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Entendiendo la Gran Comisión
      </b>

      <p>“La Gran Comisión es el mayor desafío dada por la persona más grande que ha vivido jamás”. Dr. Bill Bright</p>
      <b class="titulo">1.	Lo que la Gran Comisión es</b>
      <p>
        •	La gran comisión son las
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label> palabra de Jesucristo.
        <br>
        •	Debe ser la <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label> de cada iglesia.
        <br>
        •	Es una misión <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label> y un mandato divino.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">2.	Los 4 énfasis de la Gran Comisión en Mateo 28:18-20 </b>
      <p>
        Vs. 18 Toda autoridad: es el <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label> divino.
        <br>
        •	Se nos ha dado la autoridad para la tarea de la finalización de la Gran Comisión
        <br>
        Vs 19 Todas las naciones:  el <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label> divino
        <br>
        •	Llevar el Evangelio a todos los grupos humanos del mundo.
        <br>
        •	Mateo 24:14 “Y será predicado este evangelio del Reino en todo el mundo, para testimonio a todas las naciones, y entonces vendrá el fin”.
        <br>
        •	Hechos 1:8 “pero recibiréis poder cuando haya venido sobre vosotros el Espíritu Santo, y me seréis testigos en Jerusalén, en toda Judea, en Samaria y hasta lo último de la tierra”.
        <br>
        Vs 20 Todas las cosas: la <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label> divino
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        •	Un discípulo debe ser enseñado todo el consejo de Dios.
        <br>
        •	2 Timoteo 3:16-17 “Toda la Escritura es inspirada por Dios y útil para enseñar, para redargüir, para corregir, para instruir en justicia, 17 a fin de que el hombre de Dios sea perfecto, enteramente preparado para toda buena obra”.
        <br>
        •	Mateo 4:4 “Él respondió y dijo: —Escrito está: “No sólo de pan vivirá el hombre, sino de toda palabra que sale de la boca de Dios”.
        <br>
        •	Hechos 20:27  “porque no he rehuido anunciaros todo el consejo de Dios”.
        <br>
        Vs 20 “Siempre”:  La <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label> divino
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">3.	Los 3 componentes de la misión para cumplir la Gran Comisión</b>
      <p>
        La oración: La línea de <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label> para la misión
        <br>
        •	Santiago 5:16 “…La oración eficaz del justo puede mucho”.
        <br>
        •	El trabajo de Dios solo se alcanzará a la manera de Dios, y la manera de Dios es el camino de la oración.
        <br>
        •	La iglesia primitiva nació por la oración.
        <br>
        •	El grado al cual la oración sea movilizada, es el grado al cual el mundo será evangelizado.
        <br>
        •	Colosenses 4:2-4 “2 Perseverad en la oración, velando en ella con acción de gracias.3 Orad también al mismo
        tiempo por nosotros, para que el Señor nos <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        puerta para la palabra, a fin de dar a conocer el misterio de Cristo…”
      </p>
    </ion-slide>

    <ion-slide>
    <p>
        • Ir. La línea de  <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label> de la misión.
        <br>
        •	Ir coloca el tono de la gran comisión. La gran comisión se trata de ir. Necesitamos ir a donde las personas están.
        <br>
        •	Mateo 28:19 “Por tanto, id y haced discípulos a todas las naciones”
        <br>
        •	El resumen del libro de los Hechos se ha descrito como: arriba, abajo y afuera. Jesús fue arriba, el Espíritu Santo abajo y los creyentes afuera.
        <br>
        •	Una iglesia que va es una iglesia que crece, mientras una iglesia que se sienta es una iglesia que muere
      </p>

    </ion-slide>

    <ion-slide>
      <b class="titulo">4.	El resultado esperado del cumplimiento de la Gran Comisión</b>
      <p>
        •	Mateo 24:14 “Y será predicado este evangelio del Reino en todo el mundo, para testimonio a todas las naciones, y entonces vendrá el fin”.
        <br>
        •	Habacuc 2:14 “Porque la tierra se llenará del conocimiento de la gloria de Jehová, como las aguas cubren el mar”.
        <br>
        •	Cada mujer y hombre en la tierra (toda la creación) recibe la
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        para aceptar o rechazar el poder salvador de Jesús mediante la predicación del Evangelio. (Marcos 16:15).
        Aquellos que creen y que son bautizados serán <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>.
        Aquellos que no crean serán condenados.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        •	Aquellos que creen son bautizados y   <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        con todo lo que Jesús mandó. Este es el proceso del discipulado (Mateo 28:19-20). Es un proceso continuo e intencional hacia la semejanza de Cristo.
        <br>
        •	Juan 10:10 “…yo he venido para que tengan vida, y para que la tengan en abundancia”.
        <br>
        •	Juan 17:3 “Y ésta es la vida eterna: que te conozcan a ti, el único Dios verdadero, y a Jesucristo, a quien has enviado”.
        <br>
        •	Hechos 17:28 “porque en él vivimos, nos movemos y somos…”
      </p>
    </ion-slide>
  </ion-slides>

</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
