page-discipulado {
  #contenido {
    background-color: color($colors, light);
    color: color($colors, primary);
  }

  #banner-secondary {
    background: color($colors, secondary);
    color: color($colors, light);
    margin-top: -12px;
    margin-left: -20px;
    margin-right: -20px;
    height: 50px;
  }

  .navbarLogo {
    height: 37px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }

  #text-banner {
    padding-top: 20px;
    color: color($colors, light) !important;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 400;
    color: color($colors, light);
    margin-top: -4px;
  }
  .row {
    padding-top: 5px;
  }
  .button-item {
    background-color: color($colors, secundaryLight);
    color: color($colors, light);
  }
}
