<!--
  Generated template for the Cuestionario15Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Formación de Carácter ¿Cómo se forma el carácter?</b>

      <p>
        El carácter es lo que hace a una persona. No está definido por como una persona se ve en el exterior sino por
        quien realmente es en el interior. La medida concluyente del crecimiento de una persona y el nivel de madurez
        espiritual está definido por las cualidades de carácter que esa persona posee en la vida real. Un carácter
        realmente piadoso solo puede ser encontrado en la presencia del Santo Dios. ¡Dios es un Dios de carácter! Para
        que
        su carácter se refleje en nuestras vidas, lo tenemos que conocer, aprender de Él, obedecerlo y someternos por
        completo a Su voluntad.
      </p>

    </ion-slide>
    <ion-slide>

      <b>
        ¿Qué es el carácter?
      </b>
      <p>
        1. Carácter es el
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        a un conjunto de valores sin un
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        . <br>
        2. Carácter es la convicción de hacer lo que es
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        a pesar del costo. <br>
        3. Carácter es el
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        que haces por un principio en el cual crees.
        <br>
        4. Carácter es
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        . <br>
        5. Carácter es permanecer en la
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        de lo que crees que es correcto a pesar de las presiones y
        demandas del mundo para que cambies de pensamiento.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        <br>
        6. Carácter es decirle
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        a Dios y
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        al diablo.
        <br>
        7. Carácter es
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        ante Dios y los hombres. Es exponer tu vida ante todos sin nada que esconder.
        <br>
        8. Carácter es
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        . Es crecer en la plenitud de Cristo.
        <br>
        9. El carácter es la
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        de la fibra moral.
        <br>
        10. El carácter es la
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        del ser humano, así como la pureza es la excelencia del oro y la
        belleza la excelencia del arte.
        <br>
      </p>

    </ion-slide>
    <ion-slide>
      <b>
        ¿Cómo se forma el carácter?
      </b>
      <p>
        1. El carácter
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        es construido en un aula.
        <br>
        • Es edificado en las
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        de la vida. Cuando entendemos como Dios utiliza las circunstancias para
        desarrollar carácter somos capaces de responder correctamente cuando Dios nos coloca en oportunidades para
        construir el carácter.
        <br>
        • Dios nos permite enfrentarnos a diferentes tipos de dificultades en la vida, no solamente para
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        nuestro carácter sino para fortalecerlo. Romano 5:3-4 dice “…sino que también nos gloriamos en las
        tribulaciones,
        sabiendo que la tribulación produce paciencia; 4 y la paciencia, prueba; y la prueba, esperanza;”
        <br>
      </p>
    </ion-slide>
    <ion-slide>
      <p>
        • Así como el oro se refina bajo la presión más intensa, el carácter es fortalecido bajo adversidad intensa. El
        carácter se probará en el
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        de la adversidad.
        <br>
        • Conocerás el carácter de una persona por como responde a los obstáculos que enfrenta.
        <br>
        • Rick Warren dice “Cada problema es una oportunidad para construir carácter”.
      </p>
      <p>
        2. El carácter es desarrollado por las
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        que hacemos.
        Nuestras elecciones a menudo son los mejores
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        del carácter que poseemos.

      </p>
    </ion-slide>

    <ion-slide>
      <p>

        • La elección de José de huir de la seducción de la esposa de Potifar es un ejemplo clásico de un hombre de
        carácter. Leemos esta historia en Génesis 39. Esto es lo que José le dijo a la esposa de Potifar en los versos
        9-10 “…¿Cómo, pues, haría yo este gran mal, y pecaría contra Dios?10 Hablaba ella a José cada día, pero él no la
        escuchaba para acostarse al lado de ella, para estar con ella”
      </p>
      <p>
        • El carácter también
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        las decisiones que tomamos. Daniel decidió no contaminarse en Babilonia
        (Daniel 1:8), y esa decisión piadosa fue un paso importante para formular una integridad irrefutable en la vida
        del joven hombre. “La integridad de los justos los guía”. (Proverbios 11:3). El carácter nos ayudará a capear
        las tormentas de la vida y alejarnos del pecado.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        • Cuando tomamos la decisión correcta, nuestro carácter crece para ser más como el de Cristo.
      </p>


      <p>
        3. El carácter es alimentado en los momentos
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        de tu vida.
      </p>
      <p>
        • La medida del carácter de una persona es determinada por lo que hace en privado.
        • No es lo que haces en público lo que revela tu verdadera naturaleza, es lo que haces cuando estás
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        .
        <br>
        • David era un hombre tras el corazón de Dios. Sus cualidades de carácter fueron alimentadas en la presencia de
        Dios mientras cuidaba las ovejas de su padre. No había nadie para supervisarlo.
      </p>
    </ion-slide>
    <ion-slide>

      <p>
        4. El carácter es formado a través de la
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        a la palabra de Dios. Cuando decimos
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        a Dios, a pesar de las circunstancias que atravesamos eso revela carácter.
      </p>
      <p>
        • Samuel le dijo al Rey Saúl “La obediencia es mejor que el sacrificio…” (I Samuel 15:22).
      </p>
      <p>
        • El sacrificio es ofrecido para expiar un pecado que ya ha sido cometido, pero la obediencia nos
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        de pecar.
      </p>
      <p>
        5. Podemos desarrollar carácter al controlar nuestros


        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        .
      </p>


    </ion-slide>


    <ion-slide>
      <p>
        • Pablo dijo en Filipenses 4:8 “ Por lo demás, hermanos, todo lo que es verdadero, todo lo honesto, todo lo
        justo,
        todo lo puro, todo lo amable, todo lo que es de buen nombre; si hay virtud alguna, si algo digno de alabanza, en
        esto pensad”.
        • Necesitamos entrenar nuestras mentes para pensar bien, porque cuando pensamos bien, haremos bien.
      </p>
      <p>
        6. El carácter puede ser formando a través de la
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        de las virtudes cristianas.
        • Estas virtudes cristianas están enlistadas en 2 Pedro 1:5-7: fe, bondad, conocimiento, dominio propio,
        perseverancia, amor al prójimo y amor.
        • Estas cualidades de carácter están hechas para
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        , no para interpretarse. Solamente aplicándolas podemos crecer en carácter.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        7. El carácter también es formado
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        nuestros corazones.
      </p>
      <p>
        • Proverbios 4:23 dice “Guarda tu corazón porque de él mana la vida”. Dios se comunica con nosotros de espíritu
        a espíritu. Cuando nos rendimos por completo al Él, somos capaces de guardar nuestro corazón y controlar
        nuestros pensamientos.
        <br>
        • El corazón es la pieza central de nuestra relación con Dios. Cuando nuestro corazón está corrompido, tu ser
        completo está corrompido, incluso si tienes una mente brillante.
      </p>


    </ion-slide>

    <ion-slide>


      <p>
        8. Podemos desarrollar carácter al estar con las
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        .
      </p>
      <p>
        • No se dejen engañar “las malas compañías arruinan las buenas costumbres” (1 Corintios 15:33). ¡Ten cuidado con
        las personas que dejas que te influencien!.
        <br>
        • Cuando te unes a las personas equivocadas, irás a lugares equivocados y harás las cosas equivocadas. Lo
        contrario es equivalentemente cierto.
      </p>
      <p>
        9. El carácter se desarrolla al ver las cosas desde la
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        de Dios.
      </p>
      <p>
        • Desarrollamos carácter cada vez que elegimos responder a una situación de la manera de Dios en vez de seguir
        nuestra inclinación natural.
        <br>
        • La perspectiva de Dios sobre las personas y las situaciones siempre es consistente con su carácter.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        10. La meta final en el desarrollo del carácter es la
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        .
      </p>
      <p>
        • Gálatas 5:22-23 “22 Pero el fruto del Espíritu es amor, gozo, paz, paciencia, benignidad, bondad, fe,23
        mansedumbre, templanza; contra tales cosas no hay ley”.
        <br>
        • Cuando un cristiano es capaz de manifestar estas cualidades de carácter, ella o él se están acercando a la
        plenitud de Cristo.
        <br>
        • Esta es la mayor medida de la jornada de un cristiano hacia la madurez espiritual.
        <br>
        • Dios no nos responde mediante los talentos que expresemos sino por el carácter que tengamos.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
