<!--
  Generated template for the RelacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
  </ion-navbar>
</ion-header>

<ion-content padding id="contenido">

  <div id="banner-secondary" block>

    <img src="../../../assets/imgs/relaciones.png"  class="navbarLogo" item-end>
    <ion-title id="text-banner">
      RELACIONES
    </ion-title>
  </div>
  <br>
  <ion-list >

    <ion-row class="row" *ngFor="let datos of relaciones">
      <button ion-item no-lines (click)="openNavDetailsPage(datos)" class="button-item" [style.background-color]="datos.color">
        {{datos.nombre}}
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
    </ion-row>

  </ion-list>

</ion-content>
