<ion-header>
  <ion-navbar color="primary">
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
    <ion-buttons end>
      <button ion-button icon-only (click)="startAudio()" style="padding-right: 15px;">
        <img src="../../assets/imgs/radio.png" class="navbar-logo"/>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="contenido" padding>

  <ion-grid>

    <ion-row>
      <h4 class="title-news">Plan 100 Mil Discipulos</h4>
    </ion-row>

  </ion-grid>


  <ion-card>

    <ion-row>
      <iframe width="560" height="250" [src]="sanitize(vid1)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">Compañía del G-100</h4>
      </ion-card-title>
      <p class="info-news">Proporcionamos capacitación para líderes de la fe enfocados
        para ayudarle a tener éxito en el desarrollo de su llamado para el
        ministerio.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-row>
      <iframe width="100%" height="250" [src]="sanitize(vid2)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">Orando / Dr. Javier Espinoza</h4>
      </ion-card-title>
      <p>

      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-row>
      <iframe width="100%" height="250" [src]="sanitize(vid3)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">Conociendo a nuestro ayudador / Dr. Javier Espinoza</h4>
      </ion-card-title>
      <p>

      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-row>
      <iframe width="100%" height="250" [src]="sanitize(vid8)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">Nuestros Coequiperos</h4>
      </ion-card-title>
      <p class="info-news">Pastores comprometidos en el espíritu del G-100 tienen acceso a
        oportunidades de capacitación sin precedentes diseñadas para
        maximizar el conocimiento
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-row>
      <img class="" src="../../assets/imgs/suliasik.jpeg" alt="" height="150" width="400"/>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">Suliasi Kurulo</h4>
      </ion-card-title>
      <p class="info-news">El reverendo Suliasi Kurulo es el fundador y presidente de CMFI
        (Christian Mission Fellowship International) una comunidad de
        rápido crecimiento
      </p>
      <button ion-button icon-start clear small style=" padding-left: 0px; padding-right: 0px;" (click)="verMas()">
        <div>Ver Más..</div>
      </button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-row>
      <iframe width="100%" height="250" [src]="sanitize(vid4)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">Servicio Dominical - Junio 19, 2011</h4>
      </ion-card-title>
      <p>

      </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-row>
      <iframe width="100%" height="250" [src]="sanitize(vid5)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">Dr. Suliasi Kurulu (Tucumán- Argentina) Primera Conferencia</h4>
      </ion-card-title>
      <p>

      </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-row>
      <iframe width="100%" height="250" [src]="sanitize(vid6)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">C.M.F.I Latino America Suliasi Kurulo</h4>
      </ion-card-title>
      <p>

      </p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-row>
      <iframe width="100%" height="250" [src]="sanitize(vid7)" frameborder="0" allowfullscreen></iframe>
    </ion-row>

    <ion-card-content>
      <ion-card-title>
        <h4 class="title-news">C.M.F.I Latino Amenrica</h4>
      </ion-card-title>
      <p>

      </p>
    </ion-card-content>
  </ion-card>


</ion-content>
