page-contact {
    .navbar-logo {
        height: 30px;
        float: left;
        padding-left: 15px;
    }
    .hr-news {
        display: block;
        height: 7px;
        border: 0;
        background-color: #e94b677d;
        margin: 1em 0;
        padding: 0;
    }
    .wrapper {
        padding: 5px;
    }
    .title-news {
        color: color($colors, secondary);
        font-weight: 400;
    }
    .img-news {
        border-style: solid;
        border-color: color($colors, secondary);
        border-width: 10px;
        border-radius: 10px;
    }
    .info-news {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-align: justify;
    }
}
