page-home {
    .navbar-logo {
        height: 30px;
        float: left;
        padding-left: 15px;
    }
    .navbar-logo2 {
        height: 30px;
        float: right;
        padding-right: 15px;
    }
    #contenido {
        background: color($colors, background);
        color: color($colors, primary);
    }
    #banner-primary {
        background: color($colors, primary);
        color: color($colors, light);
    }
    #text-banner {
        padding: 20px;
    }
    #text-simple {
        padding-left: 8px;
        padding-right: 8px;
        text-align: justify;
    }
    #hr-primary {
        display: block;
        height: 2px;
        border: 0;
        background-color: color($colors, secondary);
        margin: 1em 0;
        padding: 0;
    }
    #btn-home {
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
    }
  ion-slides {
    margin-top: 10px;
    height: 30%;
  }
}
