<ion-header>
  <ion-navbar color="primary">
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
    <ion-buttons end>
      <button ion-button icon-only (click)="startAudio()" style="padding-right: 15px;">
        <img src="../../assets/imgs/radio.png" class="navbar-logo"/>
      </button>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="contenido">

  <div id="banner-primary">
    <p id="text-banner">
      Empoderando a los obreros cristianos de hoy para los desafíos de mañana.
    </p>
  </div>

  <ion-slides autoplay="5000" loop="true" speed="500">

    <ion-slide>
      <img src="../../assets/imgs/home1.jpeg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home2.jpeg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home3.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home4.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home5.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home6.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home7.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home8.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home9.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home10.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home11.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home12.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home13.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home14.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/imgs/home15.jpg" alt="">
    </ion-slide>

  </ion-slides>


  <div id="text-simple">

    <p>
      Este manual de entrenamiento fue creado para empoderar y equipar con el propósito de que los trabajadores
      cristianos sean ministros efectivos y productivos del Evangelio en todos los niveles de la sociedad.
    </p>

  </div>

  <hr id="hr-primary">


  <div id="text-simple">
    <p>Está diseñado para ser simple, práctico y efectivo en su presentación. Esta herramienta puede ser usada para
      nuevos creyentes, grupos celulares, y diferentes grupos ministeriales como los grupos de hombres, de mujeres, de
      juventud, de niñez y
      más.
    </p>
  </div>


  <ion-grid>
    <ion-row>

      <ion-col col-6>
        <button block ion-button color="secondary" id="btn-home" (click)="goBienvenidos()"><span>Bienvenidos</span>
        </button>
      </ion-col>

      <ion-col col-6>
        <button block ion-button color="secondary" id="btn-home" (click)="goConsejosPracticos()">Consejos Prácticos
        </button>
      </ion-col>

      <ion-col col-12>
        <button block ion-button color="secondary" id="btn-home" (click)="irAWeb()">Plan 100 Mil Discipulos
          Web
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
