<!--
  Generated template for the Cuestionario9Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Las decisiones del discipulado</b>
      <p>
        “La iglesia solo existe para atraer a los hombres a Cristo, para hacerlos pequeños Cristos. Si no están haciendo
        eso, entonces todas las catedrales, misiones, clérigos, sermones e incluso la Biblia son una pérdida de tiempo.
        Dios se hizo hombre por este único propósito”. CS Lewis.
      </p>

      <p>
        • La vida está llena de
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        . ¿Cuál camino debo seguir? ¿Qué dirección debo seguir? ¿A cuál
        universidad debo ir? ¿Cuáles cursos debo matricular? ¿Cuál trabajo debo tomar? ¿Con qué persona me debo casar?
        ¿Dónde debo vivir?
      </p>
      <p>
        • Antes de comprometerte con algo que va afectar el resto de tu vida debes primero pensar
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Debes tomar grandes decisiones. Debes estar seguro de ciertas cosas. Debes estar
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        de que con
        lo que comprometes tu vida es completamente valioso de tu tiempo, tus esfuerzos, y los años preciosos de tu vida
        que le dedicarás.
      </p>

      <p>
        • Si esto es cierto acerca del trabajo que escoges o de las metas que te fijas, es aún más cierto con el
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        .
      </p>
      <p>
        • Para Jesús el llamado al discipulado es comprometer toda tu vida a El, no solamente una parte. ¡Esta no es una
        pequeña decisión! Jesús
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        todo o nada.
      </p>
      <p>
        • Conforme vemos a los 12 discípulos notamos que ellos enfrentaron grandes decisiones al empezar a seguir a
        Jesús.
        Tuvieron que llegar a
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        profundas (fuertes creencias) antes de estar dispuestos a comprometer
        sus vidas enteras a El.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Lo mismo es cierto acerca de nosotros. Antes de que una persona pueda estar completamente
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        como discípulo de Jesucristo, debe primero estar seguro de estas tres cosas importantes:
      </p>
      <p>
        • La persona de Jesús (¿Quién es El?)
      </p>
      <p>
        • Su propia persona (¿Quién soy yo?)
      </p>
      <p>
        • La vía de encontrar significado y propósito en la vida
      </p>

    </ion-slide>
    <ion-slide>




      <p>
        Vamos a ver estas tres importantes decisiones del discipulado en los próximos tres estudios.
        “Dame 100 hombres que le teman a Dios y que odien el pecado, y sacudiremos las puertas del infierno” John Wesley
      </p>
      <p>
        ¿A quién estoy siguiendo? – Una pregunta importante
        <br>
        Pasaje de estudio: Mateo 16:13-20
        Escuchar el llamado de Cristo como un discípulo joven puede ser difícil cuando enfrentas preguntas duras de
        responder. ¿Quién es este a quién sigo? ¿Debería comprometer mi vida a El? ¿Es digno de mi confianza? ¿Puedo
        poner confiadamente mi vida en sus manos?
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        1. Los primeros discípulos enfrentaron esta misma decisión. Al inicio siguieron a Jesús
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        .
        Tenían grandes esperanzas de que Jesús era el mesías esperado de Israel, pero aún no estaban seguros. Y como no
        estaban seguros, no estaban comprometidos a seguirlo por completo.
      </p>
      <p>
        2. Pero antes se seguir avanzando en el
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        , tuvieron que estar seguros de que Jesús era todo lo
        que El aseguraba que era. Debían de estar seguros de que era el correcto a seguir. Tenían que responder la
        importante pregunta que Jesús les hizo “¿Quién dicen ustedes que yo soy?”
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        3. Esta es una de las preguntas más importantes en la vida. No es suficiente responder esta pregunta diciendo lo
        que otras personas como tus padres, pastores u amistades piensan. Sus experiencias o ideas de Cristo no
        compensan
        tu necesidad (vs 13-14). La pregunta es personal “¿Quién dices tu que yo soy?”. Es una pregunta que todos
        debemos
        responder con una
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        profunda antes de poder movernos en el camino del discipulado
        cristiano.
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        ¿Cuál es tu respuesta?
      </b>
      <p>
        La respuesta de Pedro fue clara “Eres Cristo (el Mesías) el hijo del Dios viviente” (vs 16)
      </p>
      <p>
        • Pedro había resuelto dos
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        fuertes acerca de la persona de Jesús. Jesús era el Mesías de los
        cuales los profetas del Antiguo Testamento habían hablado por siglos. Pero aún más que eso, El era el hijo de
        Dios.
      </p>
      <p>
        • Era un gobernador Celestial, un ser
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        .
        <br>
        • El tenía una
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        especial y eterna con el Dios viviente. ¿Cómo tuvo Pedro esta creencia acerca
        de Jesús? ¿Por lo que otros decían de El? ¡No! ¿Por su propio entendimiento? ¡No!
      </p>
      <p>
        • El tuvo esta creencia por
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        divina. Dios, por su Espíritu, se lo había mostrado. (vs 17).
      </p>


    </ion-slide>


    <ion-slide>
      <p>
        • ¿Quién crees que es Jesús? ¿Tienes alguna creencia fuerte de quien es El? ¿Es El alguien especial para ti? ¿Es
        El diferente a todos los demás? Hasta que hayas visto (como Pedro) quien Jesús es en realidad de una forma
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        , no podrás avanzar mucho en el camino del discipulado.
      </p>
      <p>
        • Podrás seguir como uno de las multitudes, pero nunca como un discípulo cercano. ¿Cómo puedes acceder a este
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        de Jesús? Como Pedro, a través de la revelación divina. Pídele a Dios que por su Espíritu se
        revele a ti. ¿Crees que tal revelación puede cambiar tu vida?
      </p>



    </ion-slide>
    <ion-slide>
      <b>
        Conócete

      </b>
      <p>
        Pasaje de estudio: Lucas 5:1-11
        <br>
        • ¿Quién eres? En el exterior eres lo que
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        ven que eres. Pero en el interior eres una mixtura
        de ciertas emociones y pensamiento, esperanzas y miedos, fortalezas y debilidades, alegrías y tristezas, deseos
        y desilusiones que solamente tu conoces, y los demás no ven.
      </p>

      <p>
        • Hay partes de tu vida
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        que incluso tu mismo no entiendes por completo. Aunque has vivido por
        todos estos años aún no puedes decir que te conoces por completo.
      </p>

      <p>
        • ¿Quién soy yo? Si yo no puedo responder esta pregunta, ¿quién puede?
      </p>

    </ion-slide>



    <ion-slide>


      <p>
        • Un importante resultado de seguir a Cristo es el crecimiento en el
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        . A medida que
        conoces mejor a Cristo, te conocerás mejor a ti mismo.
      </p>
      <p>
        • De hecho, no puedes avanzar lejos en el discipulado hasta que
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        dos cosas acerca de ti
        mismo.
      </p>
      <p>
        1. Reconocer que tu mayor fortaleza no es suficiente
      </p>
      <p>
        • La pesca era la
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        de Pedro. Cuando se trataba de atrapar peces nadie le tenía que decir a
        Pedro que hacer, solo cuando Jesús se acercó. ¿Qué podía enseñarle un carpintero a un pescador acerca de la
        pesca? Jesús le enseñó una lección importante.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Donde Pedro pensó que era fuerte encontró que Jesús era
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        .
      </p>
      <p>
        • Donde Pedro pensó que era suficiente se enfrentó con una verdad que lo humilló con el hecho de que él no era
        suficiente. El tuvo que
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        incluso lo mejor de él al control del Maestro. (1 Corintios 1:25)
      </p>
      <p>
        • Esta es una
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        importante que todo discípulo debe aprender acerca de sí mismo antes de que
        pueda avanzar en el discipulado.
      </p>
      <p>
        • Incluso mi área de mayor fortaleza, donde tengo habilidades naturales, entrenamiento y experiencia,
        permanecerán estériles hasta que las haya rendido a la
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        de la vida de la Vid. (Juan 15:5)
      </p>
      <p>
        • El
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        en el discipulado requiere no solamente que rinda mi debilidad al control de Cristo,
        también debo rendir mi fortaleza.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        2. Reconocer el pecado de tu propio corazón
      </p>
      <p>
        • El milagro de la pesca llevó a Pedro a una gran
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        en su vida. Le mostró con claridad la
        gloria y santidad de Cristo, pero también le mostró su pecado y su indignidad.
      </p>
      <p>
        • La revelación de la gloria de Cristo siempre hace eso. Nunca deje al ser humano de pie en su propia justica y
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        . Los trae a los pies de Jesús en una confesión humilde que no puede ser todo lo que Jesús
        lo
        llama a hacer. El crecimiento en discipulado requiere que el Espíritu Santo nos muestre más de nuestra vida de
        pecado y como lidiar con eso. (Isaías 6:1-6)
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        • ¿Quién soy? Es solamente a través del
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        que realmente puedo responder esta pregunta. Y
        esta
        es una pregunta que debo enfrentar si quiero avanzar en el discipulado. Debo entender que en relación con Cristo
        soy débil y pecador. Esta revelación de nosotros mismos no es para dejarnos miserables e infelices. Más bien
        sirve
        para traerme a un lugar de
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        de mi mismo, para tener un incremento de libertad para servir a
        Cristo con todo mi corazón (vs 11, Isaías 6:7-8).
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        ¿Estoy en el camino correcto?
      </b>
      <p>
        Pasaje de estudio Juan 6:60-69
      </p>
      <p>
        ¿Has tenido la sensación de estar caminando y tener un sentimiento de insatisfacción que te hace preguntarte
        si estás en el camino incorrecto? Una situación así te hace sentir incierto, desacelera tu progreso y hasta
        puede llevarte a buscar otro camino. Para llegar al lugar correcto debes decidir si estás o no en el camino
        incorrecto, ya sea para regresar o para estar completamente seguro que de vas en la dirección correcta.
        Lo mismo es cierto en el discipulado. Para poder seguir avanzando debes estar en un lugar en el que estás
        completamente seguro de que estás en el lugar correcto, de que Jesús es el único camino.
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        1. Hay muchos caminos
      </b>
      <p>
        • El camino del discipulado cristiano es tan solo
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        camino entre muchos. En la actualidad alrededor
        nuestro hay muchos otros caminos que podemos escoger. Hay muchas otras voces que nos están llamando. Y cada una
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        la respuesta a la vida. Está el camino de las costumbres y tradiciones, el camino de la
        educación y el aprendizaje, el camino del materialismo, el dinero y las posesiones, el camino del placer y la
        aventura, el camino del comunismo, animismo, budismo, hinduismo, islamismo y cualquier otro tipo de sistema
        religioso. Hay muchos caminos y muchas voces llamando “Este es el camino” ¿Pueden unos cuantos estar en lo
        correcto y muchos en lo incorrecto? Que lástima invertir mi vida
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        un camino que me deja
        vacío, insatisfecho y perdido.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        2. Solo hay un camino
      </p>
      <p>
        • Jesús lo dejó claro, que solo hay un camino a la
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        , uno angosto y difícil que solo algunas
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        lo encuentran (Mateo 7:14). Este es el camino de Jesús, el camino del discipulado (Juan
        14:6). Al principio grandes multitudes seguían a Jesús, pero cuando aprendieron que el discipulado era difícil,
        uno a uno se fueron y no lo siguieron más.
      </p>
      <p>
        • Jesús se volvió a los 12 que
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        y les preguntó “¿Ustedes también se irán?” ¿Cuál sería la
        respuesta de ellos?
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • Jesús nunca nos
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        a ser sus discípulos, es una decisión que nos deja a nosotros. Pero si
        queremos ser sus verdaderos discípulos vendrá un momento en que tendremos que decidir si estamos o no en el
        camino correcto, si nos iremos con Cristo o si nos regresaremos, si seguiremos o si nos daremos por vencidos. No
        hay escape para esta decisión.
      </p>
      <p>
        • Si estoy inseguro entonces estaré tibio e
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        . Siempre estaré viendo este camino o aquel otro
        porque tal vez pueden ser mejores. Me rendiré fácilmente cuando los tiempos difíciles lleguen. ¿Estaban los 12
        discípulos convencidos de que Jesús era el único camino? ¡Sin duda alguna! Estaban completamente seguros, sabían
        que estaba en el camino correcto. (vs 68-69). ¿Estas tu seguro?
      </p>

    </ion-slide>



  </ion-slides>
</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
