<!--
  Generated template for the Cuestionario44Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b>
        Consejería y sanidad interior
      </b>
      <p>“¿A cuál mejor consejo o inspiración podríamos acudir que a esta verdad imperecedera que se encuentra en esta
        joya, la Biblia?” Reina Elizabeth II </p>

      <b class="titulo">¿Qué es la consejería y la sanidad interior?</b>
      <p>1. La consejería es una <label class="respuesta corta" [style.color]="respuestas[0].color"
                                        (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        entre dos personas en la que se comparte información,
        se discuten opciones y se ayuda al aconsejado para que pueda encontrar la mejor opción de las discutidas.</p>
      <p>2. En la consejería y en la sanidad interior las personas responden cuando
        saben que el consejero muestra una preocupación <label class="respuesta corta"
                                                               [style.color]="respuestas[1].color"
                                                               (click)="openActionSheet('1')">{{respuestas[1].text}}</label>,
        los ama y <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        identificarse con sus problemas y ofrecer soluciones.</p>
    </ion-slide>

    <ion-slide>
      <p>3. La sanidad interior significa que nos volvemos más como Jesucristo. Si estamos cargando con todo nuestro
        equipaje (heridas viejas y miedos) no podemos volvernos como Jesús.
        Nuestros espíritus están <label class="respuesta corta" [style.color]="respuestas[3].color"
                                        (click)="openActionSheet('3')">{{respuestas[3].text}}</label> y Jesús quiere
        sanar nuestros espíritus.
        Él nos quiere traer al entendimiento de que podemos tener una vida llena de paz que sobrepasa todo
        entendimiento.
        Sanar el espíritu herido es un <label class="respuesta corta" [style.color]="respuestas[4].color"
                                              (click)="openActionSheet('4')">{{respuestas[4].text}}</label> a
        través del cual las memorias <label class="respuesta corta" [style.color]="respuestas[5].color"
                                            (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        o dolorosas son tomadas <label class="respuesta corta" [style.color]="respuestas[6].color"
                                       (click)="openActionSheet('6')">{{respuestas[6].text}}</label> y hechas obedientes
        a Cristo. </p>
    </ion-slide>

    <ion-slide>
      <p>4. La sanidad interior es la <label class="respuesta corta" [style.color]="respuestas[7].color"
                                             (click)="openActionSheet('7')">{{respuestas[7].text}}</label> de la persona
        interna,
        del espíritu y de la profundidad de la mente. Es la <label class="respuesta corta"
                                                                   [style.color]="respuestas[8].color"
                                                                   (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de las memorias y heridas creadas por los pecados de otros, así como las propias decisiones pecaminosas.
        La sanidad interior también es la <label class="respuesta corta" [style.color]="respuestas[9].color"
                                                 (click)="openActionSheet('9')">{{respuestas[9].text}}</label> de la
        esclavitud, adicciones,
        comportamientos compulsivos y abuso de sustancias. Juan 8:32 dice “y conoceréis la verdad y la verdad os hará
        libres”.</p>
      <p>5. La sanidad interior está basada en la premisa de que los sentimientos de una persona no existen sin tener
        una memoria en mente como fuente de ese sentimiento. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Guías para la consejería y la sanidad interior.</b>
      <p>Se recomienda lo siguiente:</p>
      <p>• Un cristiano maduro que sea altamente respetado en la comunidad, especialmente en la iglesia.</p>
      <p>• Es recomendable que las mujeres atiendan mujeres, y los hombres atiendan hombres.</p>
      <p>• Si la esposa de un consejero no está presente sobre todo cuando la persona aconsejada es del sexo opuesto, el
        aconsejado debe traer con él a otra persona de su confianza.</p>
      <p>• Para la sanidad interior se recomienda a personas que tengan el <label class="respuesta corta"
                                                                                  [style.color]="respuestas[10].color"
                                                                                  (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        en esta área.</p>
    </ion-slide>

    <ion-slide>
      <p>• Un buen consejero es uno que <label class="respuesta corta" [style.color]="respuestas[11].color"
                                               (click)="openActionSheet('11')">{{respuestas[11].text}}</label> más y
        habla menos. Cuando escuchas le muestras al aconsejado que estás interesado en ayudarle con sus problemas.</p>
      <p>• Asegúrale a la persona confidencialidad. La <label class="respuesta corta"
                                                              [style.color]="respuestas[12].color"
                                                              (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        es muy importante en la consejería y la sanidad interior. Los aconsejados a veces comparten secretos muy
        personales
        que no comparten libremente, y es importante que el consejero respete la confidencialidad de esa información.
      </p>
      <p>• Si no te queda claro lo que te están diciendo has preguntas. No adivines, terminarías dando un consejo
        incorrecto.</p>
      <p>• Construye <label class="respuesta corta" [style.color]="respuestas[13].color"
                            (click)="openActionSheet('13')">{{respuestas[13].text}}</label> con tu aconsejado para que
        puedan
        compartir todo lo que necesitas saber, sin reservas. Hasta que sepas la información total puedes dar el remedio
        correcto. </p>
    </ion-slide>

    <ion-slide>
      <p>• Mantén el contacto visual con la persona aconsejada. Muestra que estás escuchando y que te preocupas. Motiva
        al
        aconsejado a que hable si tiene dudas en hablar. Provee apoyo emocional para la persona. </p>
      <p>• Si sientes que no tienes la respuesta para la pregunta que la persona aconsejada hace, dile que vas a buscar
        la respuesta para la próxima sesión o que lo referirás con alguien más.</p>
      <p>• No critiques mientras aconsejas.</p>
      <p>• No hagas promesas que no puedas mantener. </p>
      <p>• No impongas tus propias soluciones sobre la persona aconsejada.</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">3 tipos de consejería y sanidad interior</b>
      <p>1. Anima: Cada creyente está llamado al ministerio de <label class="respuesta corta"
                                                                      [style.color]="respuestas[14].color"
                                                                      (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        y
        ayuda a los otros, especialmente a aquellos de la familia de la fe.</p>

      <p>2. Enseñanza: Pastores, ancianos y líderes de la iglesia tienen una oportunidad especial y una
        responsabilidad para <label class="respuesta corta" [style.color]="respuestas[15].color"
                                    (click)="openActionSheet('15')">{{respuestas[15].text}}</label> los principios
        bíblicos de vida para los creyentes. </p>

      <p>3. Explora: Algunos tienen que ser entrenados específicamente para un ministerio especializado en consejería
        involucrando una exploración más <label class="respuesta corta" [style.color]="respuestas[16].color"
                                                (click)="openActionSheet('16')">{{respuestas[16].text}}</label> de los
        problemas persistentes. </p>

    </ion-slide>

    <ion-slide>
      <b class="titulo">La meta de la consejería y de la sanidad interior</b>
      <p>• Ser como Cristo o <label class="respuesta corta" [style.color]="respuestas[17].color"
                                    (click)="openActionSheet('17')">{{respuestas[17].text}}</label>. La meta de cada
        cristiano
        es ser como Cristo en su vida, ejemplo, conducta, discurso y fe. </p>
      <p>• Ser <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        espiritual y psicológicamente.
        La madurez involucra dos elementos: <label class="respuesta corta" [style.color]="respuestas[19].color"
                                                   (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        directa en situaciones específicas
        y <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        de largo alcance en el crecimiento. La madurez
        es el componente clave para lidiar con la consejería y la sanidad interior. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Condiciones para la libertad total de las heridas del pasado</b>
      <p>• Adecuado <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        espiritual por el consejero y aconsejado.</p>
      <p>• Completa <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        por el aconsejado. Nadie puede ser liberado
        de las heridas a menos de que sean transparentes acerca de sus problemas. </p>
      <p>• Confianza en la guía del Espíritu Santo. </p>
      <p>• Conducta habilidosa por parte del consejero durante la totalidad del proceso. </p>
    </ion-slide>

    <ion-slide>
      <p>• Diagnóstico de <label class="respuesta corta" [style.color]="respuestas[23].color"
                                 (click)="openActionSheet('23')">{{respuestas[23].text}}</label> de los problemas e
        identificación de las
        soluciones correctas. Se cuidadoso de no estar tratando simplemente con los síntomas. </p>
      <p>• Humildad.</p>
      <p>• Un corazón <label class="respuesta corta" [style.color]="respuestas[24].color"
                             (click)="openActionSheet('24')">{{respuestas[24].text}}</label> es necesario para la
        liberación total.</p>
      <p>• Voluntad para <label class="respuesta corta" [style.color]="respuestas[25].color"
                                (click)="openActionSheet('25')">{{respuestas[25].text}}</label> a los pecados pasados.
      </p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        total.</p>
      <p>Romanos 8:1 “Ahora, pues, ninguna condenación hay para los que están en Cristo Jesús, los que no andan conforme
        a la carne, sino conforme al Espíritu”</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Una oración para la sanidad interior</b>
      <p>Señor Jesús vengo a tu presencia y te pido que me rodees. Vengo bajo tu autoridad sobre mi vida. Me entrego a
        Ti
        en cuerpo, alma y espíritu. Te doy mi corazón en cada sentido, incluyendo mis partes rotas.</p>
      <p>Declaro tu autoridad sobre mi corazón, tu hiciste mi corazón y lo has redimido. Te invito a este lugar roto
        dentro de mi. Te doy acceso total a mi corazón. Ven Señor y haz brillar tu luz aquí. Revélame todo lo que está
        sucediendo en mi vida. Ven y guíame en la sanidad de este corazón roto. Háblame aquí Señor. Dame oídos para
        escuchar y ojos para ver lo que estás revelando. No dejes que ninguna otra voz hable excepto la tuya, mi Señor
        Jesús, solamente la tuya. Perdóname por las maneras en la que he manejado mi quebranto mal. Solamente tu me
        haces
        habitar en seguridad.</p>

    </ion-slide>

    <ion-slide>
      <p>Perdóname por auto-protegerme y auto-redimirme, y por todos mis consuelos falsos. Limpia mi corazón de cada
        pecado por tu sangre derramada. </p>
      <p>Rompo todo acuerdo que haya hecho con satanás y sus mentiras. Renuncio a cualquier derecho que le haya dado al
        enemigo, y en el nombre de Jesús ordeno que huya. Jesús ven y has como prometiste, sana mi corazón roto y ponme
        en
        libertad. Le doy la bienvenida a tu sanidad, a un nuevo corazón y a una nueva mente. Véndame y hazme completo.
        En
        el nombre de Jesús. Amén</p>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
