<!--
  Generated template for the Cuestionario32Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>


      <b class="titulo">La tarea del Evangelismo</b>

      <P>

        A luz del versículo es claro que el final del mundo y el regreso de Jesús dependen de que el Evangelio sea
        predicado a todas las personas en todo lugar. Esto no significa que no todo quien escuche el evangelio se
        convertirá, sino que cada persona en la Tierra merece la oportunidad de ser expuesta a una presentación clara
        del mensaje del Evangelio.

      </P>


    </ion-slide>

    <ion-slide>
      <b>
        Una mirada a uno de los pasajes de la Gran Comisión
      </b>

      <p>
        Los pasajes de la Gran Comisión en los 4 evangelios y en el libro de los Hechos son nuestra orden
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        como cristianos para la evangelización del mundo. Si creemos en Jesucristo como Señor y
        Salvador, tenemos que ser también
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        a sus mandamientos.
        Hudson Taylor dijo “La gran comisión no es una opción a ser considerada. Es un mandamiento que debe ser
        obedecido”.
        Oswald J. Smith dijo “Cualquier iglesia que no esté seriamente involucrada en ayudar a cumplir la gran comisión
        ha perdido su derecho bíblico de existir”.
      </p>


    </ion-slide>

    <ion-slide>

      <p>

        Mateo 28:18 -20 nos da un
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        claro sobre la Gran Comisión. Esto es lo que los versos dicen “18
        Jesús se acercó y les habló diciendo: «Toda potestad me es dada en el cielo y en la tierra.19 Por tanto, id y
        haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, del Hijo y del Espíritu Santo, 20 y
        enseñándoles que guarden todas las cosas que os he mandado. Y yo estoy con vosotros todos los días, hasta el fin
        del mundo. Amén”.
        <br><br>
        Hay 4 principios que involucran la palabra “toda/o” en los pasajes anteriores que queremos examinar para
        entender porque es que debemos involucrarnos en la evangelización del mundo.


      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Toda autoridad. Esta es nuestro
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        divino. Jesús ha prometido que la autoridad total y los
        recursos del cielo están listos para ser desatados a nuestra disposición si obedecemos el mandamiento y
        caminamos en fe. La autoridad del cielo es la autoridad de
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        mismo, y si él ha
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        esa autoridad para nosotros no hay autoridad aquí en la Tierra que nos pueda detener.
        <br><br>
        • Todas las naciones. Este es el
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        divino de nuestro involucramiento. Se requiere de nosotros que
        llevemos el evangelio a todas las personas en todo lugar. Esto significa que no hay frontera separándonos de las
        personas porque
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        necesitan el evangelio. Los cristianos no se pueden dar el lujo de seleccionar
        a quien evangelizan.
      </p>
    </ion-slide>


    <ion-slide>
      <p>
        • Todas las cosas. Jesús nos está ordenando a enseñarle a las personas a obedecer todas las cosas que Él nos ha
        mandado. ¡Este es nuestro
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        divino! Esto significa que le debemos enseñar a las personas la
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        del evangelio. El evangelio que predicamos debe ser el evangelio del Reino, nada más y nada
        menos.
        <br><br>
        • Siempre. Este es la
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        divina. Cristo Jesús prometió que, si obedecemos su mandato de ir,
        predicar el evangelio y hacer discípulos en todas las naciones, Él siempre estaría con nosotros hasta el fin de
        los tiempos.
      </p>
      <b>
        ¿Cuándo debemos evangelizar?
      </b>
      <p>
        • Cada día. El evangelismo debe ser a
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        para la iglesia. Es por esto que la iglesia primitiva
        creció a un ritmo fenomenal.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Hechos 5:42 Y todos los días, en el Templo y por las casas, incesantemente, enseñaban y predicaban a
        Jesucristo.
        <br>
        • La iglesia primitiva tomó la Gran Comisión
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        .
      </p>
      <b>
        ¿Dónde debemos evangelizar?
      </b>
      <p>
        • ¡En
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        !. Las personas necesitan el evangelio y donde quiera que haya personas allí
        debe ir el evangelio. Ese es el propósito de Dios, y como pueblo de Dios debemos planificar de acuerdo a Su
        propósito.
        <br>
        • Marcos 16:20 “ Ellos, saliendo, predicaron en todas partes, ayudándolos el Señor y confirmando la palabra con
        las señales que la acompañaban. Amén”
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        • Hechos 8:4 “ Pero los que fueron esparcidos iban por todas partes anunciando el evangelio”.
        <br>
        • Para los primeros cristianos no había lugar fuera de límites para el evangelio. Ellos no
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        que ninguna barrera los detuviera, incluso cuando sabían que sus vidas estaban en riesgo.
      </p>
      <b>
        ¿Por qué debemos evangelizar?
      </b>
      <p>
        1. ¡Jesús lo
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        !
        <br>
        Si nuestro Señor y Salvador nos manda a hacerlo entonces no tenemos opción. Mateo 28:18-20 es un ejemplo claro.
        Un mandato es para ser seguido.
        <br>

      </p>

    </ion-slide>

    <ion-slide>
      <p>
        2. Dios es un Dios de
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        y desea tener una con cada ser humano. La única manera en que las
        personas pueden tener una relación con Dios es cuando se les dice que Él existe y que está apasionado por ellos
        como su creación. Romanos 10:14 lo resume bastante bien “Cómo, pues, ¿invocarán a aquel en el cual no han
        creído? ¿Y cómo creerán en aquel de quien no han oído? ¿Y cómo oirán sin haber quien les predique?”
      </p>
    </ion-slide>

    <ion-slide>

      <p>
        3. Dios está
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        con nuestro crecimiento personal.
        Cuando proclamamos las buenas nuevas crecemos como discípulos de Cristo. Jesús promete que somos empoderados
        para el evangelismo por el Espíritu Santo (Hechos 1:8), y que nos ama tanto que “…cada rama que lleva fruta Él
        la poda para que lleve aún más fruto” (Juan 15:2)
        <br><br>
        4. El futuro para los no creyentes le
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        profundamente a Dios. La humanidad necesita
        desesperadamente la salvación que Jesús ofrece. Juan 3:18 dice “El que en él cree no es condenado; pero el que
        no cree ya ha sido condenado, porque no ha creído en el nombre del unigénito Hijo de Dios”. Como cristianos
        nuestra conciencia de que familiares, amistades y desconocidos estarían eternamente separados de Dios nos motiva
        a proclamar la esperanza de Cristo.
      </p>

    </ion-slide>

    <ion-slide>


      <p>
        5. Compartir el evangelio es una manera
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        de amar a las personas. Encontramos inspiración para
        amar a otro del amor de Dios para nosotros. Su amor sacrificial fue un regalo gratuito para ti, y es un regalo
        que debes seguir pasando (Mateo 10:8). En 2 Corintios 5:14 dice “El amor de Cristo nos constriñe, pensando esto:
        que si uno murió por todos, luego todos murieron”. Puedes amar a las persona presentándolos con el amor de Dios
        y con la compasión demostrada por Cristo en la cruz.
        <br><br>
        6. Dios es
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        . La salvación solamente puede ser provista por Dios, y solamente Él merece la gloria
        por ello. Como embajadores de Cristo (2 Corintios 5:20) somos instrumentos con los cuales Dios recibe todo el
        honor, alabanza y agradecimiento. Jesús nos anima a ser parte de este proceso “Así alumbre vuestra luz delante
        de los hombres, para que vean vuestras buenas obras y glorifiquen a vuestro Padre que está en los cielos” (Mateo
        5:16).

      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Aproximaciones al evangelismo
      </b>
      <p>
        a. Predicando al
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        Esto es compartir el evangelio hablando en lugares públicos, generalmente a multitudes de personas al mismo
        tiempo, usando un mensaje, un sermón o un discurso que comparte el evangelio.
        <br>
        b. Evangelismo
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        El evangelismo filtrado es una aproximación al evangelismo que tiene como preocupación convertir a altos
        miembros de una sociedad, para que su influencia pueda servir a ayudar compartiendo el cristianismo a través de
        la sociedad. Los primeros misioneros de Fiji utilizaron este enfoque acercándose primero a los jefes para
        utilizar su poder e influencia para guiar a otros a Dios.
        <br>
        c. Predicando de
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        La predicación de puerta en puerta es cuando un cristiano va de casa en casa en un área determinada para
        evangelizar a los residentes, por lo general compartiendo tratados del evangelio.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        d. Evangelizando a través de un
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        .
        Muchas iglesias tienen regularmente un mensaje del evangelio predicado en un sermón. A menudo esto incluirá un
        llamado en el que las personas son invitadas al frente a entregar sus vidas a Cristo.
        <br>
        e. Evangelismo a través del
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        .
        Esto es contarles a las personas acerca de Jesús más por acciones que por palabras.
        <br>
        f. Evangelismo
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        .
        Similar al evangelismo de estilo de vida, el evangelismo amistoso se caracteriza cuando los cristianos
        desarrollan relaciones con las personas para mostrarles la bondad y eventualmente hablar de Dios con ellos. A
        esta aproximación también se le llama “amando a alguien rumbo al Reino”.
        <br>
        g. Evangelismo
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        .
        Este enfoque es cuando las artes creativas (música, artes visuales, drama, danza, cine) son usadas para
        presentar el mensaje del evangelio.

      </p>

    </ion-slide>

    <ion-slide>
      <p>
        h. Usando
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        evangelísticos.
        Un tratado en el sentido cristiano es como un panfleto con un mensaje del evangelio. Usualmente es una
        presentación corta del Evangelio que se imprime en papel pequeño. Se usa junto a la predicación en las calles, o
        la predicación de puerta en puerta.
        <br>
        i.
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        El tele-evangelismo es una aproximación caracterizada por un mensaje evangelístico a través de la televisión.
        <br>
        j. Evangelismo por
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        De acuerdo con la Enciclopedia de Protestantismo la evangelización por radio inició alrededor de 1921 y ha
        alcanzado a más personas por hora que cualquier otro tipo de evangelismo. Es el uso de estaciones de radio para
        evangelizador a los oyentes, a veces son estaciones mundiales.

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        k. Evangelismo por
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        El evangelismo por internet es una forma donde el evangelio cristiano es presentado en internet especialmente
        por medio de una página web a la cual todos tienen acceso.
        <br>
        l. Evangelismo por
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        Esto está tomando ventaja con el creciente número de celulares para alcanzar personas con el Evangelio.
        <br>
        m. Evangelismo
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        A veces referido como “de uno a uno” o “trabajo personal”, este enfoque es cuando un cristiano evangeliza a uno
        o varios no creyentes de manera privada.
      </p>
      <p>
        Los múltiples enfoques de evangelismo detallados son para ayudarnos a entender la variedad de formas disponibles
        en la actualidad para hablarle a las personas de Jesús. La cosa más importante es orar para ser
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        en nuestra aproximación.
      </p>
    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
