<!--
  Generated template for the Cuestionario34Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        La persona y el ministerio del Espíritu Santo
      </b>

      <p>El Espíritu Santo está aquí en la Tierra para continuar el trabajo de Jesús. Él es una persona con la que nos
        podemos relacionar personalmente en todas las esferas de nuestra vida. Él está aquí para ayudarnos a cumplir el
        propósito de Dios en nuestras vidas. </p>
    </ion-slide>

    <ion-slide>
      <b>¿Quién es el Espíritu Santo?</b>
      <p>• En el Antiguo Testamento se refiere a Él como <label class="respuesta corta"
                                                                [style.color]="respuestas[0].color"
                                                                (click)="openActionSheet('0')">{{respuestas[0].text}}</label>,
        la palabra hebrea para <label class="respuesta corta" [style.color]="respuestas[1].color"
                                      (click)="openActionSheet('1')">{{respuestas[1].text}}</label>.
        Significa <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>,
        y la palabra viento aquí está asociada
        con <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>;
        queriendo decir que el Espíritu Santo es el aliento de Dios. </p>
      <p>• En el Nuevo Testamento Él es conocido como <label class="respuesta corta" [style.color]="respuestas[4].color"
                                                             (click)="openActionSheet('4')">{{respuestas[4].text}}</label>,
        en griego, el que va caminando contigo para ayudarte en tu momento de necesidad. Él estuvo
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        en el
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        en Génesis 1:2 “2 La tierra estaba desordenada y vacía, las tinieblas estaban sobre la faz del
        abismo y el espíritu de Dios se movía sobre la faz de las aguas”.</p>
    </ion-slide>

    <ion-slide>
      <p>• También estuvo <label class="respuesta corta" [style.color]="respuestas[7].color"
                                 (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        en el <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de la escritura. En Apocalipsis 22:17 “El Espíritu y la Esposa dicen: «¡Ven!» El que oye, diga: «¡Ven!» Y el que
        tiene sed, venga. El que quiera, tome gratuitamente del agua de la vida”.</p>
    </ion-slide>

    <ion-slide>
      <b>El Espíritu Santo tiene los atributos de Dios, así que Él es:</b>
      <p>1. La tercera persona de la Trinidad. Él merece la misma reverencia, respeto y honor de nosotros. Mateo 28:19
        “Por tanto, id y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, del Hijo y del
        Espíritu Santo”</p>
      <p>2. <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>.
        Él es <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        y es llamado
        el <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        más <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>.
        Lucas 1:35 “Respondiendo el ángel, le dijo:—El Espíritu Santo vendrá sobre ti y el poder
        del Altísimo te cubrirá con su sombra; por lo cual también el Santo Ser que va a nacer será llamado Hijo de
        Dios”.</p>
      <p>3. <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>.
        Él está presente en
        todo <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>,
        todo el tiempo. Salmo 139:7 “¿A dónde me iré de tu espíritu? ¿Y a dónde huiré de tu presencia?”</p>
    </ion-slide>

    <ion-slide>
      <p>4. <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>.
        Él todo lo sabe y
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        puede ser
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        de
        Él. I Corintios 2:10 “Pero Dios nos las reveló a nosotros por el Espíritu, porque el Espíritu todo lo escudriña,
        aun lo profundo de Dios”</p>
      <p>5. <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>.
        Él ha estado
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>.
        Él no tiene
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        y no
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>.
        Hebreos 9:14 “¿cuánto más la sangre de Cristo, el cual mediante el Espíritu eterno se ofreció
        a sí mismo sin mancha a Dios, limpiará vuestras conciencias de obras muertas para que sirváis al Dios vivo?”</p>
      <p>• El espíritu Santo no pudo haber tomado el lugar de la
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        de
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>y
        relacionarse personalmente con los discípulos a menos que Él fuera una persona viviente. </p>
    </ion-slide>

    <ion-slide>
      <b>Entendiendo la persona del Espíritu Santo </b>
      <p>Cuando hablamos de “ <label class="respuesta corta" [style.color]="respuestas[24].color"
                                     (click)="openActionSheet('24')">{{respuestas[24].text}}</label>” del Espíritu
        Santo, debemos
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        que esa “persona” a la que nos referimos
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        es un cuerpo material. Con persona queremos dar a entender que todas las
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        (inteligencia, mente, voluntad emoción) que determinan la
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        de una persona
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        en él. Estas características personales
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        se encuentran en cosas no personales. El Espíritu Santo, entonces, no es una mera influencia, poder o fuerza,
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        es una persona viva. </p>
      <p>Solo una persona viva tiene </p>

    </ion-slide>

    <ion-slide>
      <p>• INTELECTO. Solo un ser con <label class="respuesta corta" [style.color]="respuestas[32].color"
                                             (click)="openActionSheet('32')">{{respuestas[32].text}}</label> tiene la
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        para
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        sobre otros. Ya que el Espíritu Santo sabe todas las cosas Él es capaz de
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        ese
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        a otros. 1 Corintios 2:10 “Pero Dios nos las reveló a nosotros por el Espíritu, porque el Espíritu todo lo
        escudriña, aun lo profundo de Dios”</p>
      <p>• VOLUNTAD Y DECISIÓN. Él puede ver el <label class="respuesta corta" [style.color]="respuestas[37].color"
                                                       (click)="openActionSheet('37')">{{respuestas[37].text}}</label> y
        decidir con cordura. Puede que no sea razonable pero sin
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        tiene la mejor intención para nosotros. Hechos 16:6 “Atravesando Frigia y la provincia de
        Galacia, les fue prohibido por el Espíritu Santo hablar la palabra en Asia”</p>

    </ion-slide>

    <ion-slide>
      <p>• Emociones</p>
      <p>o AMOR. Solo un ser con <label class="respuesta corta" [style.color]="respuestas[39].color"
                                        (click)="openActionSheet('39')">{{respuestas[39].text}}</label> es capaz de amar
        porque los objetos
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        son incapaces de amar. Romanos 15:30 “Pero os ruego, hermanos, por nuestro Señor Jesucristo
        y por el amor del Espíritu, que me ayudéis orando por mí a Dios”</p>
      <p>o LAMENTO. Afligirse es <label class="respuesta corta" [style.color]="respuestas[41].color"
                                        (click)="openActionSheet('41')">{{respuestas[41].text}}</label> un dolor
        profundo. El Espíritu Santo puede afligirse por las
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        de los hijos de Dios. Efesios 4:30 “Y no entristezcáis al Espíritu Santo de Dios, con el cual
        fuisteis sellados para el día de la redención”.</p>
    </ion-slide>

    <ion-slide>

      <p>o INSULTADO. Hablar y o actuar en una forma que emocionalmente lastima. Hebreos 10:29 “¿Cuánto mayor castigo
        pensáis que merecerá el que pisotee al Hijo de Dios, y tenga por inmunda la sangre del pacto en la cual fue
        santificado y ofenda al Espíritu de gracia?”</p>
      <p>o ENGAÑADO. Decir algo que uno sabe que no es verdad. Hechos 5:3 “Ananías, ¿por qué llenó Satanás tu corazón
        para que mintieras al Espíritu Santo y sustrajeras del producto de la venta de la heredad?”</p>
    </ion-slide>

    <ion-slide>
      <p>o BLASFEMADO. Hablar lo perverso, maldecir usando el nombre de Dios. No puede
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        si vuelves a hablar blasfemia contra la
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        del Espíritu Santo. </p>
      <p>o RESISTIRSE. Para oponerse o rendirse. Hechos 7:51 “Duros de cerviz! ¡Incircuncisos de corazón y de oídos!
        Vosotros resistís siempre al Espíritu Santo; como vuestros padres, así también vosotros”</p>
      <p>o DISGUSTARSE. Molestarse o enojarse. Isaías 63:10 “Mas ellos fueron rebeldes e hicieron enojar su santo
        espíritu; por lo cual se les volvió enemigo y él mismo peleó contra ellos”.</p>
      <p>o APAGAR. Detenerse o parar. 1 Tesalonicenses 5:19 “ No apaguéis al Espíritu”.</p>
    </ion-slide>

    <ion-slide>
      <b>El ministerio del Espíritu Santo </b>
      <p>El ministerio del Espíritu Santo está aquí en la tierra para tomar el <label class="respuesta corta"
                                                                                      [style.color]="respuestas[45].color"
                                                                                      (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        de Jesús,
        para <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        y para
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        al mundo, y para
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        las obras que Jesús hizo. El Espíritu Santo
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        a Jesús. Jesús glorifica al Padre, y el Padre
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        Jesús y al Espíritu Santo para que nos podamos acercar a Él. El Espíritu Santo ministra a los creyentes en las
        siguientes áreas: </p>
      <p>a. Él <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>.
        Te enseña acerca de
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        y de
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>.
        Juan 14:26. “Pero el Consolador, el Espíritu Santo, a quien el Padre enviará en mi nombre, él os enseñará todas
        las cosas y os recordará todo lo que yo os he dicho”. </p>
    </ion-slide>

    <ion-slide>
      <p>b. Él <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>.
        Hechos 13:2 “Ministrando estos al Señor y ayunando, dijo el Espíritu Santo: «Apartadme a Bernabé y a Saulo para
        la obra a que los he llamado”</p>
      <p>c. Él da testimonio y <label class="respuesta corta" [style.color]="respuestas[56].color"
                                      (click)="openActionSheet('56')">{{respuestas[56].text}}</label>. Juan 15:26 “Pero
        cuando venga el Consolador, a quien yo os enviaré del Padre,
        el Espíritu de verdad, el cual procede del Padre, él dará testimonio acerca de mí”</p>
      <p>d. El nos <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        a toda
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>.
        Juan 16:13. “ Pero cuando venga el Espíritu de
        verdad, él os guiará a toda la verdad, porque no hablará por su propia cuenta, sino que hablará todo lo que oiga
        y os hará saber las cosas que habrán de venir”.</p>
      <p>e. El <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        por nosotros. Romanos 8:26 “De igual manera, el Espíritu nos ayuda en nuestra debilidad,
        pues qué hemos de pedir como conviene, no lo sabemos, pero el Espíritu mismo intercede por nosotros con gemidos
        indecibles”.</p>
    </ion-slide>

    <ion-slide>
      <b>Entendiendo como dirigirnos al Espíritu Santo </b>
      <p>La <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        del Espíritu Santo es demostrada por los pronombres que se le aplican. En Juan 14:16 “Y
        yo rogaré al Padre y os dará otro Consolador, para que esté con vosotros para siempre”. Nota que el pronombre
        personal él aplicado aquí muestra que Él es una persona viviente y que nos deberíamos
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        a Él. No
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        dirigirnos a Él como “eso” o “cosa”. Estas palabras solo se utilizan para referirse a objetos inanimados. </p>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
