<!--
  Generated template for the Cuestionario40Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>

  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        El misterio de hablar en lenguas
      </b>

      <p>Dios nos ha dado un don poderoso de oración, orar en lenguas. Este no está limitado por la distancia, el tiempo
        o el conocimiento humano.</p>
      <b>¿Qué es orar en lenguas?</b>
      <p>• Orar en lenguas es hablar en un idioma <label class="respuesta corta" [style.color]="respuestas[0].color"
                                                         (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        que pueden ser lenguas de hombre y de ángeles.</p>
      <p>• Orar en lenguas es un <label class="respuesta corta" [style.color]="respuestas[1].color"
                                        (click)="openActionSheet('1')">{{respuestas[1].text}}</label> sobrenatural de
        Dios, y no algo que adquirimos mediante un proceso natural de aprendizaje.</p>
      <p>• Hablar en lenguas no es una habilidad natural que una persona pueda tener, sino una
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        sobrenatural de una o más lenguas dadas por el Espíritu Santo para servir
        los propósitos de Dios aquí en la Tierra.</p>
      <p>• Orar en lenguas es una manera dada por Dios para hablar <label class="respuesta corta"
                                                                          [style.color]="respuestas[3].color"
                                                                          (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        con Él y Él entiende lo que se está diciendo. </p>
    </ion-slide>

    <ion-slide>
      <p>• Orar en lenguas es hablar “<label class="respuesta corta" [style.color]="respuestas[4].color"
                                             (click)="openActionSheet('4')">{{respuestas[4].text}}</label>” (la
        sabiduría escondida, planes y propósitos de Dios). 1 Corintios 14:2, 2:9-10. </p>
      <p>• Orar en lenguas es orar habilitado por el <label class="respuesta corta" [style.color]="respuestas[5].color"
                                                            (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        Hechos 2:2-4</p>
      <b>Cuando oramos en lenguas, nuestro espíritu orar habilitado por el Espíritu Santo </b>
      <p>• La fuente del lenguaje, las palabras y la información es el Espíritu Santo.</p>
      <p>• El Espíritu Santo le <label class="respuesta corta" [style.color]="respuestas[6].color"
                                       (click)="openActionSheet('6')">{{respuestas[6].text}}</label> esto a nuestro
        espíritu.</p>
      <p>• Por <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        y como un acto de nuestra voluntad hablamos y desde nuestro espíritu estas palabras
        fluyen a través de los órganos vocales, y entonces sale en un tono, en una frecuencia y en un volumen que
        nosotros
        proveemos.</p>
    </ion-slide>

    <ion-slide>
      <p>• El contenido de la oración viene del Espíritu Santo y nosotros solamente lo
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        orando lo que él desea que oremos. </p>
      <p>• Nuestras mentes no comprenden lo que estamos orando, por tanto, nuestro entendimiento no tiene fruto.</p>
      <p>Cuando oramos en lenguas la mente se toma un descanso porque es nuestro espíritu el que ora habilitado por el
        Espíritu Santo. </p>
      <p>• 1 Corintios 14:2 “El que habla en lenguas no habla a los hombres, sino a Dios, pues nadie lo entiende, aunque
        por el Espíritu habla misterios”.</p>
      <p>• 1 Corintios 14:14 “Si yo oro en lengua desconocida, mi espíritu ora, pero mi entendimiento queda sin
        fruto”.</p>
    </ion-slide>

    <ion-slide>
      <b>A orar en lenguas también se le refiere como orar en el espíritu</b>
      <p>• Orar en el espíritu significa orar en lenguas, aunque esto también puede ser acompañado por intensidad,
        pasión, fervor, emoción, energía, gemidos indecibles, y más</p>
    </ion-slide>

    <ion-slide>
      <b>El propósito primario de orar en lenguas es que nosotros le hablemos a Dios y no a las personas</b>
      <p>• Se nos da el hablar en lenguas principalmente como un lenguaje de oración para comunicarnos con Dios de
        espíritu a espíritu.</p>
      <p>• El Espíritu Santo nos ayuda en nuestras debilidades ayudándonos a orar como debemos, es decir por una
        intercesión
        inspirada por el Espíritu que se expresa con gemidos que son indecibles.</p>
      <p>• Sabemos que estamos participando y vinculándonos con el Espíritu Santo en esta intercesión porque Dios ve
        nuestros corazones y entiende lo que el Espíritu está expresando. </p>

    </ion-slide>

    <ion-slide>
      <b>Cuando oramos en lenguas o en el Espíritu Santo </b>
      <p>• Oramos oraciones perfectas en <label class="respuesta corta" [style.color]="respuestas[9].color"
                                                (click)="openActionSheet('9')">{{respuestas[9].text}}</label> con la
        voluntad de Dios porque el Espíritu Santo
        “intercede por los santos de acuerdo a la voluntad de Dios”. 1 Juan 5:14-15 “14 Ésta es la confianza que
        tenemos en él, que si pedimos alguna cosa conforme a su voluntad, él nos oye. 15 Y si sabemos que él nos oye en
        cualquiera cosa que pidamos, sabemos que tenemos las peticiones que le hayamos hecho”.</p>

    </ion-slide>

    <ion-slide>
      <b>Dios ha puesto dentro de ti al Espíritu Santo que conoce el corazón de Dios y sabe exactamente lo que
        necesitas</b>
      <p>• Él intercede por ti porque te <label class="respuesta corta" [style.color]="respuestas[10].color"
                                                (click)="openActionSheet('10')">{{respuestas[10].text}}</label> mucho.
      </p>
      <p>• Él es como tu abogado o <label class="respuesta corta" [style.color]="respuestas[11].color"
                                          (click)="openActionSheet('11')">{{respuestas[11].text}}</label> legal.</p>
      <p>• Él sabe lo que te pertenece <label class="respuesta corta" [style.color]="respuestas[12].color"
                                              (click)="openActionSheet('12')">{{respuestas[12].text}}</label>.</p>
      <p>• Él sabe cuales son tus derechos de sangre en <label class="respuesta corta"
                                                               [style.color]="respuestas[13].color"
                                                               (click)="openActionSheet('13')">{{respuestas[13].text}}</label>.
      </p>
      <p>• ¡Él sabe exactamente como cumplirlos en tu <label class="respuesta corta"
                                                             [style.color]="respuestas[14].color"
                                                             (click)="openActionSheet('14')">{{respuestas[14].text}}</label>!
      </p>
    </ion-slide>

    <ion-slide>
      <b>Cuando oras en lenguas permites que el Espíritu Santo ore oraciones perfectas a través de ti</b>
      <p>• Él defiende tu caso delante de Dios</p>
      <p>• Él sabe donde fue que te equivocaste y cual es la <label class="respuesta corta"
                                                                    [style.color]="respuestas[15].color"
                                                                    (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        del problema.</p>
      <p>• Él también tiene la sabiduría, solución y <label class="respuesta corta" [style.color]="respuestas[16].color"
                                                            (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        para ganar tu caso.</p>
      <p>• ¡Con el Espíritu Santo de tu <label class="respuesta corta" [style.color]="respuestas[17].color"
                                               (click)="openActionSheet('17')">{{respuestas[17].text}}</label> solamente
        puedes ser victorioso!</p>
    </ion-slide>

    <ion-slide>
      <b>Orar en lenguas es orar habilitado por el Espíritu Santo</b>
      <p>• Hechos 2:4 “Todos fueron llenos del Espíritu Santo y comenzaron a hablar en otras lenguas, según el Espíritu
        les daba que hablaran”.</p>
      <p>• 1 Corintios 14:14 “Si yo oro en lengua desconocida, mi espíritu ora, pero mi entendimiento queda sin
        fruto”.</p>
    </ion-slide>

    <ion-slide>
      <b>Hablar en lenguas es hablar misterios</b>
      <p>1 Corintios 14:2 “El que habla en lenguas no habla a los hombres, sino a Dios, pues nadie lo entiende, aunque
        por el Espíritu habla misterios”.</p>
      <p> 1 Corintios 2:9-10 “9 Antes bien, como está escrito:«Cosas que ojo no vio ni oído oyó ni han subido al corazón
        del hombre, son las que Dios ha preparado para los que lo aman.»10 Pero Dios nos las reveló a nosotros por el
        Espíritu, porque el Espíritu todo lo escudriña, aun lo profundo de Dios”</p>
    </ion-slide>

    <ion-slide>
      <p>• Los misterios son cosas desconocidas para la mente humana, pero conocidas para el Espíritu de Dios.</p>
      <p>• Puede haber cosas que sucedieron en el pasado, que estén pasando en el presente o que pasarán en el futuro de
        las cuales no tengo ni idea.</p>
      <p>• Puede haber cosas sobre mi o de alguien más por las que se deben orar, pero de las cuales mi mente no está
        consciente. </p>
      <p>• Cuando oro en el Espíritu, como el Espíritu Santo sabe todas las cosas, Él puede liberar una oración
        (intercesión) a través de mi por esa situación específica.</p>
    </ion-slide>

    <ion-slide>
      <b>Orar en lenguas o orar en el Espíritu nos edificada espiritual, almática y físicamente. </b>
      <p>• Orar y hablar en <label class="respuesta corta" [style.color]="respuestas[18].color"
                                   (click)="openActionSheet('18')">{{respuestas[18].text}}</label> es una manera segura
        de ser edificado para prepararnos y estar
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        para cualquier cosa que pueda venir en el futuro.</p>
      <p>• Dios nos ha dada a cada uno un medio <label class="respuesta corta" [style.color]="respuestas[20].color"
                                                       (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        para la
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        espiritual, física, mental, emocional, financiera o relacional. </p>
      <p>• Dios nos ha dado un medio sobrenatural para <label class="respuesta corta"
                                                              [style.color]="respuestas[22].color"
                                                              (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        y adorarlo.</p>
    </ion-slide>

    <ion-slide>
      <b>El propósito de las lenguas</b>
      <p>• Hablar en lenguas es la <label class="respuesta corta" [style.color]="respuestas[23].color"
                                          (click)="openActionSheet('23')">{{respuestas[23].text}}</label> física inicial
        del bautismo en el Espíritu Santo. (Hechos 2:4) </p>
      <p>• Hablar en lenguas es uno de los <label class="respuesta corta" [style.color]="respuestas[24].color"
                                                  (click)="openActionSheet('24')">{{respuestas[24].text}}</label> dones
        del Espíritu para la adoración cristiana. (1 Corintios 12:7-11)</p>
      <p>• Hablar en lenguas un medio regular de oración <label class="respuesta corta"
                                                                [style.color]="respuestas[25].color"
                                                                (click)="openActionSheet('25')">{{respuestas[25].text}}</label>.
        (1 Corintios 14:13-19).</p>
      <p>• Hablar en lenguas es para los no creyentes una <label class="respuesta corta"
                                                                 [style.color]="respuestas[26].color"
                                                                 (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        (1 Corintios 14:21-25).</p>
    </ion-slide>

    <ion-slide>
      <p>• Para confirmar la <label class="respuesta corta" [style.color]="respuestas[27].color"
                                    (click)="openActionSheet('27')">{{respuestas[27].text}}</label>. (Marcos 16:17-29;
        Hechos 14:3; Hebreos 2:4)</p>
      <p>• Para confirmar a los <label class="respuesta corta" [style.color]="respuestas[28].color"
                                       (click)="openActionSheet('28')">{{respuestas[28].text}}</label>. (Hechos 2) </p>
      <p>• Para confirmar la voluntad de Dios para <label class="respuesta corta" [style.color]="respuestas[29].color"
                                                          (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        a los gentiles. Hechos 10</p>
      <p>• Para <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        la predicación del Evangelio. (Hechos 2)</p>
      <p>• Para edificar cuando ha sido <label class="respuesta corta" [style.color]="respuestas[31].color"
                                               (click)="openActionSheet('31')">{{respuestas[31].text}}</label>. (1
        Corintios 14:4,13,27)</p>
    </ion-slide>

    <ion-slide>
      <b>Beneficios de la oración en lenguas</b>
      <p>• Las lenguas son la <label class="respuesta corta" [style.color]="respuestas[32].color"
                                     (click)="openActionSheet('32')">{{respuestas[32].text}}</label> a lo sobrenatural.
        (Hechos 2:1-4)</p>
      <p>• Las lenguas son la forma de oración más utilizada en el Nuevo Testamento.
        (Marcos 16:17, Efesios 6:18; Hechos 2:1-4; 10:43-46; 19:1-6; Romanos 8:26-27; 1 Corintios 12:10, 14:1-, 4-5,
        14-15; Judas 1:20)</p>
      <p>• Las lenguas nos dan un <label class="respuesta corta" [style.color]="respuestas[33].color"
                                         (click)="openActionSheet('33')">{{respuestas[33].text}}</label> directo al
        cuarto del trono de Dios. (1 Corintios 14:2)</p>
      <p>• Las lenguas son para hablar misterios divinos y secretos. (1 Corintios 14:2)</p>
      <p>• Las lenguas son para profetizar el <label class="respuesta corta" [style.color]="respuestas[34].color"
                                                     (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        ordenado por Dios. (1 Corintios 2: 7-9)</p>
    </ion-slide>

    <ion-slide>
      <p>• Las lenguas son para orar el <label class="respuesta corta" [style.color]="respuestas[35].color"
                                               (click)="openActionSheet('35')">{{respuestas[35].text}}</label> de Dios
        para nuestras vidas. (1 Corintios 2: 7-9)</p>
      <p>• Las lenguas son conocimiento, consejo y secretos pertinentes para ti y a escondidas del malvado. (1 Corintios
        14:2)</p>
      <p>• Las lenguas fortalecen nuestro ser interior con <label class="respuesta corta"
                                                                  [style.color]="respuestas[36].color"
                                                                  (click)="openActionSheet('36')">{{respuestas[36].text}}</label>.
        (Efesios 3:16)</p>
      <p>• Las lenguas nos mantienen espiritualmente en forma. (1 Corintios 14:4)</p>
      <p>• Orar en lenguas es para que cosas que estén ocultas sean <label class="respuesta corta"
                                                                           [style.color]="respuestas[37].color"
                                                                           (click)="openActionSheet('37')">{{respuestas[37].text}}</label>.
        (1 Corintios 14:2)</p>
      <p>• Las lenguas nos sacan de nuestro pasado a nuestro futuro. (1 Corintios 2:7,9)</p>
    </ion-slide>

    <ion-slide>
      <p>• Las lenguas construyen una fuerte premisa para llevar la <label class="respuesta corta"
                                                                           [style.color]="respuestas[38].color"
                                                                           (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        de Dios. (Hechos 2:4)</p>
      <p>• Las lenguas construyen y estimulan nuestra <label class="respuesta corta"
                                                             [style.color]="respuestas[39].color"
                                                             (click)="openActionSheet('39')">{{respuestas[39].text}}</label>.
        (Judas 1:20)</p>
      <p>• Las lenguas nos darán un progreso imparable que nuestros enemigos no podrán negar. (1 Corintios 2:7,9)</p>
      <p>• Las lenguas son para dar alabanza y acción de gracias a Dios. (1 Corintios 14:16-17)</p>
      <p>• Las lenguas nos alinean con la voluntad <label class="respuesta corta" [style.color]="respuestas[40].color"
                                                          (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        de Dios. (Romanos 8:27)</p>
    </ion-slide>

    <ion-slide>
      <p>• Las lenguas son para hablar el <label class="respuesta corta" [style.color]="respuestas[41].color"
                                                 (click)="openActionSheet('41')">{{respuestas[41].text}}</label> y la
        voluntad de Dios. (Romanos 8:27)</p>
      <p>• Las lenguas nos ayudan en nuestro <label class="respuesta corta" [style.color]="respuestas[42].color"
                                                    (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        debilidad. (Romanos 8:26-27)</p>
      <p>• Las lenguas son nuestra máxima asistencia en la oración. (Romanos 8:26-27)</p>
      <p>• Las lenguas cualifican todas las cosas para que juntas trabajen a nuestro favor. (Romanos 8:26-28)</p>
      <p>• Las lenguas nos hacen más conscientes de Dios dentro de nosotros. (1 Corintios 14:2)</p>
      <p>• Las lenguas engrandecen nuestra <label class="respuesta corta" [style.color]="respuestas[43].color"
                                                  (click)="openActionSheet('43')">{{respuestas[43].text}}</label> de la
        potencia de Dios en nuestras vidas. (Hechos 1:8)</p>
    </ion-slide>

    <ion-slide>
      <p>• Las lenguas nos dan el refrescamiento espiritual y el <label class="respuesta corta"
                                                                        [style.color]="respuestas[44].color"
                                                                        (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        (Isaías 28:11-12)</p>
      <p>• Las lenguas nos introducen en los <label class="respuesta corta" [style.color]="respuestas[45].color"
                                                    (click)="openActionSheet('45')">{{respuestas[45].text}}</label> del
        Espíritu. (Hechos 2:4; 1 Corintios 12:7-11)</p>
      <p>• Las lenguas nos afinan y sensibilizan nuestro ser interior a la <label class="respuesta corta"
                                                                                  [style.color]="respuestas[46].color"
                                                                                  (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        de Dios. (Hechos 2:4-11)</p>
      <p>• Las lenguas desarrollan <label class="respuesta corta" [style.color]="respuestas[47].color"
                                          (click)="openActionSheet('47')">{{respuestas[47].text}}</label> con el
        Espíritu Santo. (Hechos 2:1-4; 2 Corintios 13:14)</p>
      <p>• Las lenguas son nuestra conversación privada con Dios. (1 Corintios 14:2)</p>
    </ion-slide>

    <ion-slide>
      <p>• Las lenguas <label class="respuesta corta" [style.color]="respuestas[48].color"
                              (click)="openActionSheet('48')">{{respuestas[48].text}}</label> de una profundidad a otra
        más profunda. (1 Corintios 2:10)</p>
      <p>• Las lenguas acceden al conocimiento revelado. (1 Corintios 2:7,10)</p>
      <p>• Las lenguas tocan la <label class="respuesta corta" [style.color]="respuestas[49].color"
                                       (click)="openActionSheet('49')">{{respuestas[49].text}}</label> de Dios. (1
        Corintios 2:16)</p>
      <p>• Las lenguas nos abren las escrituras desde una perspectiva divina más que de una intelectual. (1 Corintios
        2:12 -13)</p>
      <p>• Las lenguas son parte de la <label class="respuesta corta" [style.color]="respuestas[50].color"
                                              (click)="openActionSheet('50')">{{respuestas[50].text}}</label> de Dios.
        (Efesios 6:11-18)</p>
      <p>• Las lenguas son la lanza o la jabalina que causan gran <label class="respuesta corta"
                                                                         [style.color]="respuestas[51].color"
                                                                         (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        al reino de las tinieblas. (Efesios 6:11-18)</p>
    </ion-slide>

    <ion-slide>
      <p>• Las lenguas <label class="respuesta corta" [style.color]="respuestas[52].color"
                              (click)="openActionSheet('52')">{{respuestas[52].text}}</label> nuestra vida de oración (1
        Corintios 14:14-15)</p>
      <p>• Las lenguas hacen nuestro espíritu activo, vivo y despierto para <label class="respuesta corta"
                                                                                   [style.color]="respuestas[53].color"
                                                                                   (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        con Dios. (1 Corintios 14:14-15)</p>
      <p>• Las lenguas nos sincronizan con el tiempo de Dios. (Hechos 16:6-10)</p>
      <p>• Las lenguas nos alinean con la asignación que Dios tiene para nosotros. (Hechos 9:15-17).</p>
      <p>• Las lenguas nos infundirán un espíritu de valentía. (Hechos 4:31)</p>
      <p>• Las lenguas son el Espíritu Santo buscando nuestros <label class="respuesta corta"
                                                                      [style.color]="respuestas[54].color"
                                                                      (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        y orando a través de nosotros la voluntad perfecta de Dios. (Romanos 8:26-27)</p>
    </ion-slide>

    <ion-slide>
      <p>• Las lenguas son el tesoro que <label class="respuesta corta" [style.color]="respuestas[55].color"
                                                (click)="openActionSheet('55')">{{respuestas[55].text}}</label> de
        nosotros. (2 Corintios 4:7; 1 Corintios 12:7-11)</p>
      <p>• Las lenguas son dependencia del Señor. (1 Corintios 14:2)</p>
      <p>• Las lenguas liberan a los ángeles en tareas celestiales para cambiar situaciones en la Tierra. (Hechos
        12:3-8)</p>
      <p>• Las lenguas nos ayudan a entrar en la creatividad de <label class="respuesta corta"
                                                                       [style.color]="respuestas[56].color"
                                                                       (click)="openActionSheet('56')">{{respuestas[56].text}}</label>.
        (Dios el creador) (Efesios 2:10)</p>
      <p>• Las lenguas pueden anular o derogar las <label class="respuesta corta" [style.color]="respuestas[57].color"
                                                          (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        de muerte sobre nuestras vidas. (Hechos 12: 1-8)</p>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
