<!--
  Generated template for the Cuestionario23Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b class="titulo">Los principios bíblicos de la mayordomía</b>
      <p>
        ¡La Biblia es clara, todo le pertenece a Dios! Si esto es cierto ¿de qué somos dueños? ¡De nada! La Tierra le
        pertenece al Señor por derecho, y es nuestra para administrarla. Dios es dueño de todo y nosotros somos
        administradores. Un día Dios nos llamará como responsables del manejo que tuvimos de lo que Él nos dio para
        cuidar.
      </p>
      <b>
        El mandato de la mayordomía
      </b>
      <p>
        Génesis 1:26 “Entonces dijo Dios: «Hagamos al hombre a nuestra imagen, conforme a nuestra semejanza; y tenga
        potestad sobre los peces del mar, las aves de los cielos y las bestias, sobre toda la tierra y sobre todo animal
        que se arrastra sobre la tierra”.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        Este es el
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        de la mayordomía de Dios dado a Adán y a Eva. Dios creó todo en los cielos y en
        la tierra, y después de hacerlo, le dio a Adán y a Eva el mandato de co-cuidar lo que le pertenecía. Esta es la
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        de la mayordomía bíblica. Es cuando reconocemos que lo que tenemos se nos ha sido
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        y que tenemos que administrarlo para satisfacer al dueño.
      </p>
      <b>
        ¿Qué es la mayordomía?
      </b>
      <p>
        • La mayordomía es el proceso a través del cual se
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        la propiedad de otro. Un mayordomo
        es un administrador, no es el dueño. Al administrador se le ha dado una posición de confianza para gestionar las
        posesiones del dueño.
        <br>
        • La mayordomía es la administración cuidadosa y
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        de algo que ha sido confiado al cuidado de
        una persona.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Principios de la mayordomía bíblica
      </b>
      <p>
        1. El principio de propiedad
        <br>
        • El salmista inicia el salmo 24 con “De Jehová es la tierra y su plenitud, el mundo y los que en él habitan…”
        En el principio de Génesis Dios creó todo y puso a Adam en el jardín para que lo trabajara y cuidara. Es claro
        que el ser humano fue creado para
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        y ese trabajo es la mayordomía de toda la creación que Dios le ha
        entregado.
        <br>
        • Este es el principio fundamental de la mayordomía bíblica. Dios es dueño de
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        , simplemente
        somos administradores actuando en su nombre.
        <br>
        • Por tanto, la mayordomía expresa nuestra
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        en relación a la administración de todo lo que
        Dios ha puesto bajo nuestro control.
        <br>
        • La mayordomía es el
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de uno mismo y las posesiones de Dios al servicio, reconociendo que no
        tenemos el control sobre nuestra propiedad o sobre nosotros mismos.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        2. El principio de responsabilidad
      </b>
      <p>
        • Dios es dueño de todo, somos responsables por el
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        que le damos y lo que hacemos con eso.
        Mientras nos quejamos acerca de nuestros derechos aquí en la tierra, la Biblia constantemente nos pregunta “¿Qué
        hay acerca de tus responsabilidades?”
        <br>
        • Los dueños tienen derechos, los
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        tienen responsabilidades.
        <br>
        • Somos llamados como mayordomos para administrar lo que le pertenece a Dios. Mientras que Dios por gracia nos
        ha encomendado como mayordomos con el cuido, desarrollo y disfrute de todo lo que Él posee, somos
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        de administrar sus bienes bien, de acuerdo a sus deseos y propósitos.
        <br>
        • Un sentido de responsabilidad es lo que caracteriza a un buen mayordomo de uno malo. Los administradores
        piadosos saben que hacen lo que hacen no para complacer al ser humano, sino para complacer a Dios.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        • Cuando un mayordomo tiene un alto sentido de responsabilidad, él incrementa su
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        para crecer en
        madurez.
        <br>
        • La
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        viene al aceptar responsabilidades. Las personas responsables saben que cuando todo va
        mal, ellas aceptan la responsabilidad, aprenden de sus errores y continúan en la vida.
        <br>
        • “No puedes aceptar la responsabilidad de mañana evadiéndola hoy” Abraham Lincoln.
        <br>
        3. El principio de rendición de cuentas
        <br>
        • Todos somos mayordomos de los recursos, habilidades y oportunidades con las que Dios nos confía a nuestro
        cuidado, y un día cada uno de nosotros será llamado para rendir
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        por nuestra gestión con lo que
        el Maestro nos dio.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Esta es la verdad enseñada por la parábola de los Talentos en Mateo 25. Dios nos ha
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        autoridad sobre la creación y no tenemos permitido gobernar según nos parezca. Somos llamados ejercitar nuestro
        dominio bajo el ojo observante del creador que administra su creación de acuerdo con los principios que Él ha
        establecido.
        <br>
        • Como los sirvientes en la parábola de los talentos, seremos llamados para dar cuenta de cómo hemos
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        todo lo que se nos ha dado, incluyendo nuestro tiempo, dinero, habilidades, información,
        sabiduría, relaciones y autoridad.
        <br>
        • Todos daremos cuenta al dueño de que tan bien administramos las cosas que Él nos confió.
        <br>
        • Un sentido de rendición de cuentas es una buena hermana de la
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        . Cuando un mayordomo es
        transparente, no tiene nada que esconder y como no tiene nada que esconder, no tiene nada que temer.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • “La rendición de cuentas es la medida de la altura de un líder” Jeffrey Benjamin.
        <br>
        4. El principio de fidelidad
        <br>
        • Un buen mayordomo es aquel que es
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        y ejecuta fielmente los requisitos de su oficio.
        <br>
        • Los mayordomos fieles no necesitan
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        . Ellos son fieles en la presencia de sus jefes, ¡y también
        en su ausencia! El examen más grande de la fidelidad de un mayordomo es cuando sus superiores están afuera.
        <br>
        • En la parábola de los talentos en Mateo 25, cuando el jefe de los tres siervos regresó para que le rindieran
        cuentas, solo dos fueron felicitados por su trabajo duro y fidelidad. Fue porque se mantuvieron fieles en la
        ausencia de su jefe.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • La fidelidad es una marca de
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        en la mayordomía.
        <br>
        • “Dios no me ha llamado a ser exitosa, me llamó a ser fiel”. Madre Teresa.
        <br>
        5. El principio de multiplicación
        <br>
        • La multiplicación debe ser la manifestación
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        de la mayordomía bíblica.
        <br>
        • Dios mide la fidelidad de un mayordomo no simplemente por ser leal a todos, sino por la multiplicación.
        <br>
        • Dos siervos en la parábola de los talentos de MATEO 25 fueron seleccionados como “fieles” porque tomaron lo
        que se les entregó como mayordomos y lo multiplicaron. A quien se le había dado 5 entregó 10, y a quien se le
        entrego 2, dio 4 de regreso.

      </p>

    </ion-slide>

    <ion-slide>

      <p>

        • La multiplicación es sinónimo de ser
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        . Dios ama que demos fruto y odio la infructuosidad.
        ¿Por qué? Porque las primeras palabras de bendición que Él habló a Adán y Eva en génesis 1:28 fueron “Los
        bendijo Dios y les dijo: «Fructificad y multiplicaos; llenad la tierra y sometedla…”
        <br>
        • Dios les dijo que una mayordomía piadosa y buena es un gran
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        .
        <br>
        • Bendecimos el corazón de Dios cuando multiplicamos y cunado el mundo disfruta los frutos de la contribución de
        nuestra vida.
        <br>
        • “Dios en su infinita misericordia ha depositado en todo el potencial para el crecimiento y la multiplicación”.
        Sunday Adelaja


      </p>

    </ion-slide>

    <ion-slide>
      <p>
        6. El principio de las verdaderas riquezas
        <br>
        • Lucas 16:11 “Si en las riquezas injustas no fuisteis fieles, ¿quién os confiará lo verdadero?”
        <br>
        • El grado en el que puedas ser honesto con el dinero (la riqueza terrenal) es el grado en el que Dios puede
        encomendarte las verdaderas riquezas.
        <br>
        • ¿Cuáles son las verdaderas riquezas de Dios? Las verdaderas riquezas son las únicas cosas que le importan más
        a Dios. Las
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        . ¡Solamente las personas tienen un valor eterno! Son la posesión más preciosa
        de Dios. Nada le importa a Dios en este mundo tanto como las personas.
        <br>
        • Dios solo te dará “verdaderas riquezas” (personas) en
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        a lo bien que podamos manejar el
        dinero.
        <br>
        • Hay una relación directa entre como administramos la riqueza terrenal y cuantas personas Dios nos confiará a
        nuestro cuidado.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • El crecimiento en cantidad y cualidad de las personas que Dios trae a la iglesia está en relación directa con
        la proporción del manejo del dinero del pastor de la iglesia.
        <br>
        • La buena mayordomía de dinero es un elemento esencial del
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        de la iglesia.
        <br>
        • Si Dios no nos puede confiar con dinero, no nos confiará a sus personas.
        <br>
        7. El principio de recompensa
        <br>
        • En Colosenses 3:23-24 “Y todo lo que hagáis, hacedlo de corazón, como para el Señor y no para los hombres,24
        sabiendo que del Señor recibiréis la recompensa de la
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        porque a Cristo el Señor servís
        <br>
        • La Biblia nos muestra en las parábolas del Reino que los mayordomos fieles que hacen la voluntad del amo con
        los recursos del amo pueden
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        ser recompensados incompletamente en esta vida, pero por
        completo en la siguiente.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Todos deberíamos desear escuchar del maestro la exclamación de Mateo 25:21 “ Su señor le dijo: “Bien, buen
        siervo y fiel; sobre poco has sido fiel, sobre mucho
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        . Entra en el gozo de tu señor.”
        <br>
        • Como cristianos del siglo 21 necesitamos abrazar esta amplia perspectiva de la mayordomía, que se extiende más
        allá de los presupuestos de la iglesia o de los proyectos de construcción, que, aunque son importantes, conecta
        todo lo que hacemos con lo que Dios está haciendo en el mundo.
        <br>
        • Necesitamos ser mayordomos
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        de todo lo que Dios nos ha dado mediante las oportunidades
        presentadas a través de su providencia para glorificarlo, servir al bien común y avanzar Su reino.
        <br>
        • “La recompensa más grande del trabajo duro de una persona no es lo que obtienen con eso sino en lo que se
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        por eso”. John Ruskin
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>

<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
