<!--
  Generated template for the Cuestionario26Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/relaciones.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>

      <b class="titulo">Las relaciones interpersonales</b>

      <p>
        El liderazgo efectivo requiere de buenas relaciones interpersonales.
        Un líder deber relacionarse efectivamente con su equipo de liderazgo y sus seguidores
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        El ejemplo de Jesús
      </b>
      <p>
        • Un aspecto vital del liderazgo es la administración habilidosa de
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        .
        <br>
        • El mayor recurso del líder son las personas.
        <br>
        • Jesús escogió cuidadosamente doce
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        .
        <br>
        • Él tomó su tiempo para seleccionarlos.
        <br>
        • Él reconoció su
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        para el liderazgo.
        <br>
        • Él pasó tiempo de calidad con ellos.
        <br>
        • Él compartió su
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        con ellos.
        <br>
        • Ellos aprendieron con Él mediante la asociación.
        <br>
        Lucas 6:40 “ El discípulo no es superior a su maestro; pero todo el que sea perfeccionado, será como su
        maestro”.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Liderazgo efectivo
      </b>
      <p>
        1. Jesús les enseñó por asociación. El estilo de enseñanza de Jesús fue:
        <br>
        • Yo lo hago y ustedes me
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        .
        <br>
        • Yo lo hago y ustedes me
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        .
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        lo hacen y yo les ayudo.
        <br>
        • Ustedes lo hacen y yo los
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        .
        <br>
        • Ustedes lo hacen y alguien más observa.
        <br>
        2. Él les enseñó como
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        en el entrenamiento del trabajo. En Marcos 9:17-29 Jesús les respondió
        “Este género con nada puede salir, sino con oración y ayuno”.
        <br>
        3. Él les asignó responsabilidades: Jesús les dijo “denles de comer” (Mateo 14:16).
        4. Él les
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        autoridad: la responsabilidad debe siempre preceder la autoridad.
        <br>
        5. Él les
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        poder. Lucas 24:49 “Ciertamente, yo enviaré la promesa de mi Padre sobre vosotros;
        pero quedaos vosotros en la ciudad de Jerusalén hasta que seáis investidos de poder desde lo alto”.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        6. Él supervisó sus actividades. Marcos 6:7 “Después llamó a los doce y comenzó a enviarlos de dos en dos, y les
        dio autoridad sobre los espíritus impuros”.
        7. Él revisó y
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        su trabajo. Juan 21:1-10 (vs 5) “5 Y les dijo: —Hijitos, ¿tenéis algo de comer?”
        8. Él requirió que ellos se
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        . Mateo 28:19 “Por tanto, id y haced discípulos a todas las
        naciones, bautizándolos en el nombre del Padre, del Hijo y del Espíritu Santo”
        9. Impartió algunas
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        sobre ellos. Mateo 5-7
        a. Humildad
        b. Unidad
        c. Moral
      </p>
    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
