<!--
  Generated template for the Cuestionario11Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Principios de un liderazgo cristiano efectivo</b>
      <p>
        “Un líder es una persona que sabe el camino, va por ese camino y muestra el camino” John Maxwell.
      </p>

    </ion-slide>
    <ion-slide>

      <b>1. Liderazgo Efectivo</b>
      <p>
        El liderazgo efectivo es una llave
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        para el logro, la efectividad, y el éxito en cada área
        de la vida. Esto es tan cierto para la iglesia como para cualquier otro lugar. La lección busca ayudar al
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        cristiano para que siga desarrollando sus habilidades de liderazgo naturales, espirituales y
        adquiridas. Aborda aspectos espirituales y del
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        de las habilidades del liderazgo.
      </p>
      <p>
        Dios está entrenando y
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        líderes para una cosecha mundial y para el surgimiento de Su
        Reino. Está buscando prepararlos en carácter,
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        y autoridad.
      </p>

    </ion-slide>


    <ion-slide>

      <b>
        2. La necesidad latente por un buen liderazgo
      </b>
      <p>
        • Sin un buen liderazgo la
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        abunda. Jueces 17:6; 18:1-19. “Cada hombre hizo lo que le
        pareció bien ante sus propios ojos”.
      </p>
      <p>
        • Sin liderazgo, la
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        reina.
      </p>
      <p>
        • Las personas son como ovejas sin
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        .
      </p>

    </ion-slide>
    <ion-slide>

      <b>
        3. Algunas definiciones de liderazgo
      </b>
      <p>
        • Alguien que toma la iniciativa y avanza para mostrar el camino
        <br>
        • Un líder debe ser capaz y
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de estar al frente de las personas y
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        el
        camino. Esto requiere iniciativa,
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        . Alguien dijo “Tu cabeza nunca se va a ver
        entre la multitud a menos que estés dispuesto a sacar el cuello”.
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        • Alguien que guía, dirige y comanda una compañía
      </p>
      <p>
        • Un líder
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        puede ser un aislacionista. El es parte de una compañía para quien es
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        de ser su líder. El debe estar claramente
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        con esa compañía, no meramente
        como uno de sus miembros, sino como el responsable por la
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        .
      </p>
      <p>
        • Alguien que influencia la actitud y acciones de otros.
      </p>
      <p>
        • Un líder tiene la habilidad para
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        a otros al grado que
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        positivamente y consistentemente sus
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        , sus actitudes. El los mueve en la dirección
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        . El
        los inspira para mantenerlos,
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        incluso cuando el camino es
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        y hay obstáculos.
      </p>


    </ion-slide>


    <ion-slide>
      <p>
        • Alguien a quien otros quieren seguir
      </p>
      <p>
        • Un líder tiene
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        que hacen que las personas lo quieran seguir. Un líder no es un líder si
        nadie lo
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        . Esta es la
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        definitiva de las cualidades del liderazgo, que las
        personas le siguen. Una persona puede saber todos los principios teóricos del liderazgo, puede ser capaz de
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        acerca de un tema o incluso escribir un libro al respecto, pero la verdadera
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        de un liderazgo es seguir a líder.
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        • Alguien con la habilidad para motivar a otros a alcanzar la meta
      </p>
      <p>
        • Una parte importante del liderazgo
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        es la habilidad para
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        a otros. Por
        ejemplo, animarlos en la dirección
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        . Pero la motivación solo es efectiva si el objetivo final es
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        . El verdadero liderazgo logra las cosas. Definitivamente alcanza la
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        4. Algunos aspectos del liderazgo efectivo
      </b>
      <p>
        • Profético: capaz de anticipar el futuro
      </p>
      <p>
        • Uno de los aspectos más importantes del buen liderazgo es la habilidad de
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        y anticipar el
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        . La compañía ejecutiva tiene que ser capaz de discernir las tendencias del futuro del mercado y
        anticipar lo que las personas
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        en los siguientes años. Si producen
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        que nadie va
        a querer o necesitar en 5 años, han
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        en el mercado.
      </p>
      <p>
        • En términos del liderazgo cristiano a veces llamamos a esta persona “
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        ”. No es alguien que
        siempre está recibiendo visiones espirituales, sino alguien que tiene la habilidad para anticipar correctamente
        los
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        y la oportunidad que el futuro presentará.
      </p>
      <p>
        • Estratega: capaz de planear para el futuro
      </p>
    </ion-slide>

    <ion-slide>

      <p>
        • Una persona estratega esencialmente es
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        . No solamente reconoce el desafío del futuro,
        también es capaz de
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        los planes para satisfacer adecuadamente los desafíos. El estratega
        no es un soñador.
      </p>

      <p>
        Es una persona
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        .
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        las oportunidades delante de él y hace planes adecuados,
        trabajables y logrables para
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        la cosecha del futuro
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        • La planificación es tan esencial para la Plantación de iglesias o el
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        , como lo es
        construir un edificio. Cuán insensato es el
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        que empieza a construir sin primero formular y
        documentar sus planes. El se sienta y considera cada pequeño aspecto del edificio que planea
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        . El arquitecto es empleado para
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        y dibujarlo. El estimador hace un
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        . El topógrafo revisa cada aspecto del sitio propuesto. El ingeniero
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        la solidez
        del plan estructural. Cada uno de ellos resume sus hallazgos por escrito. En otras palabras, el proyecto es
        cuidadosamente
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        y evaluado antes de que empiece cualquier actividad.
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        • Ninguna persona sensata pensaría en intentar
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        sin un
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        apropiado.
      </p>
      <p>
        Tampoco se les permitiría hacerlo. Las autoridades locales jamás tolerarían la edificación de un edificio sin
        los planos apropiados y la
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        .
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Así mismo tampoco el líder cristiano puede
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        en actividades sin primero hacer una
        <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        cuidadosa y planes apropiados.
      </p>
      <p>
        • Comunicadores: capaces de dar instrucciones sabiamente
      </p>
      <p>
        • Una de las razones por las cuales todas las
        <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        y los planes deben ser claramente definidos y
        escritos es para que puedan ser
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        más eficientemente. El líder efectivo debe ser un comunicador
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        y competente. Debe ser capaz de compartir la
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        y la estrategia de forma
        convincente para ganar la confianza, el apoyo y la cooperación de sus
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        y trabajadores
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        • El desarrollo de las
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        de comunicación son importantes en este asunto. El líder exitoso debe
        esforzarse en desarrollar y refinar sus habilidades para
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        por escrito, oral, y por los medios
        apropiados.
      </p>


    </ion-slide>


    <ion-slide>
      <p>
        • Motivadores: la habilidad para hacer que las cosas sucedan a través de ideas creativas
      </p>
      <p>
        • Motivar es
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet('64')">{{respuestas[64].text}}</label>
        el interés de las personas y hacerlos actuar de una manera positiva hacia el
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        de una meta específica. Esto incluye
        <label class="respuesta corta" [style.color]="respuestas[66].color" (click)="openActionSheet('66')">{{respuestas[66].text}}</label>
        e inspirarlos a moverse en cierta
        dirección. También implica mantenerlos motivados y moviéndose
        <label class="respuesta corta" [style.color]="respuestas[67].color" (click)="openActionSheet('67')">{{respuestas[67].text}}</label>
        . El motivador es capaz de
        seguir inspirando el
        <label class="respuesta corta" [style.color]="respuestas[68].color" (click)="openActionSheet('68')">{{respuestas[68].text}}</label>
        y mantener el
        <label class="respuesta corta" [style.color]="respuestas[69].color" (click)="openActionSheet('69')">{{respuestas[69].text}}</label>
        para avanzar el movimiento.
      </p>
      <p>
        • Un ejemplo: modelos a seguir y ejemplos
      </p>
      <p>
        • Un líder debe ser un ejemplo y
        <label class="respuesta corta" [style.color]="respuestas[70].color" (click)="openActionSheet('70')">{{respuestas[70].text}}</label>
        de lo que le está animando a sus seguidores a ser
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        El no puede
        <label class="respuesta corta" [style.color]="respuestas[71].color" (click)="openActionSheet('71')">{{respuestas[71].text}}</label>
        a estar comprometidos a una tarea en la cual él no está totalmente
        <label class="respuesta corta" [style.color]="respuestas[72].color" (click)="openActionSheet('72')">{{respuestas[72].text}}</label>
        . Hay más inspiración del ejemplo que de la exhortación. Si el liderazgo es un caso obvio de
        “haz lo que yo digo, no lo que yo hago”, pocas personas van a estar
        <label class="respuesta corta" [style.color]="respuestas[73].color" (click)="openActionSheet('73')">{{respuestas[73].text}}</label>
        .
      </p>
      <p>
        • Seguro: las personas se sienten seguras para seguirlo
      </p>
      <p>
        • Un buen líder gana la admiración de sus
        <label class="respuesta corta" [style.color]="respuestas[74].color" (click)="openActionSheet('74')">{{respuestas[74].text}}</label>
        . Quieren emularlo en algún sentido. El
        <label class="respuesta corta" [style.color]="respuestas[75].color" (click)="openActionSheet('75')">{{respuestas[75].text}}</label>
        para ellos un patrón en el que van a querer encajar sus propias vidas. Para poder cumplir
        esto el líder necesita
        <label class="respuesta corta" [style.color]="respuestas[76].color" (click)="openActionSheet('76')">{{respuestas[76].text}}</label>
        en los ojos y estimación de sus seguidores, y tal credibilidad debe ser
        ganada bajo un periodo considerable de
        <label class="respuesta corta" [style.color]="respuestas[77].color" (click)="openActionSheet('77')">{{respuestas[77].text}}</label>
        .
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        • Autoridad: capaz de ejercer autoridad
      </p>
      <p>
        • Los líderes deben entender como ejercer
        <label class="respuesta corta" [style.color]="respuestas[78].color" (click)="openActionSheet('78')">{{respuestas[78].text}}</label>
        . La manera usual en la que esto se aprende es
        siendo sujetos a autoridad. Esta es la razón primaria del entrenamiento básico en las que los reclutas son
        <label class="respuesta corta" [style.color]="respuestas[79].color" (click)="openActionSheet('79')">{{respuestas[79].text}}</label>
        en el ejército. El aspecto principal que deben aprender es ser sujetos de autoridad y a
        <label class="respuesta corta" [style.color]="respuestas[80].color" (click)="openActionSheet('80')">{{respuestas[80].text}}</label>
        órdenes sin
        <label class="respuesta corta" [style.color]="respuestas[81].color" (click)="openActionSheet('81')">{{respuestas[81].text}}</label>
        . Esto es instalado en los reclutas por dos razones. La primera
        para que puedan obedecer sin hacer preguntas a sus líderes en situaciones de
        <label class="respuesta corta" [style.color]="respuestas[82].color" (click)="openActionSheet('82')">{{respuestas[82].text}}</label>
        . Lo segundo, para
        ayudarles a entender la
        <label class="respuesta corta" [style.color]="respuestas[83].color" (click)="openActionSheet('83')">{{respuestas[83].text}}</label>
        de la autoridad para que la puedan ejercitar cuando se les otorgue un
        <label class="respuesta corta" [style.color]="respuestas[84].color" (click)="openActionSheet('84')">{{respuestas[84].text}}</label>
        de autoridad.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • Esto es hermosamente ilustrado en la historia del Centurión a quien Jesús ordenó. (Mateo 8:5-13). El oficial
        entendió los principios de autoridad porque él estaba
        <label class="respuesta corta" [style.color]="respuestas[85].color" (click)="openActionSheet('85')">{{respuestas[85].text}}</label>
        a autoridad, y también porque tenía una
        posición de autoridad. Jesús comentó que nunca había visto tal
        <label class="respuesta corta" [style.color]="respuestas[86].color" (click)="openActionSheet('86')">{{respuestas[86].text}}</label>
        en todo Israel.
      </p>
      <p>
        • Organizadores: Alcanzar la meta deseada
      </p>
      <p>
        • Organizar es
        <label class="respuesta corta" [style.color]="respuestas[87].color" (click)="openActionSheet('87')">{{respuestas[87].text}}</label>
        los preparativos, para uno como para otros, para
        <label class="respuesta corta" [style.color]="respuestas[88].color" (click)="openActionSheet('88')">{{respuestas[88].text}}</label>
        el
        cumplimiento eficiente de la meta. La organización es esencial para la administración eficiente. Un líder
        efectivo debe
        <label class="respuesta corta" [style.color]="respuestas[89].color" (click)="openActionSheet('89')">{{respuestas[89].text}}</label>
        eficientemente sus recursos, incluyendo personas, estrategias, y recursos
        materiales. Para hacer esto él necesita ser un organizador
        <label class="respuesta corta" [style.color]="respuestas[90].color" (click)="openActionSheet('90')">{{respuestas[90].text}}</label>
        .
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        • Conductores de Orquestras: Inspiran armonía
      </p>
      <p>
        • El conductor de una orquestra es un
        <label class="respuesta corta" [style.color]="respuestas[91].color" (click)="openActionSheet('91')">{{respuestas[91].text}}</label>
        ejemplo de lo que trata el liderazgo. Cada músico en la
        orquestra debe asegurarse de que su instrumento está afinado. Después el
        <label class="respuesta corta" [style.color]="respuestas[92].color" (click)="openActionSheet('92')">{{respuestas[92].text}}</label>
        se asegura que cada
        instrumento esté afinado con la nota común que él ha dado. Después él da una indicación específica a cada
        <label class="respuesta corta" [style.color]="respuestas[93].color" (click)="openActionSheet('93')">{{respuestas[93].text}}</label>
        y requiere que cada uno toque su parte específica fielmente y que mantenga una
        <label class="respuesta corta" [style.color]="respuestas[94].color" (click)="openActionSheet('94')">{{respuestas[94].text}}</label>
        perfecta con todos los otros instrumentos. El conductor dicta el tiempo y la manera en que la pieza será
        <label class="respuesta corta" [style.color]="respuestas[95].color" (click)="openActionSheet('95')">{{respuestas[95].text}}</label>
        . Todos siguen su dirección y el resultado es armonioso y glorioso.
      </p>

    </ion-slide>


    <ion-slide>


      <p>
        • Un general: uno que dirige y comando su ejército
      </p>
      <p>
        • Esta analogía final es posiblemente la más
        <label class="respuesta corta" [style.color]="respuestas[96].color" (click)="openActionSheet('96')">{{respuestas[96].text}}</label>
        de todas, la figura del “general” siempre recuerda
        que él también debe responder al comandante en jefe, que es el Señor mismo.
      </p>
      <p>
        • El general mantienen un alto rango y tiene una
        <label class="respuesta corta" [style.color]="respuestas[97].color" (click)="openActionSheet('97')">{{respuestas[97].text}}</label>
        considerable, pero también es un hombre
        bajo autoridad. Un general siempre está atento de la autoridad que puede
        <label class="respuesta corta" [style.color]="respuestas[98].color" (click)="openActionSheet('98')">{{respuestas[98].text}}</label>
        pero también está
        consciente de que su
        <label class="respuesta corta" [style.color]="respuestas[99].color" (click)="openActionSheet('99')">{{respuestas[99].text}}</label>
        principal viene de su comandante en Jefe.
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        • El general también debe
        <label class="respuesta corta" [style.color]="respuestas[100].color" (click)="openActionSheet('100')">{{respuestas[100].text}}</label>
        que es dependiente de sus compañeros oficiales, y otros rangos.
        Cada miembro del ejército es
        <label class="respuesta corta" [style.color]="respuestas[101].color" (click)="openActionSheet('101')">{{respuestas[101].text}}</label>
        . Incluso los más privados son indispensables. La efectividad y el
        éxito del ejército
        <label class="respuesta corta" [style.color]="respuestas[102].color" (click)="openActionSheet('102')">{{respuestas[102].text}}</label>
        de cada miembro haciendo su parte en el lugar correcto en el momento
        correcto. Finalmente es el general el responsable de lograr esto. El debe asegurar la
        <label class="respuesta corta" [style.color]="respuestas[103].color" (click)="openActionSheet('103')">{{respuestas[103].text}}</label>
        de sus
        tropas. El debe animar su
        <label class="respuesta corta" [style.color]="respuestas[104].color" (click)="openActionSheet('104')">{{respuestas[104].text}}</label>
        de propósito. El debe trabajar para el cumplimiento del plan de
        batalla y obtener el ejército
        <label class="respuesta corta" [style.color]="respuestas[105].color" (click)="openActionSheet('105')">{{respuestas[105].text}}</label>
        trabajando como un solo hombre para
        <label class="respuesta corta" [style.color]="respuestas[106].color" (click)="openActionSheet('106')">{{respuestas[106].text}}</label>
        esto.
      </p>


    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
