<!--
  Generated template for the Cuestionario41Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        41. Cómo ministrar sanidad
      </b>

      <p>La base de nuestra sanidad es que es a través de Cristo, por el poder del Espíritu Santo y de acuerdo a la
        palabra de Dios.</p>
      <b>Entendiendo la voluntad de Dios </b>
      <p>• La fe empieza donde la <label class="respuesta corta" [style.color]="respuestas[0].color"
                                         (click)="openActionSheet('0')">{{respuestas[0].text}}</label> de Dios se
        conoce.
        La voluntad de Dios está <label class="respuesta corta" [style.color]="respuestas[1].color"
                                        (click)="openActionSheet('1')">{{respuestas[1].text}}</label> en las páginas de
        la Palabra de Dios.</p>
      <p>• Una falta de <label class="respuesta corta" [style.color]="respuestas[2].color"
                               (click)="openActionSheet('2')">{{respuestas[2].text}}</label> o de conocimiento en
        relación a la
        voluntad de Dios para sanarte es un bloqueo para recibir tu sanidad.</p>
      <p>• A menudo las personas son asediadas con todo tipo de <label class="respuesta corta"
                                                                       [style.color]="respuestas[3].color"
                                                                       (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        y se
        preguntan cuando recibirán sanidad física.</p>
      <p>• ¿Es la <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        de Dios sanar todo?
        ¿Será la voluntad de Dios sanar solamente a <label class="respuesta corta" [style.color]="respuestas[5].color"
                                                           (click)="openActionSheet('5')">{{respuestas[5].text}}</label>?
        ¿ Es la <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        algunas veces la voluntad de Dios? </p>
    </ion-slide>

    <ion-slide>
      <b>La voluntad de Dios en relación a la sanidad</b>
      <p>• La palabra de Dios revela que la <label class="respuesta corta" [style.color]="respuestas[7].color"
                                                   (click)="openActionSheet('7')">{{respuestas[7].text}}</label> es la
        voluntad de Dios porque la naturaleza de Dios es
        sanar. En Éxodo 15:26 Dios dice “Yo soy el Señor tu sanador”. Es la <label class="respuesta corta"
                                                                                   [style.color]="respuestas[8].color"
                                                                                   (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de Dios ir contra toda
        enfermedad. Sanar es la naturaleza de Dios.</p>
      <p>• La voluntad de Dios para la sanidad es <label class="respuesta corta" [style.color]="respuestas[9].color"
                                                         (click)="openActionSheet('9')">{{respuestas[9].text}}</label> a
        través del ministerio de Jesús. Hechos 10:38 </p>
      <p>• La sanidad es la voluntad de Dios porque ya ha sido provista a través de la <label class="respuesta corta"
                                                                                              [style.color]="respuestas[10].color"
                                                                                              (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        de Jesús. 1 Pedro 2:24</p>
    </ion-slide>

    <ion-slide>
      <b>Jesús es la voluntad de Dios en acción </b>
      <p>• Cada persona en los tiempos de la Biblia que estaba enferma y buscaba
        a <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        para sanidad era sanado.</p>
      <p>• Cuando ves a Jesús en Su ministerio de <label class="respuesta corta" [style.color]="respuestas[12].color"
                                                         (click)="openActionSheet('12')">{{respuestas[12].text}}</label>,
        ves a Dios el Padre en acción. </p>
      <p>• El Padre, el Hijo y el Espíritu Santo están <label class="respuesta corta"
                                                              [style.color]="respuestas[13].color"
                                                              (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        para traer sanidad al enfermo y a la humanidad en sufrimiento. (Hechos 10:38)</p>

    </ion-slide>

    <ion-slide>
      <p>• La sanidad física en la actualidad <label class="respuesta corta" [style.color]="respuestas[14].color"
                                                     (click)="openActionSheet('14')">{{respuestas[14].text}}</label> a
        los creyentes porque en la cruz Jesús tomó para si todos nuestros dolores, enfermedades y dolencias.
        (Isaías 53: 4-5, Mateo 8:16-17; 1 Pedro 2:24) </p>
      <p>• Liberación de toda <label class="respuesta corta" [style.color]="respuestas[15].color"
                                     (click)="openActionSheet('15')">{{respuestas[15].text}}</label>, de todos los
        dolores y todas las
        enfermedades obtenidas por Jesús en la cruz. (Gálatas 3:13).</p>
      <p>• Jesucristo es el mismo ayer, hoy y siempre. Hebreos 13:8.
        El Jesús de los días de la Biblia es el <label class="respuesta corta" [style.color]="respuestas[16].color"
                                                       (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        Jesús de hoy.</p>
      <p>En los días de la Biblia: ¿sanaba Jesús a los enfermos? ¡Sí! ¿Echaba Jesús a los demonios y ponía a las
        personas
        en libertad? ¡Sí! ¿Es Jesús parte de la Divinidad? ¡Sí! ¿Era Jesús la manifestación
        visible del Padre en la tierra? ¡Sí! </p>
    </ion-slide>

    <ion-slide>
      <b>La naturaleza de Dios </b>
      <p>• Dios es el Dios de <label class="respuesta corta" [style.color]="respuestas[17].color"
                                     (click)="openActionSheet('17')">{{respuestas[17].text}}</label>, Él dijo “Yo soy”.
      </p>
      <p>• Dios es un Dio del verbo <label class="respuesta corta" [style.color]="respuestas[18].color"
                                           (click)="openActionSheet('18')">{{respuestas[18].text}}</label>. </p>
      <p>• Jesús caminó en esta tierra como la expresión <label class="respuesta corta"
                                                                [style.color]="respuestas[19].color"
                                                                (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        de la naturaleza y la voluntad de Dios para
        el ser humano. Mateo 9:35 dice “Recorría Jesús todas las ciudades y aldeas, enseñando en las sinagogas de ellos,
        predicando el evangelio del Reino y sanando toda enfermedad y toda dolencia en el pueblo”</p>
      <p>• Jesús dijo “Si me han visto a mi, han visto al Padre”. </p>

    </ion-slide>

    <ion-slide>
      <p>• Jesús vino a mostrarnos la <label class="respuesta corta" [style.color]="respuestas[20].color"
                                             (click)="openActionSheet('20')">{{respuestas[20].text}}</label> de Dios.
        Juan 6:38 dice “He descendido del cielo, no para hacer mi voluntad, sino la voluntad del que me envió”</p>
      <p>• Jesús fue la voluntad de <label class="respuesta corta" [style.color]="respuestas[21].color"
                                           (click)="openActionSheet('21')">{{respuestas[21].text}}</label> en acción.
      </p>
      <b>¿Cómo sanó Jesús en los días de la Biblia?</b>
      <p>• Jesús sanó <label class="respuesta corta" [style.color]="respuestas[22].color"
                             (click)="openActionSheet('22')">{{respuestas[22].text}}</label> tipo de enfermedades y
        dolencias, y a todas las personas enfermas. (Mateo 4:23,24)</p>
      <p>• Jesús <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        a todos los que estaban enfermos
        y <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        fuera demonios y espíritus de dolencias responsables de la enfermedad. (Mateo 8:16) </p>
    </ion-slide>

    <ion-slide>

      <p>• El <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        de Jesús fue enseñar las palabras de Dios, predicar el Evangelio del Reino de Dios,
        y sanar a los enfermos. Él sanó todas las enfermedades y cada dolencia. (Mateo 9:35) </p>
      <p>• Jesús les dio a sus discípulos <label class="respuesta corta" [style.color]="respuestas[26].color"
                                                 (click)="openActionSheet('26')">{{respuestas[26].text}}</label> para
        sanar todo tipo de enfermedad y
        todo tipo de dolencia. (Mateo 10:1; Lucas 9:1-2)</p>
      <p>• En Mateo 12:13 Jesús sanó a <label class="respuesta corta" [style.color]="respuestas[27].color"
                                              (click)="openActionSheet('27')">{{respuestas[27].text}}</label> los que
        estaban enfermos. </p>
      <p>• En Mateo 14:34-36 cada persona enferma y cada persona con dolencia que <label class="respuesta corta"
                                                                                         [style.color]="respuestas[28].color"
                                                                                         (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        a Jesús fue sanada. </p>
      <p>• En Lucas 4:38-40 y Lucas 9:11 vemos que Jesús sanó a <label class="respuesta corta"
                                                                       [style.color]="respuestas[29].color"
                                                                       (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        aquel que necesitaba sanidad. </p>
    </ion-slide>

    <ion-slide>
      <p>• En Lucas 4:40 cada persona enferma sobre la que Jesús puso su mano fue <label class="respuesta corta"
                                                                                         [style.color]="respuestas[30].color"
                                                                                         (click)="openActionSheet('30')">{{respuestas[30].text}}</label>.
      </p>
      <p>• En el ministerio de Jesús vemos que la naturaleza de Dios es contra la
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        y que la naturaleza de Dios es sanar. Sanar es la naturaleza de Dios. </p>
      <p>• El conocimiento de la voluntad de Dios en relación a la enfermedad y a la sanidad claramente es
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        en el ministerio de Jesús. </p>
    </ion-slide>

    <ion-slide>
      <b>Jesús vino a destruir las obras del diablo </b>
      <p>• 1 Juan 3:8 “…Para esto apareció el Hijo de Dios, para deshacer las obras del diablo”</p>
      <p>• Nota que en Lucas 3:11 esta mujer había tenido un espíritu de
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        por 18 años. La enfermedad puede ser causada por un
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        de dolencia. Satanás la había atado con
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        en el vs 16, la enfermedad es la atadura de Satanás. Ella era hija del
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        y tenía derecho a ser libre. Jesús la sanó y la puso en libertad. </p>

    </ion-slide>

    <ion-slide>
      <b>Cristo nos ha redimido de la enfermedad</b>
      <p>1. Jesús nos ha redimido de la <label class="respuesta corta" [style.color]="respuestas[37].color"
                                               (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        espiritual. Romanos 5: 12-19. </p>
      <p>2. Jesús nos ha redimido de la <label class="respuesta corta" [style.color]="respuestas[38].color"
                                               (click)="openActionSheet('38')">{{respuestas[38].text}}</label> de la
        enfermedad. Gálatas 3:13-14 </p>
      <p>3. Jesús nos ha redimido de la maldición de la <label class="respuesta corta"
                                                               [style.color]="respuestas[39].color"
                                                               (click)="openActionSheet('39')">{{respuestas[39].text}}</label>.
        2 Corintios 8:9 </p>
      <p>4. Romanos 8:2 “porque la ley del Espíritu de vida en Cristo Jesús me ha librado de la ley del pecado y de la
        muerte”.</p>
      <p>5. 1 Pedro 2:24 “Él mismo llevó nuestros pecados en su cuerpo sobre el madero, para que nosotros, estando
        muertos a los pecados, vivamos a la justicia. ¡Por su herida habéis sido sanados!</p>

    </ion-slide>

    <ion-slide>
      <b>El pacto de sanidad</b>
      <p>• Dios es un Dios de <label class="respuesta corta" [style.color]="respuestas[40].color"
                                     (click)="openActionSheet('40')">{{respuestas[40].text}}</label> y Él
        estableció un pacto de sanidad en el Antiguo Testamento. Éxodo 15:26 “Les dijo: «Si escuchas atentamente la voz
        de Jehová, tu Dios, y haces lo recto delante de sus ojos, das oído a sus mandamientos y guardas todos sus
        estatutos, ninguna enfermedad de las que envié sobre los egipcios traeré sobre ti, porque yo soy Jehová, tu
        sanador»”.</p>
    </ion-slide>

    <ion-slide>
      <b>El pacto de sanidad declara </b>
      <p>• Éxodo 23:25 “Pero serviréis a Jehová, vuestro Dios, y él bendecirá tu pan y tus aguas. Yo apartaré de ti toda
        enfermedad”</p>
      <p>• Deuteronomio 7:15 “ Apartará Jehová de ti toda enfermedad, y ninguna de las malas plagas de Egipto que tú
        conoces
        hará caer sobre ti, sino que las hará caer sobre todos los que te aborrezcan” </p>
      <p>• Esto incluye cada <label class="respuesta corta" [style.color]="respuestas[41].color"
                                    (click)="openActionSheet('41')">{{respuestas[41].text}}</label> en el mundo actual
      </p>
      <p>• Hebreos 8:6 “ Pero ahora tanto mejor ministerio es el suyo, cuanto es mediador de un mejor pacto, establecido
        sobre mejores promesas”.</p>
      <p>• Salmo 105:37 “Los sacó con plata y oro y no hubo en sus tribus enfermo”.</p>
    </ion-slide>

    <ion-slide>
      <b>La compasión de nuestro Señor Jesucristo </b>
      <p>• La compasión de Dios hacia la persona enferma <label class="respuesta corta"
                                                                [style.color]="respuestas[42].color"
                                                                (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        la voluntad de Dios. </p>
      <p>• F.F. Bosworth dijo “La declaración más visible en la escritura acerca de nuestro Padre Celestial son las
        declaraciones de Su amor, Su misericordia y Su compasión” </p>
      <p>• Salmo 145:8-9 “8 Clemente y misericordioso es Jehová, lento para la ira y grande en misericordia. 9 Bueno es
        Jehová para con todos, y sus misericordias sobre todas sus obras”.</p>
    </ion-slide>

    <ion-slide>
      <p>• Cuando Jesús <label class="respuesta corta" [style.color]="respuestas[43].color"
                               (click)="openActionSheet('43')">{{respuestas[43].text}}</label> a la persona enferma, él
        destapó y reveló la compasión del corazón de Dios.
        Por eso fue que las multitudes se acercaron a él. </p>
      <p>• La Biblia repetidamente declara que Jesús era <label class="respuesta corta"
                                                                [style.color]="respuestas[44].color"
                                                                (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        a
        compasión y sanaba a los enfermos. La compasión <label class="respuesta corta"
                                                               [style.color]="respuestas[45].color"
                                                               (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        la
        fuerza motora para que Jesús sanara las personas. </p>
      <p>• Sanar a los enfermos era la revelación de <label class="respuesta corta" [style.color]="respuestas[46].color"
                                                            (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        de Dios.</p>
      <p>• Sanar a los enfermos es una <label class="respuesta corta" [style.color]="respuestas[47].color"
                                              (click)="openActionSheet('47')">{{respuestas[47].text}}</label> de la
        compasión del corazón de Dios.</p>
      <p>• Una vez que las personas agarran la revelación del amor y compasión de Dios por ellos, sus días de <label
        class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        terminan.</p>
    </ion-slide>

    <ion-slide>
      <b>5 Propósitos de la ministración de sanidad</b>
      <p>1. Para mostrar el amor, compasión y misericordia de Dios, y aliviar el <label class="respuesta corta"
                                                                                        [style.color]="respuestas[49].color"
                                                                                        (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        humano. </p>
      <p>2. Para demonstrar que el <label class="respuesta corta" [style.color]="respuestas[50].color"
                                          (click)="openActionSheet('50')">{{respuestas[50].text}}</label> de Dios ha
        llegado.</p>
      <p>3. Para dar evidencia de que el <label class="respuesta corta" [style.color]="respuestas[51].color"
                                                (click)="openActionSheet('51')">{{respuestas[51].text}}</label> es real
        y que Jesús está vivo. </p>
      <p>4. Para acercar a las personas a Jesús y traerlos a <label class="respuesta corta"
                                                                    [style.color]="respuestas[52].color"
                                                                    (click)="openActionSheet('52')">{{respuestas[52].text}}</label>.
      </p>
      <p>5. Para traer gloria y <label class="respuesta corta" [style.color]="respuestas[53].color"
                                       (click)="openActionSheet('53')">{{respuestas[53].text}}</label> a Dios. </p>
    </ion-slide>

    <ion-slide>
      <b>Como ministrar a los enfermos </b>
      <p>Juan 14:12 “De cierto, de cierto os digo: El que en mí cree, las obras que yo hago, él también las hará; y aun
        mayores hará, porque yo voy al Padre” </p>
      <p>1. Prepárate para ministrar a los enfermos <label class="respuesta corta" [style.color]="respuestas[54].color"
                                                           (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        tiempo en oración y leyendo las escrituras de sanidad. (Hechos 4:13,29-31)</p>
      <p>a. Todo ministerio y mover en el Espíritu Santo son efectivos y dinámicos solamente si fluye de tu
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        con el Espíritu Santo.</p>
      <p>2. Busca siempre ministrar a las <label class="respuesta corta" [style.color]="respuestas[56].color"
                                                 (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        con el amor y compasión de Dios. (Mateo 4:14; Gálatas 5; 6:1; 1 Corintios 13:1-3)</p>

    </ion-slide>

    <ion-slide>

      <p>3. Ubica a la persona <label class="respuesta corta" [style.color]="respuestas[57].color"
                                      (click)="openActionSheet('57')">{{respuestas[57].text}}</label> antes de orar por
        ellos.</p>
      <p>Haz estas preguntas</p>

      <p>a. ¿Hace cuánto tiempo has estado enfermo? ¿Dónde está el dolor? ¿Qué dice el doctor de la enfermedad? ¿Estás
        tomando algún tratamiento? ¿Crees que Jesús te pueda sanar hoy? ¿Tienes algún rencor en tu corazón contra
        alguien?
        Mientras estás haciendo estas preguntas <label class="respuesta corta" [style.color]="respuestas[58].color"
                                                       (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        al Espíritu Santo que te de
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        adicional. </p>

      <p>4. Sigue el ejemplo de <label class="respuesta corta" [style.color]="respuestas[60].color"
                                       (click)="openActionSheet('60')">{{respuestas[60].text}}</label> y comparte la
        palabra
        de Dios con la persona que está enferma antes de orar por ellos. (Mateo 4:23; Romanos 10:17)</p>

      <p>5. Nunca pongas tus manos sobre los enfermos o ores por ellos sin primero haber
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        la palabra de Dios acerca de la sanidad.</p>

    </ion-slide>

    <ion-slide>
      <b>¿Por qué es importante compartir primero la palabra de Dios?</b>
      <p>• Porque la palabra de Dios crea fe en los corazones de las personas. La palabra de Dios cura la
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>.
        La Palabra de Dios destruye toda
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        en la mente de las personas. La Palabra de Dios
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet('64')">{{respuestas[64].text}}</label>
        la mente con las personas correctas. La Palabra de Dios elimina preguntas, la
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        equivocado y la teología errónea. La palabra de Dios
        <label class="respuesta corta" [style.color]="respuestas[66].color" (click)="openActionSheet('66')">{{respuestas[66].text}}</label>
        el poder que da vida del Espíritu Santo.</p>
    </ion-slide>

    <ion-slide>
      <p>6. Ora por las personas en el Nombre de Jesús, <label class="respuesta corta"
                                                               [style.color]="respuestas[67].color"
                                                               (click)="openActionSheet('67')">{{respuestas[67].text}}</label>
        escrituras específicas.</p>
      <p>7. Úngeles con aceite. (Santiago 5:14-15)</p>
      <p>8. Pon <label class="respuesta corta" [style.color]="respuestas[68].color" (click)="openActionSheet('68')">{{respuestas[68].text}}</label>.
        (Marcos 16:18)</p>
      <p>9. Haz la oración en <label class="respuesta corta" [style.color]="respuestas[69].color"
                                     (click)="openActionSheet('69')">{{respuestas[69].text}}</label>. (Mateo 18:19) </p>
      <p>10. Después de la oración sígueles cuidando e <label class="respuesta corta"
                                                              [style.color]="respuestas[70].color"
                                                              (click)="openActionSheet('70')">{{respuestas[70].text}}</label>
        en ellos, anímales a continuar en la Palabra de Dios. (Proverbios 4:20-22) </p>
      <p>11. Dales <label class="respuesta corta" [style.color]="respuestas[71].color" (click)="openActionSheet('71')">{{respuestas[71].text}}</label>
        sobre sanidad para leer cada día. </p>
      <p>12. Regálales material sobre la sanidad.</p>
      <p>13. Haz una cita para que <label class="respuesta corta" [style.color]="respuestas[72].color"
                                          (click)="openActionSheet('72')">{{respuestas[72].text}}</label> a los
        servicios de la iglesia.</p>
      <p>14. Diles como pueden <label class="respuesta corta" [style.color]="respuestas[73].color"
                                      (click)="openActionSheet('73')">{{respuestas[73].text}}</label> al diablo.
        (Santiago 4:7) </p>
    </ion-slide>

    <ion-slide>
      <b>Ministrando como Jesús </b>
      <p>Al estudiar el Ministerio de Jesús y leer los Evangelio vemos que:</p>
      <p>• Jesús puso manos sobre los enfermos. El tocó al enfermo y la
        <label class="respuesta corta" [style.color]="respuestas[74].color" (click)="openActionSheet('74')">{{respuestas[74].text}}</label>
        en Él fue liberada para el enfermo. (Lucas 4:40-41)</p>
      <p>• Jesús <label class="respuesta corta" [style.color]="respuestas[75].color" (click)="openActionSheet('75')">{{respuestas[75].text}}</label>
        la Palabra con autoridad. Él le ordenó a la enfermedad,
        a la peste y a los espíritus de dolencia irse, y ellos obedecieron. (Lucas 13:11-13)</p>
      <p>• En el nombre de Jesús pon manos sobre la parte del cuerpo de la persona que está <label
        class="respuesta corta" [style.color]="respuestas[76].color" (click)="openActionSheet('76')">{{respuestas[76].text}}</label>
        (oídos sordos, problemas del corazón, infección de riñones, dolor de espalda). A medida que pones manos libera
        el poder de resurrección de Dios para sanar y restaurar.</p>
    </ion-slide>

    <ion-slide>
      <p>• En el nombre de Jesús <label class="respuesta corta" [style.color]="respuestas[77].color"
                                        (click)="openActionSheet('77')">{{respuestas[77].text}}</label> la palabra de
        autoridad y ordénale a la enfermedad, el dolor y a los demonios de dolencia que se vayan. </p>
      <p>• Cuando pones tus manos en él área específica que está en dolor, en enfermedad o dolencia
        <label class="respuesta corta" [style.color]="respuestas[78].color" (click)="openActionSheet('78')">{{respuestas[78].text}}</label>
        el poder sanador de Dios y la resurrección de
        <label class="respuesta corta" [style.color]="respuestas[79].color" (click)="openActionSheet('79')">{{respuestas[79].text}}</label>
        directamente en la parte del cuerpo que necesita sanidad. </p>
    </ion-slide>

    <ion-slide>
      <p>• La clave para ministrar en el <label class="respuesta corta" [style.color]="respuestas[80].color"
                                                (click)="openActionSheet('80')">{{respuestas[80].text}}</label>
        del Espíritu Santo es saber tu <label class="respuesta corta" [style.color]="respuestas[81].color"
                                              (click)="openActionSheet('81')">{{respuestas[81].text}}</label> en el
        nombre de Jesús sin tener ningún miedo.
        Ellos están asustados de ti. </p>
      <p>• Los demonios le obedecieron a Jesús inmediatamente porque ellos le tenían miedo. </p>
      <p>• Ejercita tu autoridad del Nuevo Testamento hoy y recuerda que es la <label class="respuesta corta"
                                                                                      [style.color]="respuestas[82].color"
                                                                                      (click)="openActionSheet('82')">{{respuestas[82].text}}</label>
        lo que pone en libertad a los cautivos. </p>
    </ion-slide>


  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
