<!--
  Generated template for the Cuestionario29Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/relaciones.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>


      <b class="titulo">“Unos a otros” un estilo de vida</b>

      <p>

        La iglesia no es una comunidad de personas forzadas a entrar en una caja con un gran nombre, más bien es la
        asamblea espontánea y natural de individuos que comparten muchas cosas en común.

      </p>
    </ion-slide>

    <ion-slide>
      <b>
        Dios es una comunidad
      </b>
      <p>
        El cuarto pillar de nuestra visión en CMFI es “desarrollar una relación amorosa y de cuido entre nosotros”. El
        amor y el cuido es el estilo de vida de la comunidad de Dios.
        Génesis 1: 1-3 “En el principio creó Dios los cielos y la tierra. 2 La tierra estaba desordenada y vacía, las
        tinieblas estaban sobre la faz del abismo y el espíritu de Dios se movía sobre la faz de las aguas. 3 Dijo Dios:
        «Sea la luz.» Y fue la luz”.
        • En la creación el Padre, el Hijo y el Espíritu Santo se involucraron para hacer bien el trabajo. No pueden
        vivir aislados entre ellos porque eso sería ir contra su naturaleza y sus características de comunidad.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Somos creados para el estilo de vida comunitario
      </b>
      <p>
        Génesis 1:26 “Entonces dijo Dios: «Hagamos al hombre a nuestra imagen, conforme a nuestra semejanza; y tenga
        potestad sobre los peces del mar, las aves de los cielos y las bestias, sobre toda la tierra y sobre todo animal
        que se arrastra sobre la tierra”.
        <br> <br>
        • Somos creados en la misma naturaleza y características de la vida comunitaria de Dios.
        <br>
        • Dios creo a Adán a su propia imagen como la corona de su creación y lo posicionó para sojuzgar Su creación.
        Dios vio que Adán no podía establecer una relación con los ríos, con las montañas, con los árboles, con los
        peces en el agua, las aves en los aires, o los animales en la tierra. Adán estaba completamente solo.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • En Génesis 2:18 “18 Después dijo Jehová Dios: No es bueno que el hombre esté solo: le haré ayuda idónea para
        él”
        <br>
        • Observando la soledad de Adán Dios respondió en dos formas. En la primera Él dijo “no es bueno que el hombre
        esté solo…”. La segunda “le haré una ayuda idónea” (Gen 2:18). Entendemos de este versículo que la opinión de
        Dios para la vida no es una individualista, sin comunidad, independiente y solitaria. La intención de Dios para
        la humanidad es vivir en comunión unos con otros.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        La Iglesia es una comunidad llamada Cuerpo de Cristo
      </b>
      <p>
        1 Corintios 12:12-14 “12 Así como el cuerpo es uno, y tiene muchos miembros, pero todos los miembros del cuerpo,
        siendo muchos, son un solo cuerpo, así también Cristo, 13 porque por un solo Espíritu fuimos todos bautizados en
        un cuerpo, tanto judíos como griegos, tanto esclavos como libres; y a todos se nos dio a beber de un mismo
        Espíritu.14 Además, el cuerpo no es un solo miembro, sino muchos”
        <br>
        • La principal definición de Iglesia es una comunidad de fieles en comunión con el Padre, mediante la
        encarnación del Hijo, en el Espíritu Santo, y en comunión de los unos con los otros y con el liderazgo. El
        Espíritu y el hijo resucitado, Cristo, han entregado dones y carisma a los fieles para vivir en unidad y como
        uno.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        Naturaleza de la Unidad
        <br> <br>
        • La unidad no es
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        o semejanza
        <br>
        • La unidad requiere
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        y sin diversidad no hay unidad.
        <br>
        • La unidad es
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        sin ser diferente.
        <br>
        • El
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        es clave para la unidad y la preservación de los
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        miembros individuales.
        <br>
        • La unidad permite que el aceite
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        libremente de nuestro sumo sacerdote y cabeza Jesucristo a
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        las partes del cuerpo (de la cabeza a los dedos del pie) (Salmo 133).
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        Comunidad en la unidad
      </b>
      <p>
        Efesios 4:4-6 “4 un solo cuerpo y un solo Espíritu, como fuisteis también llamados en una misma esperanza de
        vuestra vocación; 5 un solo Señor, una sola fe, un solo bautismo, 6 un solo Dios y Padre de todos, el cual es
        sobre todos y por todos y en todos”
        <br>
        <br>
        La
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        de santos ha sido nacida y bautizado del Espíritu. En esta comunidad, el Espíritu es
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        dentro de esta comunidad como
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        donde mora el Espíritu. Así, la vida de
        los satos es circuncidada por el Espíritu Santo, y determinada y empoderado. En esta
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        se
        encuentra la unidad y el poder de la Iglesia
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Características de una comunidad saludable
      </b>

      <p>
        1. Una comunidad
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        . 1 Corintios 13: 1-7. La práctica del amor divino es la prioridad supresa de la
        comunidad de Dios. El amor divino no es superficial, sino que envuelve nuestra sinceridad y el corazón.
        <br>
        2. Una comunidad de
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        sumisión y humildad. En Romanos 12:10 “Amaos los unos a los otros con
        amor fraternal; en cuanto a honra, prefiriéndoos los unos a los otros”
        <br>
        3. Una comunidad que se
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        y edifica. El amor genuino cuida, y el cuido va más allá de un
        sentimiento emocional. ¿Cómo? La Biblia nos enseña a animarnos y edificarnos los unos a los otros. Esto es lo
        menos que podemos hacer los unos por los otros como parte de nuestro cuidado espiritual.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        4. Una comunidad de
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        . Como esta comunidad nueva está compuesta por personas imperfectas que son
        salvas solamente por gracia, en adición al amor, el perdón es esencial para que esta comunidad pueda seguir
        verdaderamente disfrutando de relaciones genuinas. El perdón, es entonces, otra goma importante junto con el
        amor que mantienen a la comunidad junta y vibrante.
        <br>
        5. Una comunidad de
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        . Nuestra grandeza está calificada por nuestro servicio a los demás más,
        no por nuestra autoridad o posición. Marcos 10:44 “44 y el que de vosotros quiera ser el primero, será siervo de
        todos”
        <br>
        6. Una comunidad de comunicación
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        . Una verdadera comunidad de Dios provee una atmósfera de
        confianza mutua donde hay un intercambio honesto y libre de información personal. Esto ayuda a los miembros de
        la comunidad a acercarse los unos con los otros y a tener un mejor entendimiento.

      </p>

    </ion-slide>

    <ion-slide>
      <p>
        7. La honestidad y la transparencia atrae a las personas involucradas a acercarse más los unos con los otros. Es
        arriesgado porque a menudo nos expone y nos hace vulnerables ante los demás, pero siempre libera de las
        pretensiones y de la culpa.
      </p>
      <p>
        La lista de los estilos de vida de los unos con los otros.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        los unos a los otros. Aceptarse el uno al otro, justo como Cristo te ha aceptado, para
        darle la gloria a Dios. (Romanos 15:7).b
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        el uno al otro. Deja que la palabra de Dios more abundantemente en ti a medida que se
        enseñan y amonestan los unos con los otros con toda sabiduría, y a medida que cantas los salmos, himnos y
        canciones espirituales con gratitud en el corazón para Dios. (Colosenses 3:16)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        las cargas los unos de los otros. Lleven las cargas de los otros, y de esta manera
        completarán la ley de Cristo. (Gálatas6:2)
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        • Sopórtense los unos a los otros, se completamente humilde y gentil, paciente, soportándose en amor. (Efesios
        4:2)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        el uno al otro. “Por lo tanto, sigamos lo que contribuye a la paz y a la mutua edificación”
        (Romanos 14:19
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        el uno al otro… para que no haya división en el cuerpo, sino que sus partes tengan igual
        importancia. (1 Corintios 12:25)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        el uno al otro. Por eso anímense los unos a los otros con estas palabras. (1
        Tesalonicenses 4:18)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        las faltas del uno con el otro. Confiésense sus pecados, el uno al otro, y oren el uno
        por el otro para ser sanados. La oración del hombre justo es efectiva y poderosa. (Santiago 5:16)
        <br>
        • Ser
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        el uno con el otro. Ser devotos los unos con los otros en amor fraternal (Romanos 12:10).

      </p>

    </ion-slide>

    <ion-slide>

      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        el uno con el otro, por tanto, anímense el uno al otro y edifíquense. (1
        Tesalonicenses 5:11)
        <br>
        • Tener
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        el uno con el otro. Pero si caminamos en la luz, así como Él está en la Luz,
        tenemos comunión los unos con los otros (1 Juan 1:7)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        el uno con el otro. Antes sed bondadosos unos con otros, misericordiosos, perdonándoos
        unos a otros, como Dios también os perdonó a vosotros en Cristo. (Efesios 4:32)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        el uno con el otro. Saludaos los unos a los otros con beso santo. (Romanos 16:16)
        <br>
        • Sean
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        los unos con los otros. No mintáis los unos a los otros, habiéndoos despojado del
        viejo hombre con sus hechos. (Colosenses 3:9)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        el uno con el otro. en cuanto a honra, prefiriéndoos los unos a los otros. (Romanos
        12:10)
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Ser
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        el uno con el otro. Hospedaos los unos a los otros sin murmuraciones. (1 Pedro 4:9)
        <br>
        • Ser
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        el uno con el otro. Antes sed bondadosos unos con otros, misericordiosos,
        perdonándoos unos a otros, como Dios también os perdonó a vosotros en Cristo. (Efesios 4:32)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        el uno con el otro. No debáis a nadie nada, sino el amaros unos a otros, pues el que ama
        al prójimo ha cumplido la Ley. (Romanos 13:8)
        <br>
        • Somos
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        el uno con el otro. así nosotros, siendo muchos, somos un cuerpo en Cristo, y todos
        miembros los unos de los otros. (Romanos 12:5)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        el uno con el otro. Confesaos vuestras ofensas unos a otros y orad unos por otros, para
        que seáis sanados. La oración eficaz del justo puede mucho. (Santiago 5:16)
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        el uno con el otro. Y el Dios de la paciencia y de la consolación os dé entre vosotros un
        mismo sentir según Cristo Jesús. (Romanos 15:5)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        el uno con el otro. Vosotros, hermanos, a libertad fuisteis llamados; solamente que no
        uséis la libertad como ocasión para la carne, sino servíos por amor los unos a los otros. (Gálatas 5:13)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        el uno con el otro. Y considerémonos unos a otros para estimularnos al amor y a las
        buenas obras. (Hebreos 10:24)
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        el uno con el otro. Someteos unos a otros en el temor de Dios. (Efesios 5:21)
        <br>
        <br>
        Esta comunidad de vida, de amor y cuido del uno por el otro solo puede ser desarrollada en nuestros grupos
        pequeños o células.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Cuáles son los objetivos de una comunidad?
      </b>
      <p>
        1. Conocer las necesidades espirituales de los miembros
        <br>
        • A través del consejo mutuo
        <br>
        • A través del discipulado
        <br>
        2. Conocer las necesidades sociales de los miembros. La comunidad genuina nos llama a ir más allá de los
        sentimientos y de la lástima para intervenir efectivamente. La comunidad no es un gesto de lástima. Tiene
        agarre, tracción, taco, resultados. Nuestro rol como comunidad es influenciar todas las esferas de influencia de
        la comunidad.
        <br>
        3. Ser sal y luz para el mundo. La Iglesia como comunidad está llamada a ser sal y luz para el mundo. La sal
        preserva y le da sabor al mundo, la luz disipa la oscuridad e ilumina el sendero para el mundo. Es por esto que
        sin importar donde estemos o lo que hagamos, necesitamos reflejar, contemplar, participar y meditar en la
        oración grupal.
      </p>


    </ion-slide>

  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
