<!--
  Generated template for the Cuestionario37Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Cómo ser llenos con el Espíritu Santo
      </b>

      <p>Dios prometió derramar Su Espíritu y como creyentes estamos calificados y merecemos recibir el Espíritu Santo.
        De hecho, el Espíritu Santo está listo y disponible para cada persona que lo anhele y es de vital importancia
        saber que sin el Espíritu Santo todos nuestros esfuerzos por agradar a Dios el Padre son nada. El Espíritu mismo
        es quien ayuda a los creyentes a hacer la voluntad de Dios en la Tierra. </p>
    </ion-slide>

    <ion-slide>
      <b>Aprendiendo de la vida y ministerio de Jesús</b>
      <p>• Jesús nuestro Señor fue capaz de iniciar su ministerio de 3 años cuando el Espíritu Santo Vino sobre él. </p>
      <p>• Lucas 4:18 “El Espíritu del Señor está sobre mí, por cuanto me ha ungido para dar buenas nuevas a los pobres;
        me ha enviado a sanar a los quebrantados de corazón, a pregonar libertad a los cautivos y vista a los ciegos, a
        poner en libertad a los oprimidos”</p>
      <p>• Lucas 4:1 “Jesús, lleno del Espíritu Santo, volvió del Jordán y fue llevado por el Espíritu al desierto”</p>
    </ion-slide>

    <ion-slide>
      <p>Las escrituras mencionadas anteriormente señalan el valor <label class="respuesta corta"
                                                                          [style.color]="respuestas[0].color"
                                                                          (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        de ser llenos del Espíritu Santo.
        Jesús mismo, el Hijo del Dios viviente, tuvo que esperar la llenura del Espíritu Santo antes de iniciar con su
        ministerio. Este es el principio básico de nuestra vida cristiana como co-obreros con Dios, y es importante que
        cada creyente entienda que el Espíritu Santo está <label class="respuesta corta"
                                                                 [style.color]="respuestas[1].color"
                                                                 (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        para ayudar a Su pueblo a hacer la voluntad de
        Dios.</p>
      <p>Lee Lucas 1:67-79</p>
      <p>En este caso Zacarías, un hombre <label class="respuesta corta" [style.color]="respuestas[2].color"
                                                 (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        de Dios fue capaz de revelar un mensaje <label class="respuesta corta" [style.color]="respuestas[3].color"
                                                       (click)="openActionSheet('3')">{{respuestas[3].text}}</label> de
        Dios
        cuando el Espíritu Santo vino sobre él. Esto muestra claramente que Dios solamente puede usar a Su pueblo de una
        manera poderosa con una condición: ser <label class="respuesta corta" [style.color]="respuestas[4].color"
                                                      (click)="openActionSheet('4')">{{respuestas[4].text}}</label> del
        Espíritu Santo. </p>
    </ion-slide>

    <ion-slide>
      <b>¿Qué significa ser lleno del Espíritu Santo? </b>
      <p>Una persona llena del Espíritu es una persona en el <label class="respuesta corta"
                                                                    [style.color]="respuestas[5].color"
                                                                    (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        de la voluntad de Dios, llena de vida y de emoción divina. </p>
      <b>¿Cómo sabemos si somos llenos del Espíritu Santo?</b>
      <p>• A veces nos preguntamos si tenemos o no el Espíritu Santo de Dios en nuestro interior. Este tipo de
        pensamiento
        depende sobre todo de nuestras emociones y sentimientos. Nuestras emociones y sentimientos son parte de nuestra
        vida y a veces estamos atrapados en ellos para determinar la presencia del Espíritu Santo en nuestra vida o
        medir
        el caminar de alguien más con Dios.</p>

    </ion-slide>

    <ion-slide>
      <b>Dos conocimientos básicos que debemos abrazar </b>
      <p>1. ¡La <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        es el regalo de Dios al mundo! Juan 3:16 “De tal manera amó Dios al mundo, que ha
        dado a su Hijo unigénito, para que todo aquel que en él cree no se pierda, sino que tenga vida eterna”.</p>
      <p>2. El <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        en el Espíritu es el regalo de Dios para los creyentes. Lucas 11:13 “ Pues si vosotros,
        siendo malos, sabéis dar buenas dádivas a vuestros hijos, ¿cuánto más vuestro Padre celestial dará el Espíritu
        Santo a los que se lo pidan?”</p>

    </ion-slide>

    <ion-slide>
      <p>• El Espíritu Santo es
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>.
        Dios es una
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        y Él no puede entrar parcialmente en
        una persona, o estar entrando y saliendo. Por
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        tenemos que creer que el Espíritu Santo habita en nosotros, sin dudarlo. </p>
    </ion-slide>

    <ion-slide>
      <p>• Incluso Jesús mismo fue lleno con el Espíritu Santo en Lucas 4:1 leemos “Jesús, lleno del Espíritu Santo,
        volvió del Jordán y fue llevado por el Espíritu al desierto”</p>
      <p>• El apóstol Pablo comandó a los discípulos a ser llenos con el Espíritu en vez de embriagarse con vino.
        Efesios 5:18 “No os embriaguéis con vino, en lo cual hay disolución; antes bien sed llenos del Espíritu”</p>
      <p>• Los creyentes fueron llenos del Espíritu Santo, 120 en total. Hechos 2:4 “Todos fueron llenos del Espíritu
        Santo y comenzaron a hablar en otras lenguas, según el Espíritu les daba que hablaran”.</p>
    </ion-slide>

    <ion-slide>
      <b>¿Qué significa ser lleno con el Espíritu?</b>
      <p><label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        y tener el <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        de Dios. Ser empoderado para:</p>
      <p>1. <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        el Evangelio en todos los lugares. Hechos 1:8 “pero recibiréis poder cuando haya venido
        sobre vosotros el Espíritu Santo, y me seréis testigos en Jerusalén, en toda Judea, en Samaria y hasta lo último
        de la tierra”</p>
      <p>2. <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        a los enfermos. Hechos 3:6-7 “Pero Pedro dijo:—No tengo plata ni oro, pero lo que tengo
        te doy: en el nombre de Jesucristo de Nazaret, levántate y anda. 7 Entonces lo tomó por la mano derecha y lo
        levantó. Al instante se le afirmaron los pies y tobillos”</p>
    </ion-slide>

    <ion-slide>
      <p>3. Ser <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        y tener <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>.
        Hechos 4:8-10 “8 Entonces Pedro, lleno del Espíritu
        Santo, les dijo: —Gobernantes del pueblo y ancianos de Israel: 9 Puesto que hoy se nos interroga acerca del
        beneficio hecho a un hombre enfermo, de qué manera éste ha sido sanado,10 sea notorio a todos vosotros y a todo
        el pueblo de Israel que en el nombre de Jesucristo de Nazaret, a quien vosotros crucificasteis y a quien Dios
        resucitó de los muertos, por él este hombre está en vuestra presencia sano”.</p>
    </ion-slide>

    <ion-slide>
      <p>4. El cuerpo es <label class="respuesta corta" [style.color]="respuestas[17].color"
                                (click)="openActionSheet('17')">{{respuestas[17].text}}</label>. 1 Corintios 12:12-13
        “12 Así como el cuerpo es uno, y tiene muchos miembros,
        pero todos los miembros del cuerpo, siendo muchos, son un solo cuerpo, así también Cristo, 13 porque por un solo
        Espíritu fuimos todos bautizados en un cuerpo, tanto judíos como griegos, tanto esclavos como libres; y a todos
        se nos dio a beber de un mismo Espíritu”.</p>
    </ion-slide>

    <ion-slide>
      <b>¿Cómo ser lleno con el Espíritu Santo?</b>
      <p>1. <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        de nuestras perversiones, iniquidades y pecados, y pidiéndole perdón a Dios el Padre.
        Hechos 2:38: “Pedro les dijo: —Arrepentíos y bautícese cada uno de vosotros en el nombre de Jesucristo para
        perdón de los pecados, y recibiréis el don del Espíritu Santo”</p>
      <p>2. <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        en el Señor Jesucristo. Juan 7:38-39 “38 El que cree en mí, como dice la Escritura,
        de su interior brotarán ríos de agua viva. 39 Esto dijo del Espíritu que habían de recibir los que creyeran en
        él, pues aún no había venido el Espíritu Santo, porque Jesús no había sido aún glorificado”.</p>

    </ion-slide>

    <ion-slide>
      <p>3. Ser <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        en agua, declarando tu identificación con Cristo Jesús en su muerte,
        entierro y resurrección. Hechos 2:38</p>
      <p>4. <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        por el Espíritu Santo como en Lucas 11:13 “ Pues si vosotros, siendo malos, sabéis dar
        buenas dádivas a vuestros hijos, ¿cuánto más vuestro Padre celestial dará el Espíritu Santo a los que se lo
        pidan?</p>
      <p>5. <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        de manos. Hechos 19:6 “ Y habiéndoles impuesto Pablo las manos, vino sobre ellos el
        Espíritu Santo; y hablaban en lenguas y profetizaban”.</p>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
