<!--
  Generated template for the Cuestionario3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/adoracion.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b class="titulo-pregunta">Acción de Gracias y Alabanza </b>

      <p>
        Hay poder en la alabanza y la acción de gracias. Es parte de una actitud mental positiva. Estoy seguro de que
        sabes que los pensamientos positivos producen energía positiva que atrae circunstancias positivas.
      </p>


      <p> • La acción de gracias se enfoca en lo bueno que es Dios. </p>
      <p> • La alabanza se enfoca en la grandeza de Dios</p>
      <p> • La adoración se enfoca en la santidad de Dios.</p>


      <p>
        Cada una se relaciona con Dios en diferentes formas. La acción de gracias es un gran dispositivo de fe que nos
        da acceso al mundo sobrenatural de la provisión de Dios llamada Gracia (Efesios 2.8-9; Roma 5.1-2). No puedes
        estar caminando en la gracia de Dios y ser desagradecido.
      </p>

    </ion-slide>

    <ion-slide>

      <p>Cada una se relaciona con Dios en diferentes formas. La acción de gracias es un gran dispositivo de fe que nos
        da acceso al mundo sobrenatural de la provisión de Dios llamada Gracia (Efesios 2.8-9; Roma 5.1-2). No puedes
        estar caminando en la gracia de Dios y ser desagradecido. </p>

      <p>
        La acción de gracias y la alabanza significa honrar a Dios con tus palabras y permitirle a esas palabras acordar
        con lo que Su Palabra dicen de Él. Significa promover la gracia, misericordia y compasión de Dios a las personas
        de tu alrededor al decirles acerca de las grandes cosas que Él ha hecho en tu vida. Y cuando haces eso, te
        edifica a ti y a otras personas, así como bendice al Señor. Salmo 8: 1-2 dice Oh Señor, soberano nuestro, ¡qué
        imponente es tu nombre en toda la tierra!¡Has puesto tu gloria sobre los cielos! 2 Por causa de tus adversarios
        has hecho que brote la alabanza <sup>[b]</sup> de labios de los pequeñitos y de los niños de pecho, para
        silenciar al
        enemigo y al rebelde.
      </p>

    </ion-slide>

    <ion-slide>
      <b class="titulo-pregunta">Los beneficios de la Acción de Gracias </b>
      <p>
        <b>1. </b> La acción de gracias y la alabanza
      </p>
      <p>
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        a Dios a la escena.
      </p>

      <p>
        • Salmo 22:3 Pero tú eres santo, tú eres rey, ¡tú eres la alabanza de Israel!
      </p>

      <p>
        <b>2.</b> La acción de gracias y la alabanza desafían la
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
      </p>

      <p>
        • Como nos recuerda el Salmo 8:1 Oh Señor, soberano nuestro, ¡qué imponente es tu nombre en toda la tierra!¡Has
        puesto tu gloria sobre los cielos!
      </p>

      <p>
        • La acción de gracias y la alabanza nos recuerdan cuan poderoso es nuestro Dios. Él es el creador de todo el
        mundo y el universo. Nada está fuera de su atención. Si Él está en tu esquina, ¿cómo podrías perder?
      </p>


    </ion-slide>


    <ion-slide>

      <p>
        <b>3.</b> La acción de gracias y la alabanza enfoca tu
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        en el tema correcto.
      </p>

      <p>
        • Cuando los desafíos salen, te ayuda a reenfocar tu atención en el único que es mayor que cualquier desafío.
      </p>

      <p>
        <b>4.</b> La acción de gracias y la alabanza fortalecen tu
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
      </p>

      <p>
        • Romanos 4:20 dice Ante la promesa de Dios no vaciló como un incrédulo, sino que se reafirmó en su fe y dio
        gloria a Dios
      </p>

      <p>
        • A medida que alabas a Dios y hablas de sus obras maravillosas, eres recordado de todo lo que Dios ha hecho, y
        tu fe en Dios y en su plan para ti aumenta.
      </p>

      <p>
        <b>5.</b> La acción de gracias y la alabanza son
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        contra las obras del enemigo.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        • Salmo 9:1-4 Quiero alabarte, Señor, con todo el corazón, y contar todas tus maravillas <sup>2</sup> Quiero
        alegrarme y
        regocijarme en ti, y cantar salmos a tu nombre, oh Altísimo. <sup>3</sup> mis enemigos retroceden; tropiezan y
        perecen ante
        ti. <sup>4</sup> porque tú me has hecho justicia, me has vindicado; tú, juez justo, ocupas tu trono.
      </p>

      <p>
        • 2 Crónicas 20… la alabanza siempre trae gran confusión en el campo de los enemigos
      </p>

      <p>
        • Colosense 3:15-17 “…Y todo lo que hagan, de palabra o de obra, háganlo en el nombre del Señor Jesús, dando
        gracias a Dios”
      </p>

      <p>
        • Efesios 5:20 dando siempre gracias a Dios el Padre por todo, en el nombre de nuestro Señor Jesucristo.
      </p>
      <p>
        • 1 Tesalonicenses 5:16-18 Es la voluntad de Dios en Cristo ser agradecido siempre en todas las circunstancias
      </p>

      <p>
        • Filipenses 4:6 Tu petición a Dios con acción de gracias quita todas las ansiedades y preocupaciones
      </p>
    </ion-slide>


    <ion-slide>

      <p>
        • Salmos 100:4-5. La acción de gracias es llave para Sus puertas y la alabanza para Su presencia.
      </p>

      <b class="titulo-pregunta">
        ¿Con respecto a qué le debería de dar gracias a Dios?
      </b>

      <p>
        • Le damos gracias por 3 razones
        <label class="respuesta grande" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        que no cambian
      </p>

      <p>
        • El siempre es
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
      </p>

      <p>
        • Su misericordia es
        <label class="respuesta grande" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
      </p>

      <p>
        • Su verdad
        <label class="respuesta mediana" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        en todas las generaciones
      </p>

      <p>
        • La
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        es la llave que abre lo sobrenatural y corta cada limitación.
      </p>


    </ion-slide>

    <ion-slide>
      <b class="titulo-pregunta">Alabanza </b>
      <p>
        • La alabanza siempre es liberada del gozo
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        de nuestro corazón basado en el Hijo de Dios antes de la fundación del mundo. (Apocalipsis 13.8)
      </p>

      <p>
        • El mejor tiempo para alabar es cuando menos sentimos
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        a Dios, pero por todo lo que Él ha hecho por nosotros en Cristo no nos podemos detener.
      </p>

      <p>
        • La alabanza es
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        para la abundancia. (Hebreos 13:15-16)
      </p>

      <p>
        • La alabanza
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        a tus adversarios y acusadores. (Salmo 8:2)
      </p>

      <p>
        • La alabanza prepara el camino para lo
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        (Salmo 50:23)
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • La alabanza trae victorias
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        sobre nuestros enemigos. (2 Crónicas 20:21-22)
      </p>

      <p>
        • La alabanza te
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        del agarre de la desesperanza. (Jonás 2:7-10)
      </p>

      <p>
        • La alabanza
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        el camino para que la eternidad se presente e interrumpa lo imposible. (Hechos 16:25). Pablo y Silas estaban
        orando y cantando alabanzas en la prisión.
      </p>

      <p>
        • La alabanza
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        la línea generacional. Lea decide alabar a Dios a pesar de su aflicción. (Génesis 29:31-35)
      </p>

      <b class="titulo-pregunta">¿Cuándo debemos alabar a Dios? </b>
      <p>
        En todo tiempo, alabamos al Señor
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        (Salmos 34.1)
      </p>
    </ion-slide>




  </ion-slides>


</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
