<!--
  Generated template for the Cuestionario20Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b class="titulo">Caminando en Victoria</b>

      <p>
        “La fe es la respuesta a todos los dardos ardientes del diablo. La fe entrega victorias. Es capaz de apagar
        todos los dardos ardientes del diablo contra tu hogar, negocio, etc”. Rev. Suliasi Kurulo
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Introducción
      </b>
      <p>
        • Los creyentes nacidos de nuevo y llenos del Espíritu y los trabajadores misioneros tienen todo lo que
        necesitan (en Cristo) para caminar victoriosamente y para ser fructíferos en la vida y en el ministerio.
        <br>
        • Jesucristo es nuestro modelo de vida y ministerio victorioso.
        <br>
        • Aún estamos viviendo y sirviendo en el mundo que está lleno de desafíos, tentaciones y tenemos un enemigo
        llamado Satanás.
        <br>
        • La buena noticia es que se nos ha dado el poder y las habilidades para vivir una vida ‘en Cristo victoriosa y
        fructífera, porque apartados de Él no podemos hacer nada (Juan 15:5b). ¡Sí! En nuestra relación íntima con
        Cristo podemos vivir una vida cristiana sin derrotas y fructífera.
        <br>
        • Pablo con coraje hizo su declaración de fe en Filipenses 4:13 al decir “Todo lo puedo en Cristo que me
        fortalece”.
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        Caminando en Victoria a través de Cristo
      </b>
      <p>
        • Cada creyente que ha nacido de nuevo del espíritu se la ha dado el poder o la habilidad de caminar una
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        y ser
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        en el ministerio en nuestra relación
        con Jesucristo.
        • Una vida cristiana victoriosa puede ser evidentemente clara cuando hay una transformación de una vida de
        desánimo, pobreza, adicción, preocupaciones y estrés a una vida de abundancia (Juan 10:10), de prosperidad (3
        Juan 2), de sanidad (Hechos 10:38) y de gozo y paz (Romanos 14:17).
        • El
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        en los desafíos ministeriales y
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        siempre son una evidencia de un
        caminar cristiano victorioso y nuestros testimonios siempre vencerán al enemigo.
        <br>
        Romanos 8:37 “ Antes, en todas estas cosas somos más que vencedores por medio de aquel que nos amó”
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Jesucristo es nuestro modelo de una vida victoriosa
      </b>
      <p>
        Filipenses 2:3-11, el verso 5 “Haya, pues, en vosotros este sentir que hubo también en Cristo Jesús”
        <br>
        • Jesús nuestro Señor es el modelo más grande de un caminar ministerial
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        .
        <br>
        • Él se encontró en situaciones muy desafiantes, tentaciones, juicios y persecuciones a lo largo de su vida y
        ministerio, pero Él era victorioso y valiente, y nunca fue derrotado.
        <br>
        • En el estudio de Su vida y ministerio encontramos que la razón para eso era porque vivía una vida de amor y
        humildad.
        <br>
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        1. Jesús tenía amor
        <br>
        • Mateo 3:17; 17:5 hablan del lazo tan fuerte de amor entre el Padre Dios y el Hijo Jesús que sobreabundaba para
        manifestar la
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        y ministerio de Jesús acá en la Tierra.
        <br>
        • En Juan 3:16 Jesús es la
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        del amor de Dios al mundo.
        <br>
        • En 1 Juan 4:9 Su muerte y Su vida eran un reflejo del amor de Dios, porque su naturaleza es el amor.
        <br>
        • En Lucas 23:24 Él perdonó a sus enemigos mientras guindaba de la cruz.
        <br>
        • En Juan 13:34 Jesús dio un nuevo mandamiento de amarnos los unos a los otros.
        <br>
        • En Efesios 5:1-2 Pablo animó a los creyentes a vivir en amor.
      </p>
    </ion-slide>


    <ion-slide>

      <p>
        <br>
        2. Jesús fue victorioso por su humildad.
        <br>
        Filipenses 2:3-9 Su exaltación al lugar más alto y haber recibido el nombre que es sobre todo nombre fue una
        victoria por una vida de humildad.
        <br>
        • Vs 7ª Él se hace
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        a pesar de que era Dios.
        <br>
        • Vs 7b Él tomó la naturaleza de
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        <br>
        • Vs 8a Él se
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        a si mismo.
        <br>
        • Vs 8b Él fue
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        al punto de la muerte en la cruz. En el verso 5 Pablo anima a cada cristiano a
        tener la actitud y el carácter de humildad que había en Cristo Jesús.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        La armadura de los creyentes para la batalla
      </b>
      <p>
        Efesios 6:11-18 enfatiza el armario espiritual. En el verso 13 dice “por tanto pónganse toda la armadura de
        Dios…”
        <br>
        • En nuestra fe en Jesucristo somos provistos con la armadura completa de Dios para nuestra batalla defensiva y
        ofensiva contra las “autoridades”, contra los poderes de este mundo oscuro y contra las fuerzas espirituales en
        los lugares celestes, y nos la debemos poner.
        <rb></rb>
        • Para ponerse la armadura de Dios necesitamos nuestro closet espiritual todo el tiempo.
        <br>

      </p>

    </ion-slide>


    <ion-slide>

      <p>

        1. La armadura completa de Dios
        <br>
        • La faja de
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        que nos protegerá. Representa la verdad en nuestra vida diaria y negociaciones.
        Significa honestidad, sinceridad, transparencia y santidad.
        <br>
        • La coraza de
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        . Esta parte de la armadura protege el corazón y a la persona entera.
        Representa nuestra relación correcta con Cristo Jesús y una vida como la de Cristo en la fe y en el amor que el
        diablo no puede penetrar.
        <br>
        • Los zapatos del
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        de paz representan los pies que van y cuentan el evangelio.


      </p>

    </ion-slide>


    <ion-slide>

      <p>
        <br>
        • El escudo de
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        protege completamente a la persona. Representa nuestra fe en Dios, el cual es
        nuestro escudo que debe ser apropiado por cada creyente. Salmo 91: 1-2 “El que habita al abrigo del Altísimo
        morará bajo la sombra del Omnipotente.2 Diré yo a Jehová: «Esperanza mía y castillo mío; mi Dios, en quien
        confiaré”
        <br>
        • El casco de
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        protege la mente. La protección de nuestra como dice en 1 Tesalonicenses 5:18
        “…esperanza de nuestra salvación…”, y la protección de nuestro corazón es fe como en Colosenses 1:27 “…Cristo en
        ustedes la esperanza de gloria…”
        <br>
        2. La impartición de toda la armadura de Dios toma lugar en el armario espiritual de nuestra relación íntima con
        Dios, el trabajo de Dios en nosotros a través de Su palabra y el proceso del desarrollo del carácter que tenemos
        en la vida.
        <br>
        a. La relación íntima es conocer a Dios íntimamente.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Daniel 11:32b “pero el pueblo que conoce a su Dios se esforzará y actuará”.
        <br>
        • Un escolástico hebreo dice que es un cheque en blanco que Dios le da a aquellos que lo conocen
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        , lo que significa que no pueden hacer
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        .
        <br>
        • No hay nada que una persona que conozca a Dios íntimamente no pueda hacer. En Mateo 17:20 Jesús dijo “nada
        será imposible para ustedes”.
        Hay una gran diferencia entre tener una relación con Dios y tener
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        con Dios. Conocer a Dios
        íntimamente es tener comunión con Él.
        <br>
        • Comunión significa una unión en común donde pensamientos y sentimientos
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        son compartidos. El
        matrimonio es una unión
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        donde pensamientos y sentimientos íntimos son compartidos y una
        concepción es formada, resultando en una reproducción.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        • En Gálatas 4:9 el tipo de vida de Cristo que da victoria es formado en el ambiente donde la unión común real o
        la intimidad con Dios toma lugar hasta que Cristo es formado en nosotros. Es un ambiente donde toma lugar una
        impartición real. Alguien afirmó “El lugar secreto es necesario para la intimidad”.
        <br>
        b. La palabra de Dios trabaja en nosotros y nos equipa a fondo en el armario de nuestro estudio bíblico. 2
        Timoteo 3:16-17” 16 Toda la Escritura es inspirada por Dios y útil para enseñar, para redargüir, para corregir,
        para instruir en justicia, 17 a fin de que el hombre de Dios sea perfecto, enteramente preparado para toda buena
        obra”
        <br>
        Somos completamente
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        (alcanzar toda la armadura) al ir a la escuela de la Palabra de Dios.
        <br>
        • En Juan 15:4 la palabra de Dios nos
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        .
        <br>
        • En Salmos 119:96-100 y Mateo 7:24-27 la palabra de Dios nos hace
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        .

      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • En Efesios 6:17 la Palabra de Dios se convierte en una
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        del Espíritu que usamos como armadura
        ofensiva en el ministerio.
        <br>
        • En el Salmo 1:1-3 la palabra de Dios nos da mucho
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        en lo que sea que
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        .
        <br>
        c. En el closet de situaciones difíciles en la vida Santiago 1:2-4 nos que recuerda que nos
        vuelve
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        , completos, sin que nos haga falta nada.
        <br>
        • La habilidad de perseverar y resistir solo puede ser desarrollada cuando pasas por situaciones muy duras en la
        vida. La resistencia produce madurez, nos completa haciéndonos aptos para ser victoriosos y fructíferos en el
        ministerio.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
