<!--
  Generated template for the Cuestionario33Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>


      <b class="titulo">
        Una forma práctica de guiar a una persona a Cristo
      </b>

      <p>
        “El pecado es una enfermedad del corazón humano. No hay otra manera de salvación, solo a través de la cruz de
        Cristo”. Dr. Billy Graham
      </p>
      <b>
        El estado del ser humano en la presencia de un Dios santo
      </b>
      <p>
        1. El pecado
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        al ser humano de Dios. Cada persona debe
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        que es un pecador
        perdido sin Dios. Solo entonces admitirán su
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        por Dios.
        • Todos los seres humanos han pecado. Romanos 3:23 “por cuanto todos pecaron y están destituidos de la gloria de
        Dios”. Romanos 5:12 “ Por tanto, como el pecado entró en el mundo por un hombre y por el pecado la muerte, así
        la muerte pasó a todos los hombres, por cuanto todos pecaron”
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • La paga del pecado es muerte (separación eterna de Dios). Romanos 6:23 “porque la paga del pecado es muerte,
        pero la dádiva de Dios es vida eterna en Cristo Jesús, Señor nuestro”
        <br><br>
        • Hemos nacido en pecado. Salmo 51:5 “En maldad he sido formado y en pecado me concibió mi madre”.
        <br> <br>
        • No hay nada bueno en nosotros. Isaías 64:6 “pues todos nosotros somos como cosa impura, todas nuestras
        justicias como trapo de inmundicia. Todos nosotros caímos como las hojas y nuestras maldades nos llevaron como
        el viento”.

      </p>


    </ion-slide>

    <ion-slide>
      <b>
        Entendiendo la naturaleza y carácter de Dios
      </b>
      <p>
        2. Reconocer y creerle al Señor Cristo Jesús.
        <br>
        • A pesar de tu pecado, Dios aun te
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        . Juan 3:16 “De tal manera amó Dios al mundo, que ha dado a
        su Hijo unigénito, para que todo aquel que en él cree no se pierda, sino que tenga vida eterna”
        <br>
        • Jesucristo estuvo dispuesto a
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        por tus pecados. Romanos 5:8 “Pero Dios muestra su amor
        para con nosotros, en que siendo aún pecadores, Cristo murió por nosotros”.
        <br>
        • La fe en Cristo te
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        del
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        . Juan 3:36 “El que cree en el Hijo tiene vida
        eterna; pero el que se niega a creer en el Hijo no verá la vida, sino que la ira de Dios está sobre él. Juan
        5:24 “De cierto, de cierto os digo: El que oye mi palabra y cree al que me envió tiene vida eterna, y no vendrá
        a condenación, sino que ha pasado de muerte a vida”
        <br>

      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Jesucristo es el
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        camino al cielo. Juan 14:6 “Jesús le dijo: —Yo soy el camino, la verdad
        y la vida; nadie viene al Padre sino por mí”
      </p>
      <b>
        Lo que necesitamos hacer como pecadores
      </b>
      <p>
        3. Confesar y arrepentirnos de nuestros pecados
        <br>
        • El arrepentimiento es una
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        del
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        . Isaías 55:7 “Deje el impío su camino y
        el hombre inicuo sus pensamientos, y vuélvase a Jehová, el cual tendrá de él misericordia, al Dios nuestro, el
        cual será amplio en perdonar.
        <br>
        • ¡No hay
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        sin
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        ! Lucas 13:3 “3 Os digo: no, antes si no os arrepentís, todos
        pereceréis igualmente”
        <br>
        • Dios
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        tus pecados si tu te arrepientes
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        . 1 Juan 1:9 “Si confesamos
        nuestros pecados, él es fiel y justo para perdonar nuestros pecados y limpiarnos de toda maldad”
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        Jesucristo está listo para salvarte y recibirte como suyo
      </b>
      <p>
        4. Recibe al Señor Jesucristo como tu salvador
        <br>
        • Él está a la
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        de tu vida y
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        para entrar. Apocalipsis 3:20” Yo estoy a
        la puerta y llamo; si alguno oye mi voz y abre la puerta, entraré a él y cenaré con él y él conmigo”.
        <br>
        • Solamente
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        puede
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        vida. 1 Juan 5:12 “El que tiene al Hijo tiene la vida;
        el que no tiene al Hijo de Dios no tiene la vida”.
        <br>
        • Puedes
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        un
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        de Dios. Juan 1:12 “Mas a todos los que lo recibieron, a
        quienes creen en su nombre, les dio potestad de ser hechos hijos de Dios”.
        <br>
        • La vida eterna es
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        . 1 Juan 5:13 “Estas cosas os he escrito a vosotros que creéis en el
        nombre del Hijo de Dios, para que sepáis que tenéis vida eterna y para que creáis en el nombre del Hijo de
        Dios”.
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        Haz a Jesucristo el Señor de tu vida
      </b>
      <p>
        5. Confiesa al señor Jesucristo como tu Señor.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        con tu
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        y cree con tu
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        . Romanos 10:9-10 “ Si confiesas con
        tu boca que Jesús es el Señor y crees en tu corazón que Dios lo levantó de entre los muertos, serás salvo 10
        porque con el corazón se cree para justicia, pero con la boca se confiesa para salvación”
        <br>
        • Necesitas
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        a ti mismo. Ahora le
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        . Marcos 8:34 “Y llamando a la gente y a
        sus discípulos, les dijo: —Si alguno quiere venir en pos de mí, niéguese a sí mismo, tome su cruz y sígame”.
        <br>
        • ¡Eres una nueva creación! 2 Corintios 5:17 “ De modo que si alguno está en Cristo, nueva criatura es: las
        cosas viejas pasaron; todas son hechas nuevas”.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        6. La oración de salvación
      </b>
      <p>
        • Puedes
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        esta oración e invitar a Jesucristo en tu
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        como
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        Señor y Salvador.
        <br>
        • “Querido Padre Celestial he pecado contra ti. Te pido que me perdones de todos mis pecados. Creo que Jesús
        murió en la cruz por mis pecados y resucitó. Rindo mi vida a ti. Te pido Jesucristo que vengas a mi corazón. Se
        mi salvador y señor. Oro en el nombre de Jesús. Amén”
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Seguridad de Salvación
      </b>
      <p>
        Estas son algunas promesas bíblicas que son para ti si te has arrepentido de tus pecados, si has creído en
        Jesucristo y si lo has recibido como Señor y Salvador de tu vida.
        <br>
        <b>
          1. Tienes vida eterna
        </b>
        <br>
        • Juan 5:24 “24 »De cierto, de cierto os digo: El que oye mi palabra y cree al que me envió tiene vida eterna, y
        no vendrá a condenación, sino que ha pasado de muerte a vida”.
        <br>
        <b>
          2. Tus pecados son perdonados
        </b>
        <br>
        • Colosenses 2:13 “Y a vosotros, estando muertos en pecados y en la incircuncisión de vuestra carne, os dio vida
        juntamente con él, perdonándoos todos los pecados”.
        <br>
        <b>
          3. Eres un hijo de Dios
        </b>
        <br>
        • Juan 1:12 “Mas a todos los que lo recibieron, a quienes creen en su nombre, les dio potestad de ser hechos
        hijos de Dios”.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
