<!--
  Generated template for the Cuestionario12Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">12 La toma de decisiones en el liderazgo</b>

      <p>
        El buen liderazgo depende en gran medida de tomar las decisiones CORRECTAS. Cada líder se enfrenta
        constantemente con la necesidad de tomar DECISIONES, y finalmente la efectividad depende en gran parte de tener
        un porcentaje alto de decisiones CORRECTAS. Un líder efectivo debe TOMAR buenas decisiones, su efectividad
        depende inmensamente de este IMPORTANTE aspecto.
        <br>
        Algunos enemigos de la toma de decisiones <br>
        1. Miedo al fracaso: <br>
        • Cada
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        potencial ha tenido que enfrentar y lidiar con el miedo al fracaso. La persona que
        nunca ha tenido un
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        es porque probablemente tiene mucha confianza en sí mismo, y se encuentra
        en peligro de caer (Prov. 16:8). La mayoría de grandes líderes en la Biblia han tenido que
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        este miedo, y seguido de grandes logros dados por Dios.
      </p>

    </ion-slide>


    <ion-slide>

      <b>
        2. Temor al hombre
      </b>
      <p>
        • Proverbios 29:25 El temor del hombre le pone trampas; el que confía en Jehová está a salvo.
      </p>
      <b>
        3. Información Inadecuada
      </b>
      <p>
        • Una clave importante para tomar las decisiones correctas es tener tanta
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        como sea posible
        sobre el asunto. Las buenas decisiones nunca se pueden tomar a partir de información inadecuada. Esto es
        particularmente cierto cuando las decisiones involucran solucionar disputas entre actores opuestos. Cuando la
        decisión involucra un
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        a favor de una de las partes y en contra de la otra , toma tiempo para
        asegurarte que tienes todos los hechos y la información disponible. Nunca tomes una decisión desde una
        perspectiva sesgada, porque esto puede conducirte a un serio perjuicio de tu
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        .
      </p>


    </ion-slide>


    <ion-slide>

      <b>
        4. Falta de confianza
      </b>
      <p>
        • No tengas
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        por falta de auto-confianza en la toma de decisiones. Muchas de nuestras
        decisiones van mucho más lejos de lo que pensamos, afectando la vida de muchas personas. Una cierta falta de
        autoconfianza introduce una nota de precaución y puede ser una cuestión saludable si nos ayuda en última
        instancia a tomar mejores
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        .
      </p>
      <p>
        • Una falta de confianza debe persuadirte a hacer varias cosas
      </p>
      <p>
        a. Ser más precavido.
      </p>
      <p>
        b. Orar más
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        .
      </p>
      <p>
        c. Buscar la sabiduría de Dios fervientemente (Santiago 1:5-7)
      </p>
      <p>
        d. Consultar a tus
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        de confianza. (Prov. 11:14)
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        5. La tendencia a procrastinar
      </b>
      <p>
        La falta de
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        y un sentido de inseguridad personal pueden hacer que la toma de decisión sea una
        responsabilidad atemorizante. Una respuesta clásica a esta tendencia es el
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        tomando la decisión,
        pero estar constantemente atrasando la decisión puede hacer que el asunto se vuelva más confuso que nunca.
        <br>
        Las decisiones importantes nunca se deben hacer
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        . A veces la mejor decisión que uno puede
        hacer es “consultarlo con la almohada”. Sin embargo, a menudo hay pequeñas decisiones con falta de autoconfianza
        que pueden persuadirnos y retrasarnos. El retraso no solamente es el
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        del tiempo, es también el
        perpetuador de la confusión. Las pequeñas decisiones se pueden acumular hasta que nos agobian. En el
        funcionamiento normal de tu programa trata de mantener al día tus decisiones. No dejes que se amontonen.
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        Las decisiones importantes merecen ser consultadas
      </b>
      <p>
        Proverbios 11:14: Donde no hay dirección sabia, el pueblo cae; la seguridad está en los muchos consejeros.
      </p>
      <p>
        Proverbios 24:6 Porque con ingenio harás la guerra, y en los muchos consejeros está la victoria.
      </p>
      <p>
        Pablo dice “Pero nosotros (en pural) tenemos la mente de Cristo” (1 Corintios 2:16). Es extremadamente
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        para un individuo declarar que tiene la mente de Cristo, especialmente si es parte de una
        comunidad que no concuerda con su juicio en algún asunto. Es mucho más seguro buscar la mente de Cristo
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        y llegar a la conclusión de poder decir “pareció bueno para el Espíritu Santo y para
        nosotros” (Hechos 15:28)
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        El orgullo y el
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        son dos razones comunes por las cuales algunos líderes se rehúsan a buscar el
        consejo divino (de Dios) en sus compañeros. Las decisiones importantes, especialmente aquellas que afectan
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        las vidas de otras personas, siempre son dignas de la confirmación corporativa. Cualquier
        líder que persista en un proyecto que va en contra del consejo de la mayoría de sus amigos y consejeros está en
        peligro de ser engañado para tomar un proyecto que está condenado al
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        .
      </p>

      <b>
        ¿Cómo puedes tomar buenas decisiones?
      </b>

      <p>
        1. Compromete la situación a Dios en oración
      </p>
      <p>
        • Lo que sea que sea sobre lo que necesites decidirte, compromete
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        el asunto a Dios en oración
        positiva y sincera. Dile que quieres más que nada Su voluntad en el asunto.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        2. Reúne todos los hechos disponibles
      </b>
      <p>
        • Esto no se tiene que hacer como si fuera una agencia de detectives, sino con una
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        cuidadosa y en consideración a todas las partes interesadas. No se debe hacer de forma legalista, sino en gracia
        y gentileza.
      </p>
      <b>
        3. Evalúalos e interprétalos en honestidad y justicia.
      </b>
      <p>
        • Dios siempre es retratado en la Biblia como un juez lleno de gracia y misericordia, también como uno cuyo
        juicio es absolutamente
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        . Abraham dijo “¿No hará el Juez de toda la tierra aquello que es
        correcto?”.
      </p>
      <p>
        • Más que una pregunta era una pregunta retórica, que a su vez era una declaración. Lo que realmente estaba
        declarando era que era
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        para Quien había diseñado el universo cometer un error. Obviamente
        .
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        nuestra humanidad nos evita ser tan confiables como Dios. Sin embargo, como siervos y representantes de Dios,
        siempre debemos buscar ser jueces excelentes, confiables, certeros y
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>

      </p>

      <b>
        4. Adquiere el mayor entendimiento posible del asunto.
      </b>
      <p>
        • Me estoy refiriendo aquí a “la sabiduría que viene de arriba”. Santiago 3:17 “Pero la sabiduría que es de lo
        alto es primeramente pura, después pacífica, amable, benigna, llena de misericordia y de buenos frutos, sin
        incertidumbre ni hipocresía”.
      </p>

    </ion-slide>
    <ion-slide>

      <p>
        • Este tipo de
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        está disponible para todos aquellos que sinceramente la deseen. Santiago 1: 5-7
        “ <sup>5</sup>Si alguno de vosotros tiene falta de sabiduría, pídala a Dios, el cual da a todos abundantemente y
        sin reproche,
        y
        le será dada. <sup>6</sup> Pero pida con fe, no dudando nada, porque el que duda es semejante a la onda del mar,
        que es
        arrastrada por el viento y echada de una parte a otra.<sup> 7</sup> No piense, pues, quien tal haga, que
        recibirá cosa
        alguna
        del Señor”
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Traer la sabiduría de Dios a la
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        , y tener Su mente sobre el asunto es esencial. Somos ordenados
        en el Nombre de Dios para traer su juicio sobre situaciones. Siempre debemos buscar tomar decisiones importantes
        con la impartición de su sabiduría.
      </p>
      <b>
        5. Hazlo un asunto de oración ferviente y paciente
      </b>
      <p>
        • Nunca te apresures a una decisión. Nunca te dejes presionar con que una decisión importante se debe hacer con
        tal apuro que no tienes tiempo de
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        al respecto. Muchos errores se comenten al proceder con apuro.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        6. Presenta todo el asunto ante el Señor
      </b>
      <p>
        • 2 Reyes 19:14 “Ezequías tomó la carta de manos de los embajadores. Después de leerla subió a la casa de Jehová
        y la extendió delante de Jehová”.
      </p>
      <p>
        • Asegúrate de que conscientemente entregas todo el asunto delante de Dios con el fin de comprometerte a Él en
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        , oración y comunión espiritual. Al hacerlo espera delante de Él para recibir Su respuesta e
        impresiones en tu espíritu.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        7. Determina tener la mente del Señor
      </b>
      <p>
        • A veces podemos estar tan consientes de todos los riesgos en juego, y los varios puntos de vista de las
        personas involucradas, además de nuestra opinión natural que somos negligentes para buscar la mente de Dios
        sobre la situación. Recuerda siempre que la
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        de Dios es más importante que cualquier otra, al
        punto de que si nos “perdemos” de la mente de Dios habremos perdido lo más importante.
      </p>

    </ion-slide>
    <ion-slide>

      <b>
        8. Consulta a consejeros cercanos y confiables
      </b>
      <p>
        • La mayoría de decisiones en el trabajo y Reino de Dios deben ser concebidas
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        . Ninguna
        persona tiene el monopolio de la mente del Señor. Todos los asuntos importantes deber ser determinados en
        concierto, es decir involucrando a un liderazgo múltiple que en última instancia son los responsables de las
        decisiones tomadas.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        9. Ora tratando de visualizar el resultado
      </b>
      <p>
        • Conforme oras por la situación trata de
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        en tu espíritu cual debería ser el resultado en el
        propósito de Dios. Si haces esto con un motivo puro, puedes tener una perspectiva profética. Puede ser que de
        hecho veas en el Espíritu de Dios el resultado deseado. Entonces, después podrás tomar tus decisiones a la luz
        de esto, y en oración esperar que Dios lo haga realidad.
      </p>
      <p>
        Recuerda: Una decisión es solo “buena” si alcanza los resultados deseados. Una buena decisión siempre tiene un
        resultado práctico. Una decisión es teórica no puede aún ser una buena o correcta. Las decisiones correctas
        producen los resultados correctos.
      </p>

    </ion-slide>


    <ion-slide>

      <b>
        La buena toma de decisiones involucra
      </b>

      <p>
        • Hacer juicios correctos. <br>
        • Aplicar resoluciones firmes. <br>
        • Aplicar un compromiso firme <br>
        • Tomar las acciones apropiadas. <br>
        • Alcanzar los resultados deseados
      </p>
      <b>
        Resumen
      </b>

      <p>

        El liderazgo efectivo no es simplemente tomar buenas decisiones, es tomarlas con autoridad y firmeza. <br>
        1. Tomar buenas decisiones te coloca en el camino correcto. <br>
        2. Seguir tomando buenas decisiones te mantiene en ese camino. <br>
        3. Tomar buenas decisiones aumenta tus seguidores. <br>
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        4. Al tomar decisiones personales
      </b>
      <p>
        a. Siéntate
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        , relajado y sin presión. <br>
        b. Limpia todos los elementos distractores.br <br>
        c. Entrega tus pensamientos a Dios en oración. <br>
        d. Ten tu Biblia y libreta de apuntes. <br>
        e. Ten comunión con Dios en tu espíritu. <br>
        f. Escribe todo lo que venga a tu mente.
      </p>
      <b>
        5. La fórmula para la toma de decisiones
      </b>
      <p>
        a.
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        de oración. <br>
        b. Un corazón que escucha. <br>
        c. Una mente que decide. <br>
        d. Una voluntad determinada. <br>
        e. Acción deliberada. <br>
        f. Claridad de pensamiento. <br>
        g. Elimina todos los elementos de confusión.
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        6. La indecisión es una mala decisión
      </b>
      <p>
        • En momentos de debilidad a veces podemos pensar que no podemos tomar una decisión y entonces nos atrasamos
        tomándola. Sin embargo, esto en sí mismo puede constituir una decisión
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        .
      </p>
      <p>
        • La decisión de no tomar una decisión puede en sí misma ser una mala decisión. Atrasar las decisiones puede
        tornarse
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        en algunos líderes. Raramente pueden reunir el coraje para tomar una decisión
        importante. Este es un rasgo muy pobre para un líder y uno que tiene que ser vencido para poder ser exitoso.
      </p>
      <p>
        • La indecisión en la parte del liderazgo puede ser extremadamente desalentador y confuso para los miembros del
        equipo.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        <b>7.</b> Una mala decisión tampoco debe ser el fin del asunto. Nadie es infalible. Todos son capaces de cometer
        un
        error, pero esto no tiene porque ser fatal. Siempre debes estar dispuesto a admitir “tomé una mala decisión”. Se
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        y estad listo para rectificarla. Esta actitud puede incrementar tu confianza. ¡No eres
        infalible!, así como tampoco lo son tus asociados y seguidores. Ellos te perdonarán y te ayudarán a rectificar
        el error si te mantienes humilde y contribuyes.
      </p>
      <b>
        8. Muchas decisiones incorrectas arruinan la confianza de las personas
      </b>
      <p>
        • Algunos errores pueden ser inevitables, pero si se hacen muchos y el líder comienza a tener una
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        por tomar malas decisiones, entonces sus asociados perderán fe en él como líder. Tomar
        decisiones pobres nunca respirará confianza en la autoridad de tu liderazgo.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        <b> 9.</b> Cuatro factores en la toma de decisiones Mientras que las decisiones mayores requieren de la
        sabiduría
        divina, hay decisiones más pequeñas que no requieren revelación divina. Cualquier persona que asuma un rol de
        liderazgo constantemente requerirá hacer esas decisiones y tendrá que confiar en su propia sabiduría y
        experiencia. Hay 4 fuentes básicas que pueden ayudar en este proceso.
      </p>

      <p>
        a.
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        divina y sabiduría. <br>
        Recuerda siempre que el temor al Señor (reverencia y asombre delante de Dios) es el principio de la sabiduría.
        Solo Dios puede dar sabiduría verdadera. Prov. 2:6” porque Jehová da la sabiduría
        y de su boca proceden el conocimiento y la inteligencia.

      </p>


    </ion-slide>


    <ion-slide>

      <p>

        b. Sentido común <br>
        Esto es esencial para cualquier líder. Tristemente a menudo descubrimos que el “el sentido común no es tan
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        ”. En otras palabras, muchas personas tienen carencia en esta área. Haz que sea un asunto tuyo
        el utilizar el sentido común. Entre más lo uses, más lo desarrollarás.


      </p>
      <p>
        c. Compromiso <br>
        Una vez que has tomado la decisión, debes comprometerte por completo a su
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        .
      </p>
      <p>
        d. Coraje <br>
        Tomar la decisión es tan solo el
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        . Una vez comprometido a su cumplimiento debes de tener el
        coraje para completarlo a pesar de lo que pueda venir.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
