page-welcome {
    #contenido {
        background: color($colors, primary);
    }
    #imgLogo {
        padding-top: 25px;
        padding-bottom: 25px;
        height: auto;
        width: 65%;
        margin: auto;
        display: block;
    }
    #rounded {
        width: 65%;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        margin: auto;
    }
    #btn {
        width: 65%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px
    }
    #transparente {
        background-color: transparent;
    }
    #registrarse {
        bottom: 10%;
    }
    .text-input-md {
        margin: 0;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
    .input-flat {
        color: red;
    }
}