<ion-content padding id="contenido">


  <img id="imgLogo" style="align-items: center" src="../../assets/imgs/app100.png" alt="">

  <ion-list>

    <ion-item id="rounded" class="input-flat">
      <ion-input type="text" placeholder="Usuario" [(ngModel)]="userData.username"></ion-input>
    </ion-item>
    <br>
    <ion-item id="rounded">
      <ion-input type="password" placeholder="Contraseña" class="input-flat"
                 [(ngModel)]="userData.password"></ion-input>
    </ion-item>
    <button id="btn" block ion-button color="secondary" (click)="ingreso()">ingresar</button>

  </ion-list>

  <br>
  <ion-list id="registrarse">
    <button ion-button clear color="light" block (click)="registro()">
      <p id="acceso" float-left>¿No tienes acceso?

      </p>
      &nbsp;&nbsp;Registrarse
    </button>
  </ion-list>
  <ion-list id="registrarse">
    <button ion-button clear color="light" block (click)="recuperar()">
      <p id="acceso" float-left>¿Olvidaste tu contraseña?

      </p>
      &nbsp;&nbsp;Recuperar
    </button>
  </ion-list>
</ion-content>
