<!--
  Generated template for the Cuestionario8Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>

      <b class="titulo">Las Marcas de un Discípulo</b>
      <p>
        Muchos siguen a Jesús hoy como parte de la multitud, pero pocos le siguen como discípulos devotos. ¿Por qué?
        Porque pocos están dispuestos a convertirse en lo que un verdadero discípulo es. Pocos están dispuestos a estar
        a la altura de las 5 marcas de un discípulo que encontramos en Mateo 11: 28-30

      </p>

    </ion-slide>
    <ion-slide>
      <b class="titulo">
        ¿Entonces, quién es un discípulo?
      </b>
      <p>
        Un discípulo es quien ha
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        al llamado de Cristo, “Ven a mí” Vr.28
      </p>




      <p>
        • El discipulado no inicia con tu
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        o tu decisión de seguir a Cristo. Inicia con Su
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        (Juan 6:44). Solo el llamado de Cristo y el trabajo de Su Espíritu pueden darte el poder de
        ser un hijo de Dios (Juan 1:12). Sin esto no tienes la
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        para empezar. ¿Has escuchado el
        llamado de Cristo? ¿Lo has respondido? Es ahí donde inicia el verdadero discipulado (Juan 15:16).
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        Un discípulo es uno que ha
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        las condiciones
      </p>

      <p>
        “Toma mi yugo…”. Jesús dejó claro que antes de responder Su llamado debemos primero contar el costo. (Lucas 14:
        25-33). Debemos estar dispuestos a tomar su “Yugo” (vs 29)
      </p>

      <p>
        • El yugo es una pieza tallada de madera que se coloca en lo cuellos de dos bueyes para ponerlos bajo control
        para
        que puedan ser entrenados para hacer trabajo útil. El discipulado significa ponernos bajo el
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        de Cristo, haciéndolo Señor,
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        que sea el director de nuestras vidas para que podamos ser
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        trabajando para Su reino. ¿Has tomado su yugo?
        <br>
        Un discípulo es uno que está
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de aprender
        <br>
        • Un discípulo debe tener un espíritu
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        . Jesús dijo ‘’Toma mi yugo y aprende de mí”. (vr29)
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Un discípulo debe tener una mente
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        , enseñable y lista para aprender nuevas verdades de la Palabra de Dios, de la experiencia y de la vida de
        otros. Deja de aprender y te
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        de ser un discípulo.
      </p>
      <p>
        • La marca de un discípulo es que se
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        aprendiendo hasta el final de sus días.
      </p>
      <p>
        Un discípulo es uno que se está transformando como su maestro.
      </p>
      <p>
        • El discipulado no es simplemente adquirir conocimiento de un profesor, es aprender un estilo de
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        .
      </p>
      <p>
        • No es solamente saber la verdad o seguir las reglas, es transformarse
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        Cristo.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • Jesús dijo “toma mi yugo y aprende mí”. Jesús es el
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        , la imagen, el plan maestro que Dios quiere usar para rehacer nuestras vidas arruinadas por el pecado (2 Cor
        3:18). ¿Estás dejando que Su espíritu haga el trabajo
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        en tu vida? ¿Estás
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        y transformándote más como Cristo?
      </p>
      <p>
        Un discípulo es uno que está experimentando el poder.
      </p>
      <p>
        • Las
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        para ser un discípulo son grandes. Aún así Jesús podía decir “mi yugo es fácil y mi
        carga es ligera (vr.30)”. ¿Cómo es esto? Esto nos trae al
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        secreto.
      </p>

    </ion-slide>
    <ion-slide>



      <p>
        • Ya no soy yo luchando, tratando de vivir de acuerdo a las demandas del discipulado por mi mismo, pero es
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        en mí.
      </p>
      <p>
        • Un discípulo es uno que es
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        por el Espíritu Santo.
      </p>
      <p>
        • Es por esto que él encuentra que el discipulado no es
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        , es un gozo y un
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        (1 Juan 5:3-5).
      </p>

    </ion-slide>




  </ion-slides>
</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
