<!--
  Generated template for the Cuestionario47Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <b>
        Como dirigir y desarrollar un grupo celular
      </b>
      <p>
        Todo lo grande siempre empieza pequeño. Entre más pequeño es un grupo más rápido se construye la comunidad
        dentro
        del grupo. Si crees que la comunidad es una parte importante de la vida saludable de la iglesia, entonces los
        grupos celulares también tienen que ser importantes para ti. De hecho, son cruciales para la vida de cualquier
        iglesia. Creemos que la vida de la iglesia está en la célula y tenemos que hacer todo lo posible por mantener
        y desarrollar esto.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">5 áreas de enfoque de una célula</b>
      <p>1. Enfoque hacia arriba: conocer a Dios (adoración)</p>
      <p>2. Enfoque hacia adentro: conocerse el uno al otro (comunidad/relaciones)</p>
      <p>3. Enfoque hacia fuera: alcanzando (evangelismo y misión)</p>
      <p>4. Enfoque de crecimiento: multiplicación (discipulado)</p>
      <p>5. Enfoque de avance: levantando nuevos líderes (discipulado)</p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">¿Por qué son efectivos los grupos celulares?</b>

      <p>
        • Descubrimiento personal: El descubrimiento personal sucede mejor en los grupos pequeños que en los grandes por
        un número de razones. Puedes aprender, preguntar, involucrarte en la vida de los otros, y usualmente ser
        vulnerable entre otras personas que están haciendo lo mismo en grupos pequeños.
      </p>
      <p>
        • Amistades más profundas: Los grupos pequeños permiten amistades a las que también se les puede rendir cuentas.
        Cuando las personas conocen tu vida, esta se vuelve más transparente incluyendo tu pecado.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Participación máxima: Los grupos pequeños posibilitan una participación máxima. Son una oportunidad para
        discutir los problemas con otros en la iglesia. Los asuntos de la iglesia se pueden discutir abiertamente entre
        amistades de confianza. Las vidas son afiladas y el liderazgo se desarrolla. Los grupos pequeños son
        absolutamente necesarios para involucrar a cuanta persona sea posible en la vida y ministerio de la iglesia.
      </p>
      <p>
        • Las comunidades más pequeñas son más efectivas: Las comunidades más pequeñas actúan más como comunidades
        auténticas porque entre más grande es el grupo menos comunidad se siente. El sentimiento de comunidad requiere
        un nivel de intimidad (cercanía) que se pierde fácilmente cuando los números crecen. Simplemente no puedes
        conocer a todos después de cierto punto, y ciertamente no se abrirán en relación a sus luchas y pecados en un
        grupo más grande donde no se conocen.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Maneras prácticas para guiar y desarrollar tu grupo celular</b>

      <p>
        1. Inicia con una <label class="respuesta corta" [style.color]="respuestas[0].color"
                                 (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
      </p>
      <p>• Marcos 11:24 “Por tanto, os digo que todo lo que pidáis orando, creed que lo recibiréis, y os vendrá” </p>
      <p>• Todo da a luz, es sostenido y desarrollado a través de la <label class="respuesta corta"
                                                                            [style.color]="respuestas[1].color"
                                                                            (click)="openActionSheet('1')">{{respuestas[1].text}}</label>.
        Cuando la oración se detiene, la <label class="respuesta corta" [style.color]="respuestas[2].color"
                                                (click)="openActionSheet('2')">{{respuestas[2].text}}</label> en la
        célula también se detiene. </p>
      <p>• La oración es el <label class="respuesta corta" [style.color]="respuestas[3].color"
                                   (click)="openActionSheet('3')">{{respuestas[3].text}}</label> d
        etrás de cada esfuerzo espiritual y humano. La oración mantiene al grupo <label class="respuesta corta"
                                                                                        [style.color]="respuestas[4].color"
                                                                                        (click)="openActionSheet('4')">{{respuestas[4].text}}</label>:
        quienes oran juntos, permanecen juntos.</p>
      <p>• El grupo no puede y no va a <label class="respuesta corta" [style.color]="respuestas[5].color"
                                              (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        más allá de su vida de oración. “la oración debe ser la <label class="respuesta corta"
                                                                       [style.color]="respuestas[6].color"
                                                                       (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        del día y el seguro de la noche”. George Herbert.</p>
    </ion-slide>

    <ion-slide>
      <p>
        2. Mantén el grupo pequeño:
      </p>
      <p>• Más grande <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        es mejor para los grupos pequeños. El crecimiento en tamaño excluye el crecimiento en
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>.
        A menos de que la célula se mantenga pequeña pierde su efectividad y habilidad para cuidar las necesidades de
        cada miembro. </p>
      <p>• Cuando dos personas están <label class="respuesta corta" [style.color]="respuestas[9].color"
                                            (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        hay dos líneas de comunicación; ese número incrementa a 12 cuando hay 4
        presentes. Con 10 personas ese número crece a 90 y cuando hay 15 personas reunido hay 210 líneas de
        comunicación. Después de 15
        personas no hay oportunidad para que las personas se conozcan íntimamente. Se convierte en una <label
          class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>,
        deja de ser un grupo pequeño.</p>
    </ion-slide>

    <ion-slide>
      <p>
        3. Ten una visión de crecimiento y multiplicación
      </p>
      <p>• Efesios 4:14-15 “Así ya no seremos niños fluctuantes, llevados por doquiera de todo viento de doctrina, por
        estratagema de hombres que para engañar emplean con astucia las artimañas del error; 15 sino que, siguiendo la
        verdad en amor, crezcamos en todo en aquel que es la cabeza, esto es, Cristo”</p>
      <p>• Las células en el cuerpo humano que <label class="respuesta corta" [style.color]="respuestas[11].color"
                                                      (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        se multiplican <label class="respuesta corta" [style.color]="respuestas[12].color"
                              (click)="openActionSheet('12')">{{respuestas[12].text}}</label>. Los grupos pequeños
        nacen para <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>.
        Un grupo pequeño debe continuamente <label class="respuesta corta" [style.color]="respuestas[14].color"
                                                   (click)="openActionSheet('14')">{{respuestas[14].text}}</label>. </p>
      <p>• Un grupo pequeño es un organismo <label class="respuesta corta" [style.color]="respuestas[15].color"
                                                   (click)="openActionSheet('15')">{{respuestas[15].text}}</label> más
        que una simple manera de organizar el cuerpo de Cristo. </p>
    </ion-slide>

    <ion-slide>
      <p>
        4. <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        con el ejemplo.
      </p>
      <p>• Mateo 4:19 “Y les dijo: —Venid en pos de mí, y os haré pescadores de hombres”.</p>
      <p>• 1 Corintios 11:1 “Sed imitadores míos, así como yo lo soy de Cristo”.</p>
      <p>• “El ejemplo no es lo principal para influenciar a otros. Es lo único” Albert Schweitzer</p>
      <p>• “Los grandes líderes no te dicen que hacer, te muestran como se hace” Anónimo.</p>
      <p>• “Las personas pueden dudar lo que dices, pero creerán lo que haces” Lewis Cass</p>
      <p>• “La herramienta de liderazgo más poderosa que tienes es tu propio ejemplo personal” John Wooden.</p>
    </ion-slide>

    <ion-slide>
      <p>
        5. <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        bien antes de la reunión
      </p>
      <p>• Proverbios 6:6-8“Mira la hormiga, perezoso, observa sus caminos y sé sabio:7 Ella, sin tener capitán,
        gobernador ni señor, 8 prepara en el verano su comida, recoge en el tiempo de la siega su sustento”.</p>
      <p>• “Fallar preparándose es prepararse para fallar” Benjamin Franklin.</p>
      <p>• Entiende tu audiencia y prepara un mensaje relevante para sus situaciones.</p>
      <p>• “La preparación adecuada previene un desempeño pobre”.</p>
      <p>• “La voluntad para triunfar es importante, pero más importante es la voluntad para prepararse” Bobby
        Knight</p>
      <p>• “Dame 6 horas para cortar un árbol y pasaré la primera hora afilando la cuchilla” Abraham Lincoln</p>
    </ion-slide>

    <ion-slide>
      <p>
        6. Comprométete con el crecimiento del liderazgo
      </p>
      <p>• El planeamiento exitoso <label class="respuesta corta" [style.color]="respuestas[18].color"
                                          (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        el camino para el liderazgo <label class="respuesta corta" [style.color]="respuestas[19].color"
                                           (click)="openActionSheet('19')">{{respuestas[19].text}}</label>.</p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        a tu gente a dirigir. Cuando dirigen, toman <label class="respuesta corta" [style.color]="respuestas[21].color"
                                                           (click)="openActionSheet('21')">{{respuestas[21].text}}</label>.
      </p>
      <p>• Cuando son responsables sienten <label class="respuesta corta" [style.color]="respuestas[22].color"
                                                  (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        . Cuando sienten que son de confianza, <label class="respuesta corta" [style.color]="respuestas[23].color"
                                                      (click)="openActionSheet('23')">{{respuestas[23].text}}</label> y
        descubren quienes son y los potenciales que tienen.</p>
      <p>• Tu célula no puede <label class="respuesta corta" [style.color]="respuestas[24].color"
                                     (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        a menos que tus <label class="respuesta corta" [style.color]="respuestas[25].color"
                               (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        estén creciendo, pero el líder debe estar creciendo delante de todos los demás.</p>
    </ion-slide>

    <ion-slide>
      <p>• “La voluntad para triunfar es importante, pero más importante es la voluntad para prepararse” Bobby
        Knight</p>
      <p>• La multiplicación debe ir de mano de la multiplicación del liderazgo. Es el único modo en que puedes sostener
        la multiplicación de la célula. </p>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
