<!--
  Generated template for the Cuestionario6Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/adoracion.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b class="titulo-pregunta">Dar – un acto de adoración</b>

      <p>
        Dios es un dador y debería ser normal para un cristiano dar. Cuando damos demostramos que honramos a Dios y
        reconocemos que Él es nuestra verdadera fuente. Es nuestro acto de adoración. Es posible dar y no adorar, pero
        es imposible adorar y no dar.
      </p>

    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">Introducción</b>

      <p>
        Dar es una parte importante de nuestro caminar
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        Dar es algo que puede ser ejercitado y desarrollado a medida que estamos con Cristo. La Biblia consistentemente
        retrata el dar como un acto de
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        En el Antiguo Testamento los israelitas ofrecían el primer fruto de su cosecha y lo mejor de su reserva como
        ofrenda a Dios. En el Nuevo Testamento separaban un tiempo los domingos para dar sus porciones de su
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        semanal. Esta es la razón por la que tenemos tiempos de
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        en nuestros servicios en la iglesia.
      </p>
      <p>
        Esta lección resume algunos de los principios bíblicos claves de dar y fue desarrollado para equipar a un
        creyente para que disfrute del gran propósito de dar.
      </p>


    </ion-slide>

    <ion-slide>


      <b class="titulo-pregunta"> A. ¿Por qué damos?</b>
      <p>
        Hay muchas razones por las cuales las personas dan, razones correctas e incorrectas. Algunas de las grandes
        razones para dar de acuerdo con patrones bíblicos se detallan a continuación
      </p>

      <p>
        1. Damos porque Dios dio primero. Juan 3:16 “Tanto amó Dios al mundo que dio a su único hijo…”
      </p>

      <p>
        • Jesús es nuestro
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        y modelo a seguir. Si le queremos seguir, debemos seguir su ejemplo.
      </p>

      <p>
        • Fuimos creados a
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        de Dios. “A semejanza de Dios no significa ser como Dios”, significa “funcionar como” Dios. Si Dios es un dador,
        dar debería ser automático y natural para una persona que ha sido salva por gracia.
      </p>
    </ion-slide>

    <ion-slide>

      <p>
        2. Damos porque amamos: la razón por la cual Dios dio fue porque Él amó
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        (Juan 3:16).

      </p>

      <p>
        • Es posible dar sin amar, pero es imposible amar y no
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>

      </p>

      <p>
        • Dar no te salvará, pero es una
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        que eres salvo.
      </p>

      <p>
        • Solo daremos en
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        a la gracia que recibimos. Debemos dar libremente, así como libremente hemos
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        Mateo 10:8). Un no creyente lucha para dar porque él no ha recibido gracia.
      </p>

      <p>
        • Si amamos a Dios también amaremos su trabajo, esto nos
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        a dar para la extensión de Su reino aquí en la tierra.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        3. Damos como un acto de adoración:
      </p>

      <p>
        En Filipenses 4:18 Pablo anima a la iglesia de Filipos diciéndoles que su regalo (ofrenda) era una ofrenda
        fragante y un sacrificio aceptable. Era un acto de
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        Este debe ser nuestra
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        más grande, el dar como una demostración de nuestro amor y adoración a Dios.
      </p>

      <p>
        La adoración significa el costo y valor del objeto de adoración para el adorador . Lo que sea de costo y valor
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        para ti será el objeto y sujeto de tu adoración. Puede ser Dios, el dinero, una persona, un objeto, una relación
        o cualquier cosa de esta tierra.
      </p>


      <p>La pregunta importante para hacerse es ¿Cuánto vale Dios para ti?</p>

      <p>• La Biblia ordena que debemos “amar al Señor con todo nuestro corazón, alma y fuerza” (Deuteronomio 6:5, y
        Mateo 22:37).</p>


    </ion-slide>

    <ion-slide>
      <p>• Debemos amar a Dios y usar el dinero, y no amar el dinero y usar a Dios. El dinero se debe colocar en el
        bolsillo y no en el corazón, para que dar sea fácil. 1 Timoteo 6:10 dice Porque el amor al dinero es la raíz de
        toda clase de males. Por codiciarlo, algunos se han desviado de la fe y se han causado muchísimos sinsabores. El
        dinero no es malo, el amor al dinero sí es malo.</p>
      <p>• Mateo 6:24. El dinero es un buen siervo y un mal amo. Mantenlo como sirviente y te servirá bien. No
        permitamos que nos maneje y que sea quien toma las decisiones en nuestra vida. Vivimos por fe y no por vista. (2
        Corintios 5:7).</p>

    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">B. Dar te ayuda a adorar</b>
      <p>
        Lucas 12:34 “Donde esté tu tesoro, allí también estará tu corazón”. Esto significa que hay una relación directa
        entre
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        son
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        Si gastamos la mayoría de dinero en cosas materiales, el espíritu de materialismo
        continuará afectándonos. Pero si aprendemos a dar al Reino de Dios, dará a luz la generosidad, la acción de
        gracias, la santidad, la apertura, la adoración y podrás...

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        a Dios.
      </p>

      <p>Por ejemplo, si tenemos un tiempo difícil amando a las personas, debemos intentar dar a la misión mundial para
        la salvación de las personas desconocidas. Cuando nuestro tesoro se da para salvar personas, nuestro corazón se
        acercará a amar a estas personas. Ese tipo de amor solo puede ser depositado por Dios en nuestro corazón cuando
        obedecemos Sus mandamientos y vivimos por Sus principios.</p>

      <p>2 Corintios 9:11 Ustedes serán enriquecidos en todo sentido para que en toda ocasión puedan ser generosos, y
        para que por medio de nosotros la generosidad de ustedes resulte en acciones de gracias a Dios.</p>
      <p>Dar nos guiará a la acción de gracias y apreciación a Dios.</p>


    </ion-slide>

    <ion-slide>
      <b class="titulo-pregunta">C. Dar revela al verdadero adorador</b>

      <p>Génesis 22:1 Revela que Dios probó a Abraham para que ofreciera a Isaac. Dios simplemente estaba tratando de
        probar la autenticidad del amor de Abraham por Él. Génesis 22:12 Ahora sé que temes a Dios, porque ni siquiera
        te has negado a darme a tu único hijo.</p>

      <p>
        Toda la bendición que disfrutamos ahora o que está pasando por nosotros es un examen. Es un examen de
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        Si Dios puede confiarte con recursos y bendiciones a través de ti, Él te los dará. Cuando pasamos el
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        nos convertimos en un canal de Dios de bendición para otros. Lucas 16:10. El que es honrado[e] en lo poco
        también lo será en lo mucho; y el que no es íntegro[f] en lo poco tampoco lo será en lo mucho.
      </p>

      <p>
        Puedes medir la profundidad de tu adoración por la altura de tu
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        La altura de un edificio habla de la fuerza y profundidad de la base. Puedes evaluar la calidad de tu adoración
        al evaluar tu
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        y tu
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        al dar
      </p>

    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">D. ¿Cuánto damos?</b>
      <p>
        La Biblia provee
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        en cuanto debemos dar. No es la cantidad sino la
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        I Corintios 16:3 nos anima a dar de acuerdo a la medida de nuestro incremento, si ganamos más debemos dar más,
        si ganamos poco debemos dar poco.
      </p>

      <p>Algunos ejemplos en la Biblia de quienes dieron en grandes proporciones son</p>
      <p>
        • Abraham dio la
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        parte. (Génesis 14:20)
      </p>

      <p>
        • Zaqueo dio la
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        de sus posiciones. (Lucas 19:8).
      </p>

      <p>
        • La viuda dio
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        lo que ella tenía. (Marcos 12:44)
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        Dios honró lo que dieron porque lo hicieron con un corazón
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        y la proporción fue la que su voluntad dictó, no por
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        Piénsalo de esta manera:
      </p>

      <p>
        • Cuando damos porque tenemos que, es
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
      </p>

      <p>
        • Cuando damos porque sentimos que tenemos que, es
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
      </p>

      <p>
        • Pero cuando simplemente damos de las profundidades de nuestro corazón, es
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
      </p>

    </ion-slide>

    <ion-slide>

      <b class="titulo-pregunta">Instrucciones Bíblicas en cuanto dar </b>
      <p>a. Diezmo</p>
      <p>
        El diezmo es un 10% de nuestro ingreso y nuestro aumento. Es un 10% de nuestros salarios y pagos, o ganancias
        de
        un negocio, inversión o empresa. Lo que la Biblia dice acerca del diezmo
      </p>

      <p>
        Leviticos 27:30. El diezmo le
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        al Señor y es santo.
      </p>

      <p>
        Malaquías 3:8. Cuando usamos el
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        le robamos lo que le pertenece al Señor.
      </p>

      <p>
        Proverbios 3:9. Debemos honrar al Señor con nuestras posesiones y el primer fruto de nuestro
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>

      </p>

    </ion-slide>

    <ion-slide>

      <p>
        Malaquías 3:11. Debe ser traído a los graneros, es decir a la iglesia local a la que pertenecemos que cree en la
        Biblia y que es llena del Espíritu. Es aquí donde eres alimentado espiritualmente. El diezmo no se le debe
        entregar a una persona sino a la
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
      </p>

      <p>
        Números 18:24. El propósito del diezmo es para el
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        de los levitas, aquellos que trabajan tiempo completo en el ministerio y para la extensión del reino de Dios.
        Nehemías 10:38. Incluso el
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        cuando recibe el diezmo, debe dar un diez, llamado el diezmo de diezmos.
      </p>

      <p>
        Mateo 23:23. Jesús no denunció el diezmo, lo
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        El quiere que usemos el diezmo para
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        amor, misericordia y compasión.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        Génesis 14 registra la primera persona que diezmo, Abraham. Él lo hizo por fe y lo hizo 400 años antes de la
        ley.
        Mientras el diezmo fue introducido por Dios en la ley, es precedido por la ley y está fuera de la ley (incluso
        aplica después de la ley).
        Abraham fue un hombre de negocios y él entendía los números. Nuestro sistema numérico solo llega al 10, así que
        cuando cuentas el 11 básicamente es 1 de nuevo. Similarmente 101 es uno en el nivel 100, y 1001 en el nivel 1 y
        así. Esto significa que un 10 es una representación del total. Ninguna otra proporción representa el total. Así
        que cuando
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        a Dios con nuestro diezmo, le estamos ofreciendo una representación de todo nuestra
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        Romanos 11:16 dice Si se consagra la parte de la masa que se ofrece como primicias, también se consagra toda la
        masa; si la raíz es santa, también lo son las ramas.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        Cuando le damos a Dios el 10, santificamos del
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        el 90% y Dios
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        el 90% que nos pertenece. Similarmente, cuando no honramos a Dios con el 10%, nosotros
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        el ingreso completo o el 100% (Mal 3:8-9).
      </p>

      <p>
        b. Semilla de fe
      </p>

      <p>
        Como la iglesia de
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        (2 Cor 8:3) también podemos dar más allá de nuestras
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        Esto es dar por fe. A media que la Biblia nos anima a caminar por vista y no por fe, también podemos dar no
        basados en lo que ganamos, sino creyendo que Dios provee por lo que damos. Dios puede
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        semilla al que siembra y puede también
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        la semilla sembrada (2 corintios 9:10).
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        c. Dando en sacrificio
      </p>
      <p>
        La Biblia también nos anima a dar sacrificialmente. No hay adoración sin
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        Si es conveniente, no es adoración. La adoración es
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        <br>
        • Genesis 4:2-5. El sacrificio de Abel fue
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        porque fue el mejor y de primera calidad, el de Caín fue
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        porque fue casual y sólo lo dio por que lo tenía que hacer.

        <br>
        • Gen 22:5. Abraham ofreció a Isaac (lo mejor que tenía) como adoración. Dios le dio
        <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        porque él estuvo dispuesto a ofrecer lo
        <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        <br>
        • El rey David no le pudo ofrecer a Dios
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        que no le
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        nada. (2 Samuel 24:24)
        <br>
        • La mujer de Sarepta (1 Reyes 17) sacrificó su última comida, y ella
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        provisión en una temporada de escasez.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • Dios dio sacrificialmente, el dio a su único hijo por la
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        del
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        (Juan 3:16)
      </p>


      <p>d. Como dar</p>

      <p>La Biblia provee patrones e instrucciones de nuestra actitud y como relacionarnos con el dar.</p>

      <p>
        • Dar para el Señor – Mateo 6:1-4. Jesús nos animó a
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        dar para mostrar en público, ante los hombres,
        sino hacerlo en secreto, y nuestro Padre en los cielos nos recompensará en
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet('64')">{{respuestas[64].text}}</label>
        Cuando se da en
        secreto se atrae la bendición pública. Es difícil esconder a un dador porque la bendición es pública.
      </p>

      <p>
        • Da con respeto, da el diezmo como santo y sagrado. Da a Dios el
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        que Él merece como Dios (Mal
        1:12,13). Esto significa que no debemos de darlo por sentado sino tomarlo
        <label class="respuesta corta" [style.color]="respuestas[66].color" (click)="openActionSheet('66')">{{respuestas[66].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Da intencionalmente, 1 Corintios 16:2 “…como propósito en su corazón…” esto significa que debe hacerse con
        intención. Dar es
        <label class="respuesta corta" [style.color]="respuestas[67].color" (click)="openActionSheet('67')">{{respuestas[67].text}}</label>
        y no
        <label class="respuesta corta" [style.color]="respuestas[68].color" (click)="openActionSheet('68')">{{respuestas[68].text}}</label>
        . Debe ser planeado y decidido en casa antes de
        venir
        a la iglesia. También puede significar hacerlo “en oración”, por ejemplo, le pedimos a Dios que nos
        <label class="respuesta corta" [style.color]="respuestas[69].color" (click)="openActionSheet('69')">{{respuestas[69].text}}</label>
        con cuanto dar y obedecer la
        <label class="respuesta corta" [style.color]="respuestas[70].color" (click)="openActionSheet('70')">{{respuestas[70].text}}</label>
        de nuestro corazón.
      </p>

      <p>
        • Dar con ánimo 2 Corintios 9:6-7 dice que Dios ama un dador
        <label class="respuesta corta" [style.color]="respuestas[71].color" (click)="openActionSheet('71')">{{respuestas[71].text}}</label>
        , debemos dar con
        <label class="respuesta corta" [style.color]="respuestas[72].color" (click)="openActionSheet('72')">{{respuestas[72].text}}</label>
        y no de
        <label class="respuesta corta" [style.color]="respuestas[73].color" (click)="openActionSheet('73')">{{respuestas[73].text}}</label>
      </p>

      <p>
        • Dar generosamente, Proverbios 11:25 dice “Un corazón generoso
        <label class="respuesta corta" [style.color]="respuestas[74].color" (click)="openActionSheet('74')">{{respuestas[74].text}}</label>
        y aquel que refresca a otros
        será
        <label class="respuesta corta" [style.color]="respuestas[75].color" (click)="openActionSheet('75')">{{respuestas[75].text}}</label>
        ”. No hay límite a lo que puedes dar, lo podemos hacer de un corazón que sobreabunda.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Da ceremonialmente – Lev23:20. En el Viejo Testamento traían la ofrenda y la presentaban delante del Señor.
        Era
        una gran ceremonia en la fiesta de los primeros frutos. La iglesia primitiva (1 Cor 16:2) dejaba un tiempo para
        la
        ofrenda del domingo. Dar la ofrenda era un
        <label class="respuesta corta" [style.color]="respuestas[76].color" (click)="openActionSheet('76')">{{respuestas[76].text}}</label>
        , como otros sacramentos como el matrimonio,
        la santa cena, el bautismo, etc. También incluye compromisos públicos, David lo hizo así cuando estaba
        levantando
        fondos para el templo. 1 Crónicas 29:1-9 es una hermosa imagen de esto, todos los demás se unieron al esfuerzo
        colectivo cuando vieron la generosidad de David.
      </p>


    </ion-slide>

    <ion-slide>
      <p>e. Dónde dar</p>
      <p>La Biblia ofrece algunas guías de donde dar. Aquí hay alguna de ellas</p>

      <p>
        • Da a miembros de familia desposeídos. Esta es nuestra primera prioridad, ya que si fallamos en hacer esto nos
        hace peores que los
        <label class="respuesta corta" [style.color]="respuestas[77].color" (click)="openActionSheet('77')">{{respuestas[77].text}}</label>
        (1 Tim 5:8). “Tu” se refiere a tu familia inmediata: hijos, padres
        ancianos,
        abuelos, hermanos y hermanas. Esto no incluye a un miembro familiar
        <label class="respuesta corta" [style.color]="respuestas[78].color" (click)="openActionSheet('78')">{{respuestas[78].text}}</label>
        ,irresponsable que no
        trabaja y que gasta el dinero en alcohol y drogas (2 Tesalonicense 3:10).
        <br>
        • Da a ministerios cristianos. Aquellos que
        <label class="respuesta corta" [style.color]="respuestas[79].color" (click)="openActionSheet('79')">{{respuestas[79].text}}</label>
        ,
        <label class="respuesta corta" [style.color]="respuestas[80].color" (click)="openActionSheet('80')">{{respuestas[80].text}}</label>
        la Palabra son dignos de
        remuneración económica (Gálatas 6:6; 1 Tim 5:17-18). La iglesia es también para
        <label class="respuesta corta" [style.color]="respuestas[81].color" (click)="openActionSheet('81')">{{respuestas[81].text}}</label>
        a los obreros que son enviados a evangelizar y plantar nuevas iglesias donde el Evangelio aún no ha penetrado (3
        Juan
        7; 1 Cor9: 3-14).
      </p>


    </ion-slide>


    <ion-slide>
      <p>
        • Dale a aquellos en necesidad. Debemos dar para cubrir necesidades físicas: alimentación, techo, medicamentos,
        etc. (Mateo 25:35,40; Lucas 10:30,37; Romanos 12:13; 15:26,27; 1 Juan 3:17-18). Esto incluye dar a
        <label class="respuesta corta" [style.color]="respuestas[82].color" (click)="openActionSheet('82')">{{respuestas[82].text}}</label>
        (1 Tim. 5:3,16 hace referencia a una mujer de Dios sin ningún miembro familiar que vele
        por
        ella) y dar a
        <label class="respuesta corta" [style.color]="respuestas[83].color" (click)="openActionSheet('83')">{{respuestas[83].text}}</label>
        (Prov 19:17, 28:27; Mateo 19:21).
      </p>

      <p>
        Hay un orden de prioridad (Gal 6:10), primero damos a nuestros miembros familiares inmediatos, creyentes,
        locales
        y en otras áreas, después ayudamos a otros (“todo hombre”) como parte de nuestro testimonio, ofreciendo
        asistencia
        en el nombre de Cristo.
      </p>
    </ion-slide>



  </ion-slides>

</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
