page-modulos {
  #contenido {
    background-color: color($colors, light);
    color: color($colors, primary);
  }

  #banner-secondary {
    background: color($colors, secondary);
    color: color($colors, light);
    margin-top: -12px;
    margin-left: -20px;
    margin-right: -20px;
    height: 50px;
  }

  .navbarLogo {
    height: 37px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .navbar-logo {
    height: 30px;
    float: left;
    padding-left: 45px;
    margin-top: -30px;
  }

  #text-banner {
    padding-top: 20px;
    color: color($colors, light) !important;
  }

  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 400;
    color: color($colors, light);
    margin-top: -15px;
  }
  .row {
    padding-top: 5px;
  }
  .button-item {
    background-color: color($colors, secundaryLight);
    color: color($colors, light);
  }

  .headerModulo{
    list-style:none;
    margin: 0;
    padding: 0;
  }

  .tituloHeader{
    margin: 0;
    padding: 0;
  }

  .subtituloHeader{
    margin: 0;
    padding: 0;
    font-size: small;
  }

  .paddin0 {
    margin: 0;
    padding: 0;
  }

}
