<!--
  Generated template for the ModulosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo" />
  </ion-navbar>
</ion-header>

<ion-content padding id="contenido">

  <div id="banner-secondary" block>

    <img src="../../assets/imgs/{{modulo.modulo[0].icono}}" class="navbarLogo" item-end>
    <ion-title id="text-banner">

      <!--<ul class="headerModulo">-->
        <!--<li class="tituloHeader">{{modulo.modulo[0].titulo}}</li>-->
        <!--<li class="subtituloHeader">-->
         <!--<p>{{modulo.modulo[0].nombre}}</p>-->
        <!--</li>-->
      <!--</ul>-->

      <ion-row class="paddin0">
        <ion-label class="tituloHeader">
          {{modulo.modulo[0].titulo}}
        </ion-label>

      </ion-row>

      <ion-row class="paddin0">
        <ion-label class="subtituloHeader">
          {{modulo.modulo[0].nombre}}
        </ion-label>
      </ion-row>

    </ion-title>
  </div>

  <br>
  <ion-list >
    <ion-row class="row" *ngFor="let datos of modulo.modulo[0].datos">
      <button ion-item no-lines (click)="openNavDetailsPage(datos)" class="button-item" [style.background-color]="datos.color">
        {{datos.nombre}}
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </button>
    </ion-row>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-6 style="padding: 0">

          <p style="margin: 0;" class="texto">
           Descargar Leccion <br>
            {{modulo.modulo[0].nombre}}
          </p>

        </ion-col>

        <ion-col col-6>

          <button
            class="button icon-left ion-home disable-hover button-default button-default-md button-block button-block-md button-md-secondary"
            style="height: 3.6rem; bottom: 0;position: absolute;"
            block color="secondary" id="" (click)="verLibro()">
            <ion-icon name="md-download"></ion-icon>
              Descargar
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
