page-cuestionario49 {
  .navbar-logo {
    height: 30px;
    float: left;
    padding-left: 45px;
    margin-top: -30px;
  }
  #contenido {
    background-color: color($colors, light);
    color: color($colors, primary);
  }
  #banner-secondary {
    background: color($colors, secondary);
    color: color($colors, light);
    margin-top: -12px;
    margin-left: -20px;
    margin-right: -20px;
    height: 50px;
  }
  #text-banner {
    padding-top: 20px;
    color: color($colors, light) !important;
  }
  .navbarLogo {
    height: 37px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 300;
    color: color($colors, light);
    margin-top: -4px;
  }
  ion-slide p {
    text-align: justify;
    color: color($colors, dark);
    font-size: 1.5rem;
  }
  ion-slides {
    margin-top: 10px;
    height: 90%;
  }
  .titulo-pregunta1 {
    text-align: left;
    color: color($colors, dark);
  }
  .respuesta {
    color: color($colors, primary);
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .corta {
    width: 100px;
  }
  .mediana {
    width: 135px;
  }
  .grande {
    width: 160px;
  }
  .swiper-pagination-progress .swiper-pagination-progressbar {
    left: 0;
    top: 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e94b67;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
