<!--
  Generated template for the Cuestionario49Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/mision.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Nuestro involucramiento en las misiones.
      </b>

      <p>
        La misión global es la tarea de cada creyente. Como creyentes, sin importar las habilidades financieras, la
        educación, o los dones naturales y espirituales que se tengan, cada uno tiene un lugar en las misiones.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">A. ¿Qué es la misión global?</b>
      <p>
        • Lo global es alrededor de todo el mundo.
        <br>
        • Mateo 24:14 “ Y será predicado este evangelio del Reino en todo el mundo, para testimonio a todas las
        naciones, y entonces vendrá el fin”.
        <br>
        • La misión es buscar y salvar lo <label class="respuesta corta" [style.color]="respuestas[0].color"
                                                 (click)="openActionSheet('0')">{{respuestas[0].text}}</label>.
        <br>
        • Lucas 19:10 “porque el Hijo del hombre vino a buscar y a salvar lo que se había perdido”.
        <br>
        • La Misión Global es llevar el Evangelio a todo el mundo a aquellos que nunca lo han<label
        class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">B. ¿Las misiones son para todos?</b>
      <p>
        ¡Sí, definitivamente!
        <br>
        • No todos los creyentes pueden <label class="respuesta corta" [style.color]="respuestas[2].color"
                                               (click)="openActionSheet('2')">{{respuestas[2].text}}</label> en
        misioneros.
        <br>
        • Pero cada creyente tiene un <label class="respuesta corta" [style.color]="respuestas[3].color"
                                             (click)="openActionSheet('3')">{{respuestas[3].text}}</label> en las
        misiones.
        <br>
        • Romanos 10:13 “ya que <label class="respuesta corta" [style.color]="respuestas[4].color"
                                       (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        aquel que invoque el nombre del Señor, será salvo.
        <br>
        • Romanos 10:14 “¿Cómo, pues, invocarán a aquel en el cual no han creído? ¿Y cómo creerán en aquel de quien no
        han oído? ¿Y cómo oirán sin haber quien les predique?”
        <br>
        • Romanos 10:15 “¿Y cómo predicarán si no son enviados? Como está escrito: «¡Cuán hermosos son los pies de los
        que anuncian la paz, de los que anuncian buenas nuevas!”
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">C. ¿Cómo son los que envían, los que dan y los que oran?</b>

      <p>
        Cada iglesia local CMFI se supone que debe ser:
        <br>
        • Una <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        emisora de misioneros
        <br>
        • Una iglesia que constantemente <label class="respuesta corta" [style.color]="respuestas[6].color"
                                                (click)="openActionSheet('6')">{{respuestas[6].text}}</label> al mundo
        de las misiones.
        <br>
        • Una iglesia que <label class="respuesta corta" [style.color]="respuestas[7].color"
                                 (click)="openActionSheet('7')">{{respuestas[7].text}}</label>.
      </p>
      <b class="titulo">D. ¿Qué se debe hacer?</b>
      <p>
        • Plantar iglesias entre los creyentes <label class="respuesta corta" [style.color]="respuestas[8].color"
                                                      (click)="openActionSheet('8')">{{respuestas[8].text}}</label>.
        <br>
        • Entrenar y equipar a los creyentes indígenas para que alcancen a su <label class="respuesta corta"
                                                                                     [style.color]="respuestas[9].color"
                                                                                     (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        pueblo con el Evangelio.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">E. Mateo 28:18-20 </b>
      <p>
        • (18) Jesús dijo que él tenía la <label class="respuesta corta" [style.color]="respuestas[10].color"
                                                 (click)="openActionSheet('10')">{{respuestas[10].text}}</label> para
        evangelizar al mundo.
        <br>
        • (19) Les dijo a los discípulos que lo hicieran por Él.
        <br>
        • (20) Él les dijo como hacerlo: “<label class="respuesta corta" [style.color]="respuestas[11].color"
                                                 (click)="openActionSheet('11')">{{respuestas[11].text}}</label>” a las
        personas que alcanzamos para que observen todo lo que Él nos ha encomendado hacer.
        <br>
        • La finalización de la Comisión descansa en las personas que van a ser <label class="respuesta corta"
                                                                                       [style.color]="respuestas[12].color"
                                                                                       (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        por el misionero.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">F. ¿Por qué la plantación de iglesias?</b>
      <p>
        • Cristo le dio la comisión a los 11 discípulos y a los hombres dedicados que representaban a la iglesia.
        <br>
        • La iglesia es para <label class="respuesta corta" [style.color]="respuestas[13].color"
                                    (click)="openActionSheet('13')">{{respuestas[13].text}}</label> el mundo y para
        plantar iglesias donde aún no existen.
        <br>
        • Sin la iglesia cada esfuerzo evangelístico es un <label class="respuesta corta"
                                                                  [style.color]="respuestas[14].color"
                                                                  (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        de cosecha.
        <br>
        • La plantación de iglesias es el único camino para <label class="respuesta corta"
                                                                   [style.color]="respuestas[15].color"
                                                                   (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        la cosecha.
        <br>
        • Las iglesias que se <label class="respuesta corta" [style.color]="respuestas[16].color"
                                     (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        deben ser auto sostenibles, auto propagadoras, auto multiplicadoras y auto gobernadas.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">G. El patrón del Nuevo Testamento</b>
      <p>
        2 Timoteo 2:2 “2 Lo que has oído de mí ante muchos testigos, esto encarga a hombres fieles que sean idóneos para
        enseñar también a otros”.
        <br>
        • Evangelizar el <label class="respuesta corta" [style.color]="respuestas[17].color"
                                (click)="openActionSheet('17')">{{respuestas[17].text}}</label> es como una carrera de
        relevos.
        <br>
        • Los misioneros corren la primera vuelta.
        <br>
        • La entregan a los locales creyentes para ¡<label class="respuesta corta" [style.color]="respuestas[18].color"
                                                           (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        la carrera!
        <br>
        • Pablo y los primeros apóstoles no permanecían mucho tiempo en ningún lugar en particular.
        <br>
        • Llegaban, plantaban la iglesia, enseñaban a las personas, designaban ancianos y continuaban.
        <br>
        • La iglesia empieza a <label class="respuesta corta" [style.color]="respuestas[19].color"
                                      (click)="openActionSheet('19')">{{respuestas[19].text}}</label> y
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>.
        <br>
        El patrón del Nuevo Testamento funcioné en ese momento y debería de funcionar ahora

      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">H. ¿Los misioneros necesitan confiar en los nacionales?</b>
      <p>
        • No podemos completar la Gran Comisión sin <label class="respuesta corta" [style.color]="respuestas[21].color"
                                                           (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        con los creyentes locales.
        <br>
        • Los misioneros deben <label class="respuesta corta" [style.color]="respuestas[22].color"
                                      (click)="openActionSheet('22')">{{respuestas[22].text}}</label> su tiempo,
        esfuerzo, dinero para involucrarse en el entrenamiento de las personas locales.
        <br>
        • Un <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        local es el nuevo pastor de la nueva iglesia después de ser enseñado, entrenado y equipado por el misionero.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">I. El misionero</b>
      <p>
        • <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        la Iglesia.
        <br>
        • <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        los miembros
        <br>
        • <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        los ancianos
        <br>
        • <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        un líder
        <br>
        • Después muévete a otra área nueva para hacer lo mismo.
        <br>
        • Repórtate con quien te envió (la iglesia local) antes de una nueva tarea.
      </p>
    </ion-slide>

  </ion-slides>


</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
