<!--
  Generated template for the Cuestionario28Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/relaciones.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>


      <b class="titulo">El significado de la comunión</b>

      <p>

        La comunión con Dios es la meta de la vida cristiana. Involucra nuestra comunión y amistad con Dios y nos
        conecta con otros creyentes en el Espíritu de Dios y con las bendiciones de Dios.

        2 Corintios 13:14 “La gracia del Señor Jesucristo, el amor de Dios y la comunión del Espíritu Santo sean con
        todos vosotros”.


      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Qué es la comunión?
      </b>
      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        , socios, partícipes
        <br>
        • Compartir nuestra herencia cristiana en
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        (koinos).
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        comunión, interacciones y construcción de relaciones.
        <br>
        • La visión CMFI
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        a los creyentes.
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        relaciones
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        y de
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        entre ellos.
        <br>
        • La comunión significa que dos compañeros comparten un mismo barco.
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        .
        <br>
        • La comunión te ayuda a enfrentar los problemas de la vida al proveer
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        para
        otros cristianos. Entre más comunión tengamos más
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        nos hacemos y nos ampliamos más en Jesús.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Las bases de la comunión
      </b>
      <p>
        • La base de la comunión se logra cuando las personas se juntan y comparten una conexión
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        . Lo
        que compartimos nos acerca. La cuestión en común para los cristianos es nuestra
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        en Cristo Jesús.
        <br>
        • Somos
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        de su familia.
        <br>
        • Nuestra conexión va más allá de
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        .
        <br>
        • Involucra nuestra
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        personal compartida para con
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        creemos.
        <br>
        • Somos
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        en Jesucristo. Efesios 4:3-6
      </p>

      <b>
        A. Las relaciones dependen de la comunicación
      </b>
      <p>
        • La comunicación es nuestra manera de
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        como nos sentimos o como se sienten las personas, lo
        que necesitamos o lo que nos está molestando.
        <br>
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • No hay manera de expresarte como un
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        .
        <br>
        • Dios nos ha dado la
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        para enviar y recibir mensajes con los otros.
      </p>
      <b>
        B. La vida eclesiástica implica un enfoque en las personas
      </b>
      <p>
        • La vida de la iglesia está diseñada e intencionada por Dios para ser una
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        de comunión.
        <br>
        • Debemos comunicarnos en maneras que permitan la comunión para
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        .
        <br>
        • 3 Juan 1:2 “Amado, yo deseo que tú seas prosperado en todas las cosas y que tengas salud, así como prospera tu
        alma”.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Si la comunión de la iglesia (relación) no es
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        las personas no crecerán y
        no serán lo que Dios quiere que sean.
        <br>
        • Lo que las personas
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        los unos con los otros determina su
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        dentro de la iglesia.
      </p>
      <b>
        C. Ánimo y cuido
      </b>
      <p>
        1. Las bases bíblicas
        <br>
        Romanos 15:5 “Y el Dios de la paciencia y de la consolación os dé entre vosotros un mismo sentir según Cristo
        Jesús”
        <br><br>
        2 Corintios 5:18-19 “Y todo esto proviene de Dios, quien nos reconcilió consigo mismo por Cristo, y nos dio el
        ministerio de la reconciliación: 19 Dios estaba en Cristo reconciliando consigo al mundo, no tomándoles en
        cuenta a los hombres sus pecados, y nos encargó a nosotros la palabra de la reconciliación”
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        2. El lugar de ánimo
        <br>
        Dios nos llama a
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        :a juntarnos, con el propósito de provocar el amor y las buenas obras, para
        apoyarnos los unos a los otros. Hebreos 10: 24-25 “Y considerémonos unos a otros para estimularnos al amor y a
        las buenas obras, 25 no dejando de congregarnos, como algunos tienen por costumbre, sino exhortándonos; y tanto
        más, cuanto veis que aquel día se acerca”.
        <br>
        • Ser
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        con las reuniones cristianas es dar por vencido el apoyo y la ayuda de otros
        cristianos. Nos juntamos para compartir nuestra fe y para
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        los unos a los otros en el Señor.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Por qué la comunión es importante con Dios y con los otros?
      </b>

      <p>
        <b>
          A. Dios desea tener comunión con nosotros.
        </b>
        • Génesis 3:8 “8 Luego oyeron la voz de Jehová Dios que se paseaba por el huerto, al aire del día; y el hombre y
        su mujer se escondieron de la presencia de Jehová Dios entre los árboles del huerto”
        <br>
        • Adán y Eva fueron puestos en el Jardín para disfrutar la
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        y la comunión con Dios. Ellos
        escogieron sostenerse por sí mismos que vivir bajo el cuido de la gracia del Creador, así que la comunión se
        rompió.
        <br>
        • Dios inmediatamente los buscó y les reveló su plan de restauración del pecado a través del trabajo del
        Redentor.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Cristo nos abre el camino para
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        nuestra comunión con Dios. Dios
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        estar con
        nosotros. Él nos
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        activamente su amor incondicional. Tener el
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        de que nos
        ama a pesar de nuestras faltas, puede ayudarnos a quitarnos ese miedo.
        <br>
        <b>
          B. Jesús tuvo comunión con sus discípulos.
        </b>
        • Marcos 14:22-25 “22 Mientras comían, Jesús tomó pan, lo bendijo, lo partió y les dio, diciendo: —Tomad, esto
        es mi cuerpo. 23 Después tomó la copa y, habiendo dado gracias, les dio y bebieron de ella todos. 24 Y les dijo:
        —Esto es mi sangre del nuevo pacto que por muchos es derramada. 25 De cierto os digo que no beberé más del fruto
        de la vid, hasta aquel día en que lo beba nuevo en el reino de Dios”.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • La última cena de Jesús con sus discípulos ilustra la
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        de la comunión restaurada entre el
        ser humano y Dios, y entre los creyentes. Jesús
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        con sus discípulos un festejo de amor sagrado.
        Sus corazones estaban
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        por un sentido profundo de
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        .
        <br>
        • Los discípulos descubrieron que sus propios corazones estaban fuertemente unidos por su
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        en
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        para Jesús.
      </p>
      <p>
        <b>
          C. Restauración de la comunión cristiana
        </b>
        • Este es el resultado del trabajo de redención de Cristo en la
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        .
        • Dios hace su hogar
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        en el corazón de cada creyente. Juan 14:23 “El que me ama, mi palabra
        guardará; y mi Padre lo amará, y vendremos a él y haremos morada con él”.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Esta comunión es la
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        espiritual de cada creyente con Cristo. Apocalipsis 21:3 “Y oí una gran
        voz del cielo, que decía: «El tabernáculo de Dios está ahora con los hombres. Él morará con ellos, ellos serán
        su pueblo y Dios mismo estará con ellos como su Dios”.
        <br>
        • El Evangelio no solamente
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        la comunión con Dios, sino también entre los creyentes.
      </p>
      <p>
        <b>
          D. La comunión construye relaciones fuertes
        </b>
        • Hechos 20:37-38 “37 Entonces hubo gran llanto de todos, y echándose al cuello de Pablo, lo besaban, 38 y se
        dolían en gran manera por la palabra que dijo de que no verían más su rostro. Y lo acompañaron al barco”.
        • La
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        de Pablo con estos creyentes es un bello ejemplo de la comunión cristiana. Pablo
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        de ellos, los
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        , y
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        por sus necesidades. Los creyentes respondieron
        con
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        para él y
        <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        su salida.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        Pablo puedes construir relaciones fuertes con otros cristianos en cada área de la vida de la iglesia.
      </p>
      <p>
        <b>
          E. La comunión verdadera nutre el amor de Cristo
        </b>
        • Filipenses 1: 7 “7 Y es justo que yo sienta esto de todos vosotros, porque os tengo en el corazón; y en mis
        prisiones, y en la defensa y confirmación del evangelio, todos vosotros sois participantes conmigo de la
        gracia”.
        • ¿Alguna vez has deseado ver a una amistad con la que compartes recuerdos afectuosos? Pablo tenía esa
        <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        por ver a los cristianos de Filipos. Su amor y afecto por ellos estaba basado en la
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        que viene cuando los cristianos toman del amor de Cristo. Todos comparten
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        en
        el poder transformador de Su amor. ¿Sientes un amor profundo por compañeros cristianos, amistades y desconocidos
        en tu célula, zona, iglesia, etc?
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • El amor de Cristo nos debe
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        a amar a otras personas cristianas.
        <br>
        • Deja que Su amor nos motive a expresar nuestro amor en las
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        hacia ellos.
      </p>
      <p>
        <b>
          F. La comunión en un regalo de Cristo.
        </b>
        • Hebreos 10:25 “no dejando de congregarnos, como algunos tienen por costumbre, sino exhortándonos; y tanto más,
        cuanto veis que aquel día se acerca”.
        <br>
        • Tenemos privilegios significativos en nuestra
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        en Cristo. Tenemos
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        personal a Dios a través de Cristo y nos podemos acercar a Él sin un sistema elaborado.
        <br>
        • Podemos crecer en fe, vencer las dudas y las preguntas y profundizar nuestra
        <label class="respuesta corta" [style.color]="respuestas[64].color" (click)="openActionSheet('64')">{{respuestas[64].text}}</label>
        con Dios.
        Podemos disfrutar del
        <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        de los unos con los otros (vs 24). Podemos
        juntos.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
