<!--
  Generated template for the Cuestionario31Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/relaciones.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>

      <b class="titulo">La importancia de pertenecer a una iglesia local</b>

      <p>

        Él creo la iglesia para satisfacer tus 5 necesidades más profundas: un propósito por el cual vivir, personas con
        las cuales vivir, principios por los cuales vivir, una profesión para hacer realidad, y poder para vivir. No hay
        ningún otro lugar en la tierra donde puedas encontrar estos 5 beneficios en un mismo lugar.

      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Qué es la iglesia?
      </b>
      <p>
        La iglesia es el
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        de Cristo. 1 Corintios 12: 1-7; Efesios 1:23
        <br><br>
        La iglesia es la
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        de aquel que lo llena todo en todos. Efesios 1:23
        <br><br>
        La iglesia es parte
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        del propósito de Dios. Efesios 3:10-11
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        Definición de la iglesia
      </b>
      <p>
        La palabra “iglesia” viene del término griego
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        que es formado de dos palabras griegas que
        significan “asamblea” y “llamar”.
        <br>
        Resumiendo, la iglesia es el cuerpo de creyentes que han sido llamados del mundo por Dios para vivir como su
        pueblo bajo la autoridad de Jesucristo. (Efesios 1:22-23)
        <br>
        Diciéndolo más simple, podemos pensar de la iglesia en dos sentidos principales:
        <br>
        a. La iglesia
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        es la asamblea completa de personas que son salvas, tanto personas vivas y
        muertas.
        <br>
        b. La iglesia
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        es la compañía de personas salvas de un área geográfica que adoran juntos
        como una congregación local. La iglesia es la gran asamblea o compañía de personas que son salvas por Cristo
        Jesús. (Efesios 5:23, 25-27).
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        La iglesia es descrita como:
      </b>
      <p>
        <b>
          A. El cuerpo de Cristo
        </b>
        <br>
        1. La
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        de Cristo en la Tierra. Efesios 1: 22-23.
        <br> <br>
        2. Esta metáfora ilustra la relación que disfrutamos con Cristo y los unos con los otros.
        <br> <br>
        a. Cristo es nuestra
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        , y nosotros como el cuerpo recibimos alimento. Colosenses 2:19
        <br> <br>
        b. Somos miembros del cuerpo de Cristo, y del uno con el otro. 1 Corintios 12:27; Romanos 12: 5
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        <b>
          B. La casa de Dios
        </b>
        <br>
        1. Este es la
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        de Dios. 1 Timoteo 3:15
        <br><br>
        2. Esto enfatiza la
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        familiar que disfrutamos en Cristo.
        <br><br>
        a. En Jesús somos una familia. Mateo 12: 48-50
        <br><br>
        b. Tenemos muchos hermanos y hermanas. Marcos 10:28-30
        <br><br>
        c. Debemos tratarnos los unos a los otros acordemente. 1 Timoteo 5:1-2

      </p>

    </ion-slide>

    <ion-slide>
      <p>
        <b>
          C. El templo de Dios
        </b>
        <br>
        1. Una habitación santa o
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        de Dios. Efesios 2:19-22; 1 Pedro 2:5
        <br> <br>
        2. Como tal, tenemos una responsabilidad de
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        pureza. 1 Corintios 3:16-17; 2 Corintios 6:16; 7:1
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        <b>
          D. La Iglesia es el Reino de Cristo
        </b>
        <br>
        1. Como Pablo le escribió a los colosenses habían sido trasladados al reino de amor del Hijo. Colosenses 1:13;
        Apocalipsis 1:9
        <br><br>
        2. Esto enfatiza la autoridad y el poder de la iglesia. Cristo es Rey, él tiene toda la autoridad. Mateo 28:
        18-20
        <br>
        a. La iglesia no es una república
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        .
        <br>
        b. La
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        no hace leyes, ¡estas son hechas por un rey!
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        <b>
          E. La Iglesia es la novia de Cristo
        </b>
        <br>
        1. Estamos
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        para Cristo. 2 Corintios 11:2
        <br>
        2. Esta figura presagia una
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        aun mayor con Cristo en el futuro. Apocalipsis 19: 6-9; 21:2
      </p>
      <b>
        El propósito de la iglesia
      </b>
      <p>
        El propósito de la iglesia es doble.
        • La iglesia se
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        (se reúne) con el propósito de traer a cada miembro a la madurez
        espiritual. Efesios 4:13.
        La iglesia se
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        para compartir el amor de Dios y el mensaje del evangelio a los no creyentes en
        el mundo (Mateo 28:18-20). Esta es la gran comisión. Entonces, el propósito de la iglesia es ministrar a los
        creyentes y alcanzar a los no creyentes.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        La iglesia, tanto en el sentido local como universal, es importante porque es el vehículo principal por el cual
        Dios realiza
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        en la Tierra. La iglesia es el cuerpo de Cristo, su corazón, su boca, sus manos
        y pies, alcanzando el mundo.
        <br><br>
        La iglesia es la plenitud de Cristo en la
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        . 1 Corintios 12:27 Vosotros, pues, sois el cuerpo
        de Cristo y miembros cada uno en particular.
        <br><br>
        Es importante que pertenezcas a una iglesia local
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        La membresía de la iglesia, perteneces a la familia de Dios
      </b>
      <p>
        Cuando colocamos nuestra fe en Cristo, Dios se convierte en nuestro
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        , nos convertimos en
        sus hijos, los otros creyentes en nuestros hermanos y hermanas, y la Iglesia se convierte en nuestra familia
        espiritual. Cuando un niño
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        automáticamente forma parte de la familia
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        de seres humanos. También es una verdad espiritual que cuando naces de nuevo, automáticamente te conviertes en
        parte universal de la familia de Dios, pero también necesitas convertirte en un
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        de una
        expresión local de la familia de Dios. Cada cristiano debe tener 3 hogares: un hogar
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        , un
        hogar de
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        y un hogar
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        Verdad en las escrituras
      </b>
      <p>
        Efesios 2:10 “Por eso, ya no sois extranjeros ni forasteros, sino conciudadanos de los santos y miembros de la
        familia de Dios”
        Te conviertes en una persona cristiana cuando
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        en Cristo, y te conviertes en
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        de la familia de Dios al
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        con todas las demás personas cristianas.
        En la familia de Dios te
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        con todas las personas creyentes, y nos pertenecemos los unos a
        los otros por la eternidad.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        El significado bíblico de la membresía
      </b>
      <p>
        (Romanos 12: 4-5; 1 Corintios 6:15; 12:12-27).
        <br>
        Para Pablo ser un
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        de la iglesia significaba ser un órgano vital de un cuerpo viviente, una
        parte indispensable e interconectada del Cuerpo de
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        . La iglesia es un cuerpo, no es un
        edificio; un
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        , no una organización. Para que los órganos de tu cuerpo cumplan su propósito
        deben estar conectados a tu cuerpo. Lo mismo es cierto para ti como parte del cuerpo de Cristo.
        <br>
        Fuiste creado con un rol
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        , pero te perderás de hacer los
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        de Dios para tu vida si
        no eres parte de una iglesia local que cree en la Biblia, que es Cristo céntrica, llena del Espíritu y enfocada
        en la misión. Dios quiere que experimentemos una vida juntos. No podemos vivir en aislamiento.
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        a medida que construimos nuestra relación el uno con el otro, porque solo nos podemos
        desarrollar en el contexto
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        .
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        ¿Cuáles son los beneficios de ser un miembro?
      </b>
      <p>
        • Identifica a una persona como genuinamente
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        . (Efesios 2:19; Romanos 12:5).
        <br>
        • Provee una familia espiritual para dar apoyo y ánimo en el caminar con Cristo (Gálatas 6:1-2; Hebreos 10:24)
        <br>
        • Les da un lugar para
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        y usar sus talentos
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        . (1 Corintios 12:4-27).
        <br>
        • Los coloca bajo la
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        espiritual de los líderes de Dios. (Hebreos 13:17; Hechos 20:28-29)
        <br>
        • Les da oportunidad de rendir
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        necesarias para el crecimiento. (Efesios 5:21)
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        Beneficios que solo la iglesia puede proveer
      </b>
      <p>
        • La
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        te ayuda a enfocarte en Dios. Te prepara espiritual y emocionalmente para la semana que se
        avecina.
        <br>
        • La
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        te ayuda a enfrentar los problemas de la vida proveyendo soporte y ánimo con otros
        cristianos.
        <br>
        • El
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        te ayudar a fortalecer tu fe aprendiendo las verdades de la palabra de Dios y aplicando
        los principios bíblicos en tu estilo de vida.
        <br>
        • El
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        te ayuda a identificar y desarrollar tus talentos y usarlos para el servicio de otros.
        <br>
        • El
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        te ayuda a cumplir tu misión en relación a tu familia y amistades en Cristo
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        Requisitos para la membresía
      </b>
      <p>
        • Un
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        con Cristo como Señor y Salvador.
        <br><br>
        • Bautismo por
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        como un símbolo público de tu fe personal.
        <br><br>
        • Finalización de la clase de
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        .
        <br><br>
        • Un compromiso de
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        firmado por CMF.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Responsabilidad de los miembros
      </b>
      <p>
        Para proteger la unidad de mi iglesia. Romanos 14:19 “Por lo tanto, sigamos lo que contribuye a la paz y a la
        mutua edificación”
        <br><br>
        • Actuando en amor hacia otros
        <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        . 1 Pedro 1:22
        <br><br>
        • Al
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        al chisme. Efesios 4:29
        <br><br>
        • Sometiéndose al
        <label class="respuesta corta" [style.color]="respuestas[54].color" (click)="openActionSheet('54')">{{respuestas[54].text}}</label>
        . Hebreos 13:17
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        Para compartir la responsabilidad de mi iglesia
      </b>
      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[55].color" (click)="openActionSheet('55')">{{respuestas[55].text}}</label>
        para su crecimiento. 1 Tesalonicenses 1:1-2
        <br>
        •
        <label class="respuesta corta" [style.color]="respuestas[56].color" (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        a los no asisten a que asistan. Lucas 4:23
        <br>
        • Dar calurosamente la
        <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        a quienes visitan. Romanos 15:7
      </p>
      <b>
        Para servir en el ministerio de mi iglesia
      </b>
      <p>
        •
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        mi don y talento. 1 Pedro 4:10
        <br>
        • Al ser equipado para
        <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        con mis pastores. Efesios 4:11-12
        <br>
        • Desarrollando un corazón de
        <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        . Filipenses 2:3-4,7
      </p>


    </ion-slide>

    <ion-slide>

      <b>
        Para apoyar el testimonio de mi iglesia
      </b>
      <p>
        • Al
        <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>
        fielmente y ser parte de un grupo celular en mi comunidad. Hebreos 10:25
        <br>
        • Al
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        una vida temerosa de Dios. Filipenses 1:27
        <br>
        • Al
        <label class="respuesta corta" [style.color]="respuestas[63].color" (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        regularmente. 1 Corintios 16:2
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        Desarrollando miembros maduros, la madurez espiritual
      </b>

      <p>
        La voluntad de Dios para nosotros es que crezcamos en madurez. Pablo dijo “no debemos permanecer como niños a la
        voluntad del viento, del destino y de las enseñanzas…debemos hablar la verdad en amor, y crecer en cada área
        hacia Cristo, la cabeza”
        <br><br>
        La meta final del crecimiento espiritual es ser como Jesús. Dios quiere que cada creyente desarrolle el carácter
        de Cristo, nuestro producto son vidas cambiadas.
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        El propósito de desarrollar miembros maduros.
      </b>
      <p>
        Efesios 4:12 “ a fin de perfeccionar a los santos para la obra del ministerio, para la edificación del cuerpo de
        Cristo”
        <br><br>
        El propósito de entrenar y equipar es para edificar el cuerpo, para completar los 5 propósitos eternos de Dios
        para la iglesia: adoración, evangelismo, discipulado, comunión y ministerio. El desarrollo del proceso de vida
        ha sido diseñado para ayudar a cada miembro a cumplir el propósito eterno de Dios para sus vidas.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
