<!--
  Generated template for the Cuestionario18Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Confesando la palabra de Dios</b>
      <p>
        La Palabra de Dios tiene tanto poder que puede ir donde nadie más puede ir y puede hacer lo que nadie más puede
        hacer. Dios creo los cielos y la tierra y el universo entero a través de la palabra hablada. El mismo poder está
        disponible hoy para nosotros si creemos la Palabra, si vivimos de acuerdo a sus principios y si la aplicamos en
        cada esfera de nuestra vida.
      </p>

    </ion-slide>

    <ion-slide>


      <b>
        El poder de la palabra de Dios
      </b>
      <p>
        La primera cuestión que cada cristiano debe entender completamente es que la Biblia verdaderamente es palabra
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        e
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        de Dios. Esto es lo que Pablo le dice a Timoteo en 2 Timoteo 3:16
        “Toda la Escritura es inspirada por Dios y útil para enseñar, para redargüir, para corregir, para instruir en
        justicia”. La Biblia dice que confesar la palabra de Dios significa decir lo mismo que la Palabra de Dios,
        entonces nuestra confesión es lo que decimos todo el tiempo. Jesús, como el sumo sacerdote de nuestra confesión,
        trae a cumplimiento cualquier cosa que confesemos.
        <br>
        Dios creo los cielos y la tierra a través de la Palabra
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        . La Palabra de Dios tiene un poder
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        . Todo lo que ves a tu alrededor por tierra, aire, océano y debajo de la tierra es resultado de
        la Palabra. La palabra de Dios no tiene
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        en la tierra en términos de alcance, poder, influencia y
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        .
      </p>
      <p>
        Todo lo demás en el cielo y en la tierra pasarán, pero la Palabra
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        de Dios existirá para
        siempre. Jesús dijo en Mateo 24:35 “El cielo y la tierra pasarán, más mis palabras no pasarán”.
      </p>
      <p>
        La confesión es la manera que la fe tiene para expresarse. La confesión de fe crea realidad. Siempre es posible
        decir si una persona está creyendo lo correcto por la manera en que habla. Si su confesión es equivocada, su
        creencia es equivocada. Si su creencia es equivocada, su pensamiento es equivocado. Si su pensamiento es
        equivocado, su mente no ha sido renovada con la Palabra de Dios. Las tres van juntas: creer, pensar, decir.
      </p>
    </ion-slide>

    <ion-slide>

      <p>
        Las palabras cargan un significado
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        : el universo fue creado con una palabra; Jesús sanó y echó
        fuera demonios con una palabra; los gobernantes se han levantado y han caído por sus palabras, los cristianos
        han adorado a través de palabras de adoración, confesión y predicación. Incluso en nuestra era tecnológica la
        política, la educación, el comercio y las relaciones se centran en las palabras.
      </p>

      <p>
        La Palabra santa de Dios tiene varias características que
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        resultados poderosos. Primero, se
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        con el poder del Espíritu Santo.
      </p>
      <p>
        Segundo, la palabra de Dios es
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        . Despierta nuestra
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        . Con el poder de alcanzar en
        los rincones privados de nuestros corazones, la palabra descubre nuestros motivos y nuestros sentimientos
        secretos y revela nuestros secretos escondidos.

      </p>

    </ion-slide>

    <ion-slide>
      <p>
        Tercero, la palabra de Dios
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        nuestro verdadero carácter. Expone las debilidades en nuestras
        actitudes y conducta, habilitándonos para autocorregirnos por el poder de Su Espíritu Santo.
      </p>

      <b>
        Condiciones para confesar la palabra de Dios.
      </b>
      <p>

        Podemos confesar la palabra de Dios todo el día, pero si no estamos cumpliendo con las condiciones no
        funcionará.
        <br>

        1. Asegúrate de estar viviendo una vida de
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        . No podemos estar encubriendo ningún pecado sin
        confesar o sin arrepentirnos. Salmo 66:18 “Si en mi corazón hubiera yo mirado a la maldad, el Señor no me habría
        escuchado”.No puedes esperar que Dios se mueva a tu favor si estás viviendo en pecado, así como tampoco puedes
        utilizar la palabra de Dios en tu confesión para que tome el lugar de los pecados en tu vida. No puedes usar la
        pureza de la palabra de Dios como un sustituto del pecado.
      </p>

    </ion-slide>


    <ion-slide>
      <p>
        2. Vive tu vida en total
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        a la palabra de Dios. Juan 15:7 dice “Si permanecéis en mí y mis
        palabras permanecen en vosotros, pedid todo lo que queráis y os será hecho”. Vivir en conformidad a la palabra
        de Dios significa que eres obediente a Su Palabra. La desobediencia te robará las promesas que Dios tiene en Su
        palabra.
        <br>
        3. Ten
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        en la palabra de Dios para cumplir su propósito. En Marcos 11:22 Jesús dice “Tengan fe en
        Dios”. Dios requiere que nos movamos por fe. Hebreos 11:6 dice “Sin fe es imposible agradar a Dios”.
        <br>
        4. Aprende a
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        en el Reino. Sembrar en el reino significa que podemos cosechar los beneficios
        del Reino. Cosechamos lo que sembramos.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Por qué es importante confesar la palabra de Dios diariamente en nuestras vidas?
      </b>
      <p>
        1. La palabra de Dios es
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        . Juan 17:17 “santifícame en tu verdad, Tu palabra es verdad”. Esto
        significa que la Palabra de Dios es la
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        . Es más real que la realidad misma. Debido a que la
        Palabra de Dios es verdad todo lo demás que te pase, o que pase dentro o alrededor tuyo no son realidades sino
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        . La enfermedad no es verdad, es un hecho y la palabra de Dios es más poderosa que ese hecho
        porque la verdad no cambia, pero la enfermedad sí. Los hechos están
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        al cambio, la verdad
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        cambia. No podemos negar los hechos, pero la palabra de Dios hablada sobre el hecho
        eventualmente lo invalida y vence cualquier circunstancia adversa en la vida que nos esté afectando.
        <br>
      </p>

    </ion-slide>

    <ion-slide>

      <p>

        2. La palabra de Dios es
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        . Juan 1:1 “En el principio era el Verbo,
        <br>
        el Verbo estaba con Dios y el Verbo era Dios”. No puedes separar la palabra de Dios de Dios. Son una sola. El
        grado en el que ames, creas y obedezcas la palabra de Dios, es el grado en el que mides tu
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        por
        Dios.
        Cuando crees la palabra de Dios, crees en Dios. Cuando obedeces la palabra de Dios, estás obedeciendo a Dios.
        Cuando
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        la palabra de Dios, estás entronando a Dios sobre cualquier situación o desafío que
        estés enfrentando en tu vida. ¡La palabra de Dios es el
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        de Dios!. Esto significa que cada vez
        que confesamos la palabra de Dios esta se
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        profundamente en los huecos internos de nuestros
        corazones, y Dios está
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        desde el cielo a hacer algo. El profeta Jeremías confirma esto en
        Jeremías 1:12 “… yo vigilo sobre mi palabra para ponerla por obra”.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        3. La palabra de Dios es
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        . Hebreros 4:12 “La palabra de Dios es viva...” La Palabra de Dios tiene
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        . Cada vez que confesamos la Palabra de Dios estamos anunciando vida sobre nuestra situación.
        Jesús resucitó a Lázaro mediante la Palabra. Él sanó a los enfermos por la Palabra.
        <br>
        4. La palabra de Dios es activa. Hebreos 4:12 “La palabra de Dios es viva y eficaz...”. Así como la palabra de
        Dios trabajó tan poderosamente durante la creación, su poder no ha cambiado. Aún está funcionando. La palabra de
        Dios es Dios en acción. La palabra de Dios no es pasiva. Es activa porque es la palabra para
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        . Es
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        en su poder y
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        en sus resultados.
      </p>
    </ion-slide>

    <ion-slide>

      <p>

        5. La palabra de Dios es afilada. Es la única cosa que puede ir donde nadie más puede ir y puede hacer lo que
        nadie más puede hacer. Perfora incluso la división del alma y el espíritu. No hay
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        tan filoso
        en la tierra que tenga la habilidad de hacer esto. Cuando confiesas la palabra de Dios esta penetra en cada área
        de la vida, sana cualquier enfermedad, salva cada alma, cambia cualquier condición y transforma cada vida.
        <br>
      </p>

      <p>
        6. La palabra de Dios
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        resultados. Isaías 55:11 “así será mi palabra que sale de mi boca: no
        volverá a mí vacía, sino que hará lo que yo quiero y será prosperada en aquello para lo cual la envié. La
        palabra contiene poder
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        para lograr resultados inimaginables. Es el poder de Dios mismo
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        lo que solamente Él puede hacer. Confesar la Palabra de Dios sobre la situación
        simplemente significa hablar el resultado deseado sobre lo que nos afecta.
        <br>
      </p>


    </ion-slide>
    <ion-slide>

      <p>

        7. La palabra de Dios incrementa la
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        . Romanos 10:17 “Así que la fe es por el oír, y el oír,
        por la palabra de Dios”. No hay fe sin
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        . La confesión es el camino de expresión de la fe. La fe
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        con la confesión.
        <br>
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        8. La palabra de Dios
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        montañas. En Marcos 11:23 Jesús dice “De cierto os digo que cualquiera que
        diga a este monte: “Quítate y arrójate en el mar”, y no duda en su corazón, sino que cree que será hecho lo que
        dice, lo que diga le será hecho”. Si decimos que no podemos hacer algo, entonces por supuesto que no podremos.
        Pero si decimos que podemos, entonces podremos. De acuerdo con Marcos 11:23 podemos tener lo que sea que digamos
        y
        confesemos, ya sea creer o dudar, éxito o fracaso, enfermedad o salud. La razón por la cual la mayoría de
        cristianos son débiles, a pesar de que son sinceros, es porque nunca se han atrevido a hacer una confesión de lo
        que son en Cristo.
        <br>
        9. La palabra de Dios es un
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        . David dijo en el salmo 119:89 “Para siempre, Jehová,
        permanece tu palabra en los cielos”. La palabra de Dios está por siempre establecida en el cielo, nada la puede
        cambiar y nada la puede mover. Siempre tendrá su camino.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        10. La palabra de Dios es
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        el resultado final para que venga a existencia. David confesó el
        resultado deseado a existencia, él no fue movido por lo que vio. Sabía que Dios cuidaba su palabra para ponerla
        en acción, y así hizo Dios. Esto se evidencia en la enseñanza del Nuevo Testamento en 2 Corintios 5:7 de que
        caminamos por fe y no por vista. Si David hubiera permitido que su pensamiento fuera dominado por lo que vio,
        como pasó con Saúl y sus hombres, entonces también hubiera sido derrotado.
      </p>




    </ion-slide>
    <ion-slide>

      <p>Pero su mente permaneció en Dios
        poniendo en acción Su palabra, y en su mente su victoria sobre Goliat nunca estuvo en duda: Dios lo iba a hacer
        por él, y así fue. Pon atención a lo que dice en 1 Samuel 17:47 “Y toda esta congregación sabrá que Jehová no
        salva con espada ni con lanza, porque de Jehová es la batalla y él os entregará en nuestras manos”. ¡Tenemos que
        recordar esto! Una vez que hablamos la Palabra de Dios sobre nuestra situación, Dios se pone a cargo y pelea la
        batalla a través de nosotros. Aún tenemos trabajo que hacer, pero estamos seguros de la victoria.</p>

    </ion-slide>

    <ion-slide>
      <p>
      </p>
      <b>
        Hagamos algunas confesiones
      </b>
      <p>
        1. Nunca más confesaré que no puedo, porque “todo lo puedo en Cristo que me fortalece” (Filipenses 4:13).
        <br>
        2. Nunca más confesaré que tengo miedo, porque “No me ha dado Dios espíritu de cobardía, sino de poder, amor y
        dominio propio”. (2 Timoteo 1:7)
        <br>
        3. Nunca más confesaré derrota, porque “Dios siempre me hace triunfar en Cristo Jesús” (2 Corintios 2:14; 1 Juan
        5:4-5)
        <br>
        4. Nunca más confesaré enfermedad, porque “el fue herido por mis transgresiones, golpeado por mis iniquidades…
        Por darnos la paz, cayó sobre él el castigo, y por sus llagas fuimos nosotros curados” (Isaías 53:4-5)
        <br>
        5. Nunca más confesaré que me falta algo, porque “Mi Dios, pues, suplirá todo lo que os falta conforme a sus
        riquezas en gloria en Cristo Jesús”. (Filipenses 4:19)
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        6. Nunca más confesaré duda o falta de fe, porque Dios ha entregado una “…medida de fe que a cada uno”. (Romanos
        12:3)
        <br>
        7. Nunca más confesaré incapacidad para conquistar el pecado en mi vida pues “ porque la ley del Espíritu de
        vida en Cristo Jesús me ha librado de la ley del pecado y de la muerte”. (Romanos 8:2)
        <br>
        8. Nunca más confesaré esterilidad porque “Él hace habitar en familia a la estéril que se goza en ser madre de
        hijos”. (Salmo 113:9)
        <br>
        9. Nunca más confesaré que estoy descontento porque “…pues he aprendido a contentarme, cualquiera que sea mi
        situación”. (Filipenses 4:11)
        <br>
        10. Nunca más confesaré sentimiento de culpabilidad, porque “Ahora, pues, ninguna condenación hay para los que
        están en Cristo Jesús, los que no andan conforme a la carne, sino conforme al Espíritu”. (Romanos 8:1)

      </p>

    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
