<!--
  Generated template for the Cuestionario36Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Entendiendo la unción
      </b>

      <p>Nuestros ministerios deben operar en la unción del Espíritu Santo, de lo contrario todo lo que tenemos es
        religión muerta.</p>
    </ion-slide>

    <ion-slide>
      <b>La palabra ungida</b>
      <p>• Juan 6:63 “El espíritu es el que da vida; la carne para nada aprovecha. Las palabras que yo os he hablado son
        espíritu y son vida”. </p>
      <p>• Hebreos 4:12 “La palabra de Dios es viva, eficaz y más cortante que toda espada de dos filos: penetra hasta
        partir el alma y el espíritu,
        las coyunturas y los tuétanos, y discierne los pensamientos y las intenciones del corazón”</p>
      <p>• 1 Tesalonicenses 1:5 “pues nuestro evangelio no llegó a vosotros en palabras solamente, sino también en
        poder,
        en el Espíritu Santo y en plena certidumbre. Bien sabéis cómo nos portamos entre vosotros por amor de
        vosotros”.</p>
    </ion-slide>

    <ion-slide>
      <p>• Marcos 16:20 “Ellos, saliendo, predicaron en todas partes, ayudándolos el Señor y confirmando la palabra con
        las señales que la acompañaban. Amén”.</p>
      <p>• La <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        acompañará la predicación y la enseñanza de la Palabra de Dios.</p>
      <p>• La unción está en la <label class="respuesta corta" [style.color]="respuestas[1].color"
                                       (click)="openActionSheet('1')">{{respuestas[1].text}}</label>.</p>
      <p>• El <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        de Dios está en Su palabra.</p>
      <p>• Romanos 1:16 “ No me avergüenzo del evangelio, porque es poder de Dios para salvación de todo aquel que cree,
        del judío primeramente y también del griego”</p>
      <p>• La unción de Dios es <label class="respuesta corta" [style.color]="respuestas[3].color"
                                       (click)="openActionSheet('3')">{{respuestas[3].text}}</label> mediante la
        predicación del evangelio de Cristo.</p>
    </ion-slide>

    <ion-slide>
      <b>Hay una unción para</b>
      <p>• <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        a los enfermos.</p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        fuera demonios. </p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        el evangelio de Cristo.</p>
      <p>• Llamar al <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>.
      </p>
      <p>• Ganar a los <label class="respuesta corta" [style.color]="respuestas[8].color"
                              (click)="openActionSheet('8')">{{respuestas[8].text}}</label> para Jesús.</p>
      <p>• Enseñar la Biblia con conocimiento <label class="respuesta corta" [style.color]="respuestas[9].color"
                                                     (click)="openActionSheet('9')">{{respuestas[9].text}}</label>.</p>
      <p>• 1 Corintios 2:4-5 “y ni mi palabra ni mi predicación fueron con palabras persuasivas de humana sabiduría,
        sino con demostración del Espíritu y de poder, 5 para que vuestra fe no esté fundada en la sabiduría de los
        hombres, sino en el poder de Dios” </p>
      <p>• Pablo estuvo ungido para predicar y <label class="respuesta corta" [style.color]="respuestas[10].color"
                                                      (click)="openActionSheet('10')">{{respuestas[10].text}}</label> el
        Evangelio. </p>
    </ion-slide>

    <ion-slide>
      <b>¿Qué es la unción?</b>
      <p>• La unción no es la fortaleza <label class="respuesta corta" [style.color]="respuestas[11].color"
                                               (click)="openActionSheet('11')">{{respuestas[11].text}}</label> o
        habilidad natural.</p>
      <p>• La unción es la <label class="respuesta corta" [style.color]="respuestas[12].color"
                                  (click)="openActionSheet('12')">{{respuestas[12].text}}</label> y el poder de Dios.
      </p>
      <p>• La unción es el <label class="respuesta corta" [style.color]="respuestas[13].color"
                                  (click)="openActionSheet('13')">{{respuestas[13].text}}</label> espiritual para
        completar el trabajo. </p>
      <p>• Son las <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        de Dios llevar a cabo el trabajo.</p>
      <p>• La unción es la <label class="respuesta corta" [style.color]="respuestas[15].color"
                                  (click)="openActionSheet('15')">{{respuestas[15].text}}</label> supernatural que Dios
        te da para que fluyas
        y <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        en tus áreas de ministerio.</p>
    </ion-slide>

    <ion-slide>
      <p>• Cuando Dios te llama, Él te <label class="respuesta corta" [style.color]="respuestas[17].color"
                                              (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        y te equipa con Su <label class="respuesta corta" [style.color]="respuestas[18].color"
                                  (click)="openActionSheet('18')">{{respuestas[18].text}}</label>. La unción de Dios es
        la energía supernatural de Dios.
        Es el <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        divino de Dios.</p>
      <p>• La Biblia dice acerca de Jesús, en Lucas 4:18, que él era </p>
      <p>- Ungido para <label class="respuesta corta" [style.color]="respuestas[20].color"
                              (click)="openActionSheet('20')">{{respuestas[20].text}}</label>. <br>
        - Ungido para <label class="respuesta corta" [style.color]="respuestas[21].color"
                             (click)="openActionSheet('21')">{{respuestas[21].text}}</label>. <br>
        - Ungido para <label class="respuesta corta" [style.color]="respuestas[22].color"
                             (click)="openActionSheet('22')">{{respuestas[22].text}}</label>. <br>
        - Ungido para poner a las personas en <label class="respuesta corta" [style.color]="respuestas[23].color"
                                                     (click)="openActionSheet('23')">{{respuestas[23].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• En otras palabras, debe ser el <label class="respuesta corta" [style.color]="respuestas[24].color"
                                                 (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        de Dios quien te unge para <label class="respuesta corta" [style.color]="respuestas[25].color"
                                          (click)="openActionSheet('25')">{{respuestas[25].text}}</label> algo. Como ves
        hay <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        unciones envueltas. </p>
      <p>Hechos 10:38 “cómo Dios ungió con el Espíritu Santo y con poder a Jesús de Nazaret, y cómo éste anduvo haciendo
        bienes y sanando a todos los oprimidos por el diablo, porque Dios estaba con él”.</p>
      <p>• El ser humano fue ungido con el <label class="respuesta corta" [style.color]="respuestas[27].color"
                                                  (click)="openActionSheet('27')">{{respuestas[27].text}}</label> y
        poder. Se le entregó una unción
        de <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        para sanar al enfermo. </p>
    </ion-slide>

    <ion-slide>
      <p>• Hebreos 1:9 “Has amado la justicia y odiado la maldad, por lo cual te ungió Dios, el Dios tuyo, con óleo de
        alegría más que a tus compañeros”</p>
      <p>• Jesús fue señalado con el aceite de <label class="respuesta corta" [style.color]="respuestas[29].color"
                                                      (click)="openActionSheet('29')">{{respuestas[29].text}}</label>.
      </p>
      <p>• Entonces, definitivamente, hay <label class="respuesta corta" [style.color]="respuestas[30].color"
                                                 (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        unciones. Varias unciones para personas específicas. </p>
    </ion-slide>

    <ion-slide>
      <b>Tres unciones del Antiguo Testamento</b>
      <p>- La unción del <label class="respuesta corta" [style.color]="respuestas[31].color"
                                (click)="openActionSheet('31')">{{respuestas[31].text}}</label>. </p>
      <p>- La unción del <label class="respuesta corta" [style.color]="respuestas[32].color"
                                (click)="openActionSheet('32')">{{respuestas[32].text}}</label>. </p>
      <p>- La unción de los <label class="respuesta corta" [style.color]="respuestas[33].color"
                                   (click)="openActionSheet('33')">{{respuestas[33].text}}</label>. </p>
      <p>1 Reyes 19:15 – 16 “15 Jehová le dijo: —Ve, vuelve por el mismo camino, hacia el desierto de Damasco. Llegarás
        y ungirás a Hazael como rey de Siria. 16 A Jehú hijo de Nimsi lo ungirás como rey de Israel, y a Eliseo hijo de
        Safat, de Abel-mehola, lo ungirás como profeta para que ocupe tu lugar”. </p>
    </ion-slide>

    <ion-slide>
      <p>Éxodo 30:30 “30 Ungirás también a Aarón y a sus hijos, y los consagrarás para que sean mis sacerdotes”.</p>
      <p>• La unción de Dios es el Espíritu Santo <label class="respuesta corta" [style.color]="respuestas[34].color"
                                                         (click)="openActionSheet('34')">{{respuestas[34].text}}</label>,
        revelándose y
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        en el ámbito natural. </p>
      <p>• La unción es la <label class="respuesta corta" [style.color]="respuestas[36].color"
                                  (click)="openActionSheet('36')">{{respuestas[36].text}}</label> de Jesús fluyendo en y
        a través de ti como ministro de la palabra de Dios para las personas. </p>
      <p>• Todos los <label class="respuesta corta" [style.color]="respuestas[37].color"
                            (click)="openActionSheet('37')">{{respuestas[37].text}}</label> en el Antiguo Testamento
        fueron liberados y
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        por la unción de Dios. </p>

    </ion-slide>

    <ion-slide>
      <b>La unción en la vida de Jesús </b>
      <p>• Si estudias la unción de Dios en el <label class="respuesta corta" [style.color]="respuestas[39].color"
                                                      (click)="openActionSheet('39')">{{respuestas[39].text}}</label> de
        Jesús te das cuenta de que el
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        del ministerio fue sanar a los enfermos y sacar fuera demonios. Eso lo hace importante.</p>
      <p>• Hechos 10:38 “cómo Dios ungió con el Espíritu Santo y con poder a Jesús de Nazaret, y cómo éste anduvo
        haciendo
        bienes y sanando a todos los oprimidos por el diablo, porque Dios estaba con él”.</p>
      <p>Jesús dijo “he venido a <label class="respuesta corta" [style.color]="respuestas[41].color"
                                        (click)="openActionSheet('41')">{{respuestas[41].text}}</label> la voluntad de
        mi Padre”. </p>
    </ion-slide>

    <ion-slide>
      <p>Él dijo “las palabras que hablo son palabras del <label class="respuesta corta"
                                                                 [style.color]="respuestas[42].color"
                                                                 (click)="openActionSheet('42')">{{respuestas[42].text}}</label>”.
      </p>
      <p>Él dijo “si me has <label class="respuesta corta" [style.color]="respuestas[43].color"
                                   (click)="openActionSheet('43')">{{respuestas[43].text}}</label> a mi, entonces has
        visto al Padre”.</p>
      <p>Él dijo “el <label class="respuesta corta" [style.color]="respuestas[44].color"
                            (click)="openActionSheet('44')">{{respuestas[44].text}}</label> que yo hago son las obras de
        mi Padre”</p>
      <p>- La unción es para <label class="respuesta corta" [style.color]="respuestas[45].color"
                                    (click)="openActionSheet('45')">{{respuestas[45].text}}</label> <br>
        - La unción siempre trae <label class="respuesta corta" [style.color]="respuestas[46].color"
                                        (click)="openActionSheet('46')">{{respuestas[46].text}}</label> y libertad. <br>
        - La unción es <label class="respuesta corta" [style.color]="respuestas[47].color"
                              (click)="openActionSheet('47')">{{respuestas[47].text}}</label> y transferible. Se puede
        sentir.
      </p>
    </ion-slide>

    <ion-slide>
      <b>La unción del creyente</b>
      <p>Juan 17:18 “18 Como tú me enviaste al mundo, así yo los he enviado al mundo”</p>
      <p>• Aquí Jesús ora al Padre por todos los <label class="respuesta corta" [style.color]="respuestas[48].color"
                                                        (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        del Nuevo Testamento. “Como me enviaste, yo los envío”. </p>
      <p>• ¿Cómo fue Jesús enviado? ¿Cómo estaba Jesús equipado?</p>
      <p>Hechos 10:38 “cómo Dios ungió con el Espíritu Santo y con poder a Jesús de Nazaret, y cómo éste anduvo haciendo
        bienes y sanando a todos los oprimidos por el diablo, porque Dios estaba con él” </p>
    </ion-slide>

    <ion-slide>
      <p>• Así que, Jesús puso la misma <label class="respuesta corta" [style.color]="respuestas[49].color"
                                               (click)="openActionSheet('49')">{{respuestas[49].text}}</label> en sus
        discípulos que el Padre había puesto en Él. </p>
      <p>• Como discípulos del Nuevo Testamento a todos nosotros se nos ha entregado y estamos equipados como
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        de la misma unción que Jesús tuvo. (Juan 17:18; Juan 17:22)</p>
      <p>• Dios estaba con <label class="respuesta corta" [style.color]="respuestas[51].color"
                                  (click)="openActionSheet('51')">{{respuestas[51].text}}</label> y Dios está con
        nosotros.</p>
      <p>• El <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        Espíritu Santo que estaba con Jesús, es el mismo Espíritu Santo que
        <label class="respuesta corta" [style.color]="respuestas[53].color" (click)="openActionSheet('53')">{{respuestas[53].text}}</label>
        en nosotros los creyentes.</p>
    </ion-slide>

    <ion-slide>
      <p>• La unción, la virtud, y el <label class="respuesta corta" [style.color]="respuestas[54].color"
                                             (click)="openActionSheet('54')">{{respuestas[54].text}}</label> que estaban
        dentro de Jesús, ahora están en nosotros como
        creyentes. Eres un <label class="respuesta corta" [style.color]="respuestas[55].color"
                                  (click)="openActionSheet('55')">{{respuestas[55].text}}</label> de la unción de Dios.
        1 Corintios 2:4-5 “4 y ni mi palabra ni mi p
        redicación fueron con palabras persuasivas de humana sabiduría, sino con demostración del Espíritu y de poder,
        5 para que vuestra fe no esté fundada en la sabiduría de los hombres, sino en el poder de Dios”. 1 Corintios
        4:20
        “pues el reino de Dios no consiste en palabras, sino en poder”.</p>
      <p>• La manifestación del poder de Dios y la demostración <label class="respuesta corta"
                                                                       [style.color]="respuestas[56].color"
                                                                       (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        de la unción de sanidad de
        Dios es <label class="respuesta corta" [style.color]="respuestas[57].color" (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        en la actualidad para la iglesia porque da una
        <label class="respuesta corta" [style.color]="respuestas[58].color" (click)="openActionSheet('58')">{{respuestas[58].text}}</label>
        real de que Jesucristo está vivo.</p>
    </ion-slide>

    <ion-slide>
      <b>El cristianismo no es solo un mensaje, es también un ministerio de milagros</b>
      <p>Hechos 4:33 “Y con gran poder los apóstoles daban testimonio de la resurrección del Señor Jesús, y abundante
        gracia era sobre todos ellos”.</p>
      <p>1. Gran poder. Siempre la <label class="respuesta corta" [style.color]="respuestas[59].color"
                                          (click)="openActionSheet('59')">{{respuestas[59].text}}</label> de Dios es que
        Su poder se manifieste en sanidades y milagros.</p>
      <p>2. Testigos. La unción <label class="respuesta corta" [style.color]="respuestas[60].color"
                                       (click)="openActionSheet('60')">{{respuestas[60].text}}</label> es para dar
        evidencia y ser testigos de que la Biblia es verdadera y que Jesús está vivo.</p>
      <p>3. Gran gracia. Estaba sobre los <label class="respuesta corta" [style.color]="respuestas[61].color"
                                                 (click)="openActionSheet('61')">{{respuestas[61].text}}</label> del
        Nuevo Testamento La gracia es el
        <label class="respuesta corta" [style.color]="respuestas[62].color" (click)="openActionSheet('62')">{{respuestas[62].text}}</label>
        divino para hacer el trabajo de Dios.</p>
    </ion-slide>

    <ion-slide>
      <b>La necesidad de aceite fresco</b>
      <p>• ¿Qué sucede cuando te enfrentas a una <label class="respuesta corta" [style.color]="respuestas[63].color"
                                                        (click)="openActionSheet('63')">{{respuestas[63].text}}</label>
        en tu vida cristiana o en tu ministerio?</p>
      <p>• Aún estás viviendo para Dios, aún estás <label class="respuesta corta" [style.color]="respuestas[64].color"
                                                          (click)="openActionSheet('64')">{{respuestas[64].text}}</label>,
        aún estás leyendo tu Biblia, aún estás cantando cánticos,
        aún estás <label class="respuesta corta" [style.color]="respuestas[65].color" (click)="openActionSheet('65')">{{respuestas[65].text}}</label>
        los domingos, etc. </p>
      <p>• Se ha convertido en un <label class="respuesta corta" [style.color]="respuestas[66].color"
                                         (click)="openActionSheet('66')">{{respuestas[66].text}}</label>, te sientes
        seco, plano. Has perdido tu arista más vanguardista.
        Estás rancio. Estás <label class="respuesta corta" [style.color]="respuestas[67].color"
                                   (click)="openActionSheet('67')">{{respuestas[67].text}}</label>, aburrido y duro.
      </p>
    </ion-slide>

    <ion-slide>
      <p>¿Por qué? ¿Qué es lo que es? ¿Qué pasó?</p>
      <p>Es falta de aceite <label class="respuesta corta" [style.color]="respuestas[68].color"
                                   (click)="openActionSheet('68')">{{respuestas[68].text}}</label>. </p>
      <p>Salmo 92:10 “Pero tú aumentarás mis fuerzas como las del toro salvaje; seré ungido con aceite fresco”.</p>
      <p>• No podemos <label class="respuesta corta" [style.color]="respuestas[69].color"
                             (click)="openActionSheet('69')">{{respuestas[69].text}}</label> en el pan de ayer y en la
        victoria de la semana anterior o el
        <label class="respuesta corta" [style.color]="respuestas[70].color" (click)="openActionSheet('70')">{{respuestas[70].text}}</label>
        del año anterior. </p>
      <p>• Cada día necesitamos pan <label class="respuesta corta" [style.color]="respuestas[71].color"
                                           (click)="openActionSheet('71')">{{respuestas[71].text}}</label>, mana fresco,
        unción fresca y un <label class="respuesta corta" [style.color]="respuestas[72].color"
                                  (click)="openActionSheet('72')">{{respuestas[72].text}}</label> fresco de Dios en
        nuestras vidas.
        Debes recibir una <label class="respuesta corta" [style.color]="respuestas[73].color"
                                 (click)="openActionSheet('73')">{{respuestas[73].text}}</label> fresco del Espíritu
        Santo cada día. (Efesios 5:18)</p>

    </ion-slide>

    <ion-slide>
      <b>¿Cómo recibir un toque fresco de Dios todos los días?</b>
      <p>1. Una <label class="respuesta corta" [style.color]="respuestas[74].color" (click)="openActionSheet('74')">{{respuestas[74].text}}</label>
        consistente de vida y la comunión diaria con Dios, hambre espiritual. (Isaías 44:3; Oseas 10:11; Judas 1:20)</p>
      <p>2. Viviendo un estilo de vida de <label class="respuesta corta" [style.color]="respuestas[75].color"
                                                 (click)="openActionSheet('75')">{{respuestas[75].text}}</label> y
        santidad (Eclesiastés 9:8)</p>
      <p>3. Invirtiendo tiempo en la lectura, <label class="respuesta corta" [style.color]="respuestas[76].color"
                                                     (click)="openActionSheet('76')">{{respuestas[76].text}}</label> y
        meditación en la Palabra de Dios (Hebreos 4:12) </p>
      <p>4. Siendo un <label class="respuesta corta" [style.color]="respuestas[77].color"
                             (click)="openActionSheet('77')">{{respuestas[77].text}}</label> ferviente (Juan 4:24)</p>
    </ion-slide>

    <ion-slide>
      <p>5. Estando comprometido a caminar en el amor de <label class="respuesta corta"
                                                                [style.color]="respuestas[78].color"
                                                                (click)="openActionSheet('78')">{{respuestas[78].text}}</label>.
        El amor de
        Dios <label class="respuesta corta" [style.color]="respuestas[79].color" (click)="openActionSheet('79')">{{respuestas[79].text}}</label>
        el poder de Dios. (Gálatas 5:6) </p>
      <p>6. Tomando tu lugar en el <label class="respuesta corta" [style.color]="respuestas[80].color"
                                          (click)="openActionSheet('80')">{{respuestas[80].text}}</label> activo para
        Dios y ministrando las necesidades de las personas a tu alrededor. (Lucas 4:18). </p>
      <p>a. Estando lleno del Espíritu Santo vas a tener una unción fresca cada día. <br>
        b. Efesios 5:18-21 “18 No os embriaguéis con vino, en lo cual hay disolución; antes bien sed llenos del
        Espíritu,
        19 hablando entre vosotros con salmos, con himnos y cánticos espirituales, cantando y alabando al Señor en
        vuestros
        corazones; 20 dando siempre gracias por todo al Dios y Padre, en el nombre de nuestro Señor Jesucristo”.
      </p>
    </ion-slide>

    <ion-slide>
      <p>6 Resultados de estar llenos de nuevo</p>
      <p>1. Hablar <label class="respuesta corta" [style.color]="respuestas[81].color" (click)="openActionSheet('81')">{{respuestas[81].text}}</label>
        (poemas espirituales).</p>
      <p>2. <label class="respuesta corta" [style.color]="respuestas[82].color" (click)="openActionSheet('82')">{{respuestas[82].text}}</label>
        canciones espirituales.</p>
      <p>3. Lleno de <label class="respuesta corta" [style.color]="respuestas[83].color"
                            (click)="openActionSheet('83')">{{respuestas[83].text}}</label>.</p>
      <p>4. Lleno de <label class="respuesta corta" [style.color]="respuestas[84].color"
                            (click)="openActionSheet('84')">{{respuestas[84].text}}</label> con Dios. </p>
      <p>5. Caminar en el <label class="respuesta corta" [style.color]="respuestas[85].color"
                                 (click)="openActionSheet('85')">{{respuestas[85].text}}</label> de Dios (en sumisión
        los unos con los otros).</p>
      <p>6. Un testimonio de <label class="respuesta corta" [style.color]="respuestas[86].color"
                                    (click)="openActionSheet('86')">{{respuestas[86].text}}</label>. </p>
    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
