<!--
  Generated template for the Cuestionario7Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b class="">El llamado al discipulado</b>
      <p>
        Escuchar el llamado al discipulado requiere un compromiso total por quien es llamado. Mateo 4:20 dice que de
        inmediato dejaron sus redes y lo siguieron.
      </p>

      </ion-slide>

    <ion-slide>

      <b class="">¿Qué es el llamado?</b>

      <p>
        Un hombre joven dijo “me hice cristiano hace 4 años. Me bauticé, asistí a la iglesia regularmente y traté de
        vivir en el estándar cristiano”.
      </p>

      <p>
        • ¿Ser
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>

        se trata de esto?
      </p>

      <p>
        • ¿De esto se trata ser un seguidor de Jesús?
      </p>
      <p>
        • Hoy muchos se han convertido en cristianos, pero pocos se han convertido en
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
      </p>

      <p>
        • Muchos han iniciado, pero pocos han continuado.
      </p>

      <p>
        • Muchos han puesto sus manos en el arado, pero muchos han visto atrás.
      </p>
    </ion-slide>

    <ion-slide>

      <p>
        • Muchos han respondido al llamado de Jesús “Ven a mí”, pero pocos han
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        la condición de “toma mi yugo”.

      </p>

      <p>
        • Muchos siguen a Jesús como parte de la
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        , pero pocos siguen a Jesús como discípulos devotos. ¿Por
        qué sucede esto? Jesús no solamente nos invita a venir a Él, también nos invita a seguir sus pasos. Su llamado
        es un llamado al discipulado.
      </p>

      <p>
        Lee Mateo 4:18,20
      </p>

      <p>
        • El llamado de Jesús al hombre requirió más que solo seguirlo físicamente. Requirió un cambio completo de vida.
        Demandó
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        total de sus vidas a El.
      </p>

      <p>
        • Esto no los hizo discípulos en ese momento, porque el discipulado es un
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        , es un estilo de
        vida. Cuando obedecieron el llamado de Cristo iniciaron el camino del discipulado.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        • El
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        es ponernos por completo debajo de la autoridad y liderazgo de Jesucristo. Esto es
        lo
        que el verdadero discipulado significa, Jesús nos llamó y nos dijo ven sígueme.
      </p>

      <p>
        • Esto requiere que reconozcamos su
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        sobre nuestras vidas. Vas a querer o no vas a querer, no
        hay
        mitades.
      </p>

      <p>
        Quiero que empecemos un viaje con un estudio para ver qué es lo que significa seguir a Jesús como verdaderos
        discípulos. A medida que escuchas de nuevo el llamado al discipulado, vas a dejar todo y le vas a seguir.
      </p>

      <p>
        • La conversión representa el 5% de la vida cristiana, el otro 95% es la vida con Cristo.
      </p>


    </ion-slide>


    <ion-slide>

      <b>
        ¿Qué tipo de seguidor eres?

      </b>

      <p>
        Mateo 4: 17-25
        <br>
        <sup>17</sup> Desde entonces comenzó Jesús a predicar, y a decir: Arrepentíos, porque el reino de los cielos se
        ha
        acercado. <sup>18</sup> Andando Jesús junto al mar de Galilea, vio a dos hermanos, Simón, llamado Pedro, y
        Andrés
        su
        hermano, que echaban la red en el mar; porque eran pescadores. <sup>19</sup> Y les dijo: Venid en pos de mí, y
        os
        haré
        pescadores de hombres. <sup>20</sup> Ellos entonces, dejando al instante las redes, le siguieron. <sup>21</sup>
        Pasando de allí, vio a
        otros dos hermanos, Jacobo hijo de Zebedeo, y Juan su hermano, en la barca con Zebedeo su padre, que remendaban
        sus redes; y los llamó.

      </p>
    </ion-slide>
      <ion-slide>

<p>

        <sup>22</sup> Y ellos, dejando al instante la barca y a su padre, le siguieron.
        <sup>23</sup>
        Y recorrió Jesús
        toda Galilea, enseñando en las sinagogas de ellos, y predicando el evangelio del reino, y sanando toda
        enfermedad y toda dolencia en el pueblo.<sup>24</sup> Y se difundió su fama por toda Siria; y le trajeron todos
        los
        que
        tenían dolencias, los afligidos por diversas enfermedades y tormentos, los endemoniados, lunáticos y
        paralíticos; y los sanó. <sup>25</sup> Y le siguió mucha gente de Galilea, de Decápolis, de Jerusalén, de Judea
        y
        del otro
        lado del Jordán.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • A cualquier lugar al que vayas hoy te encontrarás con personas que dicen “Sí, yo soy cristiano. Voy a la
        iglesia, sigo el cristianismo, creo en la Biblia”. ¿Son todos los cristianos discípulos de Cristo? En los días
        de
        Jesús muchas personas lo seguían pero solo unos cuantos eran verdaderos discípulos.
      </p>
      <p>
        • La palabra seguir como es usada en el Nuevo Testamento tiene 4 significados, pero solo uno de estos 4
        significados hacía referencia el verdadero discipulado.
      </p>

    </ion-slide>
    <ion-slide>



      <b class="">1. Las multitudes (Mateo 4:25) </b>

      <p>
        • A cualquier lugar que Jesús iba grandes multitudes le
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        .
      </p>
      <p>
        • Querían escuchar sus enseñanzas, ver sus milagros o recibir sanidad.
      </p>
      <p>
        • Lo seguían por lo que
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        que El haría por ellos.
      </p>
      <p>
        • Lo seguían por razones
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        .
      </p>
      <p>
        • El seguimiento era externo.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • No había un verdadero
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        de vida en ellos.
      </p>
      <p>
        • No había un compromiso de Jesús como Señor.
      </p>
      <p>
        • Cuando se les colocaban las verdaderas demandas del discipulado, ellos rápidamente se
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        .
      </p>

      <p>¿Puedes llamar a estos seguidores verdaderos discípulos? ¡Absolutamente no!</p>
    </ion-slide>

      <ion-slide>
      <b class="">2. Recolectores de impuestos y pecadores (Marcos 2: 15)</b>

      <p>
        • También había un grupo
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        y de personas inmorales que siguieron a Jesús.
      </p>
      <p>
        • Ellos respondieron al amor que El les mostró.
      </p>
      <p>
        • Ellos sabían que Jesús
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        sus problemas, que el podía cubrir las necesidades que tenían y
        restaurar sus vidas destrozadas.
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        • Pero aún no habían cortado con su estilo de vida de
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        .
      </p>
      <p>
        • Ellos estaban buscando, pero no habían encontrado.
      </p>
      <p>
        • No habían obedecido el mandamiento de Cristo de
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        y creer.
      </p>
      <p>
        ¿Puedes llamar a estos seguidores verdaderos discípulos? ¡Absolutamente no!
      </p>
      <b class="">
        3. Los restaurados. (Lucas 18: 41-43)
      </b>
      <p>
        • Algunos siguieron a Jesús porque El les había
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        o les había ayudado de alguna manera
        especial.
      </p>
      <p>
        • Lo siguieron producto de un profundo sentido de
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        por lo que El había hecho por ellos (Marcos 5:15,20)
      </p>

    </ion-slide>


    <ion-slide>

      <p>
        • Tal vez también lo siguieron producto de un sentido de
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        . Se sintieron en deuda con El y de
        alguna manera querían pagarle por su bondad.
      </p>
      <p>
        ¿Puedes llamar a estos seguidores verdaderos discípulos? ¡Absolutamente no!
      </p>
      <b class="">
        4. Los Doce. (Mateo 4:18-22). Este fue el grupo más
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        que siguió a Jesús.
      </b>
      <p>
        • Ellos no lo siguieron por razones personales (como las multitudes) o por sus pecados y fallas como los
        cobradores de impuestos y pecadores, o incluso porque estaban agradecidos con Jesús (como los restaurados).
        Simplemente siguieron a Jesús porque Él les había
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        que le siguieran y ellos obedecieron.
        Ellos
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        la autoridad de Jesús y el derecho para gobernar sus vidas. ¿Puedes llamar a dichos
        seguidores discípulos?
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        • Muchos tipos de personas diferentes siguieron a Jesús por razones diferentes.
        Estos mismos 4 tipos de seguidores todavía se ven en la actualidad. ¿Pero cuál seguidor es un verdadero
        discípulo?
        ¿Qué tipo de seguidor eres tú?
      </p>

      <p>

      </p>
    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
