<!--
  Generated template for the Cuestionario19Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Caminando por Fe</b>

      <p>
        La fe es la marca de un discípulo de Jesucristo. Los primeros discípulos fueron conocidos como creyentes. La fe
        significa total dependencia de Dios. La incredulidad significa independencia. La dependencia en Dios se llama
        Fe. Dios coloca una alta prioridad en la fe. La fe es el camino por el cual entramos en una relación con Dios.
        La fe te mueve de tus capacidades limitadas a las capacidades ilimitadas de Dios. (Es movernos de la
        in-habilidad a Su habilidad). Este es el camino de fe al cual todos somos llamados, donde nada es imposible.
      </p>

    </ion-slide>

    <ion-slide>

      <b>
        ¿Qué es la fe?
      </b>
      <p>
        Hebreos 11:1 “Es, pues, la fe la certeza de lo que se espera, la convicción de lo que no se ve”
        <br>
        • La fe es la acción obediente en respuesta a lo que Dios ha dicho.
        <br>
        • La fe significa tener confianza, seguridad y certeza en una persona o en las palabras de una persona. Es el
        abandono de nuestra fuente de conocimiento limitada a la dependencia en la fuente ilimitada de conocimiento de
        Dios. En Gálatas 2:20 Pablo dice “ Con Cristo estoy juntamente crucificado, y ya no vivo yo, mas vive Cristo en
        mí; y lo que ahora vivo en la carne, lo vivo en la fe del Hijo de Dios, el cual me amó y se entregó a sí mismo
        por
        mí”.
        <br>
        • 2 Corintios 5:7 “Caminamos por fe y no por vista”.
        <br>
        • La revelación viene por meditar en la palabra de Dios. Es el intercambio de la auto confianza a la confianza
        en
        Dios. Esto es lo que envuelve la fe.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Dos tipos de conocimiento son la fuente de la fe
      </b>
      <p>
        1. Uno es el conocimiento que viene
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        al ser humano a través de sus 5
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        y sus
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        naturales.
        2. El otro conocimiento viene por
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        que es recibida a través del
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        del ser humano
        alimentado por la verdad de la palabra de Dios, que es descrita como la
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        de Dios.
      </p>

    </ion-slide>


    <ion-slide>

      <b>
        ¿Cuál es la base de la fe?
      </b>
      <p>
        La base para tener fe en Dios está en tres realidades importantes:
        1. La naturaleza de Dios
        • Dios no puede cambiar (Mal 3:6). Un creyente puede costear caminar por fe por la inmutabilidad de Dios y de su
        carácter. Dios es
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        y lo que Él dice, Él siempre
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        . Siempre se puede confiar
        en Dios, así que no importa lo que te esté sucediendo, nada puede
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        a Dios y Sus promesas.
        <br>
        • Dios no puede fallar (1 Crónicas 28:20). Dios, por naturaleza nunca puede
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        en ninguna situación
        <br>
        o por ningún lado, y cuando colocas tu fe en eso, nunca serás
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        .
        <br>
        • Dios no puede mentir (Números 23:19) ¡Dios es absolutamente verdadero! Tener fe en esa naturaleza hace que
        camines valientemente.
      </p>


    </ion-slide>

    <ion-slide>

      <p>
        <br>
        • El trabajo de redención del Hijo de Dios. Hebreos 12:2 Cristo se ha convertido en la
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        de nuestra
        fe en Dios. El hecho de su muerte y resurrección proveen una base para nuestra creencia. Colocar nuestra fe en
        su trabajo de redención y en el poder de Su sangre nos da la
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        sobre el pecado y las
        tentaciones.
        <br>
        • La Palabra de Dios. Mateo 24:25. La Palabra de Dios se sostiene
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        . La fe viene cuando Dios nos
        trae una palabra de todo lo que ha dicho específicamente para nuestras circunstancias. Hablada de esta manera,
        la palabra de Dios se hace viva en nosotros
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        nuestra fe. La palabra de Dios es la palabra de
        Fe. Es la única cosa que
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        fe y libera fe y nos anima a caminar por fe cuando todo lo demás falla.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Cómo trabaja la fe?
      </b>
      <p>
        1. La fe viene por una palabra de Dios (Romanos 10:17). Primero Dios nos
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        al hablarnos una palabra
        relevante a nuestra circunstancia. Esto viene a medida que lees tu Biblia o escuchas la voz del Espíritu Santo
        dentro de tu espíritu.
        <br>
        2. Obediencia a la Palabra de Dios (Santiago 2:17). La mayoría de las promesas de Dios son condicionales, si
        hacemos esta parte, necesitamos tener la fe a pesar de la situación que atravesemos, y debemos
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        la palabra de Dios. La fe es activa, no pasiva. La fe trabaja, se mueve, sacude y da resultados.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        La crisis o la prueba de fe
      </b>
      <p>
        Este es un periodo para
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        . Todo lo que pasa a nuestro alrededor parece
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        a lo que
        Dios ha dicho y parece que no hay una evidencia natural a nuestra creencia. En este punto nuestra fe descansa
        completamente en la
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        de Dios. En fe nos damos a Su fidelidad. En tiempos de duda o de lucha, Dios
        es fiel y no nos
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        . (Hebreos 13:5)
      </p>
      <b>
        El Resultado
      </b>
      <p>
        El resultado final siempre será la victoria del creyente dando gloria a Dios (1 Juan 5:4).
      </p>

    </ion-slide>



  </ion-slides>
</ion-content>
<ion-footer >
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
