<!--
  Generated template for the Cuestionario46Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Cómo empezar un grupo celular
      </b>

      <p>La Biblia le recuerda a cada creyente la importancia de reunirnos todos. No hay otro método efectivo para
        reunirse
        y animarse el uno al otro en un manera más personal y colaborativa como con los grupos pequeños. Es aquí donde
        se
        forjan las relaciones cercanas, y hay un sentido de responsabilidad de la vida espiritual del uno por el otro.
        El
        grupo celular no solamente provee un lugar informal de reunión, también es una atmósfera amigable para los
        nuevos
        cristianos y para quienes buscan. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Una mirada más cercana a las células del cuerpo y sus funciones</b>
      <p>• La <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        (del latín cella que significa pequeña habitación) es la unidad estructural básica de función biológica de todos
        los organismos vivientes. </p>
      <p>• Una célula es la unidad más pequeña de <label class="respuesta corta" [style.color]="respuestas[1].color"
                                                         (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        que se puede replicar independientemente, y a las células a menudo se les llama los bloques constructores de
        vida. </p>
      <p>• El cuerpo humano está compuesto de trillones de células. Ellas proveen la <label class="respuesta corta"
                                                                                            [style.color]="respuestas[2].color"
                                                                                            (click)="openActionSheet('2')">{{respuestas[2].text}}</label>)
        para el cuerpo,
        toman nutrientes de la comida, convierten esos nutrientes en energía y llevan a cabo funciones especializadas.
        Las células también contienen material <label class="respuesta corta" [style.color]="respuestas[3].color"
                                                      (click)="openActionSheet('3')">{{respuestas[3].text}}</label> del
        cuerpo y pueden hacer copias de ellas mismas.
        Las células tienen muchas partes, cada una con una función. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">¿Por qué le llamamos a nuestros grupos pequeños células?</b>
      <p>• Así como las células en el cuerpo humano son los bloques de vida básicos, la
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        de la
        iglesia está en los grupos celulares.</p>
      <p>• Un miembro de la iglesia solamente puede <label class="respuesta corta" [style.color]="respuestas[5].color"
                                                           (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        bien dentro del cuerpo local llamado iglesia si es
        un miembro <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        de una célula.</p>
      <p>• La célula es la unidad más <label class="respuesta corta" [style.color]="respuestas[7].color"
                                             (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        de vida en el cuerpo humano. Un grupo celular a menudo se
        llama grupo pequeño porque entre más pequeño es el grupo más fácil y mejor es para los miembros conocerse,
        relacionarse y crecer juntos entre ellos en el conocimiento de Cristo. </p>
    </ion-slide>

    <ion-slide>
      <p>• Las células humanas se <label class="respuesta corta" [style.color]="respuestas[8].color"
                                         (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        independientemente, esto significa que ellas se multiplican y
        producen nuevas células por su propia cuenta. Esto también es lo que tiene que suceder en un grupo celular,
        multiplicación y reproducción. El crecimiento de la iglesia y la multiplicación de la célula corren
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        la una con la otra.</p>
      <p>• Así como la célula humana contiene el material hereditario que hace a una persona humana, el grupo celular
        también contiene el <label class="respuesta corta" [style.color]="respuestas[10].color"
                                   (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        de la visión de la iglesia. Así que perderse del grupo celular es
        privarse del material base de la iglesia. </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Algunos conocimientos de los grupos celulares</b>
      <p>• El grupo celular es una estructura <label class="respuesta corta" [style.color]="respuestas[11].color"
                                                     (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        del cuerpo de Cristo que permite relaciones <label class="respuesta corta" [style.color]="respuestas[12].color"
                                                           (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        entre personas y Dios, y también hay un intento <label class="respuesta corta"
                                                               [style.color]="respuestas[13].color"
                                                               (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        de forjar una relación más cercana los unos con los otros.</p>
      <p>• El grupo celular inconfundiblemente persigue los mismos propósitos de la iglesia (adoración, discipulado,
        comunión,
        evangelismo y ministerio) </p>
      <p>• Un grupo celular es donde Jesús es <label class="respuesta corta" [style.color]="respuestas[14].color"
                                                     (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        . El enfoque está en Jesús y en lo que Él quiere hacer.
        En vez de dejar nuestros propios problemas y que el equipaje personal determine la agenda, le damos a Jesús el
        espacio para trabajar. Él, a través de Su Espíritu, está presente en la reunión. Nos hace uno y atrae a otros al
        grupo.</p>
    </ion-slide>

    <ion-slide>
      <p>• Un grupo celular es donde <label class="respuesta corta" [style.color]="respuestas[15].color"
                                            (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        sirven. Todos hemos recibido dones y talentos que el Señor Jesús
        quiere desarrollar en nosotros para el beneficio de toda la iglesia. Nadie ha sido creado para ser
        un <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>.
        Al mismo tiempo nadie tiene un monopolio de cierto ministerio. La célula toma vida
        cuando todas las personas están involucradas.
      </p>
      <p>• Un grupo celular es donde cada miembro <label class="respuesta corta" [style.color]="respuestas[17].color"
                                                         (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        . Ser cristiano es una relación de toda la vida con
        Jesús en constante crecimiento. La Gran Comisión que Él nos ha dado es hacer discípulos de todas las personas
        (Mateo 28: 19-20). Este mandamiento nos desafía a todos a la vida celular. El grupo celular es el lugar donde
        los
        nuevos miembros son nutridos y todos los miembros crecen a la madurez y en el plan de Jesús para sus vidas.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• Un grupo celular es donde el amor <label class="respuesta corta" [style.color]="respuestas[18].color"
                                                    (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        puede ser demostrado. Jesús resumió la ley del
        Antiguo Testamento en el amor al prójimo y al vecino (Mateo 12:28-34). Los auto sacrificios atan a la célula.
        No se trata de lo que puedes sacar de la vida celular, sino de lo que puedes
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>.
      </p>
      <p>• Un grupo celular es un lugar de <label class="respuesta corta" [style.color]="respuestas[20].color"
                                                  (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        . ¡Es más que una reunión! Es un grupo pequeño de personas
        que velan por las otras y se cuidan entre sí. Es un lugar de amor a otros y donde otros te aman. Un grupo
        celular
        es como una <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• Un grupo celular <label class="respuesta corta" [style.color]="respuestas[22].color"
                                   (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        ser un lugar de evangelismo y <label class="respuesta corta" [style.color]="respuestas[23].color"
                                             (click)="openActionSheet('23')">{{respuestas[23].text}}</label>. La
        investigación
        muestra que más del 70% de todos los cristianos vienen a Cristo por un amigo. Una parte importante de cumplir
        la Gran Comisión es desarrollar buenas amistades con las personas a nuestro alrededor.
      </p>
      <p>• Un grupo celular necesita asegurarse que se mantiene abierto a nuevas personas y que nunca se enfoca hacia
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>.
        El desafío para cada grupo celular es alcanzar a las personas a nuestro alrededor y mostrar
        el amor de Jesús. La meta clave de un grupo celular es <label class="respuesta corta"
                                                                      [style.color]="respuestas[25].color"
                                                                      (click)="openActionSheet('25')">{{respuestas[25].text}}</label>,
        desarrollarse y finalmente multiplicarse
        en dos nuevos grupos celulares.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• Un grupo celular es donde la <label class="respuesta corta" [style.color]="respuestas[26].color"
                                               (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        de la iglesia es realmente evidente, sentida, expresada y
        demostrada a otros. Donde hay vida, hay <label class="respuesta corta" [style.color]="respuestas[27].color"
                                                       (click)="openActionSheet('27')">{{respuestas[27].text}}</label>.
        Entonces, una persona que no esté unida a la célula
        es una persona que se está perdiendo la vida y el propósito de la iglesia.
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">¿Cómo empezamos un grupo celular?</b>

      <p>• Entiende cual es la visión de los grupos celulares del liderazgo de tu iglesia. CMFI es
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        es una iglesia con células, es una iglesia basada en las
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>.
        Esto significa que la vida de la iglesia
        está en las células. Esta es nuestra visión de establecer grupos celulares.
      </p>
      <p>
        • <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        al respecto. Todo lo que hacemos <label class="respuesta corta" [style.color]="respuestas[31].color"
                                                (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        empezar con una oración, desarrollarse a través de la oración y solo puede ser
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        por la oración. El grupo celular no es una excepción.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• Se <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        al respecto. Solo puedes empezar algo si pones tu mente y tu atención total en eso.</p>
      <p>• Empieza <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>.
        Todo lo grande siempre inicia siendo pequeño. Tu familia puede ser un buen
        lugar para empezar un grupo celular porque es ahí donde estás más
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        y donde puedes empezar a
        practicar tus habilidades de enseñanza y donde nadie te critica si te equivocas. Empieza con las personas
        que <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        conoces. </p>
      <p>
        • <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        un grupo específico. Es importante que sepas a que personas quieres alcanzar a través
        de tu grupo. La mayoría del tiempo, puedes descubrir esto al mirar alrededor de tu comunidad y hacer unas
        cuantas preguntas.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• Desarrolla una <label class="respuesta corta" [style.color]="respuestas[38].color"
                                 (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        . Pregúntales a quienes lo han intentado antes. Algunos han fallado y algunos
        han triunfado. Pregúntales por las lecciones aprendidas, esas pueden ser una plataforma donde tu inicies.</p>
      <p>
        • Escoge tu <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        . ¿Cuál será la frecuencia de encuentro del grupo y qué tipo de estudios
        tendrán? Empieza con un calendario. Planea con una perspectiva anual y después enfócate en cada mes.
        Permite la <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        en tu planeamiento.
      </p>
      <p>• Entrena líderes <label class="respuesta corta" [style.color]="respuestas[41].color"
                                  (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        . No puedes crecer más allá de los líderes que tengas.
        La multiplicación celular debe correr <label class="respuesta corta" [style.color]="respuestas[42].color"
                                                     (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        a la multiplicación del liderazgo.</p>
    </ion-slide>

    <ion-slide>
      <p>• Se <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        en tu enfoque para conducir la reunión celular. Has tu reunión celular tan viva
        como sea posible. Cuando se vuelve aburrido las personas no regresan. </p>
      <p>• <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        tus miembros tanto como puedas durante la reunión celular. Empodéralos para que tomen
        parte, dales <label class="respuesta corta" [style.color]="respuestas[45].color"
                            (click)="openActionSheet('45')">{{respuestas[45].text}}</label> cuando es debido y
        muéstrales que confías en ellos y que disfrutas su participación. </p>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
