<!--
  Generated template for the Cuestionario39Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/eym.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">

    <ion-slide>

      <b>
        Moviéndonos en los dones espirituales
      </b>

      <p>En esos últimos días cada creyente y cada iglesia local necesita moverse en Dios, y todos los 9 dones del
        Espíritu deben ser animados, anhelados y ejercitados.</p>
    </ion-slide>

    <ion-slide>
      <b>¿Qué son los dones del Espíritu?</b>
      <p>• Los dones del Espíritu son una <label class="respuesta corta" [style.color]="respuestas[0].color"
                                                 (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        espontánea del Espíritu Santo que opera como un
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        del amor y de la gracia de Dios para tocar la vida de las personas y ministrar sus necesidades.</p>
      <p>• Los dones están dirigidos <label class="respuesta corta" [style.color]="respuestas[2].color"
                                            (click)="openActionSheet('2')">{{respuestas[2].text}}</label> de nosotros
        para bendecir a
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        personas. Los dones animan, edifican, fortalecen, sanan, liberan, libertan y nos revelan la mente y el
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        de Dios. </p>
    </ion-slide>

    <ion-slide>
      <p>• El <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        no posee los dones, el creyente
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        los dones de Dios para una necesidad
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>,
        en un tiempo específico en una ocasión específica. </p>
      <p>• Los dones del <label class="respuesta corta" [style.color]="respuestas[8].color"
                                (click)="openActionSheet('8')">{{respuestas[8].text}}</label> son DONES, operan en la
        base de la gracia de Dios, no haces nada bueno para merecerlos.</p>
      <p>• La demostración o manifestación de los <label class="respuesta corta" [style.color]="respuestas[9].color"
                                                         (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        no tienen nada que ver con cuan espiritual eres o cuan
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        eres. Los dones están basados en la gracia y no en la
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        espiritual. </p>
    </ion-slide>

    <ion-slide>
      <b>Equipamiento sobrenatural</b>
      <p>• En 1 Corintios 12 Pablo enlista 9 dones o manifestaciones del Espíritu. Estas son las herramientas o el
        equipamiento
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        que le pertenece a todo creyente lleno del Espíritu. Este capítulo describe los dones divinos y sobrenaturales
        que Dios ha puesto en la
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>.
      </p>
      <p>Tristemente la mayoría de iglesias actuales se han vuelto <label class="respuesta corta"
                                                                          [style.color]="respuestas[14].color"
                                                                          (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        sociales, vacías de lo sobrenatural e importante de frente a
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        y las fuerzas demoniacas.</p>
      <p>• 1 Corintios 12: 1 “No quiero, hermanos, que <label class="respuesta corta"
                                                              [style.color]="respuestas[17].color"
                                                              (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        acerca de los dones espirituales”</p>
      <p>• 1 Corintios 12:4 “Ahora bien, hay diversidad de dones, pero el Espíritu es el <label class="respuesta corta"
                                                                                                [style.color]="respuestas[18].color"
                                                                                                (click)="openActionSheet('18')">{{respuestas[18].text}}</label>”.
      </p>
    </ion-slide>

    <ion-slide>
      <p>• 1 Corintios 12: 5 “Y hay diversidad de ministerios, pero el <label class="respuesta corta"
                                                                              [style.color]="respuestas[19].color"
                                                                              (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        es el mismo”</p>
      <p>• 1 Corintios 12:6 “Y hay diversidad de actividades, pero Dios, que <label class="respuesta corta"
                                                                                    [style.color]="respuestas[20].color"
                                                                                    (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        todas las cosas en todos, es el mismo”</p>
      <p>• Nota que estos dones divinos sobrenaturales del Espíritu están dados para cada <label class="respuesta corta"
                                                                                                 [style.color]="respuestas[21].color"
                                                                                                 (click)="openActionSheet('21')">{{respuestas[21].text}}</label>,
        no solo para apóstoles, profetas, evangelistas, pastores y maestros, sino que son para cada <label
          class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        actual y eso te incluye.</p>
      <p>• Manifestación significa una <label class="respuesta corta" [style.color]="respuestas[23].color"
                                              (click)="openActionSheet('23')">{{respuestas[23].text}}</label>. </p>
      <p>• Dios quiere que <label class="respuesta corta" [style.color]="respuestas[24].color"
                                  (click)="openActionSheet('24')">{{respuestas[24].text}}</label> Sus dones,
        Su <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>,
        a través de nosotros para que todos puedan beneficiarse.</p>
      <p>• El Espíritu Santo es el <label class="respuesta corta" [style.color]="respuestas[26].color"
                                          (click)="openActionSheet('26')">{{respuestas[26].text}}</label> de los dones,
        el creyente es quien los entrega. El lechero no produce la lecha,
        él <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        la leche.</p>
    </ion-slide>

    <ion-slide>
      <b>3 Grupos/categorías de los dones espirituales:</b>
      <p>Grupo 1 – Dones de Revelación. Son los ojos de Dios. Sobrenaturalmente <label class="respuesta corta"
                                                                                       [style.color]="respuestas[28].color"
                                                                                       (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        algo. </p>
      <p>1. Palabra de Sabiduría <br>
        2. Palabra de Conocimiento <br>
        3. Discernimiento de espíritus
      </p>
      <p>Grupo 2 – Dones de Poder. Son las manos de Dios. Sobrenaturalmente <label class="respuesta corta"
                                                                                   [style.color]="respuestas[29].color"
                                                                                   (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        algo.</p>
      <p>1. El don de Fe <br>
        2. Don de Sanidad <br>
        3. Milagros
      </p>
      <p>Grupo 3 – Dones de Inspiración. Son la boca de Dios. Sobrenaturalmente <label class="respuesta corta"
                                                                                       [style.color]="respuestas[30].color"
                                                                                       (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        algo. </p>
      <p>1. Don de profecía <br>
        2. Don de lenguas <br>
        3. Don de interpretación de lenguas
      </p>
    </ion-slide>

    <ion-slide>
      <b>Los dones de revelación</b>
      <p>Son los vehículos de <label class="respuesta corta" [style.color]="respuestas[31].color"
                                     (click)="openActionSheet('31')">{{respuestas[31].text}}</label> usados para revelar
        ciertas cosas sobrenaturalmente a Su iglesia y a Su pueblo que no podrían saber en lo natural. </p>
      <b>Los dones de poder</b>
      <p>Son los vehículos que Dios usa para focalizar Su <label class="respuesta corta"
                                                                 [style.color]="respuestas[32].color"
                                                                 (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        sobrenatural a través de Su iglesia para destruir las obras del diablo.</p>
      <b>Los dones de inspiración</b>
      <p>Son los vehículos que Dios usa para sobrenaturalmente <label class="respuesta corta"
                                                                      [style.color]="respuestas[33].color"
                                                                      (click)="openActionSheet('33')">{{respuestas[33].text}}</label>,
        fortalece y animar a Su iglesia. </p>
    </ion-slide>

    <ion-slide>
      <b>Nuestra parte moviendo los dones</b>
      <p>• Estamos para <label class="respuesta corta" [style.color]="respuestas[34].color"
                               (click)="openActionSheet('34')">{{respuestas[34].text}}</label> (un deseo firme) los
        dones. 1 Corintios 14:1</p>
      <p>• Debemos de tener un <label class="respuesta corta" [style.color]="respuestas[35].color"
                                      (click)="openActionSheet('35')">{{respuestas[35].text}}</label> y entendimiento
        claro de estos dones. 1 Corintios 12:1 </p>
      <p>• Debemos <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        en el Espíritu Santo. 2 Timoteo 1:6 </p>
      <p>• Debemos <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        nuestra fe y anhelar ser utilizados en estos dones. Romanos 12:6</p>
    </ion-slide>

    <ion-slide>
      <p>• Debemos rendirnos como <label class="respuesta corta" [style.color]="respuestas[38].color"
                                         (click)="openActionSheet('38')">{{respuestas[38].text}}</label> al Espíritu
        Santo, y ponernos en la posición para ser usados en los dones. 1 Tesalonicenses 5:19-20</p>
      <p>• Debemos caminar y <label class="respuesta corta" [style.color]="respuestas[39].color"
                                    (click)="openActionSheet('39')">{{respuestas[39].text}}</label> en el amor de Dios
        con el motivo de bendecir personas. 1 Corintios 13:1-8 </p>
      <p>• Debemos <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        y pedirle al Señor que nos unja, dirija, inspire y nos habilite para movernos en la expresión total de Sus
        dones. 1 Corintios 14:12 </p>
    </ion-slide>

    <ion-slide>
      <b>4 Propósitos de los dones</b>
      <p>1. Mostrar y <label class="respuesta corta" [style.color]="respuestas[41].color"
                             (click)="openActionSheet('41')">{{respuestas[41].text}}</label> el amor, la misericordia y
        la compasión de Dios a las personas. </p>
      <p>2. Para sobrenaturalmente construir y <label class="respuesta corta" [style.color]="respuestas[42].color"
                                                      (click)="openActionSheet('42')">{{respuestas[42].text}}</label> la
        Iglesia.</p>
      <p>3. Destruir las obras del <label class="respuesta corta" [style.color]="respuestas[43].color"
                                          (click)="openActionSheet('43')">{{respuestas[43].text}}</label> y poner a los
        cautivos en libertad.</p>
      <p>4. Para evangelizar al <label class="respuesta corta" [style.color]="respuestas[44].color"
                                       (click)="openActionSheet('44')">{{respuestas[44].text}}</label> y alcanzar a los
        no alcanzados satisfaciendo las necesidades de las personas sobrenaturalmente, confirmando la predicación del
        Evangelio.</p>
    </ion-slide>

    <ion-slide>
      <b>Un esbozo de los 9 dones espirituales</b>
      <p>1. Palabra de Sabiduría</p>
      <p>• No es una sabiduría natural, no tiene nada que ver con la habilidad humana <label class="respuesta corta"
                                                                                             [style.color]="respuestas[45].color"
                                                                                             (click)="openActionSheet('45')">{{respuestas[45].text}}</label>.
      </p>
      <p>• El don sobrenatural siempre tiene que ver con la situación actual y <label class="respuesta corta"
                                                                                      [style.color]="respuestas[46].color"
                                                                                      (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        y no con el pasado. </p>
      <p>Definición: Una palabra de sabiduría revela una fracción de la mente de Dios en relación a personas, lugares o
        cosas en relación al presente y al futuro. A través de este don sobrenatural Dios quiere que lidiemos con
        situaciones específicas que se están presentado o se presentarán.</p>

    </ion-slide>

    <ion-slide>
      <p>2. Palabra de conocimiento</p>
      <p>• No es un <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        natural que viene del estudio, la lectura, la observación o la experiencia.</p>
      <p>• Es <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        donde siempre se relaciona con la situación en el presente o pasado, pero nunca con el futuro. </p>
      <p>Definición: una palabra de conocimiento es una revelación por el Espíritu Santo dando una porción del
        conocimiento de Dios o información en relación a las personas o situaciones en el presente. Es el diagnóstico de
        Dios de un problema, una enfermedad, o cualquier otra situación en el presente que es imposible para el ser
        humano conocer. </p>
    </ion-slide>

    <ion-slide>
      <p>3. Discernimiento de espíritus</p>
      <p>• No es un don de <label class="respuesta corta" [style.color]="respuestas[49].color"
                                  (click)="openActionSheet('49')">{{respuestas[49].text}}</label> o especulación.</p>
      <p>• No es un buscador de faltas o un don de <label class="respuesta corta" [style.color]="respuestas[50].color"
                                                          (click)="openActionSheet('50')">{{respuestas[50].text}}</label>.
      </p>
      <p>Definición: El discernimiento de espíritus es una habilidad sobrenatural para ver en el mundo espiritual.
        Con este conocimiento los creyentes pueden ver ángeles, demonios y discernir la condición humana del espíritu,
        buena o mala. Reconoce la identidad del espíritu que está detrás de las manifestaciones o actividades.</p>
    </ion-slide>

    <ion-slide>
      <p>4. Don de fe </p>
      <p>• No es una fe <label class="respuesta corta" [style.color]="respuestas[51].color"
                               (click)="openActionSheet('51')">{{respuestas[51].text}}</label> o una medida de fe,
        o la fe <label class="respuesta corta" [style.color]="respuestas[52].color" (click)="openActionSheet('52')">{{respuestas[52].text}}</label>
        que todos los creyentes poseen. Romanos 12:23 </p>
      <p>• No es la fe obtenida por <label class="respuesta corta" [style.color]="respuestas[53].color"
                                           (click)="openActionSheet('53')">{{respuestas[53].text}}</label> la palabra.
        Romanos 10:17. Tampoco es la fe que salva. Efesios 2:8-9.</p>
      <p>• Cada cristiano tiene fe, pero no todos los creyentes tienen el don de fe. 2 Corintios 4:13. </p>
      <p>Definición: El don especial de fe es una manifestación sobrenatural por la cual el Espíritu Santo suple fe
        ilimitada sobre una situación específica para alcanzar resultados sobrenaturales. Cuando este trabajo especial
        de fe se manifiesta en tu vida, Dios sobrenaturalmente te vacía de toda duda e incredulidad. </p>
    </ion-slide>

    <ion-slide>
      <p>5. Don de Sanidad</p>
      <p>• No es cuando <label class="respuesta corta" [style.color]="respuestas[54].color"
                               (click)="openActionSheet('54')">{{respuestas[54].text}}</label> tu sanidad a través de la
        fe en la palabra de Dios, o mediante los elementos de la comunión.</p>
      <p>• No es recibir tu <label class="respuesta corta" [style.color]="respuestas[55].color"
                                   (click)="openActionSheet('55')">{{respuestas[55].text}}</label> con doctores o la
        medicina</p>
      <p>Definición: El don de sanidad es una impartición sobrenatural del poder divino de sanidad de Dios a través de
        ti para curar la enfermedad, sanar la enfermedad y a los afligidos instantáneamente, es decir ser ungido con
        sanidad para diferentes enfermedades específicas. </p>
    </ion-slide>

    <ion-slide>
      <p>6. Don de milagros </p>
      <p>• Un verdadero milagro debe involucrar una <label class="respuesta corta" [style.color]="respuestas[56].color"
                                                           (click)="openActionSheet('56')">{{respuestas[56].text}}</label>
        de las leyes naturales en el curso ordinario de la naturaleza.</p>
      <p>• Algunos ejemplos <br>
        o Alimentar a 5000 <br>
        o Dividir el mar rojo <br>
        o El hacha flotando (2 Reyes 6:5-7) <br>
        o El milagro de multiplicación de la viuda (2 Reyes 4:1-7)
      </p>
      <p>• La palabra griega para “milagro” significa una <label class="respuesta corta"
                                                                 [style.color]="respuestas[57].color"
                                                                 (click)="openActionSheet('57')">{{respuestas[57].text}}</label>
        de gran poder.
        Una liberación de <label class="respuesta corta" [style.color]="respuestas[58].color"
                                 (click)="openActionSheet('58')">{{respuestas[58].text}}</label> divino o la ejecución
        de algo que es contrario a las leyes de la naturaleza.</p>
      <p>Definición: El trabajo de un milagro es un don especial y momentáneo de autoridad que nos habilita, por la
        unción de Dios, para intervenir en el curso ordinario de la naturaleza para hacer algo que naturalmente no se
        puede hacer.</p>
    </ion-slide>

    <ion-slide>
      <p>7. Don de profecía</p>
      <p>• No es la <label class="respuesta corta" [style.color]="respuestas[59].color" (click)="openActionSheet('59')">{{respuestas[59].text}}</label>
        del evangelio.</p>
      <p>• No es para guiar.</p>
      <p>• No es <label class="respuesta corta" [style.color]="respuestas[60].color" (click)="openActionSheet('60')">{{respuestas[60].text}}</label>
        el <label class="respuesta corta" [style.color]="respuestas[61].color" (click)="openActionSheet('61')">{{respuestas[61].text}}</label>.
      </p>
      <p>• Dios nunca usa la <label class="respuesta corta" [style.color]="respuestas[62].color"
                                    (click)="openActionSheet('62')">{{respuestas[62].text}}</label> para guiar la vida
        de una persona. Él puede utilizar el don de profecía
        para confirmar lo que ya le ha dicho a alguien, pero nunca para guiar a esa persona. </p>

      <p>• La profecía no es un mensaje de <label class="respuesta corta" [style.color]="respuestas[63].color"
                                                  (click)="openActionSheet('63')">{{respuestas[63].text}}</label>,
        crítica o condenación. </p>
    </ion-slide>

    <ion-slide>
      <p>• El propósito de la profecía es siempre <label class="respuesta corta" [style.color]="respuestas[64].color"
                                                         (click)="openActionSheet('64')">{{respuestas[64].text}}</label>,
        animar y consolar.</p>
      <p>• La profecía siempre debe ser en <label class="respuesta corta" [style.color]="respuestas[65].color"
                                                  (click)="openActionSheet('65')">{{respuestas[65].text}}</label> con la
        palabra de Dios.</p>
      <p>• La palabra griega para profecía “phopheteia” significa hablar la mente y el <label class="respuesta corta"
                                                                                              [style.color]="respuestas[66].color"
                                                                                              (click)="openActionSheet('66')">{{respuestas[66].text}}</label>
        de Dios.</p>
      <p>Definición: el don de profecía es la expresión sobrenatural en una lengua conocida hablado bajo la unción de
        Dios para edificar, animar, fortalecer y consolar a la Iglesia, no es una palabra que es concebida humanamente
        por el pensamiento o razonamiento. </p>
    </ion-slide>

    <ion-slide>
      <p>8. Don de lenguas</p>
      <p>• No es un <label class="respuesta corta" [style.color]="respuestas[67].color" (click)="openActionSheet('67')">{{respuestas[67].text}}</label>
        aprendido en el colegio o la universidad. No tiene nada que ver con la
        <label class="respuesta corta" [style.color]="respuestas[68].color" (click)="openActionSheet('68')">{{respuestas[68].text}}</label>
        o el intelecto del ser humano.</p>
      <p>Definición: el don de lenguas es una expresión sobrenatural dada por cualquier cristiano lleno del Espíritu
        proclamando en una reunión pública (culto, reunión de oración o célula) un mensaje de Dios en un idioma
        desconocido y que la persona que lo da no lo entiende. Siempre se usa en unión con el don de interpretación de
        lenguas.</p>
    </ion-slide>

    <ion-slide>
      <p>9. El don de interpretación de lenguas</p>
      <p>• No es una <label class="respuesta corta" [style.color]="respuestas[69].color"
                            (click)="openActionSheet('69')">{{respuestas[69].text}}</label> de lenguas, así que la
        lengua puede ser más corta o más larga que la
        interpretación. Usualmente una interpretación es palabra por palabra, mientras que la
        <label class="respuesta corta" [style.color]="respuestas[70].color" (click)="openActionSheet('70')">{{respuestas[70].text}}</label>
        de lenguas es el sentido y significado del mensaje en lenguas entregado a una congregación.</p>
      <p>• El don de lenguas más el don de interpretación son juntamente igual para el don de <label
        class="respuesta corta" [style.color]="respuestas[71].color" (click)="openActionSheet('71')">{{respuestas[71].text}}</label>.
        (1 Corintios 14:5)</p>
      <p>Definición: el don de interpretación de lenguas es el despliegue sobrenatural del Espíritu Santo a través del
        creyente, el significado de un mensaje en lenguas entregado en una asamblea pública. Es para que la iglesia
        pueda
        ser animada y edificada.</p>
    </ion-slide>

    <ion-slide>
      <p>1 Corintios 12 define y <label class="respuesta corta" [style.color]="respuestas[72].color"
                                        (click)="openActionSheet('72')">{{respuestas[72].text}}</label> los 9 dones del
        Espíritu</p>
      <p>1 Corintios 13 revela que la base para <label class="respuesta corta" [style.color]="respuestas[73].color"
                                                       (click)="openActionSheet('73')">{{respuestas[73].text}}</label>
        en los dones espirituales es el
        <label class="respuesta corta" [style.color]="respuestas[74].color" (click)="openActionSheet('74')">{{respuestas[74].text}}</label>.
      </p>
      <p>1 Corintios 14: Enseña como los dones son <label class="respuesta corta" [style.color]="respuestas[75].color"
                                                          (click)="openActionSheet('75')">{{respuestas[75].text}}</label>.
      </p>
      <p>• Con estrategia <label class="respuesta corta" [style.color]="respuestas[76].color"
                                 (click)="openActionSheet('76')">{{respuestas[76].text}}</label> el Espíritu Santo hace
        un “emparedado” del
        <label class="respuesta corta" [style.color]="respuestas[77].color" (click)="openActionSheet('77')">{{respuestas[77].text}}</label>
        de Dios con los capítulos de 1 Corintios 12 y 14, porque el amor de
        <label class="respuesta corta" [style.color]="respuestas[78].color" (click)="openActionSheet('78')">{{respuestas[78].text}}</label>
        es la base de los dones en acción. </p>
    </ion-slide>

    <ion-slide>
      <b>5 claves activando los dones</b>
      <p>1. Son dados por la elección <label class="respuesta corta" [style.color]="respuestas[79].color"
                                             (click)="openActionSheet('79')">{{respuestas[79].text}}</label> de Dios.
      </p>
      <p>2. Impartidos por la <label class="respuesta corta" [style.color]="respuestas[80].color"
                                     (click)="openActionSheet('80')">{{respuestas[80].text}}</label> de manos.</p>
      <p>3. Recibido por <label class="respuesta corta" [style.color]="respuestas[81].color"
                                (click)="openActionSheet('81')">{{respuestas[81].text}}</label> en fe</p>
      <p>4. Operados <label class="respuesta corta" [style.color]="respuestas[82].color"
                            (click)="openActionSheet('82')">{{respuestas[82].text}}</label> en fe.</p>
      <p>5. Ejercitados mediante la <label class="respuesta corta" [style.color]="respuestas[83].color"
                                           (click)="openActionSheet('83')">{{respuestas[83].text}}</label> y el uso
        constante.</p>

    </ion-slide>

    <ion-slide>
      <b>Debemos operar y ministrar en la autoridad que Jesús nos dio</b>
      <p>Por ejemplo, cada vez que tienes la ocasión de <label class="respuesta corta"
                                                               [style.color]="respuestas[84].color"
                                                               (click)="openActionSheet('84')">{{respuestas[84].text}}</label>
        a
        alguien en necesidad, enfermedad, alguien que está <label class="respuesta corta"
                                                                  [style.color]="respuestas[85].color"
                                                                  (click)="openActionSheet('85')">{{respuestas[85].text}}</label>
        o atada al miedo, etc.</p>
      <b>Recuérdate</b>
      <p>Del hecho bíblico que has sido llamado por Cristo Jesús y se te ha dado <label class="respuesta corta"
                                                                                        [style.color]="respuestas[86].color"
                                                                                        (click)="openActionSheet('86')">{{respuestas[86].text}}</label>
        en su nombre para ministrar al enfermo, al <label class="respuesta corta" [style.color]="respuestas[87].color"
                                                          (click)="openActionSheet('87')">{{respuestas[87].text}}</label>
        y al endemoniado.</p>
      <p>Recuérdate que estás actuando en obediencia a la <label class="respuesta corta"
                                                                 [style.color]="respuestas[88].color"
                                                                 (click)="openActionSheet('88')">{{respuestas[88].text}}</label>
        y palabras de Jesús en Marcos 16. </p>
    </ion-slide>

    <ion-slide>
      <p>Recordatorio</p>
      <p>• He sido llamado a <label class="respuesta corta" [style.color]="respuestas[89].color"
                                    (click)="openActionSheet('89')">{{respuestas[89].text}}</label> por las personas. He
        sido comisionado a
        <label class="respuesta corta" [style.color]="respuestas[90].color" (click)="openActionSheet('90')">{{respuestas[90].text}}</label>
        fuera diablos. He sido ungido para proclamar el
        <label class="respuesta corta" [style.color]="respuestas[91].color" (click)="openActionSheet('91')">{{respuestas[91].text}}</label>
        de Dios en palabra y oración.
        He sido llamado a ganar <label class="respuesta corta" [style.color]="respuestas[92].color"
                                       (click)="openActionSheet('92')">{{respuestas[92].text}}</label>. He sido llamado
        a operar en los
        <label class="respuesta corta" [style.color]="respuestas[93].color" (click)="openActionSheet('93')">{{respuestas[93].text}}</label>.
        He sido llamado a <label class="respuesta corta" [style.color]="respuestas[94].color"
                                 (click)="openActionSheet('94')">{{respuestas[94].text}}</label> a los enfermos en el
        nombre de Jesús.</p>
      <p>Operar en los 9 dones del Espíritu implica un <label class="respuesta corta"
                                                              [style.color]="respuestas[95].color"
                                                              (click)="openActionSheet('95')">{{respuestas[95].text}}</label>
        de tiempo, es crecer en el conocimiento de
        Dios, el Espíritu Santo y confiar en que Él nos usará.</p>
    </ion-slide>

    <ion-slide>
      <p>• Dios <label class="respuesta corta" [style.color]="respuestas[96].color" (click)="openActionSheet('96')">{{respuestas[96].text}}</label>
        que confiemos en Él y que y le obedezcamos.</p>
      <p>• Todos los <label class="respuesta corta" [style.color]="respuestas[97].color"
                            (click)="openActionSheet('97')">{{respuestas[97].text}}</label> son para todo el pueblo de
        Dios, no son solo tuyos para que te adueñes. </p>
      <p>• Los dones nunca son <label class="respuesta corta" [style.color]="respuestas[98].color"
                                      (click)="openActionSheet('98')">{{respuestas[98].text}}</label>, el Espíritu Santo
        opera a través de ti como Él decida, hoy pueden ser
        dones de <label class="respuesta corta" [style.color]="respuestas[99].color" (click)="openActionSheet('99')">{{respuestas[99].text}}</label>,
        mañana de
        <label class="respuesta corta" [style.color]="respuestas[100].color" (click)="openActionSheet('100')">{{respuestas[100].text}}</label>,
        palabra de
        <label class="respuesta corta" [style.color]="respuestas[101].color" (click)="openActionSheet('101')">{{respuestas[101].text}}</label>,
        etc. </p>
      <p>• El Espíritu Santo escoge y <label class="respuesta corta" [style.color]="respuestas[102].color"
                                             (click)="openActionSheet('102')">{{respuestas[102].text}}</label> dones
        específicos para operar a través de ti para satisfacer
        necesidades específicas en un momento específico. </p>
      <p>• 1 Pedro 4:10 “Cada uno según el don que ha recibido, minístrelo a los otros, como buenos administradores de
        la
        multiforme gracia de Dios”.</p>
    </ion-slide>

    <ion-slide>
      <b>Debemos mantenernos llenos del Espíritu Santo. ¿Cómo?</b>
      <p>• Involucra la <label class="respuesta corta" [style.color]="respuestas[103].color"
                               (click)="openActionSheet('103')">{{respuestas[103].text}}</label> regular y la
        lectura de la <label class="respuesta corta" [style.color]="respuestas[104].color"
                             (click)="openActionSheet('104')">{{respuestas[104].text}}</label>.</p>
      <p>• Involucra <label class="respuesta corta" [style.color]="respuestas[105].color"
                            (click)="openActionSheet('105')">{{respuestas[105].text}}</label> fuera las cosas del mundo
        y rendir tu vida a Jesús y su Señorío.</p>
      <p>• Requiere que <label class="respuesta corta" [style.color]="respuestas[106].color"
                               (click)="openActionSheet('106')">{{respuestas[106].text}}</label> y dediques tu vida
        entera a Dios y caminar en el Espíritu. </p>

    </ion-slide>

    <ion-slide>
      <p>• Debemos proteger nuestra vida <label class="respuesta corta" [style.color]="respuestas[107].color"
                                                (click)="openActionSheet('107')">{{respuestas[107].text}}</label> y no
        abrirnos para perder la unción de Dios a través de una vida
        <label class="respuesta corta" [style.color]="respuestas[108].color" (click)="openActionSheet('108')">{{respuestas[108].text}}</label>,
        de la mala actitud, del orgullo, del chisme, de las peleas, criticando a los creyentes o
        ministerios en el cuerpo de Cristo. </p>
      <p>• El Espíritu Santo desea <label class="respuesta corta" [style.color]="respuestas[109].color"
                                          (click)="openActionSheet('109')">{{respuestas[109].text}}</label> a través de
        ti para bendecir, sanar, ayudar y
        <label class="respuesta corta" [style.color]="respuestas[110].color" (click)="openActionSheet('110')">{{respuestas[110].text}}</label>
        a las personas. Él quiere liberar sus dones a través de ti para satisfacer las necesidades de las
        <label class="respuesta corta" [style.color]="respuestas[111].color" (click)="openActionSheet('111')">{{respuestas[111].text}}</label>
        a tu alrededor. </p>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
