<!--
  Generated template for the Cuestionario24Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">Sirviendo bajo un liderazgo, una vida de sumisión</b>

      <p>
        El cielo es un modelo de unidad, sumisión y autoridad. El Padre, el Hijo y el Espíritu Santo trabajan juntos en
        perfecta armonía y equidad, y también en espíritu de humildad y sumisión. “Su-misión o sub-misión”.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        A. Modelo del cielo
      </b>
      <p>
        Hebreos 8:5-6 “ Estos sirven a lo que es figura y sombra de las cosas celestiales, como se le advirtió a Moisés
        cuando iba a erigir el Tabernáculo, diciéndole: «Mira, haz todas las cosas conforme al modelo que se te ha
        mostrado en el monte.» 6 Pero ahora tanto mejor ministerio es el suyo, cuanto es mediador de un mejor pacto,
        establecido sobre mejores promesas”.
        <br>
        - El Padre
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        al Hijo
        <br>
        - El Hijo se
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        al Padre. Juan 16:28, Filipenses 2:5-11
        <br>
        - El fue
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        en todas las cosas. Juan 8:29; 12:49-50; Heb 5:7-9
        <br>
        - El Hijo envió al Espíritu Santo.
        <br>
        - El Espíritu Santo se sujetó a Jesús y vino. Juan 16:12-15; Hechos 2: 1-4, 33
        <br>
        Mateo 6:9-10 Estamos para
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        el
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        en el Cielo y traer el reino de
        Dios a la Tierra.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        B. Sumisión a la autoridad: el ejemplo del centurión romano.
      </b>
      <p>
        Mateo 8: 8-12. “9 pues también yo soy hombre
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        y tengo soldados
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        mis
        órdenes…”
        <br>
        • Gran entendimiento de la verdad sobre la sumisión a la autoridad.
        <br>
        • Él se sujetó a otros.
        <br>
        • Él obedeció sus mandamientos.
        <br>
        • Él tenía autoridad.
        <br>
        • Otros se sometían a él.
        <br>
        Verso 10 “y digo a éste: “Ve”, y va; y al otro: “Ven”, y viene; y a mi siervo: “Haz esto”, y lo hace”. Quienes
        saben y practican esta verdad son quienes tienen una gran
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        .
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Mateo 20: 25-28; Lucas 22: 25-27. La autoridad sobre otro

        ser ejercida como el mundo lo
        hace, se debe ejercitar con un espíritu de
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        buscando el bien común de
        aquellos que están debajo de nosotros. Filemón 8 -10; 1 Corintios 16:15-16
        <br>
        • Un líder del pueblo de Dios no puede nunca forzar a las personas a someterse.
        <br>
        • La sumisión a la autoridad solo se da cuando quien está bajo la autoridad decide someterse a otros.
        <br><br>
        Un líder debe primeramente someterse a otros antes de poder ejercitar autoridad sobre otros.
        1 Pedro 5:5. La sumisión es una
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        de amor y respeto de aquellos sobre nosotros. Hechos
        4:18-19. Hay momentos en los que podemos desobedecer al hombre por el bien de servir a Cristo, pero aun así
        mantener una actitud sumisa y de respeto hacia ellos. Hechos 23:2-5
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        C. El examen de la verdadera sumisión
      </b>
      <p>
        Esto sucede cuando nos piden hacer algo que no
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        hacer. Cuando
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        en una
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        somos verdaderamente sumisos.
        <br>
        • Efesios 1:20-22. A Jesús se le fue dada
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        en el cielo y en la tierra. Él ha
        dado esta autoridad a aquellos que están
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        de Él, a la iglesia, para gobernar con su autoridad.
        <br>
        • Colosenses 2:19. Si la iglesia quiere crecer los líderes
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        sostenerse de la Cabeza. Si decimos
        que estamos sometidos a Cristo entonces esto debe ser visto por nuestra sumisión a otros. Efesios 4:11-12
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        • Juan 13:20. “…De cierto, de cierto os digo: El que reciba al que
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        , me recibe a mí; y el
        que me recibe a mí, recibe al que
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        .”Hay verdadera protección, fortaleza y cobertura
        en la iglesia que sigue esta verdad.
        <br>
        • Lucas 10:17; Efesios 3:10. Si estamos
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        entonces la iglesia tendrá una gran
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        sobre el diablo y sus fuerzas.
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
