<!--
  Generated template for the Cuestionario52Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="banner-secondary" block>
    <img src="../../../../assets/imgs/mision.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>
  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">
    <ion-slide>

      <b>Movilizando a la iglesia para las misiones</b>

      <p>
        La misión es el latir del corazón de Dios porque Dios es un Dios misionero. Dios establece el precedente para
        las
        misiones ahí mismo en el jardín del Edén al acercarse a Adán y a Eva en la hora más grande de su necesidad
        “El espíritu de Cristo es el espíritu de las misiones. Entre más nos acerquemos a Él, nos convertimos en
        misioneros
        más intensos” Henry Martyn, misionero para India y Persia.
      </p>
      <p>
        La iglesia del Dios viviente no puede existir sin un involucramiento activo en las misiones. La iglesia existe
        primero para ser una iglesia adoradora y después para ser una iglesia misionera. La adoración es nuestro
        ministerio
        a Dios y la misión es nuestro ministerio para el mundo. Oswald J. Smith dijo estas palabras de precaución
        “cualquier iglesia que no está activamente involucrada en el cumplimiento de la Gran Comisión ha perdido su
        derecho bíblico a existir”.
      </p>

    </ion-slide>

    <ion-slide>
      <b class="titulo">¿Por qué es importante la misión?</b>

      <p>
        1. Las misiones son importantes por la
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        de Cristo. La cruz siempre ha sido el centro de
        nuestra fe. Romanos 5:8 “Pero Dios muestra su amor para con nosotros, en que siendo aún pecadores,
        Cristo murió por nosotros”. La cruz es la representación del amor de Dios por nosotros y él quiere que
        nosotros <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        ese amor al mundo perdido.
      </p>

    </ion-slide>

    <ion-slide>

      <p>
        2. Las misiones son importantes por la <label class="respuesta corta" [style.color]="respuestas[2].color"
                                                      (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        de Cristo. En los 4 Evangelios y también en el
        libro de Hechos, Jesucristo nos da la Gran Comisión. Nunca se presenta como una opción a considerarse, sino
        como un <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        para obedecerse. Por casi 2000 años la orden de la iglesia ha sido “vayan a todo el
        mundo y prediquen el evangelio a toda criatura”. Las palabras “todo el mundo” significa que toda las personas
        deben ser incluidad y nadie debe ser excluido en la proclamación del evangelio. Como dijo un teólogo “debemos
        ser cristianos globales con una visión global porque nuestro Dios es global”.
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        3. Las misiones son importantes por la <label class="respuesta corta" [style.color]="respuestas[4].color"
                                                      (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        de Cristo. En Hechos 1 mientras Jesús ascendía al
        cielo, dos ángeles le recordaron a los discípulos que había un tiempo limitado para cumplir la Gran Comisión,
        porque “este mismo Jesús que va ahora al cielo, vendrá de la misma forma en que fue al cielo”. Si realmente
        creemos en la venida inminente de Cristo, el evangelismo mundo se convertirá en una prioridad
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        en nuestras iglesias.
      </p>
    </ion-slide>
    <ion-slide>
      <b class="titulo">¿Por qué es importante la misión?</b>
      <p>
        1. ¡Debemos tener una visión <label class="respuesta corta" [style.color]="respuestas[6].color"
                                            (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        !<br>
        • Sin una visión el pueblo perece.<br>
        • Si no hay una visión para la misión entonces tampoco habrá acción para la misión.<br>
        • Las personas deben abrazar la visión, correr con ella y comprometerse a su cumplimiento.<br>
        • ¡La visión le da a la iglesia el <label class="respuesta corta" [style.color]="respuestas[7].color"
                                                  (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        para el <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        y la <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        para el mundo perdido!<br>
        • Nuestra visión debe ser tan grande como el Dios al que servimos, porque nuestro llamado es un llamado <label
        class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        .<br>
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        2. La iglesia local es el instrumento primordial de Dios para la evangelización del mundo. <br>
        • Pensamos globalmente pero nuestro involucramiento activo es <label class="respuesta corta"
                                                                             [style.color]="respuestas[11].color"
                                                                             (click)="openActionSheet('11')">{{respuestas[11].text}}</label>.<br>
        • La misión <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        iniciar en Jerusalén, es decir a nivel de la iglesia local. Si no está sucediendo allí, no puede suceder en
        ningún otro lugar.<br>
        • Los creyentes al nivel de la iglesia local deben ser enseñados para entender el plan global de Dios.<br>
        • Deben ser motivados a responder en amor a la palabra de Dios y a proveerles
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        para que usen
        sus talentos, habilidades y recursos individuales y corporativos para alcanzar Su plan global.
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        3. El pastor es el <label class="respuesta corta" [style.color]="respuestas[14].color"
                                  (click)="openActionSheet('14')">{{respuestas[14].text}}</label> clave en la iglesia
        local a favor de las misiones globales.
        <br>
        • Si el pastor no está convencido nunca se involucrarán en las misiones. <br>
        • “Todo se levanta y cae en el liderazgo” John Maxwell <br>
        • “El liderazgo es influencia”. John Maxwell. Si no <label class="respuesta corta"
                                                                   [style.color]="respuestas[15].color"
                                                                   (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        con el líder entonces la congregación no lo abrazará.
        <br>
        • La <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        por las misiones primero debe capturar el corazón del pastor antes de que capture el corazón de la congregación.
        <br>
        • El pastor tiene que ser el <label class="respuesta corta" [style.color]="respuestas[17].color"
                                            (click)="openActionSheet('17')">{{respuestas[17].text}}</label> principal
        para la misión en la iglesia local.<br>
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        4. La iglesia debe desarrollar <label class="respuesta corta" [style.color]="respuestas[18].color"
                                              (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        un propósito corporativo, una estrategia corporativa y una <label class="respuesta corta"
                                                                          [style.color]="respuestas[19].color"
                                                                          (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        corporativa relaciona a la causa global de Dios.
        <br>
        • En otras palabras, las misiones deben ser <label class="respuesta corta" [style.color]="respuestas[20].color"
                                                           (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        somos como como iglesia, no simplemente <label class="respuesta corta" [style.color]="respuestas[21].color"
                                                       (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        lo hacemos.
        <br>
        • Las misiones deben convertirse en el <label class="respuesta corta" [style.color]="respuestas[22].color"
                                                      (click)="openActionSheet('22')">{{respuestas[22].text}}</label> de
        la iglesia. <br>
        • Las misiones deben ser nuestra personalidad de la iglesia, no un programa solamente. <br>
        • ¡Las misiones deben ser la misión de la iglesia!
      </p>
    </ion-slide>

    <ion-slide>
      <b class="titulo">Aspectos esenciales para el involucramiento en la misión global</b>

      <p>
        1. Un cambio de <label class="respuesta corta" [style.color]="respuestas[23].color"
                               (click)="openActionSheet('23')">{{respuestas[23].text}}</label> de parte de la iglesia.
        <br>
        • Si la mentalidad no cambia entonces no habrá misión.<br>
        • Debe haber un cambio de una mentalidad denominacional a una mentalidad de <label class="respuesta corta"
                                                                                           [style.color]="respuestas[24].color"
                                                                                           (click)="openActionSheet('24')">{{respuestas[24].text}}</label>.
        La misión es acerca de establecer el Reino de Dios en la Tierra.<br>
        • Debemos movernos de una mirada hacia adentro a una mirada hacia afuera.<br>
        • La iglesia debe convertirse en una iglesia que <label class="respuesta corta"
                                                                [style.color]="respuestas[25].color"
                                                                (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        más que en una que se asienta.<br>
        • Tenemos que cambiar de producir convertidos a producir discípulos.<br>
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        • Tiene que haber un cambio de una iglesia que es mantenida a una iglesia que se <label class="respuesta corta"
                                                                                                [style.color]="respuestas[26].color"
                                                                                                (click)="openActionSheet('26')">{{respuestas[26].text}}</label><br>
        • Necesitamos que los seguidores sean líderes.<br>
        • A pesar de que actuamos localmente necesitamos pensar <label class="respuesta corta"
                                                                       [style.color]="respuestas[27].color"
                                                                       (click)="openActionSheet('27')">{{respuestas[27].text}}</label>.<br>
        • Se necesita un cambio de una iglesia que recibe a una que <label class="respuesta corta"
                                                                           [style.color]="respuestas[28].color"
                                                                           (click)="openActionSheet('28')">{{respuestas[28].text}}</label>.<br>
      </p>
    </ion-slide>

    <ion-slide>
      <p>
        2. <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        a nuestros miembros de la iglesia sobre la misión es muy importante <br>
        • La información es vital en el trabajo de las misiones. <br>
        • La congregación debe saber que es lo que se necesita y como pueden involucrarse. <br>
        • Los temas de oración deben ser compartidos para tener oraciones intensas y enfocadas. <br>
        • Deben de saber donde están las necesidades y como pueden responder a esas necesidades. <br>

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        3. ¡<label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        es vital!
        <br>
        • Las personas pueden involucrarse en tres grandes áreas: <label class="respuesta corta"
                                                                         [style.color]="respuestas[31].color"
                                                                         (click)="openActionSheet('31')">{{respuestas[31].text}}</label>,
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>.
        <br>
        • ¡Debemos darle a las personas la oportunidad para que hagan algo! <br>
        • No todos puede ir, pero todos pueden orar y dar. Este espíritu debe fomentarse en todas las iglesias. <br>
        • También se deben fomentar los viajes misioneros cortos en los cuales los miembros de la iglesia puedan ver de
        primera mano lo que está sucediendo en el campo.
        <br>
        • Lo misioneros deben ser movilizados a dejar sus países y sus zonas de confort para ir donde hay gran
        necesidad.
        <br>

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        4. <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        con iglesias y agencias que piensen similar <br>
        • Debemos reconocer que la evangelización del mundo no se puede hacer solo. <br>
        • Necesitamos socios para trabajar interconectadamente, en las que los recursos, personal y herramientas puedan
        ser compartidas por amor a los perdidos.
        <br>

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        5. <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        <br>
        • Si hay campos misioneros entonces hay una necesidad de movilizar la fuerza misionera para que responda a esa
        necesidad.
        <br>
        • Mateo 9:37-38 “37 Entonces dijo a sus discípulos: «A la verdad la mies es mucha, pero los obreros pocos. 38
        Rogad, pues, al Señor de la mies, que envíe obreros a su mies”
        <br>
        • Hay una gran necesidad de obreros. <br>
        • Los misioneros son los que <label class="respuesta corta" [style.color]="respuestas[36].color"
                                            (click)="openActionSheet('36')">{{respuestas[36].text}}</label>.
        Son quienes están al <label class="respuesta corta" [style.color]="respuestas[37].color"
                                    (click)="openActionSheet('37')">{{respuestas[37].text}}</label> de la misión <br>

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        6. Es un <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        por la movilización. <br>
        • ¡La iglesia debe ser despertada a la oración! La oración es la línea de vida que mantiene la misión <br>
        • Sin oración no podemos alcanzar nada como iglesia. Mateo 9:38 “Rogad, pues, al Señor de la mies, que envíe
        obreros a su mies”.
        <br>
        • La oración es la línea de <label class="respuesta corta" [style.color]="respuestas[40].color"
                                           (click)="openActionSheet('40')">{{respuestas[40].text}}</label> <br>

      </p>
    </ion-slide>

    <ion-slide>
      <p>
        7. Se debe animar a la <label class="respuesta corta" [style.color]="respuestas[41].color"
                                      (click)="openActionSheet('41')">{{respuestas[41].text}}</label>. <br>
        • Los misioneros no pueden ir al campo misionero a menos de que se les <label class="respuesta corta"
                                                                                      [style.color]="respuestas[42].color"
                                                                                      (click)="openActionSheet('42')">{{respuestas[42].text}}</label>.
        <br>
        • Los dadores son la línea de <label class="respuesta corta" [style.color]="respuestas[43].color"
                                             (click)="openActionSheet('43')">{{respuestas[43].text}}</label> de la
        misión. <br>
        • Cada iglesia que profesa estar involucrada activamente debe tener una cuenta misionera para darle soporte al
        trabajo misionero.
        <br>
        • El rol del pastor del pastor asegurarse que esto suceda. <br>

      </p>
    </ion-slide>

  </ion-slides>


</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
