<!--
  Generated template for the Cuestionario25Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/relaciones.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>


      <b class="titulo">La esencia de la relación</b>

      <p>
        Las relaciones son uno de los pilares de la iglesia. Vamos a categorizar nuestra escritura clave en 3
        categorías: la relación con Dios, la relación con el vecino, y la relación con nosotros mismos.
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        1. ¿Qué es una relación?
      </b>
      <p>
        • La Biblia no dice que Dios es un amor o que Dios es el amor, dice Dios es amor. Significa que la misma
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        de Dios es
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        . Amor
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        . El amor
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        a otro es una
        relación.
        <br>
        • Una relación es el camino por el cual una persona está relacionada o
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        a otra.
        <br>
        • El ser humano fue creado para estar en
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        al
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        de Dios.
        <br>
        • Dios inicia una relación con el ser humano en la cual el amor es el
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        o
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        .
        <br>
        • El ser humano fue creado a la
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        y
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        de Dios para que el amor pueda
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        en la manera en la que Dios lo expresa.


      </p>


    </ion-slide>

    <ion-slide>

      <p>
        • Si el ser humano
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        viviendo a la imagen y semejanza, el amor sobreabundante continuará
        abundando.
      </p>
      <b>
        2. La importancia de nuestra relación con Dios
      </b>
      <p>
        a. De acuerdo al
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        de nuestra
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        por Dios mediante la muerte,
        entierro y resurrección de Jesucristo, que es llamada la “operación de Dios” (Colosenses 2:12), Jesucristo mismo
        es
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        de esa creación. La Biblia dice en
        <br>
        Efesios 2:10 “pues somos hechura suya, creados en Cristo Jesús para buenas obras, las cuales Dios preparó de
        antemano para que anduviéramos en ella”.
        Juan 15:4-5 “Permaneced en mí, y yo en vosotros(…)porque separados de mí nada podéis hacer”.
        Filipenses 4:13 “Todo lo puedo en Cristo que me fortalece”.
        2 Corintios 5:17 “De modo que si alguno está en Cristo, nueva criatura es…”
      </p>

    </ion-slide>

    <ion-slide>
      <p>
        Pon atención a estas preposiciones: creados en Cristo, permanece en mi, y Yo en ti, a través de Cristo, estar en
        Cristo.
        <br>
        b. Por tanto la
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        con Jesús juegan un
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        en nuestra permanencia en
        Cristo y Cristo en nosotros. 1 Juan 4:16 dice “…y el que permanece en amor permanece en Dios y Dios en él”. Como
        fue en el comienzo cuando el ser humano pecó, la relación con Dios se rompió y el ser humano fue
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        de Dios y en su presencia.
        <br>
        c. Una relación rota con Dios
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        nuestra relación el uno con el otro. Por ejemplo, Caín
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        a su hermano Abel, y después se
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        a sí mismo. 1 Juan 3:15 “Todo aquel que odia a
        su hermano es homicida y sabéis que ningún homicida tiene vida eterna permanente en él”. 1 Juan 4:21 dice “El
        que ama a Dios, ame también a su hermano”.
        <br>
        d. La relación con Dios debe ser
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        en cada decisión y acción que tomamos en la vida.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        ¿Por qué?
      </b>
      <p>
        • Jesús es nuestra
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        . (Juan 1:4)
        <br>
        • Jesucristo es nuestra
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        y sin Él estamos en la oscuridad. (Juan 1:4)
        <br>
        • Nuestra vida solo está
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        en Jesús. (Colosenses 2:10)
        <br>
        • La vida eterna es en Cristo Jesús. (1 Juan 5:11-12)
        <br>
        • Filipenses 4:13 dice que “podemos hacer todas las cosas en Cristo que nos fortalece”.
        <br>
        • Cristo es en ustedes la
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        de gloria. (Colosenses 1:27)
        <br>
        • Jesucristo es nuestro todo. La relación con Jesucristo es de
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        importancia y no nos podemos
        dar el lujo de vivir sin Él.
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        3. ¿Qué destruye la relación con Dios?
      </b>
      <p>
        El pecado destruye la relación con Dios y con el ser humano. El pecado es la desobediencia a los mandamientos de
        Dios como lo fue en el principio cuando se le había ordenado al hombre no comer del árbol del conocimiento del
        bien y del mal, porque ciertamente el hombre moría si lo comía. (Génesis 2:16-17)
      </p>


    </ion-slide>

    <ion-slide>
      <br>
      <b>
        4. ¿Qué construye la relación con Dios?
      </b>
      <p>
        I. Estar vigilantes, orar y ayunar. Mateo 26:41 dice “Velad y orad para que no entréis en tentación”. Esta no es
        solo otra oración. Es una oración
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        que la Biblia dice en Santiago 5:16 “La oración eficaz del
        justo puede mucho”; Salmos 42: 1-3. La comunión en Su presencia construirá una relación personal
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        con Dios que correrá a otros y además potenciará nuestra relación con las otras personas.
        <br>
        II. Estudia la Palabra. Salmos 1:2-3 dice “sino que en la ley de Jehová está su delicia y en su Ley medita de
        día y de noche. 3 será como árbol plantado junto a corrientes de aguas, que da su fruto en su tiempo y su hoja
        no cae, y todo lo que hace prosperará”. La palabra de Dios nos hace
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        para poder conocer y hacer
        la voluntad
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        de Dios. Salmos 19:7 dice “La ley de Jehová es perfecta: convierte el alma; el
        testimonio de Jehová es fiel:
        hace sabio al sencillo”
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        5. Nuestra relación con nuestros vecinos o con las demás personas
      </b>
      <p>
        La Biblia dice en Hebreos 12:14 “Seguid la paz con todos y la santidad, sin la cual nadie verá al Señor”.
        • Paz con todas las personas.
        Vivir una vida santa porque de lo contrario nadie verá al Señor. Mateo 6:14-15 dice “14 Por tanto, si perdonáis
        a los hombres sus ofensas, os perdonará también a vosotros vuestro Padre celestial; 15 pero si no perdonáis sus
        ofensas a los hombres, tampoco vuestro Padre os perdonará vuestras ofensas”.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        6. ¿Qué construye las relaciones con los demás?
      </b>
      <p>
        1. El
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        .
        <br>
        • Hebreos 12:14 “14 Seguid la paz con todos y la santidad, sin la cual nadie verá al Señor”
        <br>
        • Mateo 6:14-15 “14Por tanto, si perdonáis a los hombres sus ofensas, os perdonará también a vosotros vuestro
        Padre celestial; 15 pero si no perdonáis sus ofensas a los hombres, tampoco vuestro Padre os perdonará vuestras
        ofensas”
        <br>
        • Sin perdón no podemos
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        los unos con los otros. El perdón
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        al otro y además
        potencia la relación de los unos con los otros.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        2. Fe en Cristo Jesús
        <br>
        • Hebreos 11:6 “Pero sin fe es imposible agradar a Dios…”
        <br>
        • 2 Corintios 5:7 “(porque por fe andamos, no por vista)”.
        <br>
        • No mires al ser humano con expectativa, porque cuando fallan provocan enojo y rompe la relación. Solo hay una
        cosa que puedes esperar del ser humano y es su
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        en Dios para satisfacer sus necesidades.
        <br>
        • Ora para que su fe no les
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        . Lucas 22:32 “ pero yo he rogado por ti, para que tu fe no falte…”
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        3. Oración y ayuno
      </b>
      <p>
        • Mateo 26:41 “Velad y orad para que no entréis en tentación…”
        • Pedro negó a Jesús tres veces, porque él se
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        cuando Jesús les dijo que oraran. Su relación se
        rompió con Jesús.
        • La oración nos
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        con Dios. Santiago 4:8 dice “ Acercaos a Dios, y él se acercará a vosotros”
        • El amor sobreabundante de Dios a través de nuestra conexión por la oración fluye a aquellos a nuestro
        alrededor y potencia las relaciones. Ora por tus enemigos.
      </p>


    </ion-slide>

    <ion-slide>
      <b>
        4. Renovando la mente con la palabra de Dios (Romanos 12:2)
      </b>
      <p>
        • La Palabra
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        nuestra mente para pensar de la manera que Dios piensa, ver de la manera que
        Dios ve y actuar de la manera que Dios actúa. La Palabra nos da el entendimiento que precede al perdón. También
        nos da sabiduría para actuar sabiamente en nuestras relaciones.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        5. Comunión los unos con los otros
      </b>
      <p>
        • Hebreos 10:25 “no dejando de congregarnos, como algunos tienen por costumbre, sino exhortándonos; y tanto más,
        cuanto veis que aquel día se acerca”
        • Hechos 2:42 “Y perseveraban en la doctrina de los apóstoles, en la comunión unos con otros…”
        • Atiende a tu comunidad de célula, de zona y de iglesia.
        • Busca comunidades entre personas que te puedan animar, exhortar y edificar espiritualmente a la madurez
      </p>

    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-footer>
