<!--
  Generated template for the Cuestionario16Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons icon-start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <img src="../../assets/imgs/nabvar-logo.png" class="navbar-logo"/>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="banner-secondary" block>
    <img src="../../assets/imgs/discipulado.png" class="navbarLogo" item-end>
    <ion-title id="text-banner">
      Verdad Clave
    </ion-title>
  </div>


  <ion-slides pager="true" paginationType="progress" (ionSlideDidChange)="slideChanged()">


    <ion-slide>
      <b class="titulo">La palabra de Dios: nuestra base para la victoria</b>

      <p>
        “Grande ha sido la bendición del estudio de la palabra de Dios consecutivo, diligente y diario. Un día en el que
        no haya tenido un buen tiempo con la Palabra de Dios lo encuentro como un día perdido” George Muller
      </p>
      <p>
        ¿Qué es lo que Dios dice acerca de Su Palabra?
      </p>
      <p>
        Marcos 13:31 “El cielo y la tierra pasarán, pero mis palabras no pasarán”
        Isaías 40:8 “La hierba se seca y se marchita la flor, mas la palabra del Dios nuestro permanece para siempre”.
        Hebreos 4:12 “La palabra de Dios es viva, eficaz y más cortante que toda espada de dos filos: penetra hasta
        partir el alma y el espíritu, las coyunturas y los tuétanos, y discierne los pensamientos y las intenciones del
        corazón”.
      </p>


    </ion-slide>


    <ion-slide>

      <b>
        La singularidad de la Biblia
      </b>
      <p>
        • La Biblia es el libro más extraordinario escrito porque es
        <label class="respuesta corta" [style.color]="respuestas[0].color" (click)="openActionSheet('0')">{{respuestas[0].text}}</label>
        por Dios mismo. Es a través de
        la Biblia que Dios le habla a la humanidad.
        <br>
        • El da
        <label class="respuesta corta" [style.color]="respuestas[1].color" (click)="openActionSheet('1')">{{respuestas[1].text}}</label>
        e instrucción para cada circunstancia de la vida.
        <br>
        • El da consuelo en momentos de tristeza, y guía en momentos de
        <label class="respuesta corta" [style.color]="respuestas[2].color" (click)="openActionSheet('2')">{{respuestas[2].text}}</label>
        .
        <br>
        • A través de la Biblia, Dios
        <label class="respuesta corta" [style.color]="respuestas[3].color" (click)="openActionSheet('3')">{{respuestas[3].text}}</label>
        y descubre el pecado y también da a conocer su deseo de perdonar
        y como podemos obtener ese perdón.
        <br>
        • La Biblia contiene
        <label class="respuesta corta" [style.color]="respuestas[4].color" (click)="openActionSheet('4')">{{respuestas[4].text}}</label>
        diaria y la habilidad para informar e inspirarnos a pesar de la
        circunstancia en la que nos encontremos.
      </p>
    </ion-slide>


    <ion-slide>

      <p>

        • Mediante la lectura diligente y el estudio de la Biblia podemos descubrir las respuestas a los grandes
        <label class="respuesta corta" [style.color]="respuestas[5].color" (click)="openActionSheet('5')">{{respuestas[5].text}}</label>
        de la vida, como de dónde viene el ser humano, los orígenes del universo, el verdadero
        propósito de la vida, y cómo podemos conocer el propósito de la vida, la muerte y el futuro.
        <br>
        • La Biblia
        <label class="respuesta corta" [style.color]="respuestas[6].color" (click)="openActionSheet('6')">{{respuestas[6].text}}</label>
        el origen del pecado y define la naturaleza del pecado.
        <br>
        • La Biblia nos
        <label class="respuesta corta" [style.color]="respuestas[7].color" (click)="openActionSheet('7')">{{respuestas[7].text}}</label>
        del juicio de Dios, y nos da las buenas noticias de un Salvador, Jesucristo.
        <br>
      </p>
    </ion-slide>


    <ion-slide>

      <p>
        • La Biblia explica como podemos recibir perdón y
        <label class="respuesta corta" [style.color]="respuestas[8].color" (click)="openActionSheet('8')">{{respuestas[8].text}}</label>
        y como mantenernos limpios de la
        contaminación del pecado y enseñarnos a como orar efectivamente.
        <br>
        • La Biblia fortalece nuestro espíritu, mente y cuerpo, y es una espada para usar contra nuestros
        <label class="respuesta corta" [style.color]="respuestas[9].color" (click)="openActionSheet('9')">{{respuestas[9].text}}</label>
        espirituales.
        <br>
        • La Biblia nos enseña como vivir una vida que
        <label class="respuesta corta" [style.color]="respuestas[10].color" (click)="openActionSheet('10')">{{respuestas[10].text}}</label>
        a Dios, a tener vidas fructíferas y nos
        prepara para pasar la eternidad con Dios, nuestro redentor.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Razones por las cuales la palabra de Dios es de provecho
      </b>
      <p>
        • 2 Timoteo 3:16-17 nos dice que la
        <label class="respuesta corta" [style.color]="respuestas[11].color" (click)="openActionSheet('11')">{{respuestas[11].text}}</label>
        de Dios es provechosa. Esto se refiere a la totalidad de
        la Palabra de Dios, y no solo a nuestros capítulos favoritos. La palabra es provechosa para
        <br>
        o Doctrina (ensenñanza sólida)
        <br>
        o Reprensión y convicción de pecado.
        <br>
        o Corrección y disciplina
        <br>
        o Instrucción y entrenamiento
        <br>
        • Los resultados finales serían el cumplimiento de 2 Timoteo 3:17 que el hombre de Dios pueda ser completado a
        fondo,
        <label class="respuesta corta" [style.color]="respuestas[12].color" (click)="openActionSheet('12')">{{respuestas[12].text}}</label>
        para cada buen trabajo.
        <br>
      </p>

    </ion-slide>

    <ion-slide>

      <p>

        • Para que la Palabra de Dios pueda ser
        <label class="respuesta corta" [style.color]="respuestas[13].color" (click)="openActionSheet('13')">{{respuestas[13].text}}</label>
        en nuestras propias vidas debemos leerla, estudiarla,
        memorizarla y meditarla. Esto nos dará una base sólida sobre la cual construir nuestras vidas.
        <br>
        • La fe viene por
        <label class="respuesta corta" [style.color]="respuestas[14].color" (click)="openActionSheet('14')">{{respuestas[14].text}}</label>
        la palabra entera de Dios. Toda la escritura es inspirada por Dios de
        Génesis 1:1 a Apocalipsis 22:21. Es vital que estudiemos toda la palabra de Dios.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Lo que la palabra de Dios producirá en nosotros
      </b>
      <p>
        1. La palabra de Dios produce
        <label class="respuesta corta" [style.color]="respuestas[15].color" (click)="openActionSheet('15')">{{respuestas[15].text}}</label>
        en nuestros corazones (Romanos 10:17)
        <br>
        2. La Palabra de Dios imparte salvación y
        <label class="respuesta corta" [style.color]="respuestas[16].color" (click)="openActionSheet('16')">{{respuestas[16].text}}</label>
        en nuestros espíritus (1 Pedro 1:23;
        Santiago 1:18)
        <br>
        3. La palabra de Dios es alimento espiritual para nuestro espíritu, eso produce que crezcamos espiritualmente.
        Eso nos sostendrá y nos
        <label class="respuesta corta" [style.color]="respuestas[17].color" (click)="openActionSheet('17')">{{respuestas[17].text}}</label>
        . (1 Pedro 2: 1-2)
        <br>
        4. La palabra de Dios
        <label class="respuesta corta" [style.color]="respuestas[18].color" (click)="openActionSheet('18')">{{respuestas[18].text}}</label>
        una dieta total: es la leche (1 Pedro 2:2), es el pan (Mateo 4:4) y
        el alimento sólido (carne). (Hebreos 5:12-14).
        <br>
      </p>

    </ion-slide>


    <ion-slide>


      <p>

        5. La palabra de Dios produce sanidad y salud a nuestros cuerpos físicos. El Salmo 107:20 “Envió su palabra y
        los sanó; los libró de su ruina”. La palabra de Dios es medicina para cada parte de nuestro cuerpo (Proverbios
        4:20-22). Esta es la botella
        <label class="respuesta corta" [style.color]="respuestas[19].color" (click)="openActionSheet('19')">{{respuestas[19].text}}</label>
        de Dios con cuatro indicaciones específicas para tomar la
        medicina.
        <br>
        6. La palabra de Dios nos da luz y entendimiento
        <label class="respuesta corta" [style.color]="respuestas[20].color" (click)="openActionSheet('20')">{{respuestas[20].text}}</label>
        , (Salmo 119:130). La entrada de la palabra de
        Dios en nuestra mente disipa cualquier oscuridad mental. Renueva nuestras mentes, cambia nuestro pensamiento y
        cambia nuestra actitud.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        <br>
        7. La palabra de Dios nos da una continua
        <label class="respuesta corta" [style.color]="respuestas[21].color" (click)="openActionSheet('21')">{{respuestas[21].text}}</label>
        sobre el pecado y Satanás. Salmo 119:11 “En mi
        corazón he guardado tus dichos, para no pecar contra ti”, y Efesios 6:17 “ Tomad el yelmo de la salvación, y la
        espada del Espíritu, que es la palabra de Dios”.
        <br>
        8. La palabra de Dios produce
        <label class="respuesta corta" [style.color]="respuestas[22].color" (click)="openActionSheet('22')">{{respuestas[22].text}}</label>
        y santificación en nuestras vidas. Juan 17:17 “Santifícalos en tu
        verdad: tu palabra es verdad”. La palabra de Dios es un detergente directo para nuestro espíritu, alma y cuerpo.
        <br>
        9. La palabra de Dios es nuestro
        <label class="respuesta corta" [style.color]="respuestas[23].color" (click)="openActionSheet('23')">{{respuestas[23].text}}</label>
        espiritual revelando nuestra condición espiritual y nuestro
        carácter interno (Santiago 1:22-25). 2 Corintios 3:17-18 “El Señor es el Espíritu; y donde está el Espíritu del
        Señor, allí hay libertad. 18 Por tanto, nosotros todos, mirando con el rostro descubierto y reflejando como en
        un espejo la gloria del Señor, somos transformados de gloria en gloria en su misma imagen”.
      </p>


    </ion-slide>

    <ion-slide>
      <p>
        • Recuerda que mientras estamos leyendo nuestra Biblia, la Biblia también nos está LEYENDO a nosotros.
        <br>
        • La palabra de Dios es nuestro espejo espiritual, revela nuestra NATURALEZA espiritual INTERNA y nuestra
        condición.
        <br>
        • Cuando nos vemos en nuestro espejo ESPIRITUAL y vemos que nuestra condición interna no es la que debería ser,
        debemos hacer cambios y ajustes.
      </p>


    </ion-slide>


    <ion-slide>

      <b>
        ¿Cómo debemos responder a la palabra de Dios?
      </b>
      <p>
        1. La debemos recibir como
        <label class="respuesta corta" [style.color]="respuestas[24].color" (click)="openActionSheet('24')">{{respuestas[24].text}}</label>
        para nosotros, no como palabra de ser humano. 1 Tesalonicenses 2:13
        “Por lo cual también nosotros damos gracias a Dios sin cesar, porque cuando recibisteis la palabra de Dios que
        oísteis de nosotros, la recibisteis no como palabra de hombres, sino según es en verdad, la palabra de Dios, la
        cual actúa en vosotros los creyentes”.
      </p>
      <p>
        2. Debemos
        <label class="respuesta corta" [style.color]="respuestas[25].color" (click)="openActionSheet('25')">{{respuestas[25].text}}</label>
        el mensaje de la Biblia. Romanos 1:16 “No me avergüenzo del evangelio, porque es
        poder de Dios para salvación de todo aquel que cree, del judío primeramente y también del griego”. La debemos
        recibir como la palabra de Dios y creerla. La debemos aceptar en fe. Debemos creer el mensaje de la Biblia.


      </p>

    </ion-slide>

    <ion-slide>
      <p>
        3. Debemos
        <label class="respuesta corta" [style.color]="respuestas[26].color" (click)="openActionSheet('26')">{{respuestas[26].text}}</label>
        a la palabra de Dios con un corazón puro. Santiago 1:21” Por lo cual, desechando
        toda inmundicia y abundancia de malicia, recibid con mansedumbre la palabra implantada, la cual puede salvar
        vuestras almas”. Debemos venir a la palabra de Dios con un corazón limpio, dejando de lado toda rebelión y
        pecado.
        <br>
        4. Debemos
        <label class="respuesta corta" [style.color]="respuestas[27].color" (click)="openActionSheet('27')">{{respuestas[27].text}}</label>
        enseñables y humildes. Debemos mantenernos enseñables a lo que Dios nos está
        diciendo. Mansedumbre es ser enseñable, dejando de lado las ideas preconcebidas. (Marcos 4:23-24).
        <br>
        5. Debemos estar deseosos y
        <label class="respuesta corta" [style.color]="respuestas[28].color" (click)="openActionSheet('28')">{{respuestas[28].text}}</label>
        a poner la palabra de Dios en práctica en nuestras vidas .
        Santiago 1:22 “ Sed hacedores de la palabra y no tan solamente oidores, engañándoos a vosotros mismos”.
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        La mejor manera de estudiar la Biblia
      </b>
      <p>
        • El factor más importante al estudiar la Biblia es conocer al
        <label class="respuesta corta" [style.color]="respuestas[29].color" (click)="openActionSheet('29')">{{respuestas[29].text}}</label>
        y estudiarlo junto a Él.
        <br>
        • Inicia cada sesión con una
        <label class="respuesta corta" [style.color]="respuestas[30].color" (click)="openActionSheet('30')">{{respuestas[30].text}}</label>
        , preguntándole al Espíritu Santo que dirija tu lectura y estudio.
        Espera que Él te guie e ilumine las escrituras conforme vas leyendo.
        <br>
        • Léela consistentemente cada día. Programa tu lectura bíblica en tu
        <label class="respuesta corta" [style.color]="respuestas[31].color" (click)="openActionSheet('31')">{{respuestas[31].text}}</label>
        diario.
      </p>

    </ion-slide>


    <ion-slide>
      <b>
        Estudia la Biblia devocionalmente
      </b>
      <p>
        • Estudiar la Biblia devocionalmente es estudiarla
        <label class="respuesta corta" [style.color]="respuestas[32].color" (click)="openActionSheet('32')">{{respuestas[32].text}}</label>
        , en la presencia de Jesús, aprendiendo a
        escuchar su voz y obedeciéndola.
        <br>
        • Este tipo de estudio enriquece el
        <label class="respuesta corta" [style.color]="respuestas[33].color" (click)="openActionSheet('33')">{{respuestas[33].text}}</label>
        del ser humano, y nos permite escuchar la voz de Dios
        diciéndonos hacer Su voluntad y vivir una vida cristiana más rica y gratificante.
        <br>
        • Recuerda siempre que el
        <label class="respuesta corta" [style.color]="respuestas[34].color" (click)="openActionSheet('34')">{{respuestas[34].text}}</label>
        primario para leer la palabra de Dios es que Él te pueda hablar
        personalmente y que puedas sentir tu ser espiritual interno.
        <br>
        • Hazle preguntas a la escritura y después busca
        <label class="respuesta corta" [style.color]="respuestas[35].color" (click)="openActionSheet('35')">{{respuestas[35].text}}</label>
        las respuestas.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Pregúntate a ti mismo las siguientes cosas
      </b>
      <p>
        ¿Quién está hablando? ¿Qué fue lo que dijo? ¿Cuándo fue que lo dijo? ¿A quién se lo dijo? ¿Cuáles fueron los
        resultados? ¿Cómo aplica esto a mi? ¿Qué puedo aprender de esto?
        También puedes preguntar: ¿Qué me enseña este pasaje de Jesús? ¿Hay algún pecado que mencione que tenga yo que
        confesar? ¿Hay algún mandamiento que necesite obedecer? ¿Hay alguna promesa que pueda reclamar?
      </p>
    </ion-slide>

    <ion-slide>
      <b>
        Memoriza las escrituras
      </b>
      <p>
        Memorizar las escrituras tiene muchos beneficios. Salmo 40:8 “el hacer tu voluntad, Dios mío, me ha agradado, y
        tu Ley está en medio de mi corazón”. La escritura va
        <label class="respuesta corta" [style.color]="respuestas[36].color" (click)="openActionSheet('36')">{{respuestas[36].text}}</label>
        a cualquier lugar al que vayas. Puedes
        meditar en ella en
        <label class="respuesta corta" [style.color]="respuestas[37].color" (click)="openActionSheet('37')">{{respuestas[37].text}}</label>
        momento. Se convierte en parte de tu proceso de
        <label class="respuesta corta" [style.color]="respuestas[38].color" (click)="openActionSheet('38')">{{respuestas[38].text}}</label>
        .
      </p>
      <p>
        Para efectivamente memorizar las escrituras debes:
        <br>
        a. Leer la escritura
        <label class="respuesta corta" [style.color]="respuestas[39].color" (click)="openActionSheet('39')">{{respuestas[39].text}}</label>
        .
        <br>
        b. Leerla
        <label class="respuesta corta" [style.color]="respuestas[40].color" (click)="openActionSheet('40')">{{respuestas[40].text}}</label>
        veces.
        <br>
        c.
        <label class="respuesta corta" [style.color]="respuestas[41].color" (click)="openActionSheet('41')">{{respuestas[41].text}}</label>
        muchas veces
        <br>
        d.
        <label class="respuesta corta" [style.color]="respuestas[42].color" (click)="openActionSheet('42')">{{respuestas[42].text}}</label>
        las referencias, capítulos y versículos.
      </p>

    </ion-slide>

    <ion-slide>
      <b>
        Medita en la palabra de Dios.
      </b>
      <p>
        La meditación bíblica es extremadamente esclarecedora y
        <label class="respuesta corta" [style.color]="respuestas[43].color" (click)="openActionSheet('43')">{{respuestas[43].text}}</label>
        .
        <br>
        Es mencionada y animada en la Biblia en múltiples ocasiones.
        <br>
        a. Josué es instruido a meditar en la palabra de Dios de día y de noche para alcanzar el
        <label class="respuesta corta" [style.color]="respuestas[44].color" (click)="openActionSheet('44')">{{respuestas[44].text}}</label>
        que
        Dios quiere que él experimente (Josué 1:8).
        <br>
        b. El hombre bendecido del Salmo 1 también medita en la palabra de Dios de día y de noche (Salmo 1:2).
        <br>
        c. En el salmo 19: 14 el rey David dice ¡Sean gratos los dichos de mi boca y la meditación de mi corazón delante
        de ti, Jehová, roca mía y redentor mío!
        <br>
        Meditar significa:
        <br>
        <label class="respuesta corta" [style.color]="respuestas[45].color" (click)="openActionSheet('45')">{{respuestas[45].text}}</label>
        acerca de ella con cuidado, considerar algo con cuidado desde cada ángulo,
        investigar y escudriñar algo de cerca, reflexionar sobre algo con cercanía y gran cuidado.
      </p>

    </ion-slide>

    <ion-slide>


      <p>


      </p>
      <b>
        Aplicando la palabra a tu vida
      </b>
      <p>
        • El método por el cual Jesús entrenó a los discípulos fue
        <label class="respuesta corta" [style.color]="respuestas[46].color" (click)="openActionSheet('46')">{{respuestas[46].text}}</label>
        y haciendo, así es como Dios quiere
        que crezcamos. Jesús dijo que la diferencia entre un hombre sabio y uno insensato era la práctica.
        <br>
        • Debemos ser
        <label class="respuesta corta" [style.color]="respuestas[47].color" (click)="openActionSheet('47')">{{respuestas[47].text}}</label>
        de la palabra.
        <br>
        • La palabra de Dios la debemos leer, estudiar, memorizar, meditar y aplicar para que pueda trabajar poderosa y
        <label class="respuesta corta" [style.color]="respuestas[48].color" (click)="openActionSheet('48')">{{respuestas[48].text}}</label>
        en nuestras vidas.
        <br>
        • La palabra de Dios debe llenar nuestra
        <label class="respuesta corta" [style.color]="respuestas[49].color" (click)="openActionSheet('49')">{{respuestas[49].text}}</label>
        , gobernar nuestros corazones, y guiar nuestros pies
        en justicia y santidad.
        <br>
        • Debemos leerla con frecuencia, en oración, devocionalmente hasta que se convierta en parte de
        nuestro
        <label class="respuesta corta" [style.color]="respuestas[50].color" (click)="openActionSheet('50')">{{respuestas[50].text}}</label>
        y generar fe que mueve montañas.
        <br>
        • Se nos entrega en esta
        <label class="respuesta corta" [style.color]="respuestas[51].color" (click)="openActionSheet('51')">{{respuestas[51].text}}</label>
        , será abierta en el día del juicio y durará para siempre.
      </p>


    </ion-slide>


  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar class="banner-primary" color="primary">
    <ion-buttons *ngIf="ocultar1">
      <button ion-button icon-start (click)="atras()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Regresar
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar2">
      <button ion-button icon-end (click)="siguiente()">
        Siguiente
        <ion-icon name="md-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="ocultar3">
      <button ion-button icon-end (click)=" calificar()">
        Calificar
        <ion-icon name="md-checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
